[2021-02-05 06:23] amanprateek123 commented on #355
@Kajol-Kumari  please aaign this issue to me as I am working on Admin Pannel

[2021-02-05 06:28] nehaparmar99 commented on #355
Can I work on it?

[2021-02-05 06:30] nehaparmar99 commented on #354
Can I work on it?

[2021-02-05 06:53] Kajol-Kumari commented on #354
Sure @nehaparmar99

[2021-02-05 07:33] nehaparmar99 commented on #354
Wanted to know if this needs be done on the all-broadcasts page or the broadcasts page?And the manage broadcasts card should be non functioning for now right?

[2021-02-05 13:33] kenkirito commented on #353
can i also work on this issue

[2021-02-05 13:33] kenkirito commented on #354
can i also work on this issue

[2021-02-05 14:21] vedikaag99 commented on #349
@Kajol-Kumari hey, I was having some trouble in converting `carousel.css` into `carousel.module.css` as `carousel.js` has some inbuilt css files that it is importing namely -`owl.carousel.css` and `owl.theme.default.css`. These files are stored in `node_modules`. The styles of some component like the arrows and dots are defined in these files and have been overwritten in `carousel.css`. Can you pl

[2021-02-05 16:44] jackfrost13 opened #356 "[Documentation] Auth Module backend documention"

[2021-02-05 16:44] nehaparmar99 commented on #349
Hey Kajol, I'm facing the same problem.

[2021-02-05 16:45] ashuvssut commented on #349
I think For that we have to make a separate `owl-carousel-styles.css ` coz I don't find any other way to do that.

Or maybe inline styling can help

[2021-02-05 16:46] jackfrost13 commented on #356
@tanay13 you can take this

[2021-02-05 17:06] AbhipsaGuru1012 commented on #338
![newsletter](https://user-images.githubusercontent.com/58511560/107065242-8aa19280-6802-11eb-8886-a3cf8379171a.PNG)

@Kajol-Kumari please let me know if this is okay?

[2021-02-05 17:20] ashuvssut commented on #349
then we can use this ☝☝☝ instead.

[2021-02-06 07:30] Kajol-Kumari commented on #349
Hey @vedikaag99 @nehaparmar99 as @ashuvssut suggested we will have to make a separate `owl_carousel_styles.css` and keep all the styles related to carousel in there as we can't modify inbuild css properties using css-module

[2021-02-06 07:32] Kajol-Kumari commented on #338
Hey @AbhipsaGuru1012 this looks good.

[2021-02-06 07:32] Kajol-Kumari commented on #354
It needs to be done in `all_broadcast` page

[2021-02-06 07:33] Kajol-Kumari commented on #354
sorry @kenkirito we can't assign this to more than one person!

[2021-02-06 07:34] Kajol-Kumari commented on #353
Hey @kenkirito all the issues with `NO MORE ASSIGNMENT` can't be assigned to anyone else

[2021-02-06 07:50] #320 closed

[2021-02-06 08:16] Kajol-Kumari opened #360 "Enhancement in All Broadcasts Page"
Deliverable:

- [ ] Currently few of the styles are present in `js` file. Keep all styles in `css` file
- [ ] Change the heading from `Broadcasts` to `All Broadcasts`
- [ ] Increase the width of search-box
- [ ] Enhancement in UI of the search-box and filter buttons ( **this will carry bonus point** )

[2021-02-06 09:15] LeeRenJie commented on #360
Can I try to work on this?

[2021-02-06 12:42] Kajol-Kumari commented on #360
Sure @LeeRenJie Go ahead with this issue.
Happy Learning :)

[2021-02-06 13:37] LeeRenJie commented on #360
<img width="831" alt="not alligned" src="https://user-images.githubusercontent.com/67599130/107119548-53df8100-68c3-11eb-80b3-128ca913d3ee.png">
<img width="446" alt="alligned" src="https://user-images.githubusercontent.com/67599130/107119549-55a94480-68c3-11eb-8db3-cac4dab28d4b.png">

I made the search bar longer. Should I make it aligned with the cards?
Is the search bar long enough?

[2021-02-06 13:43] LeeRenJie commented on #360
![image](https://user-images.githubusercontent.com/67599130/107119699-470f5d00-68c4-11eb-83e5-958b0d044ba1.png)
Can I redesign the dropmenu color from the DropMenu,jsx file?

[2021-02-06 13:44] Kajol-Kumari commented on #360
@LeeRenJie please make the width of the search box same as the broadcast-card and also please make it aligned with the below cards. And yes, you can resign the dropdown menu. We just want it to look decent and consistent.

[2021-02-06 14:02] LeeRenJie commented on #360
Ok will try thanks!

[2021-02-07 08:07] #55 closed

[2021-02-07 08:08] #138 closed

[2021-02-07 08:09] #163 closed

[2021-02-07 08:33] LeeRenJie commented on #360
![image](https://user-images.githubusercontent.com/67599130/107141166-0108d680-6962-11eb-9fcc-88f00d7ee07e.png)
Am I supposed to convert all of these into the CSS file? I'm kinda confused. Because I've seen the other components and mostly their styles are in the js file too.

[2021-02-07 08:57] LeeRenJie commented on #360
![image](https://user-images.githubusercontent.com/67599130/107141684-7a55f880-6965-11eb-966c-fac19586d1a9.png)
Since fade is imported at the js file, how do I use it in the css file?

[2021-02-07 14:17] nehaparmar99 commented on #354
How do I login as an Admin, since I cant see the all-broadcasts page for the admin.

[2021-02-07 15:56] LeeRenJie commented on #360
### Progress
- [ ] Currently few of the styles are present in js file. Keep all styles in css file
- [x]  Change the heading from Broadcasts to All Broadcasts
- [ ]  Increase the width of search-box
- [x]  Enhancement in UI of the search-box and filter buttons ( this will carry bonus point )

##Problems faced:
I have no clue how to correctly convert the styles from js file into css file. Are there

[2021-02-08 06:33] Kajol-Kumari commented on #360
Hey @LeeRenJie there isn't any specific guidelines as such. You just need to find and use the alternatives wherever possible.
For the search box, you can give it right padding in order to make it aligned with the cards

[2021-02-08 06:43] LeeRenJie commented on #360
Alright I'll try again

[2021-02-08 08:13] LeeRenJie commented on #360
This is how it looks like now. May I create a PR to be reviewed?
![image](https://user-images.githubusercontent.com/67599130/107192358-77700c00-6a28-11eb-9e03-b40432c2f67b.png)

[2021-02-08 12:04] #338 closed

[2021-02-08 12:15] #355 closed

[2021-02-08 15:51] jatinjain001 commented on #308
okay

[2021-02-09 07:16] #354 closed

[2021-02-09 07:19] #360 closed

[2021-02-09 07:24] Kajol-Kumari opened #369 "Fix Bugs left while changing CSS Files to CSS Module"
Deliverable:

- [ ] Fix `join us` button of home page
- [ ] Fix the width of the dash under the `HIT Tech Community` title of home page
- [ ] Fix `Subscribe to newsletter` section (the input box, it's alignment etc.)
- [ ] Fix the `All Broadcasts` button on Broadcasts page(It should appear in centre)

[2021-02-09 07:25] Kajol-Kumari opened #370 "Fix Resource, Admin and Contact Us Page"
Deliverable:

- [ ] The resource form got distorted after shifting to `css-module` We need to fix it

- [ ] The contact us form got distorted after shifting to `css-module` We need to fix it
- [ ] The admin page form got distorted after shifting to `css-module` We need to fix it

[2021-02-09 07:27] LeeRenJie commented on #369
I would love to work on this! @Kajol-Kumari

[2021-02-09 07:28] Kajol-Kumari commented on #369
sure @LeeRenJie Please go ahead with this issue!
Happy Learning :)

[2021-02-09 07:29] sakshikhachane commented on #370
I would

[2021-02-09 07:33] Kajol-Kumari opened #371 "Enhancement in Add Broadcast Page of Admin"
Deliverable:

- [ ] Make the Page responsive
- [ ] On hover, the placeholder should appear in appropriate size.
- [ ] Put everything on a card and add a submit button at the end of the card
- [ ] Make sure to keep the navigation panel of the admin stick to left and render the edit toolbar on the right panel only

[2021-02-09 07:34] sakshikhachane commented on #371
@Kajol-Kumari I would like to work on this issue.

[2021-02-09 07:34] Kajol-Kumari commented on #370
sure @sakshikhachane . Go ahead :)

[2021-02-09 07:37] Kajol-Kumari commented on #371
sure @sakshikhachane
Go ahead :)

[2021-02-09 07:45] Kajol-Kumari opened #372 "Refactor Broadcast Page"
Deliverable:

- [ ] Make a `test_data` directory under `frontend/src` folder. Make a file named `broadcast.json` and add the broadcast data there. Remove the strings from [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/components/broadcast/all_broadcasts/all_broadcasts.js#L10)
- [ ] Use this json to render on the broadcast and `all_broadcast` page and also in

[2021-02-09 07:54] nehaparmar99 commented on #372
I'd like to work on it.

[2021-02-09 07:57] nehaparmar99 commented on #349
@Kajol-Kumari my section-7 pr wasn't merged, you asked a few changes in it which I was doing.It still needs to be done right?

[2021-02-09 08:09] nehaparmar99 commented on #372
I'd like to work on it

[2021-02-09 08:12] nehaparmar99 commented on #372
I'd like to give it a try.

[2021-02-09 08:41] ashuvssut commented on #372
I want to do this. will submit PR within 2 days😁

[2021-02-09 10:00] Kajol-Kumari commented on #372
Hey @ashuvssut as we need to follow FCFS so I am assigning this issue to @nehaparmar99
Happy learning :)

[2021-02-09 10:02] LeeRenJie commented on #369
![image](https://user-images.githubusercontent.com/67599130/107347270-9b068580-6b00-11eb-9ab0-4d37712811d0.png)
I realized that the button is not centered due to the "width 37%" from .main-button.main-button-2. I tried to change the width to 100% in the developer tools and it worked. But,
![image](https://user-images.githubusercontent.com/67599130/107347462-d012d800-6b00-11eb-8072-8800a03900e1.png

[2021-02-09 10:11] Kajol-Kumari commented on #369
Let me check it once on my end and get back to you :)

[2021-02-09 11:30] LeeRenJie commented on #369
![image](https://user-images.githubusercontent.com/67599130/107357485-140bda00-6b0d-11eb-8779-ef221057810b.png)
If I changed the width from 37% to 100%, the buttons look good

Including this:
![image](https://user-images.githubusercontent.com/67599130/107357524-26861380-6b0d-11eb-854d-2250179388a5.png)

and this:
![image](https://user-images.githubusercontent.com/67599130/107357556-3140a880-6b0d-1

[2021-02-10 06:48] #321 closed

[2021-02-10 10:57] LeeRenJie opened #375 "Tech Stack Badge"
I would like to make a simple edit for the tech stack badge.
from:
![image](https://user-images.githubusercontent.com/67599130/107500892-ab3a6580-6bd1-11eb-906a-5344683df8c6.png)
to:
![image](https://user-images.githubusercontent.com/67599130/107500860-a2499400-6bd1-11eb-9f4d-79df5b11bf3f.png)

[2021-02-10 13:56] #375 closed

[2021-02-10 18:09] #370 closed

[2021-02-10 18:10] #369 closed

[2021-02-10 18:25] #343 closed

[2021-02-11 10:54] ashuvssut commented on #314
@Kajol-Kumari, mam, if by any chance, the assigned contributor fails to submit his/her PR in a settled deadline, will the other interested contributors get a chance to get assigned and work on the issue?

If yes, I would like try to fix to this issue

[2021-02-11 11:04] #337 closed

[2021-02-11 11:47] Kajol-Kumari commented on #314
Hey @kenkirito can you please let us know if you would he able to gid it? It not I will assign it to someone else.

[2021-02-11 11:53] kenkirito commented on #314
Assign it to someone else . Sorry some issue arises so not able to do it

[2021-02-11 11:59] ashuvssut commented on #314
@Kajol-Kumari , Please assign me this issue. I will submit PR today

[2021-02-12 08:36] #314 closed

[2021-02-12 15:46] #356 closed

[2021-02-14 09:06] m-code12 opened #383 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-14 09:07] m-code12 commented on #383
@Kajol-Kumari I would like to work on this issue as a part of DWOC.

[2021-02-14 14:31] m-code12 commented on #383
@salil-naik Who all should I add as the reviewers?

[2021-02-14 15:11] salil-naik commented on #383
Kajol and either me or Tejan.

[2021-02-14 15:13] #372 closed

[2021-02-14 15:26] Kajol-Kumari opened #385 "[Frontend] Fix Button Issues"
Deliverable:

- [ ] Currently, the button's of different form has deformed. Fix it so that it remains consistent through-out
- Join Us Form
- Contact Us Form
- Admin Form
- Resource Sharing form

Make sure to make the buttons consistent for all the form on all screens

[2021-02-14 15:35] Kajol-Kumari opened #386 "[Frontend] Fix Admin Login Form"
Deliverable:

- [ ] The hide/show button is behaving weird (sometime it works and other time, it doesn't). Fix it
- [ ] The cursor should be pointer as soon as one hover over the eye icon
- [ ] Don't forget to add hovering effect.(only for show/hide icon)

[2021-02-14 15:40] Kajol-Kumari opened #387 "Enhancements in Frontend"
Deliverable:

- [ ] Reduce the card height for `Recent Broadcast` and `previous broadcast` section same as the card height of `All broadcasts` page
- [ ] Add a dash line below the heading on `All Broadcast` page similar to `Recent Broadcast` page
- [ ] Reduce the Card height for `Get Involved` Page

[2021-02-14 15:42] vedikaag99 commented on #385
@Kajol-Kumari can I work on this issue?

[2021-02-14 15:48] Kajol-Kumari commented on #385
sure @vedikaag99 Please go ahead :)

[2021-02-14 15:52] Kajol-Kumari opened #388 "Enhancement in Admin Panel"
Deliverable:

- [ ] For Dashboard, please do the following -
    - Remove the count data
    - Make the icons a bit bigger
    - Make the content font a bit bigger(16px maybe)
    - The card should contain only heading and content

- [ ] The Profile section has got distorted, please fix it

P.S - If you can come up with a better UI for profile section, would be happy to give you bonus points :)

[2021-02-14 15:55] LeeRenJie commented on #387
I would like to work on this

[2021-02-14 15:56] LeeRenJie commented on #388
I would like to work on this too

[2021-02-14 16:06] Kajol-Kumari commented on #387
sure @LeeRenJie Please go ahead
Happy Learning :)

[2021-02-14 16:07] Kajol-Kumari commented on #388
Sure @LeeRenJie Go ahead!
Happy learning :)

[2021-02-14 16:32] Kajol-Kumari opened #389 "[Frontend] Refactor the frontend Codebase"
Deliverable:

- [ ] Refactor the whole frontend following the guidelines give at https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md

[2021-02-14 16:51] LeeRenJie commented on #387
![image](https://user-images.githubusercontent.com/67599130/107883104-d69db700-6f27-11eb-9ae4-c2fd6e423046.png)
I tried reducing the height of the card but the words were still there. How do I tackle this issue? I tried to tap into the height of the card-item.

[2021-02-14 16:52] sakshikhachane commented on #389
@Kajol-Kumari I would like to work on this issue. Please assign me this issue.

[2021-02-14 16:59] salil-naik commented on #389
@Kajol-Kumari I think we will have to break this issue down into smaller modules.

Let me refactor any one component first. Then we can ask others to refer to that and assign 1 component at a time to the contributors.

[2021-02-14 17:55] Kajol-Kumari commented on #389
Yeah @salil-naik  makes sense. Will open the issue component-wise then

[2021-02-14 17:55] #389 closed

[2021-02-14 19:04] Ohranj commented on #386
I have sent you a pull request for this. Thank you

[2021-02-15 04:41] LeeRenJie commented on #387
I found a way to solve this but maybe it is better if there is a way to limit the words in the card shown

[2021-02-15 10:16] Kajol-Kumari commented on #349
Hey @nehaparmar99 and @vedikaag99 we are looking forward to your PRs and yes we would be accepting the PRs

[2021-02-15 10:24] Kajol-Kumari commented on #386
Hey @Ohranj as no one else has claimed this issue. we would he happy to accept your PR but from next time, please make sure to get an issue assigned before coming up with a PR

[2021-02-15 10:42] #385 closed

[2021-02-15 11:25] Ohranj commented on #386
Hey, sorry. It was my first PR so I wasn't sure of the correct way to go about it. I know now for the future though. Thank you.

[2021-02-15 14:33] ashuvssut commented on #349
if anyone says to unassign... i would like to take that

[2021-02-15 15:36] #386 closed

[2021-02-15 15:47] vedikaag99 commented on #349
Hi @ashuvssut I am still struggling on converting carousel.css to carousel.module.css so if you want you can work on that and I can work on the get_involved.css that comes under section 5. Can we do this ? @Kajol-Kumari

[2021-02-15 15:48] ashuvssut commented on #349
okay i will convert carousel.css

[2021-02-15 16:48] ashuvssut commented on #349
if anyone else is facing problems...then you can give that part of the work to me.🙂

[2021-02-16 07:15] #387 closed

[2021-02-16 07:21] Kajol-Kumari commented on #349
sure! @vedikaag99 I will just have to change the label accordingly. I hope that would be fine you guys.

[2021-02-16 08:15] Kajol-Kumari opened #396 "Integrated Login Feature with backend"
Deliverable-
- Integrate the login form with backend
- After successful login, it should direct to admin dashboard

For backend, checkout`/backend` folder

[2021-02-16 09:19] LeeRenJie commented on #396
I would like to try this

[2021-02-16 11:49] tanay13 commented on #396
@Kajol-Kumari please assign this to me

[2021-02-16 12:28] LeeRenJie commented on #396
https://github.com/rishipr/mern-auth/
Can I work on this with reference of this repo

[2021-02-16 16:07] Kajol-Kumari commented on #396
Hey @LeeRenJie I can connect you with someone who can guide you for the same. Feel free to join in our slack channel(you can find the lonk in our readme file) and ping me there once.

[2021-02-17 07:42] amanprateek123 commented on #396
@Kajol-Kumari  Can I work on this issue ?

[2021-02-17 08:47] #388 closed

[2021-02-17 08:51] #353 closed

[2021-02-17 09:01] #383 closed

[2021-02-17 09:05] Kajol-Kumari opened #399 "[Frontend] Fix Navbar"
Deliverable:

- [ ] Convert `navbar.scss` to `navbar.module.css`
- [ ] The menu bar icon isn't appearing for small screen, please fix it.

[2021-02-17 09:06] Kajol-Kumari commented on #396
Hey @amanprateek123 sorry but @LeeRenJie is already working on it. Please look for other opened issues.

[2021-02-17 09:07] LeeRenJie commented on #399
Can I work on this? What is the max-width for small screen?

[2021-02-17 09:14] Kajol-Kumari opened #400 "Enhancement in Edit Broadcast modal"
Deliverable:

- [ ] Change the pencil icon for edit to a button similar to `view` button
- [ ] Place the button just below the `view button`
- [ ] The modal UI needs to be improved
- [ ] The modal should appear in the middle of the page(currently, we scroll to bottom and click on edit, we aren't able to see the modal)

[2021-02-17 09:24] Kajol-Kumari opened #401 "Manage Broadcast Feature for Admin"
Deliverable:

- [ ] The `manage broadcast` card should take to the page of all broadcasts
- [ ] All the broadcasts should have a delete icon that should allow the admin to delete(currently it would be temporary as we haven't integrated the backend)

[2021-02-17 10:08] ashuvssut commented on #401
i want to work on this

[2021-02-17 10:39] amanprateek123 commented on #400
@Kajol-Kumari assign this issue to me

[2021-02-17 10:56] Kajol-Kumari commented on #399
Sure @LeeRenJie The maximum width for small screen is `600px`

[2021-02-17 10:56] Kajol-Kumari commented on #400
Please go ahead!
Happy Learning :)

[2021-02-17 10:57] Kajol-Kumari commented on #401
Please go ahead!
Happy Learning :)

[2021-02-17 11:13] ashuvssut commented on #401
can I use [this](https://github.com/useAnimations/react-useanimations) for delete icon

[2021-02-17 11:33] LeeRenJie commented on #399
![image](https://user-images.githubusercontent.com/67599130/108198567-bf90dc00-7156-11eb-8d22-e4d3355ef87d.png)
I managed to fix it, but there is a bug when I press it
![image](https://user-images.githubusercontent.com/67599130/108198626-cfa8bb80-7156-11eb-92c4-44387a5be93c.png)

[2021-02-17 12:11] Kajol-Kumari commented on #371
@sakshikhachane just a minor add on. Please make sure to have the left panel of the admin stick and render the `add_broadcast` form on the right panel.

[2021-02-17 12:15] Kajol-Kumari opened #403 "[Frontend] FAQ For Admin"
Deliverable:

- [ ] Add two cards `Add FAQ` and `Manage FAQ` similar to broadcast page
- [ ] `Add FAQ` will led to a new page having the left panel same as FAQ page and a form on the right right. This form will contain two fields -
a. Question
b. Answer

[2021-02-17 12:18] sakshikhachane commented on #371
@Kajol-Kumari Sure :)

[2021-02-17 12:18] sakshikhachane commented on #403
@Kajol-Kumari I would like to work on this issue as well.

[2021-02-17 12:20] Kajol-Kumari commented on #403
sure @sakshikhachane Please go ahead with this issue!
Happy Learning :)

[2021-02-17 17:08] Vrushti24 commented on #313
Hey @Kajol-Kumari  I have been trying to add the button but not working I have been doing same thing for so long I don't know now what should I do ?

[2021-02-19 10:26] Abhishek971999 commented on #313
Hey @Vrushti24  , Can you please explain what are you trying to achieve and what is going wrong. Also if you share some images regarding some errors if you are getting anything then that would be great.

[2021-02-20 07:30] #403 closed

[2021-02-20 14:13] #399 closed

[2021-02-20 14:18] Kajol-Kumari opened #410 "[Frontend] Fix menu for smaller screens"
Deliverable:

- [ ] Currently, the menu list appearing in distorted way for small screens, fix it to appear as expected.

GIF of Issue:
![menu_bug](https://user-images.githubusercontent.com/44888949/108598598-7f2e9980-73b4-11eb-9a08-b5bba3830b0a.gif)

[2021-02-20 14:21] #401 closed

[2021-02-20 14:25] sakshikhachane commented on #410
@Kajol-Kumari I would like to work on this issue.

[2021-02-20 14:41] ashuvssut commented on #410
😬😬😓😓

[2021-02-20 17:32] Kajol-Kumari commented on #410
@sakshikhachane please go ahead :)

[2021-02-20 17:37] Kajol-Kumari opened #411 "Refactoring 404 & About Us component"
Refactor the `404 and About Us` Component as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:39] Kajol-Kumari opened #412 "[Frontend] Refactoring Admin component"
Refactoring the Whole `Admin` and it's sub-components as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:41] amanprateek123 commented on #412
plaese assign this issue to me @Kajol-Kumari

[2021-02-20 17:42] amanprateek123 commented on #411
@kajol assign this issue to me

[2021-02-20 17:42] Kajol-Kumari opened #413 "Refactoring Login& Contact component"
Refactoring the `Login` & `Contact` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:43] Kajol-Kumari opened #414 "Refactoring Broadcast component"
Refactoring the `Broadcast` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:45] sakshikhachane commented on #413
@Kajol-Kumari Please assign me this issue. I assure you to complete this as I have completed working on one issue assigned to me.

[2021-02-20 17:46] Kajol-Kumari opened #415 "Refactoring DropMenu & FAQ component"
Refactoring the  `DropMenu & FAQ` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:46] sakshikhachane commented on #414
@Kajol-Kumari Please assign me this issue. I assure you to complete this as I have completed working on one issue assigned to me.

[2021-02-20 17:47] Kajol-Kumari opened #416 "Refactoring Footer&Get_Involved component"
Refactoring the `Footer & Get_involved` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:49] Kajol-Kumari opened #417 "Refactoring Home component"
Refactoring the `Home` Component as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:50] Kajol-Kumari opened #418 "Refactoring Privacy_policy & Resource component"
Refactoring the `Privacy Policy` and `Resource` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:51] Kajol-Kumari opened #419 "Refactoring Terms & Util component"
Refactoring the `Terms` and `Util` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

Note- Please make sure to follow all the guidelines mentioned in the proposed style properly!

[2021-02-20 17:52] amanprateek123 commented on #415
@kajol assign this issue to me

[2021-02-20 17:52] Kajol-Kumari commented on #412
Sure @amanprateek123
Please go ahead :)

[2021-02-20 17:53] Kajol-Kumari commented on #411
Sure @amanprateek123
Please go ahead :)

[2021-02-20 17:54] Kajol-Kumari commented on #414
Hey @sakshikhachane please go ahead with this issue :)

[2021-02-20 18:06] ashuvssut commented on #419
i want to work on this

[2021-02-20 18:06] ashuvssut commented on #418
i want to work on this

will submit PR the next day

[2021-02-20 18:07] ashuvssut commented on #417
i want to work on this

will submit PR the within 2 days after assignment

[2021-02-20 18:08] ashuvssut commented on #416
i want to work on this

will submit PR the within 2 days after assignment

[2021-02-20 18:29] #153 closed

[2021-02-20 19:05] ShivangiRai1310 commented on #413
Would like to work on this issue under SWOC and DWOC.

[2021-02-21 10:04] Kajol-Kumari commented on #415
Hey @amanprateek123 I am sorry but I can't assign you more than three issues at once.

[2021-02-21 10:05] Kajol-Kumari commented on #419
@ashuvssut please go ahead :)

[2021-02-21 10:06] Kajol-Kumari commented on #417
Hey @ashuvssut I can assign one more issue so can you please tell me if you would like to go with this one or (#416)

[2021-02-21 10:10] #400 closed

[2021-02-21 10:20] amanprateek123 commented on #415
@Kajol-Kumari  but I have 2 issues assigned

[2021-02-21 10:29] ashuvssut commented on #417
assign me this one only

I am working on the issue you assigned me last yesterday. I will be submitting my PR today only.

So you can consider assigning me issue 416 also

[2021-02-21 10:35] sanjay270899 commented on #416
@Kajol-Kumari I would Like to work on this.

[2021-02-21 10:37] Kajol-Kumari opened #421 "[Bug] Admin FAQ Bug"
Deliverable:

- [ ] The FAQ page isn't working as expected. The `add faq` button isn't showing correct form

GIF of Bug
![faq_bug](https://user-images.githubusercontent.com/44888949/108622432-ce310900-745e-11eb-9646-f904d3f88845.gif)

[2021-02-21 11:08] Swastik1710 commented on #421
Hey @Kajol-Kumari, I would love to work on this.
Please assign me this issue so that I can start working on it.

[2021-02-21 13:26] Swastik1710 commented on #421
I've made a PR - #423
Please have a look.

[2021-02-21 16:17] Swastik1710 opened #424 "Adding ISSUE TEMPLATES"
Adding more issue templates like Documentation, Proposal, etc.
This would help describe the issue clearly.
As of now there are three of them, namely  Bug, Refactor and Feature.

[2021-02-21 16:18] Swastik1710 commented on #424
Kindly assign it to me so that I can start working on it.

[2021-02-21 16:36] Swastik1710 commented on #421
Hey , can you please tell me how can I see this page on my Local Machine.
This page isn't visible to me.

[2021-02-21 16:43] Kajol-Kumari commented on #421
Hardcode in the url `/dashboard` i.e visit `https://localhost:300/dashboard`

[2021-02-21 16:52] Swastik1710 commented on #421
But /dashboard takes me to this page.
![1](https://user-images.githubusercontent.com/71871571/108632031-dd31ae80-7492-11eb-9471-9921c029e743.jpg)

[2021-02-21 18:27] Kajol-Kumari commented on #421
Pull the latest changes

[2021-02-21 18:36] ashuvssut commented on #415
I want to work on this. I have completed my 2 assigned issues and submitted PRs

[2021-02-21 21:41] ashuvssut commented on #416
completed all 3 refactoring PRs. please assign me this issue.

Will submit PR on the same day when assigned

[2021-02-22 04:45] Swastik1710 commented on #421
Please have a look at #428

[2021-02-22 05:28] #371 closed

[2021-02-22 05:33] #421 closed

[2021-02-22 05:34] Swastik1710 commented on #424
Hey @Kajol-Kumari,
Can you please have a look at this?

[2021-02-22 05:40] #411 closed

[2021-02-22 05:44] Kajol-Kumari commented on #415
my bad! your one PR has been merged

[2021-02-22 05:48] Kajol-Kumari commented on #349
@ashuvssut would you like to go ahead with section 3  and section of this issue?

[2021-02-22 05:48] sakshikhachane commented on #349
@Kajol-Kumari Should I take?

[2021-02-22 05:49] ashuvssut commented on #349
Yes mam

[2021-02-22 05:49] ashuvssut commented on #349
I want to do the section3

[2021-02-22 05:50] Kajol-Kumari commented on #349
Great! @ashuvssut go ahead with section3 and @sakshikhachane go ahead with section 7
Happy Learning :)

[2021-02-22 05:50] ashuvssut commented on #349
Working on it! Will submit my PR today😁

[2021-02-22 05:51] Kajol-Kumari commented on #416
@sanjay270899 please go ahead with this issue
Happy Learning :)

[2021-02-22 05:52] Kajol-Kumari commented on #424
@Swastik1710 please checkout my comment of #238 If you come up with a valid PR, I would be happy to merge :)

[2021-02-22 06:00] Kajol-Kumari opened #429 "[Frontend] Inconsistent Place Holder of Forms"
Deliverable:

- [ ] The forms have inconsistent placeholder font-size. Make it consistent.(make it same the smaller one's font-size)

GIF Of Bug:
![froms_placeholder](https://user-images.githubusercontent.com/44888949/108668406-3a644900-7501-11eb-9661-459d960dc5bb.gif)

[2021-02-22 06:00] LeeRenJie commented on #429
I would like to work on this

[2021-02-22 06:03] Kajol-Kumari commented on #429
Please go ahead @LeeRenJie

[2021-02-22 06:08] Kajol-Kumari opened #430 "Admin Dashboard Bug"
Follow these steps:
1. Go to admin dashboard
2. click on Broadcast card
3. Click on `add_broadcast` card
4. Now, again go to dashboard and click on the `broadcast` card
This time you won't get the page containing two options, instead, you will get the `add_broadcast` page directly.
- The same issue is for FAQ.

GIF of Bug:
![admin_dashboard](https://user-images.githubusercontent.com/44888949/10866

[2021-02-22 06:29] sakshikhachane commented on #430
@Kajol-Kumari I would like to work on this issue. I have worked on this. I will make PR in 3 hours.

[2021-02-22 08:47] #349 closed

[2021-02-22 12:01] salil-naik commented on #410
@Kajol-Kumari Sakshi could not solve this as it is a bit complicated.

I'll figure out the issue and fix it by tomorrow.

[2021-02-22 12:06] ashuvssut commented on #410
if by any chance this issue becomes open-to-grab, then I am interested to work on this

[2021-02-22 16:21] Swastik1710 commented on #424
Hey @Kajol-Kumari , I've made a PR regarding this -> #436
Please have a look.

[2021-02-22 17:20] #429 closed

[2021-02-22 17:25] ashuvssut commented on #349
[dropdown.css](https://github.com/HITK-TECH-Community/Community-Website/blob/149b291072acba8caeb1e9d38f9f220f9855981c/frontend/src/components/util/dropdown/dropdown.css)
[carousel.css](https://github.com/HITK-TECH-Community/Community-Website/blob/de3fd2c644533c3378ae8be09605efdc9b46f8b4/frontend/src/components/home/carousel/carousel.css)
[card.css](https://github.com/HITK-TECH-Community/Community-

[2021-02-23 05:52] #412 closed

[2021-02-23 06:03] #424 closed

[2021-02-23 06:30] Kajol-Kumari opened #439 "📚 [ Discussion ] Share Your Learning"
### Hola Contributors!!  🤩 🤩
#### I hope you all had great time working with this project.✅ As the SWoC and DWoC programs are going to end soon, :eyes: we would love to hear back you. :ear: You can let us know about your experience, learning or anything that you got from our project and mentors.
#### **We are really looking forward to hear back from you  😄**

#### **We urge you to share your feedb

[2021-02-23 06:51] vedikaag99 commented on #439
I was a newbie to open source when I was introduced to this repository and trust me when I say this that I have learned a great deal since then. I, now, have a firm grip over git commands and also React JS apparently. It is not just writing codes that helped me but also learning new concepts all throughout and tackling different issues that pushed me to where I am right now. Thankful to the mentor

[2021-02-23 06:52] #238 closed

[2021-02-23 07:13] LeeRenJie commented on #439
DWOC was the first open-source program that I have taken part in! I have made 10 PRs in this particular repo and currently working on one more! From designing the logo of the website to making bug fixes, design improvement on the frontend of the website, and having my fixes merged one by one were very rewarding in the form of encouragement. This kept me to keep contributing. @Kajol-Kumari was very

[2021-02-23 07:15] #419 closed

[2021-02-23 08:04] jackfrost13 commented on #439
We are glad to hear about your wonderful experience during the sprint and appreciate your efforts and sticking throughout the sprint. Feel free to leverage slack community channels if you have any doubts or want to share anything with others ❤️

[2021-02-23 08:29] #430 closed

[2021-02-23 08:35] #418 closed

[2021-02-23 12:47] amanprateek123 commented on #439
It was very interesting to work within this organisation. Learns a lot about the git tools and how the project workflow should be. Special thanks to @Kajol-Kumari  for consistently guiding us all.

[2021-02-24 03:52] ashuvssut commented on #439
I would like to work on this issue

😝

[2021-02-24 03:53] ashuvssut commented on #439
I had an amazing time here

[2021-02-24 04:01] #413 closed

[2021-02-24 05:45] #417 closed

[2021-02-24 05:52] Kajol-Kumari opened #441 "Join Us Section got distorted"
Deliverable:

- [ ] Currently, the join us form is being rendered on the home page only which shouldn't be the case. Please revert it to make it same as we had before.

[2021-02-24 05:53] #415 closed

[2021-02-24 05:56] Kajol-Kumari opened #442 "[Frontend] Fix Admin Login Form"
Deliverable:

- [ ] The login form has distorted, please fix it.

[2021-02-24 06:09] salil-naik commented on #410
@ashuvssut try to fix the issue.

[2021-02-24 06:19] sakshikhachane commented on #442
@Kajol-Kumari I would like to work on this issue.

[2021-02-24 06:22] amanprateek123 commented on #441
@Kajol-Kumari  assign this issue to me

[2021-02-24 06:29] Kajol-Kumari commented on #441
Please go ahead @amanprateek123

[2021-02-24 07:07] #414 closed

[2021-02-24 07:12] Kajol-Kumari commented on #416
@sanjay270899 can you please confirm once if you are working on this issue?

[2021-02-24 07:13] #147 closed

[2021-02-24 07:23] sanjay270899 commented on #416
@Kajol-Kumari Yes, I am working on it. Just `scss` is left.

[2021-02-24 08:45] #442 closed

[2021-02-24 09:25] sanjay270899 commented on #416
@Kajol-Kumari Done.

[2021-02-24 10:28] sanjay270899 opened #448 "[Frontend] Logo gets hide in Home Page for Small Screen"
**Describe the bug**

Logo at the Top of the Home Page gets hide (half) when the screen size is between `393px` to `489px`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Home Page`
2. Click on `Open Inspect Tool`
3. Scroll down to `Toggle Device Emulation`
4. Resize the screen between `393px` to `489px`
4. We can see the logo gets hide somewhat.

**Expected behavior**
It should not

[2021-02-24 12:53] #441 closed

[2021-02-24 14:06] #416 closed

[2021-02-24 15:14] sanjay270899 opened #451 "[Frontend] Some Bugs"
**Describe the bug**

1. Bug 1
Join Us Button is not at center.
![image](https://user-images.githubusercontent.com/43892590/109020555-11e67580-76e0-11eb-833e-2d6c10373303.png)

2. Bug 2
Text of Footer Sign Up Button is out of the button.
![image](https://user-images.githubusercontent.com/43892590/109020434-f67b6a80-76df-11eb-8a2b-b1d790b64c7f.png)

**To Reproduce**
Steps to reproduce the behavior:

[2021-02-24 15:47] sakshikhachane commented on #439
Starting from resolving branch conflicts to merging nearly 10 PRs, the journey was awesome. Initially, I was just aware of basic git commands for making PR but contributing to this project helped me gain knowledge about many git commands. Moreover, I am a newbie to React JS but this project gave me exposure to many concepts which helped me learn it quickly and in an easier way. Thanks to all the m

[2021-02-24 19:25] ashuvssut commented on #410
@salil-naik done

[2021-02-25 05:43] Kajol-Kumari commented on #451
Hey @sanjay270899 Thanks for pointing these out. Please go ahead with fixing it.

[2021-02-25 05:46] Kajol-Kumari commented on #448
Hey @sanjay270899 please try refreshing the page as I can't find this issue.

[2021-02-25 05:50] #410 closed

[2021-02-25 07:46] sanjay270899 commented on #448
@Kajol-Kumari
![bug_448](https://user-images.githubusercontent.com/43892590/109120175-a0540900-776b-11eb-8911-4f7bd3f98508.gif)

[2021-02-25 11:04] #451 closed

[2021-02-25 11:25] Kajol-Kumari commented on #448
@sanjay270899 would you like to fix it's responsiveness?

[2021-02-25 11:26] sanjay270899 commented on #448
@Kajol-Kumari Sorry for tagging again. But I have checked in other browser also, and same result is coming. You can see in above GIF.

[2021-02-25 14:24] #448 closed

[2021-02-25 14:29] Kajol-Kumari opened #456 "Handle different kind of error while logging In"
Deliverable:
We need to handle the follow errors and show relevant message to the user using `Toast`
1. Backend server not runing
2. Status 400 - Unauthorised
3. For rest, show `Something went wrong`

P.S - This issue can only be worked on after closing #454

[2021-02-25 14:34] Kajol-Kumari opened #457 "[Frontend] Toast Message for showing different kind of messages"
Deliverable:

- [ ] We need to have a `Toast` component under `util` folder which will contain the code for showing three kinds of messages
- Info
- Error
- Success
You can take reference of [this](https://images.ctfassets.net/itcc7vu35nc1/4JD0rxbVJzBoOltVWS7JkI/2c1c4969bf8d16ffc98d7bc849e286e4/toast_options_action_2x.png) for it's UI

- [ ] The toast message should appear at the bottom-center of

[2021-02-25 17:44] ashuvssut commented on #457
i want to work on this

[2021-02-25 17:45] ashuvssut commented on #456
I will work on this

[2021-02-25 18:33] amanprateek123 commented on #457
@Kajol-Kumari  want to work on this issue

[2021-02-25 19:39] #94 closed

[2021-02-26 05:04] #396 closed

[2021-02-26 05:12] Kajol-Kumari commented on #456
Please go ahead @ashuvssut

[2021-02-26 05:16] #457 closed

[2021-02-26 05:18] Kajol-Kumari opened #459 "Add Redux To The Project"
Deliverable:

- [ ] Implement redux in frontend

[2021-02-26 05:20] amanprateek123 commented on #459
assign this issue to me @Kajol-Kumari

[2021-02-26 05:22] Kajol-Kumari commented on #459
Please go ahead :)

[2021-02-26 05:51] Kajol-Kumari opened #460 "Implement Auth Guard for Admin Features"
Deliverable:

- [ ] Currently, we can hardcode the url to visit the dashboard, This shouldn't be allowed and only logged In superadmins should be able to visit there and avail those features.

This issue is dependent on #459

[2021-02-26 05:55] Kajol-Kumari opened #461 "[Frontend] Hide and Edit icons should only be visible to superadmins"
Deliverabel:

- [ ] Currently, any user can edit and delete the broadcasts, This should be made limited to logged In superadmins i.e you can check for the token&`isSuperadmin` flag and accordingly hide/show icons

P.S - This issue is dependent on #459

[2021-02-26 06:00] Kajol-Kumari opened #462 "Add Different Error Handling Pages"
Deliverable:
- Make a folder named as `ErrorHandlerPages` under `component` and make a `LoggedIn` folder that will contain a page saying

`You are already Logged In, Please visit here to access your Dashboard`

- Display this page to the superadmins who are already logged In and still try to login by clicking on `admin` button

- Move `404` folder form pages to this component

[2021-02-26 06:17] amanprateek123 commented on #460
assign this issue to me @Kajol-Kumari

[2021-02-26 06:19] amanprateek123 commented on #461
@Kajol-Kumari  assign this issue to me

[2021-02-26 06:20] amanprateek123 commented on #462
assign this issue to me @Kajol-Kumari

[2021-02-26 07:21] #459 closed

[2021-02-26 07:24] Kajol-Kumari commented on #462
Please go ahead @amanprateek123 :)

[2021-02-26 07:27] Kajol-Kumari commented on #308
Just a check, are you guys working on it? 👀

[2021-02-26 07:30] ashuvssut commented on #308
Just 2 days. I ll do it. I forgot about this one (because it was not showing in my GH account's   'assigned issues' tab)

[2021-02-26 07:32] Kajol-Kumari commented on #308
Thanks for the update 😄
Looking forward to your PR 😁

[2021-02-26 09:52] Kajol-Kumari commented on #462
Hey @amanprateek123 just an add-on to the above. The navbar shouldn't be visible to these error page including `404` as well.

[2021-02-26 09:57] #460 closed

[2021-02-26 10:02] Kajol-Kumari opened #465 "Logout Functionality Enhacement"
Deliverable:

Currently, tho the logout is making the token null but it's showing 404 page in between.

- [ ] We shouldn't see any `not found` page in between.
- [ ] After logging out, we should see a toast message saying `Successfully Logged Out!` on the login page(the admin will be directed here after successful logging out)
- [ ] If any error occurs while logging out, we should see a toast mess

[2021-02-26 10:37] amanprateek123 commented on #465
@Kajol-Kumari  assign this issue to me

[2021-02-27 10:54] #461 closed

[2021-02-27 11:06] Kajol-Kumari opened #467 "Make the Admin Profile Dynamic"
- [ ]  Currently, the admin's detail is static in profile section. Make this dynamic

- [ ] Also make sure to change `Welcome admin` to `Welcome {FirstName}` (as you will get `name` in response, break it taking space as param and log the first part)

[2021-02-27 11:11] Kajol-Kumari opened #468 "Make the Admin List Dynamic"
Currently, the admin list under `setting/manage Admin` is static.

- [ ] Fetch the data from backend api `localhost:3500/admin/` and populate this data dynamically. As we don't store image in the backend, you can keep the dummy image.

[2021-02-27 11:15] amanprateek123 commented on #468
@kajol assign this issue to me

[2021-02-27 11:20] amanprateek123 commented on #467
@Kajol-Kumari  assign this isuue to me

[2021-02-27 11:21] Kajol-Kumari opened #469 "Reset Password Feature"
- [ ] Add the link for resetting password on login form.

- [ ] Reset Password form will contain the following fields

1. Old Password
2. New Password
3. Confirm New Password

- [ ] Integrate it with backend using `http://localhost:3500/admin/password` path. Show toast message after successful password change

[2021-02-27 12:38] amanprateek123 commented on #468
@kajol plaese assign this issue to me

[2021-02-27 18:37] amanprateek123 commented on #467
@Kajol-Kumari  what is the end point for fetch the admin profile details

[2021-02-28 03:10] Kajol-Kumari commented on #467
Currently we don't have any api to fetch the detail of a particular admin. @jackfrost13 please correct me here.

But in response of login, you get the required detaile, you can store it and use it to populate the profile

[2021-02-28 03:36] amanprateek123 commented on #467
@Kajol-Kumari  we can do that too :)

[2021-02-28 03:40] amanprateek123 commented on #467
but I think we have to use redux state

[2021-02-28 05:21] #465 closed

[2021-02-28 16:34] jackfrost13 commented on #467
If you need an API, let me know I can provide one

[2021-02-28 16:36] amanprateek123 commented on #467
It will be better because otherwise i have to save in redux state

[2021-02-28 16:37] #468 closed

[2021-02-28 16:40] #462 closed

[2021-03-01 04:24] jackfrost13 commented on #467
Sure will do it today

[2021-03-06 16:01] #313 closed

[2021-03-07 07:27] Kajol-Kumari opened #475 "Forgot Password Feature"
Deliverable:
Add a forgot password form having following field
1. Email Id
2. `Submit` Button

After clicking on `Submit` button, a new page should come up saying `An invitation link has been sent on your registered email, please check your inbox for further steps` Along with two buttons 1. To go to login page 2. To go to login page

[2021-03-07 14:23] jackfrost13 opened #476 "[Backend] Get logged in Admin details"
Use the existing `/admin` GET API to incorporate this. Use the `adminType` as self to respond with the details of logged-in admin

[2021-03-07 14:27] jackfrost13 opened #477 "[Backend] Delete admin"
Create a route to delete an admin. This can be performed only if the request is made by a SuperAdmin.
Refer to existing route for help

API testing is required. Refer #81 for resources

[2021-03-07 15:47] sukhpreet-singh1 commented on #477
can you please assign me this issue.

[2021-03-07 15:47] sukhpreet-singh1 commented on #475
can you assign me this issue under GSSOC 21

[2021-03-07 15:48] sukhpreet-singh1 commented on #469
can you please assign me this issue under GSSOC 21

[2021-03-07 16:41] jackfrost13 commented on #477
you are GSSoC participant right?

[2021-03-07 17:14] jackfrost13 opened #478 "[Backend] Route for inviting admin"
The task is to add a route will which take a list of admin data for inviting them to become an admin.

This depends on #152

[2021-03-07 17:35] jackfrost13 opened #479 "[Backend] Reset Password"
Create a route via which one can reset their password.
It should only intake an email id.
Check if the email exists and then send them an email with a link to reset their password. The link should be valid only for 60 mins.

Add API Testing for it. Refer #81 for help

Feel free to ask questions if you have any doubts

This depends on #152

[2021-03-08 04:07] sukhpreet-singh1 commented on #477
yess

[2021-03-08 04:17] Kajol-Kumari commented on #469
Sure! You can go ahead with this issue.
Happy Learning :)

[2021-03-08 05:28] Itsaadarsh commented on #479
Hey there @jackfrost13, I'd like to work on this feature. So if it's not already assigned to anyone I'd like you it assign it to me so that I could get started right away.

[2021-03-08 05:34] Itsaadarsh commented on #478
Hey there @jackfrost13, I'd like to work on this feature. So if it's not already assigned to anyone I'd like you it assign it to me so that I could get started right away.

[2021-03-08 05:54] Devenkapoor7303 commented on #478
Can I work on this issue as a part of GSSOC 21

[2021-03-08 06:30] jackfrost13 commented on #478
@Itsaadarsh You have been already assigned an issue.
@Devenkapoor7303 I can assign this to you but this depends on another issue. Looking forward to completion of that first

[2021-03-08 06:43] Devenkapoor7303 commented on #478
Can u tell me that first issue ??
Or can u assign this issue to me when that first issue get resolved??

[2021-03-08 06:46] jackfrost13 commented on #478
The issue is referenced on the issue description. #152

[2021-03-08 13:29] SAEb-ai commented on #476
@jackfrost13 Can I take up this issue?
Thanks!

[2021-03-08 15:01] Shubham-Kumar-2000 commented on #475
Hi, I would like to work on this feature as I have already implemented this on many projects I can easily do that.
under GSSOC 21

Can you assign me this ?
@jackfrost13

[2021-03-08 17:12] jackfrost13 commented on #475
@Shubham-Kumar-2000 Please take up one task at a time
@sukhpreet-singh1 you have been already assigned something, please finish that first

[2021-03-08 18:28] Shubham-Kumar-2000 commented on #475
So should I make the frontend only Or should I work on both? @jackfrost13

[2021-03-08 18:37] jackfrost13 commented on #475
This issue is only for frontend, hence you need to work only on frontend right now.

[2021-03-08 18:54] priyanshu20 commented on #152
Hey @jackfrost13 can I take this up as GSSOC '21 participant?

[2021-03-08 19:26] codebuzzer01 commented on #86
Hey I would like to work on it. If it is no assigned to anyone yet then please consider me so that I could start immediately.

[2021-03-08 19:27] codebuzzer01 commented on #86
Hey I would like to work on it. If it is not assigned to anyone yet then please consider me so that I could start immediately.(GSSoC 21)

[2021-03-08 19:32] jackfrost13 commented on #86
If you find any bugs please open an issue with a brief discussion and steps to reproduce it and tag us!

[2021-03-08 20:02] codebuzzer01 commented on #86
Sure thankyou! @jackfrost13

[2021-03-09 03:45] sahildotexe commented on #456
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 03:45] sahildotexe commented on #308
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 03:50] jackfrost13 commented on #475
@sahildotexe This issue has been already assigned please look at other issue

[2021-03-09 04:35] Itsaadarsh commented on #479
Hey @jackfrost13, I've planned to use [nodemailer](https://nodemailer.com/about/) as a 3rd party service for sending authentication emails to clients who forgot their password so for sending those emails I need an email ID, could you provide me with an email ID hence I can integrate it with the application ( [your-email] ----> [client-email] ).

And can you give an email ID that does not use Gmail

[2021-03-09 04:44] jackfrost13 commented on #152
@priyanshu20 Can you help us with a timeline for closing this issue? Many other issues depends on this one, hence we are looking forward to close this ASAP since this has been ongoing for quite a while

[2021-03-09 04:57] Itsaadarsh commented on #479
Okay, I get it but I don't think that has anything to do with this issue, I've completed all the backend logic for sending an email with a reset password link and also made a reset password route to authenticate and link `/auth/forgetpassword/:token` the token will expire in 60 min. So all I want is an email account with its ID and Password once you provide me with that I'll add the variables to t

[2021-03-09 04:59] priyanshu20 commented on #152
Sure, I presume this will be finished by tonight
Or tommorow morning by the latest

[2021-03-09 05:08] subhangi2731 commented on #478
can you please assign it to me?

[2021-03-09 05:09] subhangi2731 commented on #81
can you please assign it to me?

[2021-03-09 06:18] jackfrost13 commented on #479
You can skip the email thing for now, you can raise the PR. Regarding the email configs and sending email we will have a seperate service, that can be incorporated later. For the meanwhile you can send the verification link as a response to `forgotPassword` endpoint.

In your workflow the endpoints should be located in `/admin/...` instead of `auth`

[2021-03-09 06:21] jackfrost13 commented on #82
Have assigned you one of the requested issues, please complete that first

[2021-03-09 07:07] #439 closed

[2021-03-09 07:22] Kajol-Kumari opened #482 "[Frontend] Add About Us Section for Admin"
Deliverable-

- [ ] About Us page should have two cards similar to faqs
    1. Manage Teams
    2. Add Team Member

- [ ] Manage Teams will take us to a new page having cards with dummy data as of now.
- [ ] Add Team Member card will take us to a page containing form with following fields along with a `submit` button -
    1. Full Name
    2. picture Upload
    3. Short Description
    4. linkedIn

[2021-03-09 10:08] Shubham-Kumar-2000 commented on #482
Can assign me this under GSSoC'21 ?

[2021-03-09 10:17] Kajol-Kumari opened #484 "Enhancement in Code Structure"
Deliverable -
Currently, few of the components consists of `<a></a>` tag which leads to the complete reloading of the wesbsite in order to navigate.

- [ ] Replace these `<a></a>` tags with `<Link>` in order to avoid reloading the whole page. List of component to handle -
    1. Footer.jsx
    2. LoggedIn.jsx
    3. Home/JoinUs.jsx
    4. Home/Motive.jsx
    5. Privacypolicy.jsx
    6. Terms.jsx

[2021-03-09 10:18] Kajol-Kumari commented on #482
Sure! Please go ahead with this issue.
Happy Learning :)

[2021-03-09 10:34] AbhipsaGuru1012 commented on #484
@Kajol-Kumari  I would like to work on this issue. Please assign this to me.

[2021-03-09 11:05] anshulsharma123 commented on #484
@Kajol-Kumari  I would like to work on this issue please assign this issue to me under gssoc21

[2021-03-09 12:27] Kajol-Kumari commented on #484
Please go ahead @AbhipsaGuru1012
Happy Learning :)

[2021-03-09 14:45] priyanshu20 commented on #152
@jackfrost13 In the email template, do we require some HTML and Styling or will a standard email do?

[2021-03-09 14:47] jackfrost13 commented on #152
for now we are just using normal text, later on we will be incorporating the HTML data

[2021-03-09 15:01] #475 closed

[2021-03-09 16:28] AmeyaJain-25 opened #486 "Link's of Footer Tabs get's broken and page is not found"
**Describe the bug**
When we click on links in the footer given such as About Us, Broadcasts, Resources, etc. then the page not found error occurs as the link get's broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Footer in Home Page'
2. Click on 'About Us'
3. See error

**Expected behavior**
The About Us page or respective Link should be opened.

**Screenshots**
![Screenshot f

[2021-03-09 17:16] Abhinaba006 commented on #477
I am a GSSoC 21 participant, I will like it to work on this issue and deliver as fast as possible with clean and understandable code,  can you please @jackfrost13 assign me on this issue

[2021-03-09 17:18] jackfrost13 commented on #477
This has been already assigned. Please look at other open issued (unsassigned)

[2021-03-09 17:49] Itsaadarsh commented on #479
Hey @jackfrost13, PR sent kindly review it and let me know if any changes needed.

[2021-03-09 20:15] abhudaym commented on #92
Has this issue been solved?

[2021-03-10 06:01] Kajol-Kumari opened #488 "Enhancements In Forms"
Deliverable -

- [ ] The validation error message of reset-password[forgot-password] should be displayed similar to :point_down:
![Screenshot from 2021-03-10 11-27-21](https://user-images.githubusercontent.com/44888949/110583666-08efac80-8194-11eb-8e57-7a61a461ddd4.png)

- [ ] Add reCAPTCHA in the contact form.

[2021-03-10 06:10] AbhipsaGuru1012 commented on #488
@Kajol-Kumari can I work on this issue?

[2021-03-10 06:12] Kajol-Kumari commented on #488
Sure @AbhipsaGuru1012 Please go ahead with this issue.
Happy Learning :)

[2021-03-10 10:22] prerna2712 commented on #482
Can I too work on this?

[2021-03-10 11:17] #486 closed

[2021-03-10 13:22] Coder-Srinivas opened #490 "[Front End] Adding Dark Mode and few UI changes"
Features lacking/ Need Improvements :
1) Dark Mode
2) Social Media Icons overlap with the members profile picture in the about page
3) Broadcast Section is a bit clumsy
4) Color Theme of the Join us Section is different from the website's theme and is not visually appealing

Solution :
1) Adding a button to toggle dark mode
2) Changing the positioning of the Social Media Icons
3) Changing the comp

[2021-03-10 13:24] FireQueen-3010 commented on #490
I would love to collaborate to work on this.

[2021-03-10 13:25] guruc-134 commented on #490
i would like to work on the issues mentioned above along with @Coder-Srinivas

[2021-03-10 14:42] sahildotexe commented on #482
Can I work with @Shubham-Kumar-2000 on this issue?

[2021-03-10 16:14] jackfrost13 commented on #92
Assigning to @abhudaym on fcfs.

[2021-03-10 16:14] jackfrost13 commented on #92
Will create more issues tonight. Please check for open issues then

[2021-03-10 17:14] jackfrost13 commented on #92
Ahh, good point.
First create a new superAdmin account using the /admin/superAdmin route
Login using /auth/login --> get the jwt token
Use that token for all further requests

[2021-03-10 17:40] Kajol-Kumari commented on #482
Hey! We can't assign this issue to more than one person. Please keep an eye on the issues list. We would be opening up more issues by tomorrow.

[2021-03-10 17:50] AmeyaJain-25 opened #492 "Refreshing pages lead to netlify error"
**Describe the bug**
On refreshing the pages other than Home page, it give an error of page not found from netlify.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Menu tab other than Home. E.g: About Us'
2. Click on 'Reload button' or Refresh the Page
3. See error

**Expected behavior**
On refreshing, the page should render as it is.

I have faced the same issue before. I can help wi

[2021-03-10 18:13] Shubham-Kumar-2000 commented on #482
@Kajol-Kumari  I am working on the 1st part of this issue it would be great if you assign the other parts to others

[2021-03-10 18:57] hrushikesh-git commented on #92
Thank you will check new issues

[2021-03-10 22:15] jackfrost13 opened #493 "[Backend] Integration existing API Testing"
Integrate existing API Testing files into one with proper test cases whereever requried.
If few API's are missing, one needs to add those. Checkout this commit b60fac2735ade59cbf6820a623f0c48c82c79263
We need Complete API testing till this commit.

For help on API testing refer #81

Existing Links:
https://www.postman.com/collections/999702eae01efd1e1846
https://www.getpostman.com/collections/69d0

[2021-03-10 22:26] jackfrost13 opened #494 "[Backend] Route for adding broadcasts"
Add a route for adding broadcasts. Authenticated API
Model for broadcasts need to be added.

Estimated Fields:
1. Title
2. Content (long html formatted text)
3. Link
4. Timestamps
5. isExpired
6. imageURL
7. category

API Testing is required.
For help on API Testing refer #81

[2021-03-10 22:28] jackfrost13 opened #495 "[Backend] Update Broadcast"
Update existing broadcast. Authenticated API
Requires API Testing.
Refer #81  For API Testing resources.

This depends on #494 (Can be taken up once dependant issues are completed)

[2021-03-10 22:29] jackfrost13 opened #496 "[Backend] Delete a brodcast"
Delete existing broadcast. Authenticated API
Requires API Testing.
Refer #81 For API Testing resources.

This depends on #494 (Can be taken up once dependant issues are completed)

[2021-03-10 22:33] jackfrost13 opened #497 "[Backend] Get Broadcasts"
Get the list of existing active broadcast. Public API.
Implement pagination.
Please suggest your approach first for sorting the broadcasts and required query parameters

Requires API Testing.
Refer #81 For API Testing resources.

This depends on #494 (Can be taken up once dependant issues are completed)

[2021-03-10 22:34] jackfrost13 opened #498 "[Backend] Get a broadcast"
Returns a broadcast. public API
Requires API Testing.
Refer #81 For API Testing resources.

This depends on #494 (Can be taken up once dependant issues are completed)

[2021-03-10 22:38] jackfrost13 opened #499 "[Backend] Add Contact Us Form route"
Create a route for storing contact us form data.
Post storage send an email to the existing admins about it. (Using our email service)

Public API
Requires API Testing.
Refer #81 For API Testing resources.

[2021-03-10 22:40] jackfrost13 opened #500 "[Backend] Short Links Management Portal for Admins"
We want to enhance our existing shortlinks service.

This is open for ideas.

[2021-03-10 22:44] jackfrost13 opened #501 "[Backend] Add FAQ(POST)"
Admins can add a FAQ.
Create FAQ Model for DB.
Authenticated API
Requires API Testing. Refer #81 .

Please confirm the model structure before implementation

[2021-03-11 04:25] Kajol-Kumari commented on #482
Hey @Shubham-Kumar-2000 I don't feel this issue is big enough to be broken down we just  need static frontend in this issue(just two cards and a form)

[2021-03-11 04:32] Kajol-Kumari commented on #490
Hey @Coder-Srinivas Thanks for coming up with these awesome suggestions. I would like to break this issue into sub-issues

1. Adding a button to toggle dark mode
->This will be considered as a single issue as this (**Level 3**)

2. Changing the positioning of the Social Media Icons
-> I would like to see it's final look, if it looks better than what we have now, then only I would be able to accept

[2021-03-11 04:38] FireQueen-3010 commented on #490
Hi, we have a doubt, do we get to take two issues each individually or together?

[2021-03-11 04:40] Kajol-Kumari commented on #490
It should be individually so that we can give you the required score

[2021-03-11 04:42] FireQueen-3010 commented on #490
Hi, I would like to claim the theme change of the website issue and changing the complete look of broadcast section issues respectively.

[2021-03-11 04:53] FireQueen-3010 commented on #490
thank you for assigning me.

[2021-03-11 04:54] Coder-Srinivas commented on #490
@Kajol-Kumari SASS is just a CSS preprocessor which makes the developers life easy. We can use mixins, functions and variables which improves code reuseability.

[2021-03-11 05:02] Coder-Srinivas commented on #490
@Kajol-Kumari  I would like to claim the dark mode feature and the SASS preprocessor would be used by all of us.

[2021-03-11 05:08] guruc-134 commented on #490
i would like to work the issue 2: Changing the positioning of the Social Media Icons  while using SASS preprocessor in the styling

[2021-03-11 05:31] Kajol-Kumari commented on #490
@Coder-Srinivas @FireQueen-3010 @guruc-134 please go ahead with this issue. Looking forward to your proposed solutions
Happy Learning :)

[2021-03-11 06:01] AmeyaJain-25 commented on #492
Thanks @jackfrost13

[2021-03-11 06:22] promaroy commented on #501
Can I work on this?

[2021-03-11 07:37] promaroy commented on #501
Will a question and answer field suffice for the FAQ model?

[2021-03-11 07:39] jackfrost13 commented on #501
Yes, just keep another one as isActive field incase we want to temporarily disable a FAQ

[2021-03-11 08:53] Kajol-Kumari commented on #469
Hey @sahildotexe as this issue is already assigned to someone, I request you to look for some other open issues. @sukhpreet-singh1 can you please provide an update on this issue.

[2021-03-11 08:57] Kajol-Kumari opened #502 "[Frontend] Template for Forgot Password recovery"
Deliverable:

- [ ] We need a page containing a form with following fields
1. New Password
2. Confirm New Password

Add a validation check for the passwords i.e both the passwords should match, else show the proper error message via toast.
This page should appear on the route `/forgotPassword/{id}`

[2021-03-11 09:00] Kajol-Kumari opened #503 "[Frontend] The JWT Token isn't getting removed after Expiry"
Deliverable -
Currently, the jwt token remains in the local storage forever. Which is allowing the admins to access the dashboard even after the token gets expired

- [ ] we need to clear it as soon as it expires.(Expiry time can be found out from the token itself.)

[2021-03-11 09:09] Kajol-Kumari opened #504 "[Frontend] Add Validation Check in Resource Form"
Deliverable:

- [ ] In Resource Sharing Form, please add the following validations
    1. Email Validation check
    2. Url validation check for the field (Resource URL)
    3. Required Validation check for the following fields
        - Name
        - Email
        - Resource URL
        - Level of Trust
        - Valid Date

The error should be shown in proper way, you can take the reference of

[2021-03-11 09:22] Kajol-Kumari opened #505 "[Frontend] Enhancement in Contact Us Form"
Deliverable -

- [ ] Add the following Validations in Contact US Form
    1. Email validation
    2. Required validation for all the fields

Please make sure to show the error message properly (You can take reference of footer's signup to newsletter form validation for reference)

- [ ] After clicking on `submit` button we should see a card, saying `We have heard you!! We will soon get back to you

[2021-03-11 09:26] Kajol-Kumari opened #506 "[Frontend] Validation Check for Join Us Form"
Deliverable -

- [ ]  In Resource Sharing Form, please add the following validations
    1. Email Validation check
    2. Required Validation check for the following fields
         - Name
         - Email
         - Interested Domain
         - Year of Study
         - College Name
The error should be shown in proper way, you can take the reference of footer's signup form for reference

[2021-03-11 09:41] anshulsharma123 commented on #505
@Kajol-Kumari I want to work on this issue

[2021-03-11 10:18] Kajol-Kumari commented on #505
Sure, please go ahead with this issue @anshulsharma123
Happy Learning :)

[2021-03-11 11:07] AnshMishra2001 commented on #506
Can i work on this issue?

[2021-03-11 11:12] garvitgupta13 commented on #506
Hey @Kajol-Kumari , I am a gssoc21 participant, please assign me this issue. I have already implemented this in one of my personal projects using joi-validator

[2021-03-11 11:14] garvitgupta13 commented on #504
Hey @Kajol-Kumari , I am a gssoc21 participant, please assign me this issue. I have already implemented this in one of my personal projects using joi-validator

[2021-03-11 13:26] Kajol-Kumari commented on #504
Please go ahead @garvitgupta13
Happy Learning :)

[2021-03-11 13:26] Kajol-Kumari commented on #506
sure @AnshMishra2001
Please go ahead :)

[2021-03-11 13:27] anshulsharma123 commented on #505
@Kajol-Kumari  mam I worked on this issue but I am not able to solve this So I think I should not waster your time please assign this issue to some other peoples

[2021-03-11 13:48] sukhpreet-singh1 commented on #469
yeah i was going through the code now working on issue

[2021-03-12 04:27] ankitaugale23 commented on #502
I would like to take this up. Shall I?

[2021-03-12 07:55] Kajol-Kumari commented on #502
Sure @ankitaugale23
Please go ahead!
Happy Learning :)

[2021-03-12 08:04] #492 closed

[2021-03-12 08:39] ShubhamSj07 commented on #505
@Kajol-Kumari , I would like to take this issue.

[2021-03-12 08:46] Kajol-Kumari commented on #505
Hey @anshulsharma123 that for letting us Know this. @ShubhamSj07 Please go ahead with this issue
Happy Learning :)

[2021-03-12 10:19] Simran2337 commented on #503
I want to work on this as GSSOC participant

[2021-03-12 10:20] Simran2337 commented on #499
I want to work on this as GSSOC participant

[2021-03-12 10:21] Simran2337 commented on #498
I want to work on this as GSSOC participant

[2021-03-12 10:23] jackfrost13 commented on #477
@sukhpreet-singh1 Please update your status and open pr.

[2021-03-12 10:23] jackfrost13 commented on #476
@SAEb-ai please update status and open or

[2021-03-12 10:35] Simran2337 commented on #499
I want to work on this as GSSOC participant @Kajol-Kumari
Sorry for miscommunication

[2021-03-12 10:50] Simran2337 commented on #499
@jackfrost13  can I work on the issue?

[2021-03-12 10:53] Simran2337 commented on #500
@jackfrost13  I want to understand and take part in the discussion!

[2021-03-12 10:58] jackfrost13 commented on #499
ai already assigned you on this!
Happy coding ;)

[2021-03-12 10:59] Simran2337 commented on #499
Thankyou :)

[2021-03-12 10:59] jackfrost13 commented on #500
Discussions are open to all. Feel free to drop you ideas ;)

[2021-03-12 11:13] ankitaugale23 commented on #502
Sure thanks. I am working on this and will update you in 2 days with the changes.

[2021-03-12 17:49] Siddharth1006 commented on #503
I would like to work on this issue as a GSSOC'21 participant.

[2021-03-13 06:09] #482 closed

[2021-03-13 06:31] Kajol-Kumari opened #510 "[Frontend] Validation for Invite Admin Form"
Deliverable -
We need validation for the `Invite Admin` form

- [ ] Required validation
- [ ] Email Validation

For those who are unfamiliar our website, Inorder to see this form, do -
1. Click on `admin` button from navbar
2. Login using the below credentials -
[code]
3. Go to `Settings` tab from admin dashboard
4. Click on `Invite admin` card

[2021-03-13 06:46] Kajol-Kumari commented on #484
@AbhipsaGuru1012 can I please get a quick update on this as it's kinda blocking few issues

[2021-03-13 07:48] Kajol-Kumari commented on #510
@bishakhne0gi please go ahead with this issue

[2021-03-13 07:49] bishakhne0gi commented on #510
Yes, thank you ma'am

[2021-03-13 08:14] Simran2337 commented on #499
This task can be taken up by someone sir.
I am leaving for out of station urgently!
I apologize for the problem.

[2021-03-13 08:17] jackfrost13 opened #511 "Welcome session for GSSoC Participants"
@participants
We are planning for a welcome session for you all also, were we can cover some intial queries and brief you all about the project and deliverables by this sprint. Please select your preferred time using this poll
https://linkto.run/p/1HHK6CJB

[2021-03-13 08:19] #511 closed

[2021-03-13 08:28] #456 closed

[2021-03-13 08:33] Kajol-Kumari opened #513 "[Frontend] Toast should Disappear after a while"
Deliverable -

- [ ] Currently, the toast remains there unless we explicitly close it, add a  timer (2-3 second maybe) after which the toast should disappear

[2021-03-13 08:39] ashuvssut commented on #513
i want to work on this

[2021-03-13 09:07] Pranjal-2001 commented on #499
Can you assign it to me?

[2021-03-13 10:07] sk1122 commented on #503
I can try fixing this issue @Kajol-Kumari

[2021-03-13 10:44] Kajol-Kumari commented on #503
Sure @sk1122 please go ahead :)

[2021-03-13 13:52] Suvojit-roy opened #515 "The cards in the "About Us Section""
The cards in the about us section has the icons overlapped on the images. It will be better if the social media icons can be a little lower

![Screenshot (3)](https://user-images.githubusercontent.com/56533500/111032281-648a9600-8431-11eb-9e99-faf3b0f33f21.png)

Yes,I have read the code of conduct.
I would like to work on this issue.

[2021-03-13 14:16] raju-kr50 commented on #476
@jackfrost13 This issue is not assigned to anyone right now. So, is this issue resolved or still open for development.
If it is still open, can you please assign it to me to start working on it.

[2021-03-13 18:16] vedikaag99 opened #516 "Adding GSSOC badge to Readme file"
**Describe the bug**
1. Designing the program badge for gssoc and adding it under the `Programs we have been associated with` in README.md file
2. Centre aligning the dash below `All Broadcasts` text in all-broadcasts page for small screens.
I would like to work on this issue under gssoc'21.

**Screenshots**
Currently the dash is weirdly to the left for the smaller screens
![Screen Shot 2021-03-13

[2021-03-13 20:53] udaymittal7 opened #517 "[Backend] Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload
Preventing parameter pollution

If you find it relevant, please assign me.
I am a participant of GSSOC'21 so please add the relevant GSSOC tags too.

[2021-03-14 03:26] subhangi2731 commented on #81
@jackfrost13 I am working on this. But I have a doubt how can I reach u?

[2021-03-14 04:02] jackfrost13 commented on #81
You can comment here or leverage discord channel or join our slack channel

On Sun, 14 Mar 2021, 08:56 Subhangi Choudhary, ***@***.***>
wrote:

[2021-03-14 04:13] amanjha21 commented on #494
Hi Aman Jha here, I want to work on this issue as part of gssoc'21. But I am not getting what you mean by broadcast. Please clarify and assign it to me so, I can start solving this issue. Thanks

[2021-03-14 04:14] AbhipsaGuru1012 commented on #484
@Kajol-Kumari I am working on it. I will be making a PR by today.

[2021-03-14 06:34] #513 closed

[2021-03-14 06:36] Kajol-Kumari commented on #515
Hey @Suvojit-roy Thank you for taking time to report this issue. This issue has already been worked on via https://github.com/HITK-TECH-Community/Community-Website/issues/490 So, I am closing this one, Please feel free to claim any  unassigned issue to work on
Happy Learning :)

[2021-03-14 06:36] #515 closed

[2021-03-14 06:38] Kajol-Kumari commented on #516
Hey @vedikaag99 Thank you for pointing these issues. Please go ahead with these issues and open up separate PRs for each one of them :)

[2021-03-14 06:56] Kajol-Kumari commented on #490
Hey @Coder-Srinivas Let's not go with the `Using a preprocessor like SASS` right now as we already have `sass` and we don't need this as of now.

[2021-03-14 07:26] jackfrost13 commented on #494
We publish broadcasts(posts) related to several important open source events, internships, etc. We required a db for it so that we can control it via apis
Head over to https://hitk-tech-community.netlify.app/broadcasts to view our current broadcasts(static right now)
Let me know if you have any queries

[2021-03-14 08:18] ShubhamSj07 commented on #505
@Kajol-Kumari , i had added validations on contact form & after submitting we can see card.
Also, i had figured in footer section, hover effect on git-icon was black color due to which icon was getting hidden
So, i had  added  color #7af7cd , now it lgtm.
Also, in footer section, i had updated email validations for news letter
I had attached preview of this issue solved!

https://user-images.githu

[2021-03-14 10:07] AbhipsaGuru1012 commented on #484
@Kajol-Kumari I have made the PR. Please review.

[2021-03-14 16:02] ankitaugale23 commented on #502
I will make a PR  tomorrow till 9 pm.

[2021-03-14 16:17] Kajol-Kumari commented on #505
@ShubhamSj07 please open up the PR so that I can see you code and give reviews on it.

[2021-03-14 16:18] #516 closed

[2021-03-14 16:19] jackfrost13 commented on #517
Can you please elaborate on it a bit?
I don't feel the need for a rate limiter for the project.

[2021-03-14 16:19] Kajol-Kumari commented on #502
Thanks for the update :)

[2021-03-14 16:20] Kajol-Kumari commented on #484
Thanks for the PR. Will review it by soon.

[2021-03-14 16:21] Coder-Srinivas commented on #490
@Kajol-Kumari I have few doubts. Can u please clarify?

[2021-03-14 16:30] Coder-Srinivas commented on #490
For the dark mode, where am I supposed to keep the toggle button? Like should I keep one in the home page? This way whenever a user wants to toggle dark mode, he is supposed to go to the home page. But if I keep it on the nav bar, how can other components know when the toggle bar is triggered.

And also when dark mode is triggered, should all the components be a bit darker or only the white ones.

[2021-03-14 19:36] garvitgupta13 commented on #504
I have added validation to the resource form.

- Implemented email validation (Gives error on giving wrong mail)
- Implemented URL validation (Gives error on giving wrong URL)
- Implemented date validation (Gives error on giving date of incorrect date)
- Required validation implemented on:
            (I)   Name
            (ii)  Email
            (iii) Resource URL
           (iv)  Level of trust

[2021-03-14 19:45] AmeyaJain-25 opened #521 "Hiding credentials and API URL's"
**Describe the bug**
The API URL and the backend credentials are visible to all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'config files'
2. See the credentials.

**Expected behavior**
The credentials should be hidden

**Screenshots**
None

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
Yes

Please a

[2021-03-15 06:50] #484 closed

[2021-03-15 07:24] Kajol-Kumari opened #524 "[Frontend] Make the FAQ and About Us card Consistent"
Deliverable:
Currently, the `faq` cards and `team member` cards isn't consistent with the broadcasts cards of admin panel. Make it consistent(same card size, font-size, font-style etc)

Below is the Broadcasts card UI. WE want the faq and team member cards look similar to this
![Screenshot from 2021-03-16 10-35-09](https://user-images.githubusercontent.com/44888949/111258763-9ecb8180-8643-11eb-87f

[2021-03-15 11:53] ankitaugale23 commented on #502
@Kajol-Kumari my work is almost done. (attaching an image link of a screenshot of a page to show how it looks.

[https://drive.google.com/file/d/1n6M0tBlgsfExZT_i0JXgdri7BZbBJB3A/view?usp=sharing](url)
But I am just confused at this point (as you said that page should show up at this route /forgotPassword/{id} ) So will just be adding the route in App.js will do or do I have to fetch the data and

[2021-03-15 12:00] Kajol-Kumari commented on #502
Hey @ankitaugale23 as we don't have backend ready for it. Just add the route as of now. Later on, qe would add the id validator so that the page gets rendered only for valid ids.

[2021-03-15 12:00] jackfrost13 commented on #517
okay, you can take this is just as an additional check but we don't feel the need for these explicitly at the moment but yeah these are somewhat good to have

[2021-03-15 12:04] ankitaugale23 commented on #502
ok. Thank you so much. Making a PR now.

[2021-03-15 13:17] garvitgupta13 commented on #524
Hey, @Kajol-Kumari can you please describe this issue. Currently, faq card and team member card seems to be fine, in which way you want to modify them

[2021-03-16 05:13] Kajol-Kumari commented on #524
Hey @garvitgupta13 please look at the updated issue description. I have explained everything in detail

[2021-03-16 05:57] Devenkapoor7303 commented on #524
Can I Work on this issue @Kajol-Kumari

[2021-03-16 11:22] AmeyaJain-25 commented on #521
I have finished the code and ready for PR.
But I'm getting the issue for commiting.
![Screenshot from 2021-03-16 16-51-33](https://user-images.githubusercontent.com/66305085/111301261-03083880-8678-11eb-8543-7e69ea521497.png)

[2021-03-16 15:58] Jassi10000 commented on #506
@Kajol-Kumari Mam can you pls assign it to me , as being a GSSOC'21 participant I also want to try my hands on this issue

[2021-03-16 17:36] Kajol-Kumari commented on #506
Hey @AnshMishra2001 can you please provide an update on this issue?

[2021-03-16 17:37] Kajol-Kumari commented on #506
Hey! If the current assignee didn't respond in 24hrs then will surely assign it to you :)

[2021-03-16 17:49] AnshMishra2001 commented on #506
I am working on this issue

[2021-03-16 19:25] aroma-sketch opened #531 "sticky navbar"
the navbar can be a sticky bar with the web-kit tool and admin button too

[2021-03-17 05:28] Jassi10000 commented on #506
Sure mam, no issues

[2021-03-17 07:04] #504 closed

[2021-03-17 07:05] WaderManasi opened #534 "[Feat]: Adding Lazy Loading Component to increase performance of Website"
**Is your feature request related to a problem? Please describe.**
Inorder to reduce the initial loading time of website.

**Describe the solution you'd like**
Render the components only when the user requests for it.
(initial loading time will get reduced)
Also, we can add styled react loaders .

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/m

[2021-03-17 07:26] abhay27chauhan opened #535 "No need to use body-parser when using express version 4.16+"
**Describe your Proposal**
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.json());**

you als

[2021-03-17 09:14] Kajol-Kumari commented on #535
Hey @abhay27chauhan Thanks for bringing it to out attention. We look forward to your PR for the same :)

[2021-03-17 09:18] Kajol-Kumari commented on #534
Hey @WaderManasi Thanks for proposing this idea. As this issue needs to be broken down in the smaller ones so I request you to to make the issue more detailed and work on it component by component(Maybe 2 components at a time)

[2021-03-17 10:25] WaderManasi commented on #534
Hi @Kajol-Kumari ,
Actually we need create just single component - Loader that will render the react loader
and implement the lazy loading code snippet in App.js file.

[2021-03-17 11:57] Kajol-Kumari commented on #534
I see. In angular this isn't the case. If it's a single person work, please go ahead :)

[2021-03-17 13:11] Devenkapoor7303 commented on #524
@Kajol-Kumari  can u please tell me how can i access the admin panel as currently in FAQ There are no cards

![Capture](https://user-images.githubusercontent.com/73438023/111472831-392cd300-86df-11eb-91f5-6a481410e39e.JPG)

[2021-03-17 13:29] Kajol-Kumari commented on #531
Hey @aroma-sketch thanks for the suggestion but this feature has already been covered under the dark mode feature. We look forward to your other contributions :)

[2021-03-17 13:29] #531 closed

[2021-03-17 13:31] Kajol-Kumari commented on #488
Hey @AbhipsaGuru1012 can I please get an update on this?

[2021-03-17 13:34] Kajol-Kumari opened #537 "[Frontend] Add proper Validation for Login Form"
Deliverable -

- [ ] Use `joi-validator` for validating the login fields i.e all the fields are required and there should be a validation check for email in `username`
- [ ] Proper error message should be shown (take the reference from signup form of the footer)

[2021-03-17 13:50] Kajol-Kumari opened #538 "[Frontend] Add Validation in the Add FAQ Form"
Deliverable -

- [ ] Add required validations for the the admin's add FAQ Form (Login to admin dashboard -> got to FAQs -> click on Add FAQ Card)
- [ ] Show proper error message (consistent with other form example -> signup form of footer)
- [ ] The minimum length of the content in both `question` and `answer` fields should be 8 (Add the required validation for the same)

P.S - As we are using `jo

[2021-03-17 13:57] Kajol-Kumari opened #539 "[Discussion/Code] Better UI for Admin Profile"
Deliverable -
 Current UI of the `View Admin Profile` isn't good. This issue is basically focused to decide the UI and later will be assigned with the person who come with it for coding it.

GIF Showing current Admin Profile UI
![admin_profile](https://user-images.githubusercontent.com/44888949/111479195-c2332100-8756-11eb-8b22-932b6534549c.gif)

[2021-03-17 14:57] akshitakanojia commented on #537
Hi @Kajol-Kumari , I would like to work on this issue.

[2021-03-17 15:07] mrunalvilas commented on #538
hey I am a GSSoC'21 participant can i work on this issue

[2021-03-17 16:24] kanishkaa24 commented on #539
Hello Mam! Can I work on this?

[2021-03-17 17:08] Kajol-Kumari commented on #538
Sure @mrunalvilas please go ahead
Happy Learning :)

[2021-03-17 17:10] Kajol-Kumari commented on #539
Hey @kanishkaa24 sure! But please share the UI here first so that we can finalise that and can assign you to code the same.

[2021-03-17 17:23] mrunalvilas commented on #538
@Kajol-Kumari  thank you for assigning it to me!
it will be great if you could specify the deadline for PR.

[2021-03-17 18:44] kanishkaa24 commented on #539
Okay Mam. Please assign.

[2021-03-18 04:02] Kajol-Kumari commented on #538
Hey we generally give 3days for coming up with a PR but if requested, we would be happy to extend it further as per your requirements :)

[2021-03-18 04:04] Kajol-Kumari commented on #488
Thanks for the update :)
We are looking forward to it 😄

[2021-03-18 07:44] abhay27chauhan commented on #535
@Kajol-Kumari kindly pls review

[2021-03-18 10:33] AbhipsaGuru1012 commented on #488
@Kajol-Kumari I have made the PR. Please review.

[2021-03-18 17:45] palrohitg opened #543 "[Back-end] Provide the Dockerize solution for App"
**Is your feature request related to a problem? Please describe.**
Packaging the app in container So it will be easier to maintain the different dependencies.

**Describe the solution you'd like**
I will create different separate container for backend, db,etc. And provide docker-compose.yml to run this different container in isolation.

**Have you read the [Code of Conduct](https://github.com/HITK

[2021-03-18 18:37] Jassi10000 commented on #506
@Kajol-Kumari Mam I have worked on this issue on the forked version and completed 80% of the work , can you plss assign it to me now ,  so that I can complete the 20 %  to complete the task fully

[2021-03-18 21:08] Jassi10000 commented on #537
@Kajol-Kumari Mam can you please assign this to me too
 , I have code ready for this , I did that even for JOIN US form

[2021-03-19 03:33] Kajol-Kumari commented on #506
Hey @Jassi10000 as @AnshMishra2001 is already working on it, we can't assign it to you

[2021-03-19 03:34] Kajol-Kumari commented on #537
Hey @Jassi10000 again, if the issue is already assigned, we can't assign it to you! Please look for an issue that hasn't been assigned to anyone

[2021-03-19 06:54] #502 closed

[2021-03-19 13:07] #535 closed

[2021-03-19 13:26] #521 closed

[2021-03-19 13:43] jackfrost13 commented on #517
@udaymittal7 Please update progess on this

[2021-03-19 13:44] jackfrost13 commented on #501
@promaroy What is the update on this?

[2021-03-19 13:45] jackfrost13 commented on #499
@Pranjal-2001 Please update the progress on this

[2021-03-19 13:45] jackfrost13 commented on #494
@amanjha21 Can you please share an update?

[2021-03-19 13:46] jackfrost13 commented on #476
@raju-kr50 Please update your progress

[2021-03-19 13:48] jackfrost13 commented on #81
@subhangi2731 Please update your progress

[2021-03-19 14:25] amanjha21 commented on #494
@jackfrost13  I am currently working on this issue. I slowed down due to my exams but they are now over I will soon make a PR If everything goes fine else I will DM you.

[2021-03-19 16:34] jackfrost13 commented on #494
can you provide a timeframe? Also I believe you must be aware of your exams prior taking this up?
Please don't take up issues when you do not plan to complete it timely. It deprives others from taking the issue and blocks it

[2021-03-19 16:47] garvitgupta13 commented on #524
Here are the [admin credentials](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/test_data/superadmin_credential.json)
I can solve this issue.

[2021-03-19 16:57] amanjha21 commented on #494
Sorry, I will keep in mind from next time.
I will resolve this issue latest by the 22nd.

[2021-03-19 17:12] Kajol-Kumari commented on #524
Hey! Click on the admin button from navbar -> Login using the credentials given [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/test_data/superadmin_credential.json)

[2021-03-19 17:24] garvitgupta13 commented on #503
Hey @Kajol-Kumari please describe this issue.
Currently as I logout from admin panel the token gets removed

[2021-03-19 17:29] Kajol-Kumari commented on #503
So the token should ideally expire after 12hrs so if you login to the admin dashboard and don't log out. And next day, you try to login, you are directly directed to dashboard saying that `you are already logged in ` which shouldn't happen

[2021-03-19 17:31] garvitgupta13 commented on #503
I can remove it from the local storage but where should I place that function.

[2021-03-19 18:16] Devenkapoor7303 commented on #524
Okay Got the credentials

[2021-03-19 19:51] garvitgupta13 commented on #469
Can I work on this issue under gssoc21

[2021-03-19 19:54] garvitgupta13 commented on #539
We can add image section too, where they can upload their pic too, but for this you need to change the admin schema too.

[2021-03-20 04:51] kanishka8276 opened #546 "Adding Name validation in Resources sharing form"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
Resources Sharing form allows to enter numbers and special characters in the names field.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
We should use name validation so that the user enters genuine name.

**Have you read the [

[2021-03-20 08:14] sk1122 commented on #503
@garvitgupta13 if you want to work on this you could, go ahead.

[2021-03-20 09:09] subhangi2731 commented on #81
yes sure I will tell in discord

[2021-03-20 16:47] garvitgupta13 commented on #503
I can create a function to remove the token as soon as it expires.
But I am unable to figure out where to call that function ?
Hey @Kajol-Kumari can you guide me how to handle that function

[2021-03-20 18:26] Kajol-Kumari commented on #503
Hey @garvitgupta13 IMO the efficient approach would be to allow the admin to vidit dashboard, but as soon as it hits any api and get `unauthorized error` in response, then log out the user

[2021-03-20 18:32] #537 closed

[2021-03-20 18:34] jackfrost13 commented on #81
Please try using github for all issues/deliverables related query/discussion. It's probably the fastest way to get a response

[2021-03-20 18:35] jackfrost13 commented on #546
@Kajol-Kumari do you think we require this now?

[2021-03-20 19:35] garvitgupta13 commented on #503
Hey @Kajol-Kumari please assign me this issue under gssoc21.

[2021-03-20 20:00] garvitgupta13 commented on #503
Hey @Kajol-Kumari, can you assign me this issue under gssoc21?
I would like to give it a try.

[2021-03-21 05:29] Jassi10000 commented on #505
Is this issue open ? , if so pls assign it to me  @Kajol-Kumari

[2021-03-21 05:44] ShubhamSj07 commented on #505
@Jassi10000 , I am working on this issue!

[2021-03-21 06:48] Kajol-Kumari commented on #503
sure!

[2021-03-21 07:00] #510 closed

[2021-03-21 07:05] Kajol-Kumari commented on #546
Hey @kanishka8276 I don't think we need it as taking name isn't our priority here

[2021-03-21 07:05] #546 closed

[2021-03-21 07:09] Jassi10000 commented on #505
@ShubhamSj07 Ohh buddy , I saw your PR , but the issue was also opened that's why I asked ,
anyways , gud luck

[2021-03-21 09:08] ShambhaviSharma0110 opened #551 "[Frontend]: Adding a 404 page"
**Is your feature request related to a problem? Please describe.**
A 404 page for when an unknown route is entered
**Describe the solution you'd like**
This page would pop up whenever a route that is not known will be searched for, an error page.

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
Write your answer here.

[2021-03-21 15:32] #524 closed

[2021-03-21 15:46] Kajol-Kumari commented on #551
Hey @ShambhaviSharma0110 Thank you for taking time to report this issue but we already have `404` page. I recommend you to please look at the codebase and our project once :)

[2021-03-21 15:46] #551 closed

[2021-03-21 15:49] Kajol-Kumari opened #553 "[Frontend] Change the Navigation Panel to Collapsible Menu For Admins"
Deliverable -

- [ ] The navigation panel for the admin takes a lot of space for small screen. Please change it in the form of collapsible menu for small screens(similar to navbar of our website)

GIF of the issue ->
![admin](https://user-images.githubusercontent.com/44888949/111911322-173ea200-8a8b-11eb-947e-bc14c71456ef.gif)

[2021-03-21 15:51] Kajol-Kumari commented on #539
Hey we don't want to add image as it will just increase the extra work and we will have to do a lot of changes in backend including schema. Currently, we are just trying to improve it's UI and we will keep the same image for all admins

[2021-03-21 16:45] akshitakanojia commented on #553
Hi @Kajol-Kumari, I would like to work on this issue.

[2021-03-22 06:31] #505 closed

[2021-03-22 06:47] Jassi10000 commented on #506
Mam is @AnshMishra2001 still working ?

[2021-03-22 07:03] Jassi10000 commented on #488
@Kajol-Kumari Mam is the issue still open , or the PR has completed the task?
If it's open by chance please assign me

[2021-03-22 08:37] Kajol-Kumari commented on #553
Sure @akshitakanojia Please go ahead with this issue.

[2021-03-22 13:43] Meghana-12 commented on #493
Hey, can I work on this?

[2021-03-23 13:06] ShubhamSj07 opened #554 "Customizing Scrollbar"
Default Scrollbar is not looking good specially in our amazing dark-mode.
I would like to fix this!

Default one
![Previous-Scrollbar](https://user-images.githubusercontent.com/56510414/112150458-20a04980-8c06-11eb-853f-80116d1e1e88.JPG)

Customized one
![Customized-Scrollbar](https://user-images.githubusercontent.com/56510414/112150492-285fee00-8c06-11eb-8a0c-c4b5e72c487b.JPG)

**Have you read th

[2021-03-23 13:07] #503 closed

[2021-03-23 13:08] Kajol-Kumari commented on #554
Hey @ShubhamSj07 thanks for suggesting this. Would love to see it implemented :)

[2021-03-24 04:03] Kajol-Kumari opened #555 "Add Updated Code Structure to the Conventions FIle"
Delieverable -

- [ ] Currently, we have the outdated folder structure [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/conventions.md#folder-structure) We need to replace it with the current up-to-date structure

[2021-03-24 04:09] Kajol-Kumari commented on #469
Hey @garvitgupta13 please go ahead with this issue as it's already been more than 15 days and I haven't got an update on it.

[2021-03-24 06:09] AshuKV commented on #555
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-24 06:31] Kajol-Kumari commented on #555
Sure @AshuKV ! Please go ahead with this issue :)

[2021-03-24 09:31] #553 closed

[2021-03-24 09:32] Kajol-Kumari commented on #506
@AnshMishra2001 can you please update us wrt this issue?

[2021-03-24 12:35] #554 closed

[2021-03-24 12:52] garvitgupta13 commented on #469
I think that only logged-in users should be able to reset their password. So adding a link to reset the password in the login form would not be correct. I guess we should create a form for that, int the admin dashboard.

[2021-03-24 15:42] Kajol-Kumari commented on #469
Yeah! this makes sense. So let's add a button of `reset-password` under `setting` tab of the admin panel and render the form after clicking on it.

[2021-03-25 10:56] ShubhamSj07 opened #558 "Improvement of News-letter Section of Footer"
**Is your feature request related to a problem? Please describe.**
After succesfully submitting an email for our newsletter ,we can show an card/msg like

https://user-images.githubusercontent.com/56510414/112461090-9aab0c80-8d85-11eb-9ab1-6379c3a46b3f.mp4

Also, msg/card will be responsive on all screen-sizes!
![Newletter_Preview](https://user-images.githubusercontent.com/56510414/112461898-71d74

[2021-03-25 16:52] jackfrost13 commented on #558
LGTM what do you say @Kajol-Kumari

[2021-03-25 20:15] akshitakanojia commented on #467
Hi @Kajol-Kumari , if this issue is still open can I can work on this?

[2021-03-26 03:00] Kajol-Kumari commented on #558
+1 @ShubhamSj07 please go ahead with this :)

[2021-03-26 06:47] garvitgupta13 commented on #469
It says that the `https://community-website-backend.herokuapp.com/admin/password` is not found.
Please look into this issue.
Updates:

- Created a form in settings tab
- Added toast message
- Only backend integrating part is left

![image](https://user-images.githubusercontent.com/70805691/112593034-ed8bcf00-8e2c-11eb-98d8-c3dcb520e7f2.png)

[2021-03-26 08:34] #558 closed

[2021-03-26 08:39] #488 closed

[2021-03-26 11:03] Kajol-Kumari commented on #469
can you please use the baseurl of `localhost:3500` istead of heroku one and try testing the integration by runing the backend server on your local

[2021-03-26 11:05] Kajol-Kumari opened #562 "[Frontend] Checkbox get distorted for small screen"
Deliverable -

- [ ] Fix the checkbox of `join us` form for small screens

Screenshot of the bug -
![Screenshot from 2021-03-26 16-30-49](https://user-images.githubusercontent.com/44888949/112622548-32c1f800-8e51-11eb-8021-a3d383e03e3f.png)

[2021-03-26 11:06] Kajol-Kumari commented on #467
Hey @akshitakanojia we are waiting for it's api inorder to integrate it so it's not open as of now

[2021-03-26 11:21] garvitgupta13 commented on #469
![image](https://user-images.githubusercontent.com/70805691/112624302-774e9300-8e53-11eb-9f88-833fa3a5455a.png)
It also shows the same

[2021-03-26 14:03] akshitakanojia commented on #562
Hi @Kajol-Kumari , can I work on this issue?

[2021-03-26 14:09] Sandi-09 commented on #562
can i work on this issue

[2021-03-26 14:23] Kajol-Kumari commented on #469
Hey @garvitgupta13 it's seema like you are hitting tye wrong url. I will test the api via postman once and will let you know the correct path

[2021-03-26 14:31] Kajol-Kumari commented on #562
Hey @akshitakanojia please go ahead with this issue.
@Sandi-09 as we need to follow FCFS I request you to look for some other issue.

[2021-03-26 14:35] Kajol-Kumari commented on #469
Hey @garvitgupta13 I just noticed that you are making `POST` request instead make a `PUT` request to the same url and it would work perfectly fine

[2021-03-26 16:44] #152 closed

[2021-03-26 17:29] garvitgupta13 commented on #469
Everything is done.
But I am getting just one warning:
![image](https://user-images.githubusercontent.com/70805691/112670365-d5e13480-8e86-11eb-875c-1bd99be11e78.png)
Should I ignore this warning and create a pull request.

[2021-03-26 17:59] priyanshu20 commented on #478
@Devenkapoor7303 The dependent issue is closed, do u still want to take this up or shall I try?

[2021-03-26 18:19] Kajol-Kumari commented on #469
Hey @garvitgupta13 if the feature is working fine. Please feel free to open up the PR. We will take a look at it and will let you know if any changes are required

[2021-03-26 18:20] garvitgupta13 commented on #469
just fixed that warning

[2021-03-27 05:15] Devenkapoor7303 commented on #478
U can try it .☺️

[2021-03-27 06:36] jackfrost13 commented on #467
@Kajol-Kumari If this is urgent I can take up the issue and close in within a few minutes

[2021-03-27 07:03] Kajol-Kumari commented on #467
Hey! Nothing urgent, just this issue is dependent on it so we are looking forward to that api in order to fit this isue.

[2021-03-27 07:04] jackfrost13 commented on #543
@palrohitg Please share an update

[2021-03-27 07:05] jackfrost13 commented on #534
@WaderManasi Please update your progress

[2021-03-27 07:06] jackfrost13 commented on #506
@Jassi10000 Do you want to work on this right now? We can assign this to you since @AnshMishra2001 didn't respond

[2021-03-27 07:07] jackfrost13 commented on #493
@Meghana-12 Please update your progress

[2021-03-27 07:08] jackfrost13 commented on #490
@Kajol-Kumari Is this issue supposed to be open?

[2021-03-27 07:13] jackfrost13 commented on #467
@akshitakanojia I see you already have an in-progress issue, post completion of that ping us here if needed will close the dependent issue asap

[2021-03-27 07:16] jackfrost13 commented on #308
@Kajol-Kumari Is this still open? I see a merged PR

[2021-03-27 07:17] jackfrost13 commented on #86
@codebuzzer01 Update?

[2021-03-27 07:18] jackfrost13 commented on #81
@subhangi2731 Please update your progress

[2021-03-27 08:19] Jassi10000 commented on #506
Yeah sure

[2021-03-27 08:25] #469 closed

[2021-03-27 08:45] ShubhamSj07 opened #565 "Adding dark-theme to Footer"
**Is your feature request related to a problem? Please describe.**
Project is looking awesome with this amazing dark mode, but footer remains with same theme for light as well as dark!
So, i would like to add dark theme to footer.
I had attached preview ..

https://user-images.githubusercontent.com/56510414/112715439-33689600-8f06-11eb-979a-cbb0bb762285.mp4

![Dark_Footer](https://user-images.gith

[2021-03-27 09:45] Hardik-07 commented on #539
Hello ma'am, are the designs finalized??
if not then I would like to work on it

[2021-03-27 10:08] Kriti-bit commented on #501
Hi, I am a GSSoC'21 Participant. I would like to work on this issue

[2021-03-27 10:21] Kriti-bit commented on #517
Hi, I am a GSSoC'21 Participant. I would like to work on this issue, please assign it to me.

[2021-03-27 11:05] nlok5923 opened #566 "[Frontend] footer get left aligned on lower resolutions"
**Describe the bug**
A clear and concise description of what the bug is.
Footer get left aligned at lower resolutions
**To Reproduce**
Steps to reproduce the behavior:
1. Go to landing page
2. Reduce resolutions to mobile view
3. See error

**Expected behavior**
Footer should be center aligned

**Screenshots**
![image](https://user-images.githubusercontent.com/56120084/112718633-51d88c80-8f1a-11eb

[2021-03-27 11:06] nlok5923 commented on #566
/assign

[2021-03-27 15:37] rohithmsr commented on #499
Can I take up this issue? @jackfrost13

[2021-03-27 17:17] tushartiwari7 opened #569 "[Frontend] improve icons on carousel"
**Describe your Proposal**
improve arrow icons on corousel section. i will update it with a more fancy and minimalistic look which doesn't affects the readability

**Additional context**
the previous icons are very old fashioned and occupies unneccessary background space also which reduces readability

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/b

[2021-03-27 17:18] tushartiwari7 commented on #569
please assign me this issue add gssoc21 and level2 labels

[2021-03-27 17:20] tushartiwari7 commented on #569
![hitk-tech-community netlify app_](https://user-images.githubusercontent.com/66322728/112728759-ccbb9a80-8f4e-11eb-8fd4-4ef5795aa8b1.png)
i was talking about these arrow icons on carousel.

[2021-03-27 18:22] RituCs commented on #493
Hello , I would like to contribute on this issue.If no one is working on it then please assign me.

[2021-03-27 18:29] jackfrost13 commented on #493
Lets wait till tomorrow else I will assign you

[2021-03-27 18:44] rohithmsr commented on #499
@jackfrost13 Should I have to create a schema for Contact-Us form and add form through post request and send as email to admin??

Could you break down the issue into smaller steps, so that I can understand

[2021-03-27 18:50] kumarshobhit commented on #476
Hi I am a GSSOC participant. I would like to work on this issue.

[2021-03-27 18:52] kumarshobhit commented on #477
Hi. I would like to work on this issue. I am a GSSOC participant

[2021-03-27 18:52] jackfrost13 commented on #499
Yes your understanding is correct

[2021-03-27 18:55] jackfrost13 commented on #477
You have been assigned an issue. Complete that before taking up another

[2021-03-27 19:07] kumarshobhit commented on #477
Ok noted. Thanks

[2021-03-28 03:53] Kajol-Kumari commented on #539
Hey! Please feel free to share here the design that you come up with :)

[2021-03-28 06:37] rohithmsr commented on #499
@jackfrost13 it says authentication error when I get request for admins, what to do? What is that jwt token is for? How to use that during request?

[2021-03-28 06:45] jackfrost13 commented on #499
you need to login first using /auth/login route
from there you will get a jwt token which you need to use for all authenticated requests

[2021-03-28 07:21] rohithmsr commented on #499
How to use that? I use Postman, i tried uisng it in params, headers etc. I can't figure out where and how to use jwt? @jackfrost13 . I am new to web dev, so plz bear with my silly questions

[2021-03-28 07:41] #562 closed

[2021-03-28 07:42] jackfrost13 commented on #499
No issues, we all are beginners at some point.
In postman use the Auth tab and select bearer token option to provide the token

[2021-03-28 07:47] Kajol-Kumari commented on #569
Hey @tushartiwari7 can you please show us the icons design that you want to use in place of the current one?

[2021-03-28 07:47] Kajol-Kumari commented on #566
@nlok5923 Thanks for pointing this. Please go ahead with this issue
Happy learning :)

[2021-03-28 07:55] ShubhamSj07 commented on #565
@Kajol-Kumari , pls review this issue

[2021-03-28 07:58] Kajol-Kumari commented on #565
Hey @ShubhamSj07 I am not sure if this color combination you have used will look consistent with the rest.
@Coder-Srinivas Can you please help us with the color combination pick for the dark theme? Btw feel free to open up the PR for this @ShubhamSj07 we will let you know if any change is required.

[2021-03-28 08:15] tushartiwari7 commented on #569
![_C__Users_TUSHAR_Downloads_left-arrow svg](https://user-images.githubusercontent.com/66322728/112746327-a9830080-8fcb-11eb-9bd6-9e474edc235b.png)
this is one such example which i think best suits.
if not i have more collection too.

[2021-03-28 08:16] Kajol-Kumari opened #570 "[Frontend] Scroll Feature Not Working Properly"
Deliverable -

- [ ] The scroll feature of view broadcast doesn't seem to work as expected.

GIF of the Bug -
![broadcat_bug](https://user-images.githubusercontent.com/44888949/112746358-d505eb00-8fcb-11eb-8ab2-496a601cdde3.gif)

[2021-03-28 08:34] Coder-Srinivas commented on #565
@ShubhamSj07, the input tag has no styling effect when active. Have a look at the contact us section. Implement the same here.

Regarding the sign up button, use the following colors :
` background: #69a9dd;
  border: 2px solid #69a9dd;
  color: #171717;`

And on hovering, use the following gradient :
`  background: linear-gradient(
    45deg,
    #2b5876 0%,
    #4e4376 90%
  );
  color: whitesmo

[2021-03-28 09:21] rohithmsr commented on #499
As soon as I add the contact us form, I should send email right? What should be the format of the email?? @jackfrost13

[2021-03-28 09:22] jackfrost13 commented on #499
Yes it should be an async operation. We do not want latency to be affected by this. You can create an email template for the same

[2021-03-28 09:34] nlok5923 commented on #570
i would like to work on this issue

[2021-03-28 10:49] rohithmsr commented on #499
I am getting error when I give post request using /emailTest, I gave email,data,type as 'INVITE-ADMIN' in the request body, still getting error. What should I do?

[2021-03-28 10:54] Kajol-Kumari commented on #570
Sure @nlok5923 please go ahead with this issue. We look forward to your PR

[2021-03-28 10:55] Kajol-Kumari commented on #569
@tushartiwari7 please go ahead with the issue. We look forward to your PR

[2021-03-28 11:42] Jassi10000 commented on #506
@jackfrost13 Sir I am facing some more issues while submiitting the form , so the form needs some more validations  other than mentioned in the issue
Can you please make it LEVEL 3  issue  as  that thing is lil hard  .

[2021-03-28 12:19] jackfrost13 commented on #506
Can you elaborate on the issues you are facing and the extra validation required?

All the issues have been thoroughly thought and then assigned levels. Moreover our aim isn't to encourage participations for points but for learning and experience.

[2021-03-28 12:22] akshitakanojia commented on #467
@jackfrost13 I'm done with the in-progress issue.

[2021-03-28 12:31] Jassi10000 commented on #506
Other than mentioned , I will also add validation for contact and Linkedln url

[2021-03-28 12:33] jackfrost13 commented on #476
@kumarshobhit Can you please share a timeline by which you can complete this? Due to this we are blocked on #467 and @akshitakanojia is waiting for this issue to be resolved

[2021-03-28 12:35] jackfrost13 commented on #506
I don't think so that should be much of an effort. @Kajol-Kumari What do you think? I think we are using joi in the frontend also right?

[2021-03-28 12:42] pragati-kumar commented on #570
Hello @Kajol-Kumari . I'm a GSSOC'21 participant and I would really like to contribute to this issue. I think the position attribute should be switched to 'sticky'. Could you please assign the problem to me?

[2021-03-28 12:44] pragati-kumar commented on #565
@ShubhamSj07 I'm a GSSOC'21 participant. I would like to contribute to this issue and can get started ASAP. Could you assign this to me? I propose that we use a toggle button to switch themes.

[2021-03-28 12:48] Kajol-Kumari commented on #506
Hwy @jackfrost13 yeah we are using joi only in frontend as well. Also @Jassi10000 we have merged most of the similar PR under level -2 so I won't be right to make a different label for just this one.

If you see issue closely, you need to implement just two types of validation-
1. Required
2. Email
So this issues isn't hard. Please let us know if you need any help with this issue or any further cl

[2021-03-28 12:52] Jassi10000 commented on #506
No issues mam , I will submit my PR with the best changes from my side with all validations mentioned in issue

[2021-03-28 12:52] ShubhamSj07 commented on #565
@pragati-kumar , lol I am working on this issue!

[2021-03-28 12:57] kumarshobhit commented on #476
Hi I am not able to login to the admin dashboard using dummy credentials. I have also written my problem on  the slack channel.
Please check that.  I would be able to solve the issue then.

[2021-03-28 12:58] Kajol-Kumari commented on #570
Hey @pragati-kumar as this issue has already been assigned to someone we can't assign this to you. Please look for some other issue

[2021-03-28 13:10] rohithmsr commented on #499
So, I get all the emails of the admins to send the response from the user, and what if one of the admin email id is invalid,

How to handle such cases, since even if one fails it may cause failure of all other emails right?

@jackfrost13

[2021-03-28 13:38] garvitgupta13 opened #572 "Invite Admin component is giving error on submitting"
**Describe the bug**
Upon submitting any valid email to invite admin section the component breaks

**To Reproduce**
Steps to reproduce the behavior:
- Submit any valid email in invite admin section

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/112754228-bc5ffa00-8ff8-11eb-9e96-feef

[2021-03-28 13:52] jackfrost13 commented on #476
issue was resolved, please check again

[2021-03-28 13:54] jackfrost13 commented on #499
Hey, that will be highly unlikely since admins need to first verify the emails. But point taken, we will look into this.
Thanks for bringing this up

[2021-03-28 14:15] garvitgupta13 commented on #572
I have fixed this break, please assign me this so I can create a pull request
![image](https://user-images.githubusercontent.com/70805691/112755399-216a1e80-8ffe-11eb-9596-2d005d5510f9.png)

[2021-03-28 16:52] Jassi10000 commented on #506
@Kajol-Kumari  @jackfrost13  Am facing this issue while commiting my changes
![hitkDoubt](https://user-images.githubusercontent.com/64856348/112760306-0bffef00-9014-11eb-85e6-2d37892e0988.PNG)

and the program has stopped here only from last 25 min , pls help

[2021-03-28 17:01] jackfrost13 commented on #506
did you try the given commands?

[2021-03-28 17:07] kumarshobhit commented on #476
Yes it's working. Thank you

[2021-03-28 17:10] garvitgupta13 commented on #506
commit changes in` Community-Websites`, currently you are writing them in `frontend` folder

[2021-03-28 17:13] Jassi10000 commented on #506
Which one?
@jackfrost13

[2021-03-28 17:14] Jassi10000 commented on #506
Will that do the thing?
As I have made changes in the frontend folder , so that's why asking

[2021-03-28 17:17] Kajol-Kumari commented on #506
Hey! So currently you are under `frontend` folder and you should be in the main folder i.e `Community-Website` and then add amd commit the changes. This is what your error is saying.  So try doing this once and see if this works

[2021-03-28 17:27] garvitgupta13 commented on #506
Yes

[2021-03-28 20:43] Jassi10000 commented on #506
sure @garvitgupta13 and @Kajol-Kumari  , leme try this

[2021-03-28 20:58] Jassi10000 commented on #506
![hitkDoubt2](https://user-images.githubusercontent.com/64856348/112767809-64e07f00-9036-11eb-8376-9fff0206e610.PNG)

@garvitgupta13 @Kajol-Kumari  Am getting the same thing

[2021-03-29 01:55] Kajol-Kumari commented on #572
Hey @garvitgupta13 as you pointes out thia one. It would be great if you can fix all the warnings that we get jn the console as soon as the pages loads in(you would better able tp view it if you run it on your local) . Also in the dev environment, we get a few warnings in the terminal after runing the frontend. Can you please fix them as well (Excluding the unused variable warnings as we will be u

[2021-03-29 05:23] Kajol-Kumari commented on #506
Let's have a meet to fix it then. Please ping me once on our slack channel(you can find the link in readme)

[2021-03-29 05:40] Jassi10000 commented on #506
Sure mam @Kajol-Kumari

[2021-03-29 12:50] Meghana-12 commented on #493
I'm sorry for the late update. I'm occupied with some stuff rn, please assign this to someone else. Sorry for the inconvenience.

[2021-03-29 13:54] #565 closed

[2021-03-29 13:55] tushartiwari7 commented on #569
thanks! i will start working on it ASAP 👍

[2021-03-29 13:56] tushartiwari7 commented on #569
sorry closed that by mistake.

[2021-03-29 17:58] garvitgupta13 commented on #572
Removed all the warnings except the unused variables.
![image](https://user-images.githubusercontent.com/70805691/112878969-2904f280-90e6-11eb-800e-8499648072d4.png)

[2021-03-30 04:45] #538 closed

[2021-03-30 06:59] #572 closed

[2021-03-30 08:27] rohithmsr commented on #499
@jackfrost13 Could you update the level of this issue?

[2021-03-30 09:05] jackfrost13 commented on #493
@RituCs You can start working on it

[2021-03-30 09:29] RituCs commented on #493
Thanks for assigning me. If you please tell more about the issue  then it would be very helpful. I have used postman for testing get,post,delete request in  one of my project.Please guide me what I have to do exactly. Thanks !

[2021-03-30 09:50] jackfrost13 commented on #493
you need to compile all the given collections into a single collection

[2021-03-30 09:51] jackfrost13 commented on #493
Also need to add required validation/pre-request-script/ testcases wherever required

[2021-03-30 14:17] kumarshobhit commented on #476
Please reply so that I can solve this issue as quickly as possible.

[2021-03-30 14:52] jackfrost13 commented on #476
Looks good to me but it shouldn't return an array. instead send just the object

[2021-03-30 18:18] kumarshobhit commented on #476
Ok noted. Working on it..

[2021-03-31 06:50] kumarshobhit commented on #477
Hi. I need a little help.For testing purposes, I might need to create a new admin. Please help as to how can I do that.

[2021-03-31 07:43] FireQueen-3010 commented on #490
Hi @Kajol-Kumari , don't you think the footer will look even better if it matched with the navbar?
![image](https://user-images.githubusercontent.com/59244300/113108516-b0578080-9222-11eb-916c-ae2e4861ff47.png)
Also the hover effects for the footer links have not been changed for the dark mode.
So, can I work making the footer better and according to theme of the dark mode?

[2021-03-31 12:49] rohithmsr commented on #499
I have made my PR

[2021-03-31 13:28] jackfrost13 commented on #499
Hi, yes I saw your PR. in-depth review will take some time, running bit busy

[2021-03-31 13:52] shobit1337 commented on #467
Can this issue be assign to me if no other is working on it? Willing to work on this one!😊

[2021-03-31 18:56] jackfrost13 commented on #477
You can do that using the `/admin/superadmin` route

[2021-03-31 19:07] garvitgupta13 opened #584 "Add validation in add team member form"
**Is your feature request related to a problem? Please describe.**
Add form validation in add team member form

**Describe the solution you'd like**
Use `joi-browser` to apply form validation

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
yes

[2021-04-01 03:20] kumarshobhit commented on #477
ok noted. Thank you

[2021-04-01 10:23] #569 closed

[2021-04-01 10:25] Kajol-Kumari commented on #584
Hey @garvitgupta13 thanks for opening up this issue. Would you like to go ahead with this issue?

[2021-04-01 10:27] garvitgupta13 commented on #584
yes mam, please assign this issue to me

[2021-04-01 10:32] Kajol-Kumari commented on #584
Hey @garvitgupta13 please make sure to show proper validation message as below -
- For image (required) please use toast message to show the error.
For rest of the fields, please show the error message same as we are showing in different forms.
Also after Clicking on submit button, Reset the form and show a toast message saying `Member added successfully!`

I hope to see all these implementation i

[2021-04-01 14:47] garvitgupta13 commented on #584
Hey @Kajol-Kumari, currently the image section has already a default image set for admin and there is an option to change it.
If the person doesn't change his image then also there is a default one for him than what does the required part in the image refers to
Please clarify 1st point.

[2021-04-01 15:16] Kajol-Kumari commented on #584
Hmm, so for image, we can ignore the validation.
The linkedIn, github and twitter urls are optional.

[2021-04-02 07:14] #490 closed

[2021-04-02 13:42] pragati-kumar commented on #570
Sure. Thanks for responding!

[2021-04-03 07:00] garvitgupta13 opened #589 "Dashboard is incorrectly labeled"
**Describe the bug**
On clicking the `about us` we get add team member form and `Broadcast` as its heading but they should be present in `join us`

**Expected behavior**
On clicking about-us we should get a about us component but we get add team member form

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/113471174-46d0af80-9478-11eb-89ac-644bd87c146c.png)

**Have you r

[2021-04-03 11:57] jackfrost13 commented on #543
@palrohitg Are you still working?

[2021-04-03 13:44] #555 closed

[2021-04-03 13:56] #584 closed

[2021-04-03 17:11] palrohitg commented on #543
Hi really sorry for the delay. Actually forget to ask can share the db
config file with not vale to spin the db container file.

On Sat, 3 Apr, 2021, 5:27 pm Rohit Agarwal, ***@***.***>
wrote:

[2021-04-04 10:07] vedikaag99 opened #592 "404 page needs to be fixed for dark mode"
**Describe the bug**

In the dark mode, there's a white gap below button as shown in my screenshots which needs to be removed. This gap is visible for both large and small screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:3000/NotFound'
2. Scroll down to the 'Go Home' button
3. See error

**Screenshots**
If applicable, add screenshots to help explain your probl

[2021-04-05 08:58] Kajol-Kumari commented on #592
Hey @vedikaag99 thanks for pointing this to our notice. Please feel free to go ahead with this issue :)

[2021-04-05 09:03] dhwaj1902 commented on #501
Is there any update regarding this issue? or else I can try this one out.

[2021-04-05 09:10] Kriti-bit commented on #501
Hi @dhwaj1902, I am working on this issue. I'll create a PR by this week end.

[2021-04-05 09:15] dhwaj1902 commented on #501
Ok.

[2021-04-05 09:31] dhwaj1902 opened #593 "Need to click the button instead of Card in Settings of Admin Dashboard"
**Describe the bug**
We need to click the button(p tag) to open that setting, I can make the card clickable so that it is easy to navigate.
We can also add icons also in these cards like in the dashboard.
![2021-04-05 14-50-49](https://user-images.githubusercontent.com/57860123/113559781-9bfaf580-961f-11eb-998f-35365e5399d5.gif)

[2021-04-05 09:31] dhwaj1902 commented on #593
Please approve this, so that I can start working on this bug.

[2021-04-05 09:53] dhwaj1902 commented on #593
`husky > pre-commit (node v14.4.0)
/d/AA Work/GSoC/Community-Website/backend/node_modules/.bin/lint-staged: line 5: cygpath: command not found
internal/modules/cjs/loader.js:1032
  throw err;
  ^

Error: Cannot find module 'D:\lint-staged\bin\lint-staged.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:1029:15)
    at Function.Module._load (internal/modules/cjs/loader.js

[2021-04-05 10:46] dhwaj1902 opened #595 "Add Loader while fetching api"
**Describe the bug**
We can add Loader while fetching API from the backend.
Here is one of the example.
We can add loader in Manage Admin while fetching API so that there is no component of no admin found. No Admin found will only be displayed when there is no admin.

![2021-04-05 16-11-03](https://user-images.githubusercontent.com/57860123/113566249-f4cf8b80-9629-11eb-9134-86e9fa702f2b.gif)

[2021-04-05 10:46] dhwaj1902 commented on #595
Please approve this issue so that I can work on this.

[2021-04-05 19:17] RituCs commented on #493
Hey @jackfrost13 , I could not understand what exactly I have to do in "Fetching the longUrl 1".There is no current value for shortURL variable.
![Screenshot from 2021-04-06 00-38-18](https://user-images.githubusercontent.com/60483448/113614718-7d711a80-9670-11eb-9a0e-5bc1db979187.png)
Please Guide me. Thanks !

[2021-04-05 19:36] jackfrost13 commented on #493
This error could be cause the link doesn't exist in the db right now. Please make sure the link is in the db for some entry

[2021-04-06 04:45] amanjha21 commented on #496
Hi Aman Jha here, I want to work on this issue as part of gssoc'21. Please assign it to me. Thanks

[2021-04-06 07:16] #592 closed

[2021-04-06 07:29] Kajol-Kumari commented on #595
Hey @dhwaj1902 it's a genuine request not to start working on an issue until it gets assigned to you as we don't want your effort to go in vain.

Btw thanks for proposing this idea and we look forward to a loader with a good UI.

[2021-04-06 07:36] RituCs commented on #493
I have checked it is present. Could you please check and give me valid url which is in db. I have tried all but got same error . Thanks !

[2021-04-06 07:43] dhwaj1902 commented on #595
Sorry for that, I will keep this in mind in the future😊.

[2021-04-06 10:22] jackfrost13 commented on #493
you can do so yourself by creating a short url for any long url

[2021-04-06 10:24] jackfrost13 commented on #543
I didn't get you, please elaborate

[2021-04-06 10:28] jackfrost13 commented on #477
@kumarshobhit any update? please udpate else will have to reassign this to someone else

[2021-04-06 12:15] kumarshobhit commented on #477
You may please reassign it. I won't be able to work on it.

[2021-04-06 12:33] Jassi10000 commented on #506
@Kajol-Kumari I am nearly done with the joi validation part , but am facing an error at last , can you assign me a mentor to help me solve that

[2021-04-06 16:49] RituCs commented on #493
See when I fetch the longUrl , in the body part it shows the html code of the requested url . So I want to know is it ok ?? Or It should show the only longUrl in the body. If then what is the procedure ?
![Screenshot from 2021-04-06 22-13-25](https://user-images.githubusercontent.com/60483448/113748334-fb432d80-9725-11eb-8746-2d436949123a.png)

[2021-04-06 17:14] dhwaj1902 commented on #593
@Kajol-Kumari can you also look into this issue.

[2021-04-06 17:15] jackfrost13 commented on #493
I think so you are doing something wrong,
Let's connect over meet tomorrow. DM me on slack will schedule a call if you need help

[2021-04-06 17:17] jackfrost13 commented on #476
@kumarshobhit Please update if you are still working on this

[2021-04-06 17:18] kumarshobhit commented on #476
No I am not.. You may reassign it..

[2021-04-07 12:48] #589 closed

[2021-04-07 16:03] #595 closed

[2021-04-07 16:13] Kajol-Kumari commented on #593
Hey @dhwaj1902 I am hoping to see you come up with a better UI than what we have now. If you are thinking of removing the button look. As the current UI is looking preety good to me.

[2021-04-07 16:49] dhwaj1902 commented on #593
@Kajol-Kumari  I have already changed the card in this [pr](https://github.com/HITK-TECH-Community/Community-Website/pull/594).
Please review this [pr](https://github.com/HITK-TECH-Community/Community-Website/pull/594).

[2021-04-08 06:03] ShubhamSj07 opened #601 "Login form responsive issue"
**Describe the bug**
Login Form for signing in admin
Form isn't responsive on screen size (< 768px)

On mobile , form is looking like
![Login_HITK-Issue](https://user-images.githubusercontent.com/56510414/113975923-dce04d80-985d-11eb-871c-e0a46c072c95.JPG)

The image & form are not getting settled well!
I can fix this issue to this
![Login_HITK-Issue_FIXED](https://user-images.githubusercontent.co

[2021-04-08 06:16] tanishq-arya opened #602 "UI Back to top button is not clearly visible"
**Describe the bug**
A simple opacity change could fix this issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inf

[2021-04-08 07:52] ShubhamSj07 commented on #601
@Kajol-Kumari , pls review this

[2021-04-08 09:33] Kajol-Kumari commented on #601
Hey @ShubhamSj07 Thanks for pointing this. Please go ahead with this issue.

[2021-04-08 09:35] Kajol-Kumari commented on #602
Hey @tanishq-arya thanks for taking time to point-out this issue. Would you like to work on this issue and come up with a better UI for the `scroll-to-top` button?

[2021-04-08 09:41] Kajol-Kumari commented on #570
Hey @nlok5923 can I please get an update on this issue?

[2021-04-08 09:49] tanishq-arya commented on #602
@Kajol-Kumari Sure. I was thinking of making it square. Or I can implement any suggestions you want me to.

[2021-04-08 10:02] nlok5923 commented on #570
Yeah I am working on it  still getting little distortion with social icons.

[2021-04-08 14:51] Kajol-Kumari commented on #570
This issue is not about the footer fix.(Please read it's description once)

[2021-04-08 15:01] nlok5923 commented on #570
Sorry my bad currently I am working on footer issue so you can unassign me to this issue.

[2021-04-08 15:14] dhwaj1902 opened #604 "There is no navbar in Admin Dashboard"
Currently, there is no navbar for the admin dashboard.
We can add the Navbar for the admin Dashboard so that the admin can also route to different URLs of the website. Also if there is a navbar we can also change our theme through the admin dashboard.

[2021-04-08 15:15] dhwaj1902 commented on #604
@Kajol-Kumari please look at this, so that I can work on it.

[2021-04-08 20:52] jackfrost13 commented on #82
let us know on which module you will be working

[2021-04-09 07:26] #478 closed

[2021-04-09 11:06] #494 closed

[2021-04-09 11:13] jackfrost13 commented on #604
Do we need that right now? @Kajol-Kumari

[2021-04-09 15:05] manishaag7 commented on #82
Sure @jackfrost13

[2021-04-09 16:20] #593 closed

[2021-04-10 06:41] #601 closed

[2021-04-10 06:42] Kajol-Kumari commented on #602
Umm, let's see if that looks better. Btw I am expecting you to come up with a better color for this button which can be clearly visible in dark as well as light mode

[2021-04-10 06:43] Kajol-Kumari commented on #604
Hey @dhwaj1902 Thanks for taking time to report this but we have hidden the navbar for admin panel intentionally. So, we won't be working on it as of now.

[2021-04-10 06:43] #604 closed

[2021-04-10 06:55] Kajol-Kumari opened #607 "[Frontend] Add `Open Source Contributors` section in About Us page"
Deliverable -

- [ ] We want to acknowledge all the contributors of our project. So, we want to add `Open Source Contributors` section below `Board Members` section which will contain all the list of our contributors images similar to [this](https://github.com/HITK-TECH-Community/Community-Website#contributors-), which we have in our readme.

[2021-04-10 06:59] Kajol-Kumari opened #608 "Enhancement in Admin Panel"
Deliverable -

- [ ] There is a lot of left and right margin on the admin panel, we need to reduce this.
- [ ] The left navigation card and right panel card in the admin panel are not looking good, we need a better card effect in these cards.
- [ ] Make the size of the Dashboard card, same as that of the setting page, in-order to be consistent.

[2021-04-10 07:13] vedikaag99 commented on #607
@Kajol-Kumari can I work on this?

[2021-04-10 07:28] Kajol-Kumari commented on #607
Sure @vedikaag99 please go ahead :)

[2021-04-10 09:59] tanishq-arya commented on #602
![Screenshot (1149)](https://user-images.githubusercontent.com/77333275/114266015-93386400-9a11-11eb-8004-f2b264d88a15.png)
![Screenshot (1150)](https://user-images.githubusercontent.com/77333275/114266023-959abe00-9a11-11eb-8ed5-d288f18081bf.png)
![Screenshot (1146)](https://user-images.githubusercontent.com/77333275/114266025-96335480-9a11-11eb-98b6-90e22133822c.png)

[2021-04-10 10:00] tanishq-arya commented on #602
The last one is when you hover over the outer border changed to circle.

[2021-04-10 10:05] jackfrost13 commented on #82
@manishaag7 Please let us know on which module you are working?

[2021-04-10 10:12] jackfrost13 commented on #501
@Kriti-bit Please raise PR by today else will have to reassign it to @dhwaj1902

[2021-04-10 10:14] jackfrost13 commented on #496
@amanjha21 please update progress

[2021-04-10 10:20] khareyash05 opened #610 "update contributing.md"
Hi! I would like to add the following in contributing.md-
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 10:22] tanishq-arya commented on #602
![image](https://user-images.githubusercontent.com/77333275/114266580-a7319500-9a14-11eb-9473-82ad88e24a81.png)

@Kajol-Kumari How about if I change to this color in the dark mode?

[2021-04-10 10:47] tanishq-arya commented on #608
Please assign me this issue.

The margin issue can be fixed by
container {
width: 90%;
display : flex;
justify-content: space-between;
**
Also this requires a margin-bottom: 2em; or the footer overlaps
}

[2021-04-10 13:36] amanjha21 commented on #496
It's almost done. I will be making PR latest by tomorrow.

[2021-04-11 05:04] Kajol-Kumari commented on #608
Please go ahead with this issue @tanishq-arya

[2021-04-11 07:36] Sukriti-sood commented on #81
@jackfrost13  I would like to work

[2021-04-11 07:38] manishaag7 commented on #82
I will tell you by tonight, sorry for the delay

[2021-04-11 07:53] Shubham-Kumar-2000 opened #614 "Clustering"
**Describe the bug**
Server is currently running in a non cluster mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the server you will find that it is running in only one thread.

**Expected behavior**
Sever should run in cluster mode to run multiple instances of the server in fork mode to make it faster.

**Additional context**

[Reason](https://www.w3schools.com/nodejs/ref_clust

[2021-04-11 09:53] manishaag7 commented on #82
Can I work on url shortener module, can you also provide some guide or example how to write backend documentation?
Thank you!

[2021-04-11 11:06] Kajol-Kumari commented on #602
Hey @tanishq-arya, the dark-mode one is looking good, for the light mode, we need to come up with a better color. For the light mode, maybe try the linear gradient that we are using for the on-hover effect of our icon in the navbar

[2021-04-11 13:44] jackfrost13 commented on #614
Hey, currently since the project is under dev hence it is running like that.
If you want to work on it, we can assign you this issue

[2021-04-11 14:01] tanishq-arya commented on #602
![image](https://user-images.githubusercontent.com/77333275/114307260-775dbc80-9afc-11eb-9de2-5adcec36d3ee.png)

[2021-04-11 14:31] satcasm opened #615 "Hover effect on buttons"
When we hover over button after selecting in dark mode the text color inside the button changes but whereas in light mode it doesn't.
Would like to work on it under GSSOC' 21.
Please assign this issue to me.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/114308162-83e41400-9b00-11eb-9151-a37c0fcf76c8.png)
![image](https://user-images.githubusercontent.co

[2021-04-11 16:13] #496 closed

[2021-04-11 16:22] jackfrost13 commented on #615
I do not think it is a bug, I believe it was intensional
@Kajol-Kumari Please confirm if this issue is required

[2021-04-11 16:24] jackfrost13 commented on #610
I don't think so it of much need.
1. Merge can be done only by squashing
2. TBH, it doesn't matter if the local/forked is updated or not. The person working on the issue would have to inherently update with upstream before merging.

@Kajol-Kumari Any thoughts?

[2021-04-11 16:38] amanjha21 commented on #497
Hi, I would like to work on this as part of GSSOC'21. Please Assign it to me.
I will Implement Pagination using page and limit.
eg:- localhost:3050//broadcast?page=1&limit=10

[2021-04-12 04:44] ShubhamSj07 opened #616 "Adding hover-effect on profile-cards in about-us section"
**Is your feature request related to a problem? Please describe.**
I would like too add hover-effect for profile-cards both dark & light mode
Right now, no effect is added!

Preview

https://user-images.githubusercontent.com/56510414/114341575-bbda6e00-9b77-11eb-94c2-cd0257498545.mp4

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_c

[2021-04-12 05:50] jackfrost13 commented on #616
@Kajol-Kumari Please confirm if we need to prioritise this for now

[2021-04-12 14:10] Kajol-Kumari commented on #602
Umm, this doesn't seems good. Under `our motive` section of the homepage the icons color in the dark mode looks pretty good. Can you please try implementing that for the light mode?

[2021-04-12 14:20] Kajol-Kumari commented on #615
Yeah, this isn't a bug. Thanks for your time @satcasm

[2021-04-12 14:20] #615 closed

[2021-04-12 14:21] Kajol-Kumari commented on #616
Hey @ShubhamSj07 you can work on this provided we see a better effect :)

[2021-04-12 14:23] Kajol-Kumari commented on #610
Hey @khareyash05 Thanks for pointing these but as @jackfrost13 suggested we don't need to add these in our readme.

[2021-04-12 14:23] #610 closed

[2021-04-12 15:13] ShubhamSj07 commented on #616
@Kajol-Kumari , so am i assigned to this issue to start working for same ?

[2021-04-12 16:48] tanishq-arya commented on #602
![image](https://user-images.githubusercontent.com/77333275/114431310-f9bdad80-9bdc-11eb-9c24-7b8da55f7074.png)
This one ?

[2021-04-13 06:57] #607 closed

[2021-04-13 08:06] ShubhamSj07 commented on #616
Heyy @Kajol-Kumari , pls review this card effects
For light theme, i took ref of about section img bg color

https://user-images.githubusercontent.com/56510414/114518609-29ac9580-9c5d-11eb-978b-1ea74a5871f2.mp4

[2021-04-13 19:40] jackfrost13 commented on #616
Hey @ShubhamSj07 I don't find this desgin very intriguing and much differentiating. @Kajol-Kumari Your thoughts?

[2021-04-14 13:05] AbhipsaGuru1012 opened #619 "Enhancement in Join Us section in home page"
**Describe the bug**
The text in the Join Us section in smaller screen size is left aligned. I would like to center align it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain

[2021-04-16 11:48] AbhipsaGuru1012 commented on #619
@Kajol-Kumari please let me know if I can work on this issue

[2021-04-17 10:53] Kajol-Kumari commented on #619
Hey @AbhipsaGuru1012 you can go ahead with this issue

[2021-04-18 09:50] akshitakanojia commented on #539
Hi @Kajol-Kumari is this issue open?

[2021-04-18 14:53] satcasm commented on #570
Hey @Kajol-Kumari can I take on this issue?

[2021-04-18 15:45] #501 closed

[2021-04-18 16:55] tanishq-arya commented on #608
I'm sorry for the delay will make a PR soon.

[2021-04-19 04:21] AbhipsaGuru1012 commented on #619
@Kajol-Kumari I have made a PR. Please review

[2021-04-19 13:43] akshitakanojia commented on #539
If yes, then I've made a design for that
![admincard](https://user-images.githubusercontent.com/44370673/115245876-02fdcb80-a143-11eb-8800-7cb367cb363a.png)

[2021-04-20 08:13] ShubhamSj07 commented on #616
Pls review this effects @Kajol-Kumari

https://user-images.githubusercontent.com/56510414/115361276-0e520500-a1de-11eb-92cd-6330267d92d9.mp4

[2021-04-21 14:06] Kajol-Kumari commented on #616
Hey @Shubham-Kumar-2000 can you please try to give here the hover effect similar to `our motive` section of the home page. It would look consistent that way. WDYT?

[2021-04-21 14:38] ShubhamSj07 commented on #616
Heyy, @Kajol-Kumari again mistakely u had tagged another shubham 🤣
yeah, this effect is looking cool

https://user-images.githubusercontent.com/56510414/115572038-2b213200-a2dd-11eb-97a6-274bbee4b4cf.mp4

[2021-04-22 11:03] tanishq-arya commented on #602
![image](https://user-images.githubusercontent.com/77333275/115703977-63317f00-a388-11eb-9732-eefa48ea42e6.png)

![image](https://user-images.githubusercontent.com/77333275/115704006-6cbae700-a388-11eb-8f11-8b7dbeb71d3f.png)

[2021-04-23 04:02] Kajol-Kumari commented on #616
Hey @ShubhamSj07 can u please push the change so that I can test it?

[2021-04-23 09:21] garvitgupta13 commented on #506
@Kajol-Kumari if this issue is still open can you assign this issue to me

[2021-04-23 15:09] #616 closed

[2021-04-23 15:17] #602 closed

[2021-04-23 15:20] #619 closed

[2021-04-23 15:21] Kajol-Kumari commented on #506
Hey @garvitgupta13 you can go ahead with this issue.

[2021-04-23 15:22] Kajol-Kumari commented on #539
Hey @akshitakanojia the design looks good to me can you please implement this by code and come up with the PR?

[2021-04-23 17:28] garvitgupta13 commented on #506
Hey, @Kajol-Kumari a suggestion from my side, can we replace the interested domains to a multilist input just like in add team form.
![image](https://user-images.githubusercontent.com/70805691/115907896-18e2f780-a487-11eb-801f-d53c28cc9499.png)
  to
![image](https://user-images.githubusercontent.com/70805691/115908041-4465e200-a487-11eb-8dd6-1b7501d50fc1.png)

Creating this change will make it eas

[2021-04-24 07:30] akshitakanojia commented on #539
Yes sure!

[2021-04-25 09:41] ShubhamSj07 opened #625 "Responsive Issue for Open Source Contributors Section"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/about-us'
2. Scroll down to OSC Section
3. Check out responsiveness on mobile-screen size, etc.

**Screenshots**
![OSC-Responsive Issue](https://user-images.githubusercontent.com/56510414/115988665-60c56400-a5d8-11eb-9bfd-ea6b0166cb6f.JPG)
![OSC-Mobile-Responsive I

[2021-04-25 10:03] #539 closed

[2021-04-25 10:07] Kajol-Kumari commented on #625
Hey @ShubhamSj07 thanks for pointing this issue. Just an add-on => in the screenshot of after-fix, I can see that the image is getting a bit cropped from right and bottom. Please consider that as well while fixing.

[2021-04-25 15:22] #625 closed

[2021-04-25 15:34] Kajol-Kumari opened #627 "[Frontend] Enhancement in Forms"
Deliverables-
Currently, when any error message is shown, there is a shift in the ui, which doesn't look good. This issue is directed towards removing that ui shift in all the forms that have validations

Issue demonstration -
https://user-images.githubusercontent.com/44888949/115999525-bfef9c80-a609-11eb-80b8-17ed7191bf60.mov

[2021-04-25 15:57] garvitgupta13 commented on #627
Hey @Kajol-Kumari please assign this issue to me

[2021-04-25 16:00] garvitgupta13 commented on #506
Hey @Kajol-Kumari , all validations are done only domains part is left, please let me know should I replace the domains part with multilist input or not

[2021-04-25 16:03] Kajol-Kumari commented on #506
Hey @garvitgupta13 please go ahead with replacing the current one with the select box same as we have in add-teams section.

[2021-04-25 16:03] Kajol-Kumari commented on #627
Hey @garvitgupta13 please go ahead with this issue.
Happy Learning :)

[2021-04-25 20:59] GuptaTanisha commented on #627
@Kajol-Kumari I have solved the issue.Please review it.

[2021-04-26 08:29] garvitgupta13 commented on #506
Hey @Kajol-Kumari all validations are done for ipnut fields, but I am facing difficulty in adding dark theme to the multilist input form. Can you help me with that

[2021-04-27 10:03] Kajol-Kumari commented on #627
Hey @GuptaTanisha we don't accept the PRs for the issues that is already assigned to someone else. I request you to never work on an issue which is already assigned to someone unless the issue is open for more than one person.

[2021-04-27 15:34] subhangi2731 commented on #81
hello I had been inactive due to my health problems. I was not well this many days so had not seen the msg. please reassign me

[2021-04-27 15:37] ShubhamSj07 opened #630 "Improving responsiveness of profile-cards on small screens"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
In about us section,
Profile cards are not responsive on small screen sizes
They look like this
![Profile-Card-Issue](https://user-images.githubusercontent.com/56510414/116270121-71263c00-a79c-11eb-86b9-eb5819a4d16a.JPG)

I can fix this too
![Profile-Card-Issue-FIXED](https:/

[2021-04-28 06:03] Kajol-Kumari commented on #630
please go ahead @ShubhamSj07 :)

[2021-04-29 06:51] satcasm commented on #570
Hey @Kajol-Kumari , apologies for the delay but have a look again it doesn't seems necessary to add a scroll-bar.
If it is still required let me know.
Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/116512220-4eec0580-a8e5-11eb-8e59-c87e77524737.png)

[2021-04-29 11:12] Kajol-Kumari commented on #570
Hey @satcasm it's required only when the texts go beyond the window height. You can check the same for the `Private AI Series` broadcast

[2021-04-29 11:18] #608 closed

[2021-04-29 11:21] #630 closed

[2021-04-29 16:29] tanishq-arya commented on #566
Is this still an issue. Can I work on this ?

[2021-04-30 12:40] ShubhamSj07 opened #634 "Minor Css Fix [admin-btn]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
When we make screen-size _<1000px_, **admin btn**  is mess up!
![Btn-Issue-HITK](https://user-images.githubusercontent.com/56510414/116696010-f6992e80-a9de-11eb-9fb7-c16a50527c30.JPG)

I would like to fix this
![Btn-Issue-HITK--FIXED](https://user-images.githubusercontent.com

[2021-05-01 07:05] ShubhamSj07 commented on #634
@Kajol-Kumari , pls review this

[2021-05-01 16:00] garvitgupta13 commented on #627
Update:
I have started working on this issue and will be creating a PR as soon as the #629  merges.

[2021-05-02 15:23] #506 closed

[2021-05-02 17:46] #614 closed

[2021-05-03 09:10] jackfrost13 commented on #634
Go Ahead

[2021-05-05 05:36] garvitgupta13 opened #638 "Dark Theme changes are not reflected in domains of join-us form"
**Describe the bug**
Dark theme changes are not reflected in multi-list input of the join-us form

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to join-us form
2. Switch to dark-theme
3. See an error

**Expected behavior**
![image](https://user-images.githubusercontent.com/70805691/117250919-8ddc0700-ae61-11eb-8b09-a483c06ff049.png)

**Screenshots**
![image](https://user-images.githubu

[2021-05-05 06:53] #627 closed

[2021-05-05 06:59] #570 closed

[2021-05-05 07:01] #634 closed

[2021-05-05 07:05] Kajol-Kumari opened #639 "[Frontend] Integrate Add FAQ Feature"
Integrate the add faq api with admin's add faq page. You can take reference from [here](https://github.com/HITK-TECH-Community/Community-Website/commit/e9eadfaa704d89e4cbba0f0476c617ab970291fa)

You can find this form at
1. Login to admin panel
2. Go to faq tab
3. Click on add faq button

[2021-05-05 08:30] garvitgupta13 commented on #639
Please assign me this issue under `gssoc2021`

[2021-05-05 10:52] Kajol-Kumari commented on #639
Please go ahead @garvitgupta13

[2021-05-05 12:18] garvitgupta13 commented on #638
Please assign me this issue

[2021-05-06 06:14] garvitgupta13 commented on #639
The current form misses the tag field.
`Tags` is mentioned as a necessary field in backend documentation.
Please let me know which tag list should I add to the form.

[2021-05-06 14:55] Kajol-Kumari commented on #639
Hey @garvitgupta13 we need to send the tags in the form of an array of strings so please make the input field of the same similar to the image given below
![WhatsApp Image 2021-05-06 at 8 13 21 PM (1)](https://user-images.githubusercontent.com/44888949/117319696-2d70b800-aea9-11eb-8879-5af56f25714e.jpeg)

[2021-05-06 14:57] Kajol-Kumari opened #640 "[Frontend] Enhancement in Add Broadcast Page"
Deliverable-
1. The UI of the add broadcast page needs to be improved
2. The add broadcast form should contain the following fields -
[code]
The tag input field should be similar to the one given below
![WhatsApp Image 2021-05-06 at 8 13 21 PM (1)](https://user-images.githubusercontent.com/44888949/117320041-7de81580-aea9-11eb-9ea6-5b6b8a57ee8a.jpeg)

[2021-05-06 16:26] garvitgupta13 commented on #639
I just came across [this](https://leekevinyg.github.io/react-tag-input/)
Can we use this for taking input from users.

[2021-05-06 17:30] Kajol-Kumari commented on #639
Hey @garvitgupta13 yeah we can use it in the form to take the input from user but I would request to look for promising package as this one doesn't seem to be that promising.

[2021-05-06 17:33] Kajol-Kumari commented on #639
@garvitgupta13 can you please check [this](https://www.npmjs.com/package/react-tag-input) once as this seems promising and as per our requirement as well.

[2021-05-07 05:04] AbhipsaGuru1012 commented on #640
@Kajol-Kumari can I try to work on this issue under GSSoC'21?

[2021-05-07 05:52] garvitgupta13 commented on #639
The current form validation involves the question and answer to be less than 8 characters. Should I change it ?
![image](https://user-images.githubusercontent.com/70805691/117403197-6cdcea00-af25-11eb-9245-f4635332edf2.png)

As mentioned in issue #538 minimum length should be of 8 characters, but the current implementation is of maximum length of 8 characters

[2021-05-07 07:15] Kajol-Kumari commented on #639
Hey @garvitgupta13 thanks for pointing. The validation is supposed to be of min length of 8 chars so please change the same

[2021-05-07 18:20] Kajol-Kumari commented on #640
Sure @AbhipsaGuru1012 please go ahead with this issue.

[2021-05-08 05:04] Kajol-Kumari commented on #638
Hey @garvitgupta13 thanks for pointing this. Apart from the changes that you have attached in the screenshot, please make the theme of search-box  consistent with other input fields for the dark theme as well.

[2021-05-09 09:54] Kajol-Kumari commented on #640
Hey @AbhipsaGuru1012 this looks preety good but we need to work on few points -
1. We need one `url` field that will contain the url of the resources.
2. In content field, we wish to have markdown editor. Will it be possible to have atleast few of the features incorporated under `content` field?

[2021-05-09 11:50] AbhipsaGuru1012 commented on #640
@Kajol-Kumari sure, I will get back with the changes soon.

[2021-05-09 15:05] ShubhamSj07 opened #642 "Navbar Theme-Toggler Issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
![HITK-Toggle-Issue](https://user-images.githubusercontent.com/56510414/117577097-082cb580-b106-11eb-94d8-84afdd49e4dd.JPG)

On mobile screen, when we open navbar & if user wants to swtich theme , clicks on toggler btn but user still stays  on navbar.
After switching theme navbar should be collasped!

I woul

[2021-05-09 17:12] #479 closed

[2021-05-10 04:44] Kajol-Kumari commented on #640
Hey @AbhipsaGuru1012 Please add bold and italic feature as well. Rest looks good to me :)

[2021-05-10 08:27] Kajol-Kumari commented on #642
please go ahead @ShubhamSj07

[2021-05-10 08:32] Kajol-Kumari opened #643 "[Frontend] Integrate Reset Password Feature with backend"
Deliverable -
- The form present under setting/password tab of admin panel needs to be integrated with the respective api in order to work properly.

The api reference can be found at [here](https://github.com/HITK-TECH-Community/Community-Website/commit/4183d0dc2eb40dccc4475f1d2fb3bda088a88c72)

[2021-05-10 08:37] Kajol-Kumari opened #644 "[Frontend] Integrate Get Broadcasts with the backend"
Deliverable-
- Currently we are showing dummy data in `all broadcasts` page. Use [this](https://github.com/HITK-TECH-Community/Community-Website/commit/4183d0dc2eb40dccc4475f1d2fb3bda088a88c72) api to fetch the data from db and populate it on the frontend.

[2021-05-10 08:43] #639 closed

[2021-05-10 13:42] garvitgupta13 opened #645 "local backend is unable to open"
**Describe the bug**
The backend throws error if we try to open it in our local system

**To Reproduce**
Steps to reproduce the behavior:
1. Go to backend folder
2. Type 'npm start'
3. See error

**Expected behavior**
It must run on localhost/3500

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/117668395-84d19980-b1c3-11eb-894f-294a282ca2f7.png)

**Desktop (please comp

[2021-05-10 14:32] garvitgupta13 commented on #638
Hey, @Kajol-Kumari can you guide me on how to change the colour of that search bar in multi-list input field.
I was unable to find info related to that in [documentation](https://www.npmjs.com/package/react-multi-select-component) and I tried to inspect that element but I was unable to get any useful info from that.

[2021-05-10 17:40] Kajol-Kumari commented on #644
Sure @garvitgupta13 please go ahead!

[2021-05-10 18:30] AbhipsaGuru1012 commented on #640
@Kajol-Kumari I have made a PR. Please review.

[2021-05-10 20:22] garvitgupta13 commented on #644
In the API documentation mentioned here, I am unable to find any info related to the broadcast page. Please do have a look, and if there then please let me know.

[2021-05-10 20:24] Shivangi-ch opened #648 "Adding floating animation to the svg on the side of contact us form."
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
I would like to add the floating animation to the svg on the contact us page.This will make the page look attractive.

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
Yes.

[2021-05-11 11:58] Shivangi-ch commented on #648
@Kajol-Kumari Please assign this to me.
Demo:
![Hnet-imagesdf](https://user-images.githubusercontent.com/57783826/117811437-2d443400-b27e-11eb-9934-8b682e5e9451.gif)

[2021-05-14 19:55] jackfrost13 commented on #645
Hey @garvitgupta13 I don't think so there is any issue from our end, please check once again
[code]

[2021-05-14 19:56] jackfrost13 commented on #645
Also please tag us if you find any issues to get a promt response

[2021-05-14 19:58] jackfrost13 commented on #644
@garvitgupta13 I guess the wrong link was shared
Refer [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/docs/broadcast.md)

Feel free to reach out to me if you face any issues wrt backend

[2021-05-14 20:09] garvitgupta13 commented on #645
Hey @jackfrost13 I just pulled the latest commits and ran the backend server but still got the same
![image](https://user-images.githubusercontent.com/70805691/118323261-f8560c80-b51d-11eb-8968-c54f86d82443.png)
I guess the error is due to syntax error at line 35 of [getBrodcast.js](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/broadcast/getBroadcasts.js)
![

[2021-05-14 20:10] garvitgupta13 commented on #644
Thanks for the documentation @jackfrost13

[2021-05-15 07:38] garvitgupta13 commented on #644
Hey @jackfrost13 @KajalSinghBAGHEL I am unable to fetch data for broadcast page
![image](https://user-images.githubusercontent.com/70805691/118352234-f4f26d80-b57d-11eb-82ad-84fdc993bccd.png)
![image](https://user-images.githubusercontent.com/70805691/118352250-0471b680-b57e-11eb-89f0-5d3210de1af4.png)

I am just trying to log the response
 useEffect(() => {
    return fetch(`${END_POINT}/broadcas

[2021-05-15 08:48] jackfrost13 commented on #644
It must not have been deployed to heroku
please use postman for testing or localhost

[2021-05-15 08:50] jackfrost13 commented on #645
umm I dont think so that is the latest commit, can you check once? I had disabled clustering in the lastest commit on main

[2021-05-15 08:56] garvitgupta13 commented on #645
![image](https://user-images.githubusercontent.com/70805691/118354614-74396e80-b589-11eb-9460-1c59268505fb.png)

[2021-05-15 08:59] garvitgupta13 commented on #644
My local backend is not opening.
Can you deploy these changes to Heroku

[2021-05-15 09:09] garvitgupta13 commented on #645
Hey @jackfrost13 I made changes in line35 and my localhost was opening
![image](https://user-images.githubusercontent.com/70805691/118354961-3f2e1b80-b58b-11eb-8ce0-238935080f31.png)
![image](https://user-images.githubusercontent.com/70805691/118354975-49e8b080-b58b-11eb-8890-08eb1012075f.png)
Should I push these changes

[2021-05-15 09:17] garvitgupta13 commented on #644
Still getting the same
![image](https://user-images.githubusercontent.com/70805691/118355187-65a08680-b58c-11eb-81bf-452bab02a29c.png)

[2021-05-15 09:33] Kajol-Kumari commented on #648
Hey @Shivangi-ch thank you very much for your suggestion but we want our website to look consistent and simple and have no plan to modify our pages UI anymore.

[2021-05-15 09:33] #648 closed

[2021-05-15 09:36] Kajol-Kumari commented on #644
Hey @garvitgupta13 in order to get the broadcasts you need to provide the query params as well. like `/broadcast?page= &tags= &year= &month= [ GET ]`  Please refer [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/docs/broadcast.md) for the same

[2021-05-15 09:48] jackfrost13 commented on #645
can you share your gitlog? For me it is working at the HEAD commit

[2021-05-15 09:49] garvitgupta13 commented on #645
[code]

[2021-05-15 09:50] Kajol-Kumari commented on #643
@garvitgupta13 my bad!
I opened the other issue. We already have this feature integrated. Thanks for pointing!

[2021-05-15 09:50] #643 closed

[2021-05-15 09:50] jackfrost13 commented on #645
checkout `5be54b94168d06ae2b0df97b0c7f646081419e5f ` commit and try running

[2021-05-15 09:51] #642 closed

[2021-05-15 09:53] garvitgupta13 commented on #644
![image](https://user-images.githubusercontent.com/70805691/118356118-61c33300-b591-11eb-804b-78e7b8233f0c.png)
Since the following key params are optional I have not passed any value in them

[2021-05-15 09:58] garvitgupta13 commented on #645
[code]

Still getting the same

[2021-05-15 10:01] garvitgupta13 commented on #645
Sir I think we should close this issue as it seems to be a problem in my system only
And I am also able to run localhost after fixing line 35 of getBroadcast.js

But I think there is a syntax error in line 35
`req.query.tags?.split(',');`
The ? in tags is not acting like a ternary operator it should be
`const tags = req.query.tags?req.query.tags.split(','):null;`

Please correct me if I am wrong

[2021-05-15 10:33] jackfrost13 commented on #645
Hey, no that is not the ternary operator
look for null check in js
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator#relationship_with_the_optional_chaining_operator_.

[2021-05-15 10:43] garvitgupta13 commented on #645
Thanks for clarifying, I was really unaware of it

[2021-05-15 11:37] garvitgupta13 commented on #645
I guess we should close this issue this null operator is for node version `14` above and I am using node `12.16.2`

[2021-05-15 11:43] jackfrost13 commented on #645
Even I am perplexed, maycheck your software versions

[2021-05-15 11:45] #645 closed

[2021-05-15 11:51] jackfrost13 commented on #644
Please retry after pulling from main
Fixed the issue

[2021-05-15 14:04] garvitgupta13 commented on #644
Thanks @jackfrost13 for fixing it, its working now
![image](https://user-images.githubusercontent.com/70805691/118364051-88469580-b5b4-11eb-94c2-501f2205bd0d.png)

[2021-05-15 15:15] garvitgupta13 commented on #644
On hitting the API `http://localhost:3500/broadcast`  or `http://localhost:3500/broadcast?page=1&tags=tag1&year=2021&month=1` I am getting a proper array
![image](https://user-images.githubusercontent.com/70805691/118366071-de1f3b80-b5bc-11eb-9e18-4f746b52f783.png)

But on hitting `http://localhost:3500/broadcast?page=&tags=&year=&month=` I am getting
[code]
While in the documentation it is mentio

[2021-05-16 13:57] garvitgupta13 commented on #644
I have added the broadcast to both the pages i.e `broadcast` and `all-broadcast`
Please review my PR

[2021-05-16 15:54] Jassi10000 commented on #543
I will like to try my hands on this
Assign me

[2021-05-18 05:45] hardikshah197 commented on #566
May I take up this issue? if no one is working on it?
@nlok5923 @Kajol-Kumari

[2021-05-19 15:34] #638 closed

[2021-05-19 15:41] Kajol-Kumari commented on #566
@hardikshah197 you can go ahead with it.

[2021-05-20 19:31] garvitgupta13 opened #653 "Year in footer"
**Describe the bug**
The year inside footer is static

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/119037782-08fbfc00-b9d0-11eb-967b-b242085a7ee7.png)
**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. ch

[2021-05-23 10:32] garvitgupta13 commented on #653
@jackfrost13 @Kajol-Kumari, please look at this issue

[2021-05-23 11:25] garvitgupta13 commented on #653
As per `gssoc21` the `level0` and `level1` tags is for documentation related issues.
![image](https://user-images.githubusercontent.com/70805691/118633501-2e7ddf80-b7ef-11eb-973c-9be27aec3159.png)

[2021-05-23 11:29] jackfrost13 commented on #653
Those are just sample labels, it has been left configurable by project admins and mentors
If a person is working on entire project documentation that doesn't mean his work is less valuable or anything like that. Hence we decide as per the issue. This involves a very simple fix hence level0

[2021-05-23 12:02] Ashuto7h commented on #82
Why there is a need for this issue?
The backend setup guide is already available at Readme.

[2021-05-23 13:13] Ashuto7h commented on #534
Can I work on this issue?

[2021-05-24 08:11] jackfrost13 commented on #82
@Ashuto7h Yes the initial guide has been prepared but it doesn't contain all the documentation required.
This issue serves as an umbrella under which multiple issues(module specific is created)

[2021-05-25 15:44] niteshseram opened #654 "Carousal causing extra space in mobile view"
**Describe the bug**
Carousal in mobile view is creating some extra space in the right side

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the website in mobile view
2. Drag the website in the left
3. You can see some extra space in the right side

**Expected behavior**
There should not be extra space in the right side

**Screenshots**
![Capture](https://user-images.githubusercontent.

[2021-05-25 15:58] niteshseram commented on #654
If this issue needs to be fixed then I can work on this

[2021-05-26 06:45] tanishq-arya opened #655 "Improve README"
Add code blocks for the commands.

![image](https://user-images.githubusercontent.com/77333275/119614559-0a885280-be1c-11eb-8e5e-9aec03c7bf44.png)

[2021-05-26 06:46] tanishq-arya commented on #655
@Kajol-Kumari please assign me this issue.

[2021-05-28 13:32] #644 closed

[2021-05-28 13:35] #653 closed

[2021-05-28 13:38] Kajol-Kumari commented on #654
@niteshseram thanks for taking time to report this but I doubt, if this is really a bug, as for small screens we don't even show the left/right navigation button for the carousel

[2021-05-28 16:31] niteshseram commented on #654
@Kajol-Kumari The right navigation button is not hidden in mobile screen. I can see the button.

[2021-05-29 10:49] #655 closed

[2021-05-29 16:09] garvitgupta13 opened #658 "Edit brodcast modal"
**Describe the bug**
In the edit broadcast modal the text is not visible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
The font color should be changed to white

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/120077067-2f9fee00-c0c6-11eb-8e51-bb402d799077.png)

**Desktop

[2021-06-02 09:56] harshakhmk commented on #477
I would like to work on it

[2021-06-02 15:24] Kajol-Kumari opened #660 "[Frontend] Integrate the Delete Broadcast Feature from Backend"
Deliverable -

- [ ]  The integration of delete broadcast feature with the backend

- [ ]  A message showing `No Broadcast Found!` should be displayed on the `All Broadcast` and in each section `Broadcasts` page if there isn't any broadcast available.

Ref - The deleteBroadcast api can be found [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/broadcast/d

[2021-06-04 06:04] VenomFate-619 opened #661 "Join Us Form data is not submitting to dataBase"
**Describe the bug**
Join Us Form page form data is not submitting to dataBase

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://hitk-tech-community.netlify.app/join-us-form'
2. Fill the form
3. Click the submit button
4. No notification for ensuring that data is submitted

**Expected behaviour**
Data should be submitted to an endpoint of backend and a notification should be th

[2021-06-05 06:09] #658 closed

[2021-06-05 06:10] Kajol-Kumari commented on #661
Hey @VenomFate-619 did you tested this on local? As we haven't updated our backend on the hosted url so you might not be able to see this feature on our hostel url

[2021-06-05 06:14] VenomFate-619 commented on #661
@Kajol-Kumari nope haven't tested locally , I will test it and info it

[2021-06-18 14:08] #661 closed

[2021-07-20 14:03] kushal98 opened #662 "[Frontend] 🐛 Bug : Scroll Preserve on route change"
**Describe the bug**
When a user navigates from one route to the other the browser is preserving the scroll.

**To Reproduce**
Steps to reproduce the behaviour:

1. After landing into home page, scroll down a bit.
2. Click on About Us or any other navigation option.
3. The scroll gets preserved.

**Expected behaviour**
On change of the route the user should be landed on the top of the page instead

[2021-07-20 14:04] kushal98 commented on #662
Please assign this to me.

[2021-07-24 08:59] Kajol-Kumari commented on #662
@kushal98 please go ahead 👍

[2021-08-07 17:43] Mobasherah12 opened #664 "Slack link is no longer active"
**Describe the bug**
When I click on the slack icon in the website footer, the page appears with a message prompt "This link is no longer active"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hitk-tech-community.netlify.app/
2. Scroll down to the footer (in the social section)
3. Click on the slack icon
4. See error

**Expected behavior**
I expected to click the slack icon in

[2021-08-07 18:01] Mobasherah12 commented on #664
The same issue appears in the above bot comment when I click on [Slack Community](https://join.slack.com/t/hitkteckcommunity/shared_invite/zt-jgr1sd87-lhiXHO_x63Kt7h8VBxDaFw).

[2021-09-08 03:15] #664 closed

[2021-11-09 17:00] Shelly011s commented on #308
Is this still open for DWOC?

[2021-11-29 15:45] CodingwithMe123 commented on #662
Is the bug still active? If yes, I can contribute

[2021-11-29 16:42] CodingwithMe123 commented on #566
Can I take this Issue or is it fixed?

[2021-12-02 09:56] #662 closed

[2021-12-02 10:08] Kajol-Kumari opened #666 "[Bug] Reduce The Image loading Time"
**Description-**
The Image loading on the website takes a lot of time which makes the website slower and look bad.

**Requirement-**
- [ ] Come up with the the solution to reduce the loading time.

[2021-12-02 10:15] Kajol-Kumari opened #667 "[Bug] Broadcast Page giving error on Prod"
Description-
Currently, if you try to visit the broadcast page i.e https://hitk-tech-community.netlify.app/broadcasts for the second time, the site didn't open up.

Requirement-
Fix the above described bug

[2021-12-02 10:19] Kajol-Kumari opened #668 "[Backend] Add Delete & Get Faq Api"
Deliverables-

- [ ] Api for DELETE a single FAQ [Note -only admin should be privileged to perform this]
- [ ] Api for getting all the FAQs

Note - the APIs should be added under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/faq) folder

[2021-12-02 17:01] naveen8801 commented on #668
Hey @Kajol-Kumari, I'd like to work on it, please assign :)

[2021-12-03 10:22] Kajol-Kumari commented on #668
sure @naveen8801 please go ahead..
Happy Learning :)

[2021-12-03 10:52] TheSwordBreaker commented on #666
Hello Kajol. I am New To Community . Here Are My ideas.

1. Stored Static Images in CDN , or Set Cache Option to Max 6 month to 10 days
2. Daynmic Images Can Be Display With lazyLoading Component with default images base on pages where it is needed
3. For The First Load of Site What We can Do Minimize The Image Size with Github Plugins like Img-Bot Which i have used
4. Other Advances thing i have

[2021-12-03 10:54] TheSwordBreaker commented on #666
We Can Used Some Node Package and Custom Command For Development only files to config point number 3 and 4. and handle them

[2021-12-04 06:42] Anurag-Singh-Rajput commented on #667
Hey There,
Can I work on this ? I am a SWOC Participant

[2021-12-04 07:04] Kajol-Kumari commented on #667
Sure @Anurag-Singh-Rajput please go ahead.
Happy Learning :)

[2021-12-04 07:06] Kajol-Kumari commented on #666
@TheSwordBreaker the idea seems achievable. Could you please try implementing it atleast for one of the pages?

[2021-12-04 07:10] Kajol-Kumari commented on #566
@aritroCoder it's still open. Please feel free to go with it.

[2021-12-04 10:24] TheSwordBreaker commented on #666
@Kajol-Kumari  Sure I Would Love To Try LazyLoading Component and cli code for node package for image handling and compression

[2021-12-04 10:26] TheSwordBreaker commented on #666
But Ya Pls Help me on How To contribute in open source as my knowledge on github always endup with lots of merge conflicts

[2021-12-04 19:08] pushkar2112 commented on #566
Hi,
If this issue is currently not assigned to anyone or has not been fixed yet, I would like to give it a try.
Cheers!

[2021-12-05 03:41] aritroCoder commented on #566
Is this solution OK?

https://user-images.githubusercontent.com/92646038/144732500-40a5f2ab-4a22-4580-b194-8fbab1210c7a.mp4

[2021-12-07 13:39] naveen8801 commented on #668
Hi @Kajol-Kumari, actually am getting 400 status when am trying to login as admin with the credentials :-

[code]

can you please check them again for me :)

[2021-12-07 15:23] Kajol-Kumari commented on #666
Hey @TheSwordBreaker I can list the generalised step for making a PR below for you -

1. Fork this repo
2. Clone it on local (git clone <your_forked_repo_url>)
3. Make a new branch from master and checkout to the same (git checkout -b <new_branch_name>)
4. Make the required code changes
5. Add to staging (git add .)
6.Commit your changes. (git commit -a -m "<your_commit_msg>")
7. Push it.(git push

[2021-12-08 05:02] Kajol-Kumari opened #670 "[Frontend] Add Loader to the Page"
**Problem-**
The data on the broadcast page gets populated after 2-3 seconds which makes the page looks bad.

**Solution-**
Add loader till the data is being fetched via API and populated on the page so that the page should get rendered only after all the data gets populated.

Note - Please make sure to make this loader a reusable component so that we can use it for other pages as well

[2021-12-08 13:31] Kajol-Kumari commented on #668
Hey @naveen8801 Please use the below credential for logging in -

[code]

[2021-12-08 13:33] #667 closed

[2021-12-08 13:43] #499 closed

[2021-12-08 13:44] Kajol-Kumari opened #671 "[Backend] Add Contact Us Form route"
Create a route for storing contact us form data.
Post storage send an email to the existing admins about it. (Using our email service)

Public API
Requires API Testing.
Refer #81 For API Testing resources.

Ref PR - https://github.com/HITK-TECH-Community/Community-Website/pull/580

[2021-12-08 13:49] Kajol-Kumari opened #672 "[Frontend] Add FQA Redirects to Dashboard"
Description-
Currently if we log in as admin and try to add an faq, it directs us to admin dashboard.

Deliverable -
Fix it so that it works as expected

[2021-12-08 14:19] Anurag-Singh-Rajput commented on #670
I would like to work on this . Also can you add Swoc label

[2021-12-08 14:22] Kajol-Kumari commented on #670
sure @Anurag-Singh-Rajput please go ahead with this issue.

[2021-12-09 10:52] akr-25 commented on #476
Was this issue resolved ?

[2021-12-10 05:13] naveen8801 commented on #668
hii @Kajol-Kumari, can you please explain how we are identifying admins inside the database, specifically for delete faq endpoint what should be the body or payload from the client while making req to this endpoint.

[2021-12-10 12:12] Kajol-Kumari commented on #668
@naveen8801 as only admins need to log in so you can just keep the payload like
[code]

Check if user_id is present in admin collection and if yes, then find if the faq with given id is present in the db . If both of them satisfies, delete that faq from db.

[2021-12-10 14:29] naveen8801 commented on #668
@Kajol-Kumari , please provide a admin id for testing purpose :)

[2021-12-11 05:49] Kajol-Kumari commented on #668
@naveen8801 please use any of the below admin ids for testing -
[code]

[2021-12-11 12:13] kanthalaHarivardhanReddy commented on #672
hey @Kajol-Kumari ,
I would like to work on this issue please assign it to me

[2021-12-11 15:56] Kajol-Kumari commented on #672
@kanthalaHarivardhanReddy please go ahead with this issue..

Happy Learning :)

[2021-12-11 16:28] naveen8801 commented on #668
Hi @Kajol-Kumari , i have made a PR for this issue, please review :)

[2021-12-12 14:03] Kajol-Kumari commented on #566
@aritroCoder yes the changes looks good.

[2021-12-12 14:38] Kajol-Kumari opened #674 "[Backend] Join Us Form [Post]"
Deliverables-

- [ ] Make the api to store the Join Us Form data. Below are the requirements for the same-
- It should be a POST request
- It should be a public api i.e doesn't require any authentication
- Notify admins i.e As soon as we store the data in database, send email to the Admins

[2021-12-14 08:23] #670 closed

[2021-12-14 12:59] gauravkumar5089 commented on #654
I want to want work on this issue.
This issue is real .

[2021-12-15 05:22] naveen8801 commented on #674
Hi @Kajol-Kumari, i'd like to work on it, please assign :)

[2021-12-15 06:41] #668 closed

[2021-12-15 06:41] Kajol-Kumari commented on #674
sure @naveen8801 Please go ahead 👍

Happy Learning  :)

[2021-12-16 16:34] tejasvi541 commented on #671
Hey @Kajol-Kumari , can I work on this issue?

[2021-12-16 20:39] Shofiya2003 commented on #81
Hello,
I am SWOC 2021 contributor. Can I work on this issue?

[2021-12-16 20:51] Shofiya2003 commented on #476
Hello,
Is this issue still open? If yes, can I work on it?

[2021-12-18 16:32] SandeepShekhawat8778 commented on #666
Hey @Kajol-Kumari i'd like to work on it, please assign :)

[2021-12-19 15:01] Kajol-Kumari commented on #666
Sure @SandeepShekhawat8778 please go ahead..

[2021-12-19 19:03] RishiKumarRay commented on #543
Are you doing this ? or should I go for it ?

[2021-12-19 19:16] Jassi10000 commented on #543
buddy you can go on !!

[2021-12-23 17:30] AbhipsaGuru1012 commented on #476
No, the issue is still open.

[2021-12-23 17:30] AbhipsaGuru1012 commented on #476
Sure, go ahead

[2021-12-24 14:55] Kajol-Kumari opened #676 "[Backend] Contact Us Form [Post]"
Deliverables-

- [ ]  Make the api to store the Join Us Form data. Below are the requirements for the same-
It should be a POST request
It should be a public api i.e doesn't require any authentication
Notify admins i.e As soon as we store the data in database, send email to the Admins

Note - This is dependent on [issue-674](https://github.com/HITK-TECH-Community/Community-Website/issues/674)

[2021-12-24 14:55] Kajol-Kumari commented on #672
@kanthalaHarivardhanReddy Please provide the update for this issue?

[2021-12-24 14:56] #676 closed

[2021-12-24 15:31] kanthalaHarivardhanReddy commented on #672
I was busy @Kajol-Kumari I will work on it in this weekend and I will be making a pr before the weekend

[2021-12-25 06:26] kanthalaHarivardhanReddy commented on #672
hey @Kajol-Kumari ,
after successful submission of FAQ
do you want me to redirect it to the main Dashboard?

[2021-12-25 07:23] Kajol-Kumari commented on #672
@kanthalaHarivardhanReddy after we click on `add faq` card present in the admin dashboard , it should direct to the add faq page. And after successful submit of the add-faq form, it should just reset the form

[2021-12-25 07:32] kanthalaHarivardhanReddy commented on #672
It is already reseting @Kajol-Kumari mam, after a successful submission of the add faq form

[2021-12-25 14:03] Kajol-Kumari commented on #672
Seems like it's been fixed now. We no more need this issue. Thanks for looking into it. I will open new issues very soon.

[2021-12-25 14:03] #672 closed

[2021-12-25 14:09] Kajol-Kumari opened #677 "[Frontend+Backend] Make the Manage FAQ Page"
Deliverables-

- [ ] clicking on `Manage FAQ` card should take to a new page having the list of the faqs in card/expandible[similar to [here](https://hitk-tech-community.netlify.app/faqs) ]
- [ ] The list of FAQs should be fetched from [get-faq-api](https://hitk-tech-community.netlify.app/faqs)

Follow below steps to see the manage faq card-
1. Login as admin using the credentials provided in the

[2021-12-25 14:10] Kajol-Kumari opened #678 "[Frontend] Integrate GET FAQ with Backend"
Deliverables-

- [ ] The FQAs on https://hitk-tech-community.netlify.app/faqs page should come from backend using [get-faq](https://hitk-tech-community.netlify.app/faqs) API

[2021-12-25 14:15] Kajol-Kumari opened #679 "[Backend] Integrate Delete Faq with Backend"
Deliverables-

- [ ] Have an icon/button for each Faq present on the Manage FAQs Page and clicking the same should use the [DELETE API](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/faq/deleteFaq.js) to remove the data from backend.
- [ ] There should be a toast showing `Faq deleted successfully` after successful deletion and should show proper message if th

[2021-12-25 14:28] Kajol-Kumari opened #680 "[Backend] GET API for Join Us"
- [ ] Make the api to store the Join Us Form data. Below are the requirements for the same-

- It should be a GET request
- It should only be accessible to the admins only i.e requires the auth check

Note - This issue depend on [issue-674](https://github.com/HITK-TECH-Community/Community-Website/issues/674) issue

[2021-12-25 14:31] Kajol-Kumari opened #681 "[Backend] Join Us DELETE using Cron Job API"
Deliverable-

- [ ] we need a cron job for deleting the join us form data from db periodically after 60days

Note- Make the cron job reusable as we will need it for other apis

[2021-12-25 14:38] Kajol-Kumari opened #682 "[Frontend] Make the Manage Broadcast page of Admin Dashboard"
Deliverables-

- [ ] The `Manage Broadcast` card should take us to a new page containing the list of of broadcasts fetched from backend in the card form. [Ysimilar to https://hitk-tech-community.netlify.app/all-broadcasts page]
- [ ] Each card should have a delete icon which should call the [delete-brodcast-api](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/

[2021-12-25 14:41] Kajol-Kumari opened #683 "[Frontend] enhancement in All Broadcast Page"
Deliverables-

- [ ] Each card should have the month and year of the broadcast at the end of of each card
- [ ] The search should take place correctly based on the title of the broadcast [It's not working as expected rn]

All Broadcasts Page - https://hitk-tech-community.netlify.app/all-broadcasts

[2021-12-25 14:44] Kajol-Kumari opened #684 "[Frontend] Enhancement in All Broadcasts Page"
Deliverables-

- [ ] Integrate the feature of `filter by month` and `filter by year`
- [ ] Selected month and year should be visible to the user

All Broadcasts Page - https://hitk-tech-community.netlify.app/all-broadcasts

[2021-12-25 18:54] amanbedi1 commented on #680
I like to work on can you assign me this issue

[2021-12-26 07:27] Anurag-Singh-Rajput commented on #684
Hey @Kajol-Kumari , I would like to work on this

[2021-12-26 07:35] AbhipsaGuru1012 commented on #684
Sure, please go ahead @Anurag-Singh-Rajput

[2021-12-26 07:36] AbhipsaGuru1012 commented on #680
@amanbedi1 sure, please go ahead

[2021-12-27 09:53] Shofiya2003 commented on #476
I tried requesting to the route /admin but it gives authentication error. I cannot figure out how to proceed. Need help.
Also wanted to know why the issue was reopened as someone already had a pull request merged. Thanks a ton.

[2021-12-29 12:38] amanbedi1 commented on #680
If I am correct there is no model (schema) and API endpoints  for storing data of join us form in database so there is no point of making GET endpoint before implementing POST endpoint of Join Us data and connecting it to frontend. If possible I can implement POST functionality also revert back to it.

[2021-12-29 12:51] Kajol-Kumari commented on #680
Hey @amanbedi1 as mentioned in the issue description that this issue is dependent on #674 so I request you to please wait for it PR as it will be completed in 1-2 days and after that you can implement this one. Meanwhile you can look for other issues that are `up-for-grab`

[2021-12-29 18:02] amanbedi1 commented on #678
Could you assign it to me

[2021-12-29 18:57] Kajol-Kumari commented on #678
Sure @amanbedi1 please go ahead with this issue.

Happy Learning :)

[2021-12-30 15:05] SarveshLimaye commented on #683
@Kajol-Kumari would like to work on this issue

[2021-12-30 15:08] Kajol-Kumari commented on #683
@SarveshLimaye please go ahead with this issue.

Happy Learning :)

[2021-12-30 16:09] naveen8801 commented on #681
Hi @Kajol-Kumari , can i work on this one please

[2021-12-30 17:42] Kajol-Kumari commented on #681
@naveen8801 sure..please go ahead with this issue :)

[2021-12-31 10:09] Anurag-Singh-Rajput commented on #684
Hey @AbhipsaGuru1012, Please see the attached video

https://user-images.githubusercontent.com/72293742/147817300-4250f798-1640-48da-b0ab-dceac57ead5c.mp4

[2022-01-01 10:52] Kajol-Kumari commented on #684
@Anurag-Singh-Rajput please feel free to raise the PR so that we can test the functionality end-to-end

[2022-01-01 15:13] Anurag-Singh-Rajput commented on #684
Done

[2022-01-03 08:01] #674 closed

[2022-01-03 08:29] Kajol-Kumari commented on #680
@amanbedi1 now you can work on this issue as the POST api has been created for the same.

[2022-01-03 08:30] ShivaRapolu01 commented on #654
@niteshseram  Can I work on this issue?

[2022-01-03 08:38] #684 closed

[2022-01-03 09:50] #678 closed

[2022-01-03 10:04] Kajol-Kumari commented on #671
@tejasvi541 can I please get an update on this issue?

[2022-01-03 10:09] tejasvi541 commented on #671
Hey @Kajol-Kumari , I have implemented the storing of contact us data, just testing with the send-grid right now for sending emails to admins.

[2022-01-03 10:21] Kajol-Kumari opened #690 "[Frontend] Integrate Join Us Form with backend"
Deliverable-

- [ ] On submit of the form, the join us api should be called[Make sure you handle errors properly]
- [ ] A success/error toast bar should be displayed accordingly withe message of `Form submitted successfully!` and `Something went wrong` respectively
- [ ] A card saying `Hello There! Your request is in process, we will get back to you soon!` should appear after successful submission

[2022-01-03 16:39] amanbedi1 commented on #680
Sure

[2022-01-03 19:38] aashimawadhwa commented on #690
I am willing to work on this issue please assign it to me ,

[2022-01-04 02:39] Kajol-Kumari commented on #690
@aashimawadhwa please go ahead with this issue.

Happy Learning :)

[2022-01-04 11:01] amanbedi1 commented on #680
@Kajol-Kumari since GET join us will only be used by admin so it's route would be  ```/admin/getJoinUs``` or some thing else

[2022-01-04 12:43] Kajol-Kumari commented on #680
@amanbedi1 you can keep the route as `/joinUs` only just change the type from `POST` to `GET` along with adding the check for admin. Please note that you will be provided the admin_id for checking the same.

[2022-01-04 13:14] amanbedi1 commented on #680
Thank you for clarifying @Kajol-Kumari.

[2022-01-04 13:17] Kajol-Kumari commented on #476
@Shofiya2003 you need auth token inorder to access the admin related APIs You can use below details for login in and get the token-
[code]

The issue has been repoened as the merged pr had been reverted as it was not well reviewed and the code was not as per our standards.

[2022-01-04 13:22] #92 closed

[2022-01-04 13:22] Kajol-Kumari opened #693 "[Backend] Route for updating admin profile"
### Work to be done:

- Add a route for updating admin profile.[PUT] `/admin`
- Validation Schema for the request body
- API Testing using Postman demonstrating all possible cases(valid, invalid) with test cases

#### Request Body Structure:

| Parameter | Description                                        |
| --------- | -------------------------------------------------- |
| firstName | string,op

[2022-01-04 14:47] Kajol-Kumari opened #694 "[Backend] Add API for Resource Sharing POST operation"
Deliverable -

- [ ] Create a route for storing resource sharing form data. [ https://hitk-tech-community.netlify.app/resources ]
- [ ] Post storage send an email to the existing admins about it. (Using our email service)
      - Public API
      - Requires API Testing.

- Refer #81 For API Testing resources.

Ref PR - #686

[2022-01-06 02:58] kanthalaHarivardhanReddy commented on #682
Please assign it to me,
I want to work upon this issue

[2022-01-06 04:42] Kajol-Kumari commented on #682
@kanthalaHarivardhanReddy please go ahead with this issue.
Just pre-requisite knowledge-
Login to admin dashboard using below credentials-
[code]
Then you would be able to see the `Manage Broadcasts` card on the Admin Dashboard . Please let me know incase you face any issue.

Happy Learning :)

[2022-01-06 04:59] Kajol-Kumari opened #696 "[Backend] GET API for Contact Us"
- [ ] Make the api to store the Join Us Form data. Below are the requirements for the same-

      -  It should be a GET request
      - It should only be accessible to the admins only i.e it requires the auth check

Note - This issue can be worked on once [Pr-695](https://github.com/HITK-TECH-Community/Community-Website/pull/695) pr gets merged

[2022-01-06 05:16] Kajol-Kumari opened #697 "[Backend] Contact Us DELETE using Cron Job API"
Deliverable-
- [ ] we need a cron job for deleting the contact us form data from db periodically after 60days
- [ ] Notify admins at the time of deletion via email

Note - This issue is depended on  [pr-#695 ] https://github.com/HITK-TECH-Community/Community-Website/pull/695
Ref Pr - https://github.com/HITK-TECH-Community/Community-Website/pull/692

[2022-01-06 07:04] tejasvi541 commented on #696
Hey @Kajol-Kumari , I would like to work on this issue.

[2022-01-06 07:31] Kajol-Kumari commented on #696
Please go ahead @tejasvi541

Happy Learning :)

[2022-01-06 07:32] #671 closed

[2022-01-06 07:37] Kajol-Kumari opened #698 "[Frontend] Integrate Contact Us Form with backend"
Deliverable-

- [ ] On submit of the form, the contact us api should be called[Make sure you handle errors properly]
- [ ] A success/error toast bar should be displayed accordingly withe message of `Form submitted successfully!` and `Something went wrong` respectively

Contact Us Post API - [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/contactUs/post.

[2022-01-07 06:45] kanthalaHarivardhanReddy commented on #698
assign me this issue, I can work upon this issue @Kajol-Kumari

[2022-01-07 06:57] kanthalaHarivardhanReddy commented on #682
Hey, @Kajol-Kumari
I could not able to login as an admin
When I enter the credentials it is showing invalid username and password. I have rechecked the ID and password. Can you help me?

[2022-01-07 07:25] Kajol-Kumari commented on #682
@kanthalaHarivardhanReddy please try below credentials once and let me know incase u face any issue-
[code]

[2022-01-07 07:27] Kajol-Kumari commented on #698
Hey @kanthalaHarivardhanReddy please try the new credential that I provided u at #682 ,  incase it doesn't work please let me know, I will assign this to you.

[2022-01-07 07:31] #683 closed

[2022-01-07 07:31] kanthalaHarivardhanReddy commented on #682
Yes @Kajol-Kumari mam, the credentials are valid

[2022-01-07 07:35] kanthalaHarivardhanReddy commented on #682
@Kajol-Kumari mam also update on
README.md file - Testing credentials

[2022-01-08 19:30] naveen8801 commented on #677
Hi @Kajol-Kumari, I want to take this one, can you please assign it to me :D

[2022-01-09 06:18] Kajol-Kumari commented on #677
Please go ahead with this issue @naveen8801

Happy Learning :)

[2022-01-09 06:40] #681 closed

[2022-01-09 07:19] Kajol-Kumari opened #699 "[Discussion] Implementation of Q&A Section in Website"
### Feature Request -

- [ ] To have a Q&A section where our students can ask questions and relevant people can reply to that.
- [ ] The question entered must be approved by admins in order to appear on the page
- [ ] The answers given must be approved by admins in order to appear on the page
- [ ] This section should be public on the website.
- [ ] admins should only have the option to upvote and

[2022-01-10 07:11] Kajol-Kumari opened #700 "[Frontend] Make Q&A Page"
Deliverables-

- [ ] Make `Q&A` option on header adjacent to the `FQA`
- [ ] `Q&A` option should take us to the `Q&A` page. It will be the spot for asking questions and answering to the same. So keep a button say `Ask Question` on the page.
- [ ] The button should display a pop-up containing the question submission form with following fields-
        -  Title [input box]
        -  Body [input box

[2022-01-10 14:54] SupriyaKumari08 commented on #700
Hey @Kajol-Kumari , I would like to work on this issue . Can you please assign it to me..so that I can give it a try?

[2022-01-10 15:05] Kajol-Kumari commented on #700
sure @SupriyaKumari08 Please go ahead with this issue.

Happy Learning :)

[2022-01-10 15:11] SupriyaKumari08 commented on #700
Great thanks , If I get stuck...I'll come back here :)

[2022-01-11 15:18] SupriyaKumari08 commented on #700
Hey @Kajol-Kumari , I have created a Q&A button on the navbar in my local server which shall lead to the Q&A page. However, I am a bit confused on how should I create the respective page i.e. Do I directly embed the code to frontend>src>pages>Qna
or create a separate react-app folder on my system and develop the page there and later copy the concerned files to the Qna folder(which I've made in the

[2022-01-11 16:03] Kajol-Kumari commented on #700
@SupriyaKumari08 You can keep the page's Code inside the `pages` folder i.e [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/frontend/src/pages) and then you can route that page with the nav-button in [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/app.js) file just like we have done for other pages.

[2022-01-15 06:41] sejalsingh417 commented on #699
please assign this to me!

[2022-01-15 07:58] Kajol-Kumari opened #701 "[Backend] POST API For Questions under Q&A"
Deliverables-

- [ ] Make the POST API for question addition containing below fields-
    - title[string]
    - description[string]
    - tags[array of strings]
    - isApproved [boolean default-value=`false`]
    - upvotes[number]

[2022-01-15 08:04] Kajol-Kumari commented on #682
@kanthalaHarivardhanReddy please provide an update for this issue.

[2022-01-15 08:12] kanthalaHarivardhanReddy commented on #682
Sorry to tell you @Kajol-Kumari I'm not able to do it as it was more complex than I thought.
please Apologize me and unassign me this issue.

[2022-01-17 15:18] arinmodi commented on #701
Can i work on this, issue ?

[2022-01-17 17:50] Kajol-Kumari commented on #701
Sure @salil-naik please go ahead with this issue.

[2022-01-19 05:59] arinmodi commented on #701
Do I need to add auth middleware in posting question ?

[2022-01-19 08:29] Kajol-Kumari commented on #701
No @arinmodi this api should be open.

[2022-01-19 16:42] arinmodi commented on #701
Hey @Kajol-Kumari, when running test using npm run test command, all the tests are failing, do i need to do some setup for testing ?

[2022-01-19 17:17] arinmodi commented on #701
Okay

[2022-01-20 05:58] Kajol-Kumari opened #704 "[Backend] Fix the failing UTs"
Deliverables-

- [ ] Currently the UTs are failing for this project. The requirement is to fix the same

[2022-01-20 10:10] arinmodi commented on #704
Can i work on this ?

Can i change the testing method from chai to jest ?

[2022-01-20 10:11] arinmodi commented on #701
Hey @Kajol-Kumari, i made a PR

[2022-01-21 13:03] Kajol-Kumari commented on #704
@arinmodi we have already written few tests using chai so don't want it to go in vain.

I would recommend to go with chai only.please let me know if you would be able to continue with this issue using chai

[2022-01-21 13:25] arinmodi commented on #704
No problem, i will write it using chai

[2022-01-22 16:10] arinmodi commented on #704
Hey @Kajol-Kumari,
![image](https://user-images.githubusercontent.com/61725413/150646454-5647db93-bfbb-479e-9bb4-3f2aacdbff56.png)

the inviteAdmin API giving above error, let me know how can i fix this ?

[2022-01-22 18:32] arinmodi commented on #704
@Kajol-Kumari,

I think invite admin API is completely broken, cause it keeps giving error as I dig into code of it

see,
![image](https://user-images.githubusercontent.com/61725413/150651091-738b3a3c-f67f-4c89-bbab-ae46c0b8047b.png)

So, should I remove it's test ? or what should i do ?

[2022-01-23 10:54] Kajol-Kumari commented on #704
Hello @arinmodi you can keep this test commented as I believe this feature wasn't complemented

[2022-01-23 10:59] Kajol-Kumari commented on #701
close via #703

[2022-01-23 10:59] #701 closed

[2022-01-23 11:06] Kajol-Kumari opened #705 "[Backend] POST API For Answers under Q&A"
Deliverables-
- [ ] Make the POST API for answer addition containing below fields-
        - question_id [id of the question]
        - isApproved [Boolean, default value = false]
        - created_by [String]
        - created_on [Date]
        - answer [ String]
        - upvotes[number, default=0]

[2022-01-23 11:09] Kajol-Kumari commented on #677
@naveen8801 can I please get an update on this?

[2022-01-23 11:10] Kajol-Kumari commented on #690
@aashimawadhwa can I please get an update on this issue?

[2022-01-23 11:20] Kajol-Kumari commented on #666
@SandeepShekhawat8778 can I please get an update on this issue?

[2022-01-23 12:24] naveen8801 commented on #677
Hi @Kajol-Kumari , unassigning myself , focusing somewhere else :)

[2022-01-24 05:26] arinmodi commented on #705
can I work on this issue ?

[2022-01-24 08:12] Kajol-Kumari commented on #705
Sure @arinmodi please go ahead with this issue.

[2022-01-26 10:27] #704 closed

[2022-01-28 17:44] arinmodi commented on #705
Hey @Kajol-Kumari, do i need to add auth middleware in post answer API ?

[2022-01-28 18:55] Kajol-Kumari commented on #705
No @arinmodi we don't authentication here as it should be open for all.

[2022-01-31 19:47] raxvab commented on #654
@niteshseram  can I get the assignment of working with this issue under JWOC.

[2022-02-01 12:30] arinmodi commented on #705
Hey @Kajol-Kumari, made a new PR.

[2022-02-02 13:25] Mobasherah12 commented on #699
@Kajol-Kumari Shall we add a JWOC label as well?

[2022-02-05 11:42] ikavyajain commented on #693
Can you assign this to me? I would like to work on it!
I know what to do. I need to create a new file on this directory (`https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/admin`) and link it to the main routes.
@Kajol-Kumari

[2022-02-05 11:44] ikavyajain commented on #566
What's the status of this? If there is no PR, Can I work on this?
@Kajol-Kumari

[2022-02-05 11:52] ikavyajain commented on #700
Is it stale? Can I make PR for this?
@Kajol-Kumari

[2022-02-05 11:55] ikavyajain commented on #699
I think I can work on this issue. Can you assign it to me?
@Kajol-Kumari

[2022-02-05 13:21] SupriyaKumari08 commented on #700
Hey @ikavyajain ,I am currently working on this issue.You are most welcome to help me if you want.Anyway I am a bit stuck in regards to function-linking and won't mind a helping hand😃

[2022-02-06 13:33] Kajol-Kumari commented on #693
@ikavyajain please go ahead with this issue

[2022-02-06 17:11] Kajol-Kumari opened #709 "[Backend] GET API for answers"
Deliverables-
- GET API to get all the answers related to a particular questions sorted by the number of `upvotes`
- `question_id` will be extracted from the request body and all the answers should be fetched based on the same.
- It should be an open API(no auth middleware required)

[2022-02-06 17:12] #705 closed

[2022-02-06 17:16] Kajol-Kumari opened #710 "[Backend] Add Test for all the exiting APIs"
Deliverables-
- Pick one API folder from backend and write all the tests related to the same.

Note - This is a multiple assignee issue

[2022-02-07 11:17] Aniket-508 commented on #697
@Kajol-Kumari I want to work on this under JWoC.

[2022-02-07 11:37] Kajol-Kumari commented on #697
@Aniket-508 please go ahead with the issue.

[2022-02-07 17:53] arinmodi commented on #709
Can i work on this ?

[2022-02-07 18:08] Devmindtk commented on #694
I would like to work on this issue. Please assigned it to me and please explain once the issue.
Thank you.

[2022-02-08 10:26] Kajol-Kumari commented on #709
@arinmodi please go ahead with this issue.

[2022-02-08 10:34] Kajol-Kumari commented on #694
Hi @Devmindtk we want to make an api which will store all the data of [this](https://hitk-tech-community.netlify.app/resources) form in the db using the `POST` operation.  Please let me know if you have any sepcific question about the same.

[2022-02-11 13:14] ronitblenz commented on #700
@SupriyaKumari08 I can collab with you, @Kajol-Kumari If you allow me as an assignee?

[2022-02-13 07:11] #709 closed

[2022-02-13 08:20] ronitblenz commented on #700
Plz mention the jwoc tag and the difficulty... Then, I would start working on the issue

[2022-02-13 10:43] Aniket-508 commented on #698
@Kajol-Kumari I want to work on this issue under JWoC.

[2022-02-13 15:21] #697 closed

[2022-02-13 23:20] ronitblenz commented on #700
Sorry, this is a React project, I cant work with React. I am unassigning myself
I apologise for the inconvenience caused

[2022-02-14 06:15] Aniket-508 commented on #682
@Kajol-Kumari I want to work on this issue under JWoC.

[2022-02-22 00:59] 03amir commented on #694
I want to work on this issue under JWOC

[2022-02-22 09:59] arinmodi commented on #696
Can i work on this ?

[2022-02-22 11:20] arinmodi commented on #696
Hey @Kajol-Kumari, I am getting the "jwt malformed" error while adding auth middleware,

i used the Authrization header with Bearer keyword

[2022-02-22 11:45] Kajol-Kumari commented on #696
@arinmodi
1. @tejasvi541 is already working on this and he will continue to work once his exam gets over
2. This is an open api so you don’t need any authentication token for the same

[2022-02-24 17:43] PriyankjeetPradhan commented on #477
Can you assign this issue to me? ................I found this project **interesting** to work on.

[2022-02-24 17:49] PriyankjeetPradhan commented on #495
can you assign this me ...... I would like work with API's

[2022-02-25 03:50] rockingrohit9639 commented on #660
@Kajol-Kumari I would like to work on this issue.

[2022-02-25 04:31] Kajol-Kumari commented on #660
@rockingrohit9639 please go ahead with this issue.
Happy Learning :)

[2022-02-25 07:04] arinmodi commented on #680
can I work on this, if anyone is not working on it ?

[2022-02-26 13:48] SciSaif commented on #477
Hi, is this issue still open? If so i would like to work on it!

[2022-02-26 14:25] Gurdeep475 commented on #477
I would like to work on this issue under GSSOC`22.

[2022-02-26 14:26] Gurdeep475 commented on #696
I would like to work on this issue under GSSOC`22.

[2022-02-26 14:27] Gurdeep475 commented on #710
I would like to work on this issue under GSSOC`22.

[2022-02-26 14:30] Gurdeep475 commented on #476
I would like to work on this issue under GSSOC`22. Please assign it to me.

[2022-02-26 14:41] PriyankjeetPradhan commented on #477
Hi , I'm a GSSOC'22 participant. Can you please assign this issue to me and I'll be happy to work with it.

[2022-02-27 04:06] hazemessam commented on #680
I want to work on it under GSSoC'22

[2022-02-27 04:24] hazemessam commented on #679
I want to work on this issue.

[2022-02-27 10:55] Kajol-Kumari commented on #680
@hazemessam please go ahead with this issue.
Happy Learning :)

[2022-02-27 11:00] #698 closed

[2022-02-27 11:03] Kajol-Kumari commented on #477
@SciSaif please go ahead with this issue. @PriyankjeetPradhan please look for other issues as we can assign on the basis of FCFS(First Come, First Serve)

[2022-02-27 12:21] PriyankjeetPradhan commented on #495
Can you assign this issue to me? (GSSOC'22 participant)

[2022-02-27 14:55] Gurdeep475 commented on #693
I would like to contribute to this issue under GSSOC`22.

[2022-02-27 15:01] Gurdeep475 commented on #476
@Kajol-Kumari thanks for assigning it to me. I will make PR after 1st march so that it will get considered in GSSOC`22.

[2022-02-27 15:24] ikavyajain commented on #693
Hey I’m still working on this issue

[2022-02-27 18:50] Gurdeep475 commented on #476
I am getting this error when I try to send adminType as self in query parameters
![image](https://user-images.githubusercontent.com/32095032/155895594-ea5f0cab-c7c6-4db2-965d-48bc5fac7e4e.png)

[2022-02-27 19:38] Shruti025 opened #715 "Home Page Responsiveness"
**Describe the bug**
The home page is reducing its width for smaller screens and isn't responsive.

**Screenshots**
![image](https://media.discordapp.net/attachments/936699202841497630/947372063214170133/unknown.png?width=414&height=586)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete t

[2022-02-27 19:38] Shruti025 commented on #715
I want to work on this issue under JWOC

[2022-02-27 19:47] Gurdeep475 commented on #476
I am unable to proceed as I am not able to send query params in the request URL. Please guide me.

[2022-02-27 20:50] hazemessam commented on #680
Thanks, I will start working on it from 1 Mar.

[2022-02-27 21:17] Mobasherah12 opened #716 "[Frontend] Update footer"
**What is the current footer state?**
Presently, the footer of the Community Website looks this way (shown below):

![c42](https://user-images.githubusercontent.com/52857890/155897919-3a2c029a-da31-424b-bb7a-80f688ad0207.PNG)
Pic1

**Proposed Statement**
As we have extended our reach in more social platforms, we are planning to bring some minor changes in the footer. Please refer to the image belo