[2022-02-27 21:21] Mobasherah12 commented on #715
@Shruti025 please go ahead.

[2022-02-28 03:51] AnweshaRoses commented on #716
Hello can you please assign this issue to me.
Thank you!

[2022-02-28 03:52] AnweshaRoses commented on #699
Hello If the issue is still not fixed I would love to work on it

[2022-02-28 04:10] ikavyajain commented on #699
I’ll also like to work on it!

[2022-02-28 04:53] tanktejas commented on #716
I have sent a pull request on this issue please see it.

[2022-02-28 09:58] Bikramjit21 opened #718 "Updation of Motive and Join Us documentation"
**Documentation**
The lines in the motive section are not well structured and the join us lines should be edited.

**Have you spent some time to check if this issue has been raised before?**
No it is new.

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
Yes

[2022-02-28 11:19] Muskan626bidani opened #720 "About Us page Responsiveness"
**Describe the bug**
The About us page is reducing its width for smaller screens and isn't responsive. Content is overflowing and adding a horizontal scroll bar

**Screenshots**
![about page resposiveness](https://user-images.githubusercontent.com/80620237/155974582-08e62b3f-077c-4f81-90bc-4a2bc815bf15.jpg)
**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g.

[2022-02-28 11:21] Muskan626bidani commented on #720
I want to work on this issue under JWOC

[2022-02-28 13:51] Kushal-2002 commented on #679
I am a GSSOC'22 participant, please assign me to this issue.

[2022-02-28 13:55] Kushal-2002 commented on #716
I am a GSSOC'22 participant, please assign this issue to me.

[2022-02-28 14:04] Kushal-2002 commented on #654
I want to work on this under GSSOC'22.

[2022-02-28 18:10] sulogna2001 commented on #716
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:10] sagnik2001 commented on #720
Can I work on this issue??

[2022-02-28 18:11] sagnik2001 commented on #654
Can I work on this under GSSoC 22

[2022-02-28 18:11] sulogna2001 commented on #690
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:11] sulogna2001 commented on #566
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:11] sagnik2001 commented on #690
Can I work on this under GSSoC 22

[2022-02-28 18:22] ritikakhandelwal-17 commented on #716
I want to work on this issue, Can you please assign it to me under GSSOC22.

[2022-02-28 18:25] ritikakhandelwal-17 commented on #679
I want to work on this issue, Can you please assign it to me under GSSOC22.

[2022-02-28 18:32] ritikakhandelwal-17 commented on #677
I would like to work on the issue under GSSOC22.

[2022-02-28 20:28] haider000 commented on #720
Hey, I am interested to work on this issue under GSSoc 2022, can you assign me this issue?

[2022-02-28 20:31] haider000 commented on #690
Hey, I am interested to work on this issue under GSSoc 2022, can you assign me this issue?

[2022-02-28 20:58] ShivanshCharak commented on #534
hey Is anyone working on this issue if not can please assign me this issue

[2022-02-28 22:21] Janvi-Thakkar opened #721 "HITK-TECH-Community image on Homepage is getting cut for scrren-size<768px"
**Describe the bug**
HITK-TECH_community image on Homepage is getting cut for scrren-size<768px. The element is not responsive for tablet and Mobile View

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Homepage
2. Set Screen-size< 768px
3. See error

**Expected behavior**
The image should look responsive

**Screenshots**
![image](https://user-images.githubusercontent.com/55620053/15606

[2022-02-28 22:23] Janvi-Thakkar commented on #721
Can I work on this issue?

[2022-03-01 05:06] MaitriDA commented on #693
Can you assign me this issue under GSSOC'2

[2022-03-01 07:51] yogitasaini commented on #710
Please assign this issue to me

[2022-03-01 07:52] yogitasaini commented on #680
Please assign this issue to me

[2022-03-01 08:04] Gurdeep475 commented on #476
Please guide me, I am not able to send query params, getting pattern not match error.

[2022-03-01 09:13] hazemessam commented on #680
I will work on it today

[2022-03-01 12:02] Muskan626bidani commented on #721
Can I work on this issue under Gssoc'2022

[2022-03-01 12:38] hazemessam commented on #680
@Kajol-Kumari
I have 3 questions

1. Do you want to get all join us records or get a specific record by its id or both?
2. In case you want to get a specific record which format do you prefer?
    1. `GET /joinus/id`
    2. `GET /joinus?id={id}`
3. How to know that the given token belongs to an admin, not just a logged in user?

[2022-03-01 13:04] debjitpurohit commented on #716
i want to work assign to me

[2022-03-01 13:14] ikavyajain commented on #693
Since we have another day for SWOC, I would like to work on it under SWOC! @Kajol-Kumari

[2022-03-01 13:16] Gurdeep475 commented on #693
@ikavyajain I am working on this issue.

[2022-03-01 13:50] Rajdip019 commented on #721
Hey @Kajol-Kumari can I work on this?

[2022-03-01 13:51] Rajdip019 commented on #720
Can I work o this issue under GSSoC'22? @Kajol-Kumari

[2022-03-01 15:33] sahooankeeta commented on #716
Hello,@Mobasherah12.I am a GSSOC22 participant. I want to work on this issue, please assign this to me.

[2022-03-01 15:41] sahooankeeta commented on #716
@Mobasherah12 Hello, I am a GSSOC22 participant. Please assign me this issue.

[2022-03-01 19:27] notsoocool commented on #720
Hey, Can I work on this issues because I know the exact thing to change in your code.

[2022-03-02 06:46] sulogna2001 commented on #721
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 13:27] Kajol-Kumari commented on #710
@Gurdeep475 @yogitasaini please let me know for which folder you would like to write the tests for-
1. [Contact-Us](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/contactUs)
2. [Join-Us](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/joinUs)
3. [FAQ](https://github.com/HITK-TECH-Community/Community-Website/tree/main/back

[2022-03-02 13:33] Kajol-Kumari opened #722 "[Backend] Add the API for adding the Team member details in db"
Deliverables-
Add a post api to add the team member data in the db with below specifications-
1. It should be token protected [ only admins should be able to make this post request]
2. It should contain following data -
{
    "full_name": string,
    "image": binary,
    "description": string,
    "linkedin_url": uri,
    "github_url": uri,
    "twitter_url": uri,
    "teams" : string[]
}

[2022-03-02 14:00] Kajol-Kumari opened #723 "[Backend] Add GET API For Add Team"
Deliverables-

- [ ] GET Team member detail api with following specification
    - It should be open api
    - It should give all the member details in json form

Can only be worked after [this](https://github.com/HITK-TECH-Community/Community-Website/issues/722) issue

[2022-03-02 14:03] Kajol-Kumari opened #724 "[Frontend] Integrated the Get Team API With Frontend"
Deliverables-

- [ ] The founder &Co-founder details should be hardcoded
- [ ] Rest all the cards should be populated a/c the data fetched from backend

Get Board Members API - https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/teamMember/getTeamMembers.js

[2022-03-02 14:06] Kajol-Kumari opened #725 "[Frontend] Integrate Add Team Member API with Frontend"
Deliverables-

- [ ] Integrate the add team member form of admin panel with the backend api

https://hitk-tech-community.netlify.app/dashboard -> About US --> Ad Team Memeber

This issue is can be worked after the completion of https://github.com/HITK-TECH-Community/Community-Website/issues/722 this issue

[2022-03-02 15:37] Aman16-ai commented on #723
can i work on it under gssoc22

[2022-03-02 15:42] Aman16-ai commented on #722
can i work on it under gssoc22

[2022-03-02 15:43] Aman16-ai commented on #725
can i work it on under gssoc22

[2022-03-02 16:10] neharaut00 commented on #716
I want to work on this issue, Can you please assign it to me under GSSOC22.

[2022-03-02 16:55] Ayushmina-20 commented on #724
Please assign this issue to me as I am interested.

[2022-03-02 20:07] purnimakatiyar commented on #716
I want to work on this issue, Can you please assign it to me under GSSOC22

[2022-03-03 05:28] lokita282 commented on #722
I would like to work on this issue under GSSOC '22

[2022-03-03 05:29] lokita282 commented on #723
I would like to work on this issue under GSSOC '22

[2022-03-03 05:30] lokita282 commented on #696
I would like to work on this issue under GSSOC '22

[2022-03-03 05:30] lokita282 commented on #679
I would like to work on this issue under GSSOC '22

[2022-03-03 07:26] jaydeepdey03 commented on #724
Can I work on it under GSSOC'22

[2022-03-03 10:00] its-ayush-07 commented on #724
Hey! I'm interested to work on this issue.

[2022-03-03 10:01] its-ayush-07 commented on #725
Hey! I'm interested to work on this issue.

[2022-03-03 13:26] Kajol-Kumari commented on #679
Hello @hazemessam please go ahead with this issue.

[2022-03-03 14:24] PM-00-STAR opened #727 "Adding hover effect on the logo in the home page"
I am a GSSoC22 contributor , would like to add hovering effect on the frontend

Request you to allow me contribute
![WhatsApp Image 2022-03-03 at 19 52 58](https://user-images.githubusercontent.com/81418245/156583696-a87da652-6b2e-403e-b610-e56e38129ad0.jpg)

[2022-03-03 14:39] DarkFalc0n commented on #725
I want to work on this issue under JWOC

[2022-03-03 16:48] Gurdeep475 commented on #476
@Kajol-Kumari @jackfrost13 can you help me in this regard, the validation is not allowing me to pass query parameters.

[2022-03-04 04:55] thedreader commented on #723
I would like to work on this issue here.

[2022-03-04 04:56] thedreader commented on #724
I would like to work on this issue here. So, please assign it to me.

[2022-03-04 04:57] Kajol-Kumari commented on #680
Hi @hazemessam
1. Only admin is allowed to login to the website so if you receive a token, you can just decode it and verify it using a db call that whether it's an admin or not
2. As of now, we just need  the api to get all the join us record at once.

[2022-03-04 04:59] thedreader commented on #710
I would like to work on this issue here and would like to work on the admin folder.

[2022-03-04 05:30] prafullapal commented on #723
I am a Gssoc contributor. I would like to work on this issue.

[2022-03-04 05:32] prafullapal commented on #722
I Gssoc contributor. I would like to work on this issue.

[2022-03-04 06:15] himanshusanecha commented on #699
Some insights on how it can be implemented from the perspective of backend -
Question model in mongoose -
[code]
Answer model in mongoose -
{
answer: "answer of the question",
questionID: id of the question to which we have answered,
upvotes: 10,
downvotes: 5,
status: 0 or 1 - 0 means answer approval pending, 1 means answer approved by admin.
}

With respect to the above schema various methods can

[2022-03-04 06:20] Ayushmina-20 commented on #725
Hey! I'm interested to work on this issue.

[2022-03-04 07:45] Saptarshisamata commented on #723
I would like to work on this issue under GSSOC'22

[2022-03-04 09:02] himanshusanecha commented on #517
I am interested to work upon this.

[2022-03-04 09:27] Kajol-Kumari commented on #723
@lokita282 please go ahead with this issue.

[2022-03-04 09:28] Kajol-Kumari commented on #727
Hey @PM-00-STAR thanks for opening the issue but we are not planning to implements this, hence closing it.

[2022-03-04 09:28] #727 closed

[2022-03-04 09:29] Kajol-Kumari commented on #700
please go ahead @ikavyajain

[2022-03-04 09:31] Kajol-Kumari commented on #725
Hi @its-ayush-07 please go ahead with this issue. Just note that this issue needs https://github.com/HITK-TECH-Community/Community-Website/pull/726 this pr to be merged first.

Happy Learning :)

[2022-03-04 09:39] Kajol-Kumari opened #728 "[Backend] Add GET api for fetching the questions of Q&A"
Deliverabels-

- [ ] We need 2 GET api for fetching the question
    - Get all the questions
    - Get a particular question using `id` where id will be provided in the json body

Ref- https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/Q%26A/question

[2022-03-04 09:40] Aman16-ai commented on #728
Please assign this task to me

[2022-03-04 09:44] Kajol-Kumari opened #729 "[Backend] PATCH/PUT API for updating the upvotes of Question & Answers stored in Db"
Deliverables-

- [ ] Create an API for updating (both increase&decrease) the upvote of question [the api will resider under [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/Q%26A/question)]
- [ ] Create an API for updating (both increase&decrease) the upvote of answers [The api will reside under [here](https://github.com/HITK-TECH-Community/Community-Web

[2022-03-04 09:47] Kajol-Kumari opened #730 "[Backend] PATCH/PUT API for updating the isApproved field of Question & Answers stored in Db"
Deliverables-Deliverables-

- [ ] Create an API for updating the isApproved field of questions data [the api will resider under [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/Q%26A/question)]
- [ ] Create an API for updating the isApproved field of answers data [The api will reside under [here](https://github.com/HITK-TECH-Community/Community-Website/t

[2022-03-04 09:49] Aman16-ai commented on #724
can i work on this issue.

[2022-03-04 09:52] himanshusanecha commented on #729
I am interested to work on this issue.

[2022-03-04 09:54] Kajol-Kumari commented on #729
please go ahead @himanshusanecha
Happy Learning :)

[2022-03-04 09:55] himanshusanecha commented on #729
Thanks

[2022-03-04 09:55] #722 closed

[2022-03-04 09:58] prafullapal commented on #730
I would like to work on this issue

[2022-03-04 09:59] Kajol-Kumari commented on #730
please go ahead @prafullapal

Happy Learning  :)

[2022-03-04 10:02] Kajol-Kumari commented on #724
Hey @Ayushmina-20 As this issue is dependent on https://github.com/HITK-TECH-Community/Community-Website/issues/723 so please collaborate with @its-ayush-07 and work on this one or else you can wait till he comes up with a pr

Happy Learning :)

[2022-03-04 13:49] yogitasaini commented on #710
I would like to work on contact us folder

[2022-03-04 15:17] Ayushmina-20 commented on #724
@its-ayush-07 if anything required from my end I would be happy to contribute

[2022-03-04 16:46] #728 closed

[2022-03-04 16:47] PriyankjeetPradhan commented on #86
can you please assign this issue to me? GSSOC'22 participant)

[2022-03-04 18:13] AdnanMuzavor commented on #722
I would like to work on this issue ma'am. Please!!

[2022-03-04 18:24] mayank-del commented on #700
@Kajol-Kumari  didi , i also want to work on this issue, can you assign me??

[2022-03-04 18:25] mayank-del commented on #721
Can i work on this??

[2022-03-04 19:31] mayank-del commented on #721
Didi , i made it full responsive, pushing the code

[2022-03-05 06:26] Kajol-Kumari commented on #724
@Ayushmina-20 for the details of founder and co-founder please dm me on discord. [ As this value needs to be hardcoded ] And once #723 gets implemented, you can proceed on this issue

[2022-03-05 06:34] #694 closed

[2022-03-05 06:34] Kajol-Kumari opened #736 "[Backend] POST Api for resource storage"
-Deliverable -

- [ ] Create a route for storing resource sharing form data. [ https://hitk-tech-community.netlify.app/resources ]
- [ ] Post storage send an email to the existing admins about it. (Using our existing email service)
      - Public API
      - Requires API Testing.
Data -
{
"name": string, (required)
"email": string, (required)
"url": uri, (required)
"description": string,
"trust_le

[2022-03-05 06:37] Kajol-Kumari opened #737 "[Backend] GET API For Resource Data"
Deliverables-

- [ ] Add a GET API for getting all the resource data with following specifications
    - It should be protected by authmiddleware i.e only admin should access it

- [ ] Add the required tests

Please note - This issue is dependent on https://github.com/HITK-TECH-Community/Community-Website/issues/736

[2022-03-05 06:42] Kajol-Kumari opened #738 "[Backend] Delete API for resource Data"
Deliverables-

- [ ] A delete API which will be a cron job[ please use the existing reusable functions] It should delete the resource data of 2 months ago.
- [ ] A delete API which will get the `id` in request body and delete a particular resource data.
- [ ] Both APIs should be well tested

Ref PR for the cron job api - https://github.com/HITK-TECH-Community/Community-Website/pull/692

[2022-03-05 06:49] Kajol-Kumari commented on #721
Hello @Janvi-Thakkar  Thanks for pointing it. But please increase the scope of this issue to all the pages of the website, not just the home page and please let me know if you would like to work on it.

[2022-03-05 06:56] AdnanMuzavor commented on #736
Ma'am Please assign this issue to me under GSSOC'22.

[2022-03-05 06:57] AdnanMuzavor commented on #737
Ma'am Please assign this issue to me.

[2022-03-05 06:58] Kajol-Kumari commented on #736
Please go ahead @AdnanMuzavor

Happy Learning :)

[2022-03-05 07:00] Aman16-ai commented on #737
Can I work on it?

[2022-03-05 07:01] Aman16-ai commented on #738
Can I work on this issue ??

[2022-03-05 07:08] Kajol-Kumari commented on #738
Please go ahead @Aman16-ai

Happy Learning :)

[2022-03-05 07:19] Kajol-Kumari opened #739 "[Frontend] Enhancement In Add Broadcast Page"
Deliverable-
1. The UI of the add broadcast page needs to be improved
2. The add broadcast form should contain the following fields -
[code]
The tag input field should be similar to the one given below
![WhatsApp Image 2021-05-06 at 8 13 21 PM (1)](https://user-images.githubusercontent.com/44888949/117320041-7de81580-aea9-11eb-9ea6-5b6b8a57ee8a.jpeg)

Ref PR - https://github.com/HITK-TECH-Communit

[2022-03-05 07:19] #640 closed

[2022-03-05 07:27] Kajol-Kumari opened #740 "[Frontend] Integrate GET Contact Us Data"
Deliverables -

- [ ] Go to admin dashboard(by logging in using admin credential, which can be found in project readme) => Click on `Contact Us` tab. It should call the GET Contact US API and should show the list of data in the form of card.[one data in one card]
- [ ] Each card should have a delete button/icon [based on whichever ui looks better ]

Similar to - https://github.com/HITK-TECH-Commun

[2022-03-05 07:28] Kajol-Kumari commented on #696
@tejasvi541 can i please get an update on this issue?

[2022-03-05 07:32] Kajol-Kumari commented on #677
@ritikakhandelwal-17 please go ahead with this issue and let me know if you need any clarifications.

Happy Learning :)

[2022-03-05 08:27] #680 closed

[2022-03-05 08:28] Kajol-Kumari commented on #690
@sulogna2001 please go ahead with this issue.

Happy Learning :)

[2022-03-05 08:31] Lalit3716 commented on #739
Hi! Can I work on this ?

[2022-03-05 08:32] Kajol-Kumari opened #741 "[Frontend] Integrate GET Join Us API"
Deliverables -

- [ ] Go to admin dashboard(by logging in using admin credential, which can be found in project readme) => Click on `Join Us` tab. It should call the GET Join Us API and should show the list of data in the form of card. [one data in one card]
- [ ] Each card should have a delete button/icon [based on whichever ui looks better ]

The api can be found at https://github.com/HITK-TECH-

[2022-03-05 08:34] Kajol-Kumari commented on #739
sure @Lalit3716, Please go ahead with this issue.

Happy Learning :)

[2022-03-05 10:56] Aman16-ai commented on #738
Can you please tell me something about resource data??

[2022-03-05 12:03] Lalit3716 commented on #741
I would like to work on it but do we have any existing design for cards ?

[2022-03-05 12:25] Kajol-Kumari commented on #738
Hey @Aman16-ai this issue is dependent on https://github.com/HITK-TECH-Community/Community-Website/issues/736 so please collab with @AdnanMuzavor Also you can find the schema of the data in the referred issue

[2022-03-05 12:29] codepley commented on #740
I would like to work on this issue. How can I be assigned for this?

[2022-03-05 13:03] Kajol-Kumari opened #746 "[Enhancement] Remove all the Eslint Errors from backend files"
Deliverables-

- [ ] During commit, we are seeing many eslint issues(as shown in the ss below,) This issue intends to solve them all.

[2022-03-05 13:27] Kajol-Kumari commented on #741
@Lalit3716 You should be able to use https://github.com/HITK-TECH-Community/Community-Website/tree/main/frontend/src/pages/Broadcast/Component/AllBroadcasts/Card this component for the same.

[2022-03-05 13:56] Lalit3716 commented on #741
Oh Okay! You can assign this to me then!

[2022-03-05 14:39] AdnanMuzavor commented on #746
![Screenshot (696)](https://user-images.githubusercontent.com/78341720/156888008-06324549-e0af-413c-bee4-98dfe83c2e30.png)

[2022-03-05 14:41] salma77 commented on #736
@Kajol-Kumari Please assign me to this issue under GSSOC'22

[2022-03-05 14:48] AyushSingh22 opened #748 "Footer Enhancement"
Refactoring the `Footer` to look much better and easy-to-use (https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).
****
**Additional context**

- [ ] Replace the Newsletter form with Website official Mail Id.
- [ ] Add Website's official Youtube channel in the social networks section .
- [ ] Rearrange the location/address to vertically well organised.
- [ ] All

[2022-03-05 14:49] AdnanMuzavor commented on #746
![Screenshot (697)_LI](https://user-images.githubusercontent.com/78341720/156888439-148e7258-4f47-4d92-89b0-d555d1df0db0.jpg)

[2022-03-05 14:51] AdnanMuzavor commented on #737
Ma'am please assign this issue to me under GSSOC'22.

[2022-03-05 15:07] hazemessam commented on #679
@Kajol-Kumari
Sorry I was thinking that it is a backend task.
Please, unassign me and assign it to a frontend dev

[2022-03-05 15:11] hazemessam commented on #746
@Kajol-Kumari
Please, assign it to me

[2022-03-05 15:57] Shubham29012001 commented on #748
Hey @AyushSingh22, can I work with this issue for GSSoC '22?

[2022-03-05 17:16] artimanputra commented on #740
I would like to work on this issue, can I work on it?

[2022-03-05 17:25] Kajol-Kumari commented on #737
Please go ahead @AdnanMuzavor

Happy Learning :)

[2022-03-05 17:26] Kajol-Kumari commented on #679
@Kushal-2002 are you willing to working this issue?

[2022-03-05 17:27] Kajol-Kumari commented on #746
Please go ahead @hazemessam

Happy Learning :)

[2022-03-05 17:30] Kajol-Kumari commented on #740
Sure @artimanputra  Please go ahead with this issue.

Just make sure that this issue is dependent on #696 so you might need to collab with the other person working on the same

[2022-03-06 03:37] Kushal-2002 commented on #679
@Kajol-Kumari yes definitely please assign me.

[2022-03-06 05:22] amrita1295 commented on #748
Hello, please can you assign me this task.

[2022-03-06 05:41] Raj3045 commented on #738
hello , I would like to work on this issue, can I work on this?

[2022-03-06 05:43] Raj3045 commented on #736
Hey, I would like to work on this issue ,can you assign it to me?

[2022-03-06 08:57] Kajol-Kumari commented on #736
Hey @Raj3045 it's already assigned. Please look for other opened issues

[2022-03-06 09:03] Kajol-Kumari commented on #748
Hey @Shubham29012001 please go ahead with this issue.

Happy Learning :)

[2022-03-06 16:44] mayank-del commented on #721
Yes ofcourse

On Sat, 5 Mar 2022, 12:19 kajol, ***@***.***> wrote:

[2022-03-06 16:45] mayank-del commented on #721
Just tell me the pages, i will solve each and every responsive issue

On Sun, 6 Mar 2022, 22:14 Mayank kumar, ***@***.***> wrote:

[2022-03-06 16:48] Janvi-Thakkar commented on #721
Thank You Kajol. I will surely look at all pages and will list those things here

[2022-03-06 17:31] AdnanMuzavor opened #753 "broadcast API is called infinite times"
1. Fix the infinite broadcast api call
2. The `All Broadcast` page isn't fetching the list of broadcasts correctly. It always shows 5 cards no matter how many data is present in the DB
3. Add the placeholder of resource expiry date in the resource sharing date field

[2022-03-06 17:36] mayank-del commented on #721
@Kajol-Kumari , I didn't understand that @Janvi-Thakkar  pointed the issue and pulled one request also, can we both contribute in this? will there be any issue?

[2022-03-06 18:23] Janvi-Thakkar commented on #721
@mayank-del I haven't sent any pull requests yet

[2022-03-07 04:01] Gurdeep475 commented on #476
@Kajol-Kumari @jackfrost13 can you help me regarding this?

[2022-03-07 15:46] Kajol-Kumari opened #754 "[Backend] Add Test for Q&A"
Deliverables-

- [ ] Make the post apis of answer & question return the `id` of the new added question/answer
- [ ] Write all the required tests for Q&A

[2022-03-07 15:48] himanshusanecha commented on #754
I am interested to work upon this.

[2022-03-07 15:48] #729 closed

[2022-03-07 18:32] KushalGhosh9899 commented on #716
I want to work on this issue under JWOC

[2022-03-07 22:52] hazemessam commented on #746
@Kajol-Kumari  Sorry I'm very busy. I will start working on it by tomorrow or on Thursday.

[2022-03-08 13:32] Kajol-Kumari commented on #476
@Gurdeep475 `type` accepts only `admin/superadmin` as the value that's why your request is failing. Please try with `type = admin`

[2022-03-08 19:53] jaydeepdey03 commented on #720
/assign

[2022-03-09 05:31] #737 closed

[2022-03-09 11:54] #682 closed

[2022-03-09 14:34] Arijit018 commented on #716
@Mobasherah12  Hello, I am a GSSOC22 participant. Can you Please assign me this issue?

[2022-03-09 14:38] AdnanMuzavor commented on #753
Ma'am, I would like to work on this bug under GSSoC'22.

[2022-03-09 15:52] mayank-del commented on #721
Ok, i will do it.

[2022-03-10 05:20] meet503186 commented on #740
I would like to work on this issue. Can I work on it?

[2022-03-10 05:21] meet503186 commented on #725
Can i work on this issue?

[2022-03-10 05:30] meet503186 opened #758 "Frontend - Home page responsiveness"
Home page is not fully responsive. I want to work on it and make it responsive.

[2022-03-10 05:59] Kajol-Kumari commented on #758
Hey @meet503186 thanks for raising this but we already have and issue raised for the same and so closing this one
Ref - https://github.com/HITK-TECH-Community/Community-Website/issues/721

[2022-03-10 05:59] #758 closed

[2022-03-10 06:01] #754 closed

[2022-03-10 06:03] Kajol-Kumari commented on #718
Hey @Bikramjit21  we don't need this updation and so closing this issue. Thank you for taking time to report this.

[2022-03-10 06:03] #718 closed

[2022-03-10 06:04] Kajol-Kumari commented on #720
@Muskan626bidani we are taking care of all the responsiveness issue of the website under #721 so closing this issue. Thanks for taking time to report this

[2022-03-10 06:04] #720 closed

[2022-03-10 09:58] thefstalphabet commented on #715
Hey, I would like to work on this issue, under GSSoC'22. Can you please assign it to me?

[2022-03-10 11:09] #696 closed

[2022-03-10 11:20] #736 closed

[2022-03-10 11:22] Kajol-Kumari opened #759 "[Frontend] Integrate POST Resource with the form"
Deliverables-

- [ ] Integrate the https://hitk-tech-community.netlify.app/resources form with backend [POST] api

Ref - https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/resources/addResource.js

[2022-03-10 11:25] Kajol-Kumari opened #760 "[Frontend] Integrate GET Resources API"
Deliverables -

- [ ] Go to admin dashboard(by logging in using admin credential, which can be found in project readme) => Click on `Resources` tab. It should call the GET Resources API and should show the list of data in the form of card. [one data in one card]
- [ ] Each card should have a delete button/icon [based on whichever ui looks better ]

The api can be found at https://github.com/HITK-T

[2022-03-10 12:29] vinrusty commented on #760
Can I please work on this issue?

[2022-03-10 13:35] Kajol-Kumari commented on #760
Please go ahead @vinrusty

Happy learning :)

[2022-03-10 14:29] meet503186 commented on #759
I want to work on this issue. Can i work on it?

[2022-03-10 15:35] Kajol-Kumari commented on #759
Please go ahead @meet503186
Happy Learning :)

[2022-03-10 17:57] ritikakhandelwal-17 commented on #677
@Kajol-Kumari I am getting several unresolvable errors which running "npm install" command .

![Screenshot (535)](https://user-images.githubusercontent.com/83296933/157725535-1c882e34-5e26-434b-8f2f-955e49b3b9b0.png)

[2022-03-11 02:54] Gurdeep475 commented on #476
thanks, got it.

[2022-03-11 04:47] Kajol-Kumari commented on #677
@ritikakhandelwal-17 please refer https://stackoverflow.com/questions/45801457/node-js-python-not-found-exception-due-to-node-sass-and-node-gyp this and see if following the steps given inhere helps you

[2022-03-12 13:01] haidyelnahass commented on #86
Hi is this still open? I'd like to be assigned to it under GSSOC'22

[2022-03-13 05:24] #738 closed

[2022-03-13 08:50] #721 closed

[2022-03-13 14:32] hazemessam commented on #746
@Kajol-Kumari  Sorry, I'm very busy, you can unassign me.

[2022-03-14 06:25] nishant3721 commented on #759
@Kajol-Kumari Can I work on it?

[2022-03-14 11:43] Lalit3716 commented on #741
Hi, I am extremely sorry to inform you that I will be unable to do this task due to unavailability of time on my side.
Kindly assign this issue to someone else.
Thank You!

[2022-03-14 16:59] AyushSingh22 commented on #517
@himanshusanecha  Go ahead with this and kindly update here after updating.

[2022-03-16 01:38] vinrusty commented on #760
A "CORS" error is occurring saying "No 'Access-Control-Allow-Origin' header is present on the requested resource" while fetching the API. Can you please help me out

[2022-03-16 02:13] vinrusty commented on #760
A 401 Unauthorized error is occurring while fetching this API "GET https://hitk-community-website-backend.herokuapp.com/resources/getresources 401 (Unauthorized)". Can you please help me out?

[2022-03-16 13:06] vinrusty commented on #760
should the card have the expiry date and the updated date as well?

[2022-03-16 13:58] vinrusty commented on #760
ok on it

[2022-03-16 14:04] #753 closed

[2022-03-16 14:49] Aman16-ai commented on #741
Can I work on this issue?

[2022-03-16 16:11] Kajol-Kumari commented on #741
Sure @Aman16-ai Please go ahead

[2022-03-16 17:45] vinrusty commented on #760
I made my own card instead of using the one which is already there. Is it fine?

[2022-03-18 11:38] saheelsapovadia commented on #723
Is this still open and up for grabs? If yes, I'd like to work on it.😃

[2022-03-18 11:42] saheelsapovadia commented on #700
Is this issue still open? Can I contribute for it?

[2022-03-18 11:48] saheelsapovadia commented on #495
If the issue still exists could you assign it to me ?, I'd like to work on it. 😃

[2022-03-18 11:50] saheelsapovadia commented on #498
I would like to help on this one if it's still pending 😃 as a GSSOC participant @Kajol-Kumari .

[2022-03-18 14:19] amir-ammar commented on #86
@Kajol-Kumari can you please assign this issue to me? GSSOC'22 participant)

[2022-03-18 17:25] Kajol-Kumari commented on #723
@lokita282 can you please update us in this issue?

[2022-03-19 07:35] himanshusanecha commented on #517
yes sure, I am starting to work on this issue. Sorry for the delay due to exams

[2022-03-20 04:26] vinrusty commented on #746
Can I please work on this issue?

[2022-03-21 14:22] Kajol-Kumari commented on #716
@Arijit018 would you like to go ahead with this issue? Please let me know.

[2022-03-21 14:35] Devmindtk commented on #746
I would like to work on this issue.

[2022-03-21 15:09] Kajol-Kumari commented on #700
@mayank-del Please go ahead with this issue

[2022-03-21 15:33] Kajol-Kumari opened #766 "[Backend] Add Team API Throwing CORS Error"
Deliverables-

- [ ] Modify the add team api to handle all the failing cases similar to https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/contactUs/post.js

PR Blocked - https://github.com/HITK-TECH-Community/Community-Website/pull/743

[2022-03-21 16:13] vinrusty commented on #766
Can I please work on this issue?

[2022-03-21 16:59] Kajol-Kumari commented on #766
Please go ahead @vinrusty

[2022-03-22 15:57] Kajol-Kumari commented on #716
@Anirban-1490 you can go ahead with this issue.

[2022-03-22 17:04] Anirban-1490 commented on #716
ok thanks then assign it to me

[2022-03-23 04:53] Mridul07Sharma commented on #715
@Shruti025 I want to work on fixing this bug. Can you plz assign it to me.

[2022-03-23 04:57] Mridul07Sharma commented on #716
I am GSSOC 22 participant and i want to work on this issue. Plz assign it to me

[2022-03-23 04:59] Mridul07Sharma commented on #566
Plz Assign it to me. I am GSSOC 22 participant

[2022-03-23 05:29] Shruti025 commented on #715
@Mobasherah12 As I have conveyed, I am facing issues while running this project on my system so I am unassigning myself

[2022-03-23 12:30] #476 closed

[2022-03-23 12:34] #760 closed

[2022-03-23 12:41] Kajol-Kumari opened #767 "[Frontend] Integrate The Profile Page of Admin With Backend"
Deliverables-

- [ ] Currently the Data of logged In admin is static. Make it dynamic by integrating [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/admin/getAdmins.js#L34) API

The profile page can be found at -
1. Log in as admin => click on profile/admin image from the top left corner of the admin panel

[2022-03-23 15:25] vinrusty commented on #767
Can I work on this issue? @Kajol-Kumari

[2022-03-23 16:31] Gurdeep475 commented on #767
I would like to work on this issue under GSSOC`22.

[2022-03-23 16:33] Gurdeep475 commented on #467
I would like to work on this issue under GSSOC`22

[2022-03-23 16:33] Gurdeep475 commented on #82
I would like to work on this issue under GSSOC`22. If no one is working on it. @jackfrost13

[2022-03-23 16:58] Kajol-Kumari commented on #767
@vinrusty please work in the assigned issue first. @Gurdeep475 please go ahead with this issue

[2022-03-23 19:12] Anirban-1490 commented on #716
@Kajol-Kumari plz unassign me

[2022-03-25 07:46] Kajol-Kumari commented on #740
@meet503186 please go ahead with this issue. @artimanputra unassigning this to you as I didn't get any progress since last 20 days

[2022-03-25 07:51] Kajol-Kumari commented on #677
@ritikakhandelwal-17 Can you please update on this issue?

[2022-03-25 07:55] Kajol-Kumari opened #770 "[Enhacement] Replace node-sass package with sass"
Deliverables -
As sass-lang will no longer be giving updates to node-sass so we want to replace the `node-sass` package with `sass`

Doc Ref - https://www.npmjs.com/package/sass

[2022-03-25 08:04] Kajol-Kumari opened #771 "[Frontend] Enhancement in the Website"
Deliverables-

- [ ] Add loader the the admin login api call i.e in [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/pages/Login/Login.jsx#L91) function
- [ ] The Manager broadcast page should show the list of all apis [Please refer all broadcast page for the same]
- [ ] Shift the `Open Source Contributors` section from `About Us` ([here](https://hitk-tech-com

[2022-03-25 08:05] #715 closed

[2022-03-25 08:13] Kajol-Kumari commented on #748
@Shubham29012001 can u please update on this issue?

[2022-03-25 08:43] Shubham29012001 commented on #748
Hey @Kajol-Kumari, the work is almost finished. I will soon create a PR request for it.

[2022-03-25 09:54] Anirban-1490 commented on #770
@Kajol-Kumari  ok assign me this under GSSOC22 and i will try it

[2022-03-25 10:09] Aman16-ai commented on #677
I want to work on this issue.

[2022-03-25 11:11] #741 closed

[2022-03-25 11:13] Kajol-Kumari commented on #677
Please go ahead @Aman16-ai

[2022-03-25 14:47] abhinav80066 commented on #771
Hey @Kajol-Kumari, I would like to work on this issue. Please assign me this issue.

[2022-03-26 04:52] Kajol-Kumari commented on #771
@nitishsaini706 we already have the three-dotted loaded defined under `util`. You just need to use it.

[2022-03-26 06:11] Kajol-Kumari opened #773 "[Frontend] Integarate Join Us Delete Feature"
Deliverables-

- [ ] The `URL` on the resource list card should open up in a new tab. Use `target=_blank` for the same
- [ ] Integrate the `Delete` api present at [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/resources/deleteResource.js) with the `DELETE` button present on the ui
- [ ] A loader should be present during the api call(similar to the get

[2022-03-26 06:13] Kajol-Kumari opened #774 "[Backend] Add API For Deletion"
Deliverables-

- [ ] DELETE API for Join Us. It should reside under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/joinUs) folder
- [ ] DELETE API for the Team Member. It should reside under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/teamMember) folder
- [ ] Write the tests for both the apis

[2022-03-26 06:15] Kajol-Kumari opened #775 "[Backend] Add API For Updation"
Deliverables-

- [ ] Add Update api for Team Members. It should reside under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/teamMember)folder
- [ ] Add update api for FAQs. It should reside under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/backend/app/routes/faq) folder
- [ ] Write tests for both the pis

[2022-03-26 06:16] #739 closed

[2022-03-26 06:19] Kajol-Kumari opened #776 "[Frontend] Integrate Add Broadcast Form with Backend"
Deliverables-

- [ ] Make the Form Ui vertically centered aligned
- [ ] Integrate the add feature with backend
- [ ] There should be a loader during the api call and the toast message should be shown on completion of the request. "broadcats added successfully!" for success and "something went wrong" for failure

Add Broadcast page can be found under admin panel => Broadcasts => Add Broadcasts

[2022-03-26 06:20] Kajol-Kumari commented on #660
@rockingrohit9639 please update on this issue.

[2022-03-26 06:56] Aman16-ai commented on #774
can i work on this issue?

[2022-03-26 07:32] nitishsaini706 commented on #771
@Kajol-Kumari I've installed project for the third time and I'm still facing same errors , Could you please help

[2022-03-26 07:46] Aman16-ai commented on #775
can i work on this issue?

[2022-03-26 08:18] #677 closed

[2022-03-26 08:19] Kajol-Kumari commented on #774
please go ahead @Aman16-ai

[2022-03-26 08:21] Kajol-Kumari commented on #771
@nitishsaini706 can you please share me via discord/here what issue you are facing?

[2022-03-26 08:53] vinrusty commented on #776
Can I please work on this issue?

[2022-03-26 09:07] vinrusty commented on #773
Can I please work on this issue?

[2022-03-26 10:27] Kajol-Kumari commented on #773
sure, please go ahead @vinrusty

[2022-03-26 10:36] #746 closed

[2022-03-26 11:33] nitishsaini706 commented on #771
@Kajol-Kumari Done.I've informed in the group that i need help

[2022-03-27 13:42] Aman16-ai commented on #776
i want to work on this issue.

[2022-03-27 18:52] vinrusty commented on #773
should the loader be for the card or for the entire page? @Kajol-Kumari

[2022-03-29 11:39] Shubham29012001 commented on #748
Hey @Kajol-Kumari, can you please unassign me and assign someone else? My exams are going on and it would take more time for me to complete the task. It will be great if someone else can work on it and lastly sorry for delaying the work.

[2022-03-30 10:49] MitAbhay commented on #776
@Kajol-Kumari  Can I wirk on this issue ?

[2022-03-30 16:43] thedreader commented on #776
I would like to work on this issue. Please assign it to me.

[2022-03-31 05:50] #774 closed

[2022-03-31 05:51] Kajol-Kumari commented on #776
@Aman16-ai please go ahead with this issue. @MitAbhay and @thedreader can you please pick one form the other opened issues as we are supposed to assign on the basis of first come, first serve.

[2022-03-31 06:29] #773 closed

[2022-03-31 06:57] Kajol-Kumari commented on #679
@Kushal-2002 can I please get an update on this issue?

[2022-03-31 16:32] Kushal-2002 commented on #679
Hi @Kajol-Kumari I am unassigning myself as I have not been able to find a solution to this problem in the issue.

[2022-04-01 04:22] Kajol-Kumari commented on #566
Closing this one as this should be covered under https://github.com/HITK-TECH-Community/Community-Website/issues/748

[2022-04-01 04:22] #566 closed

[2022-04-01 20:22] sulogna2001 commented on #748
Hello can you assign me this issue under GSSOC 22

[2022-04-01 20:22] sulogna2001 commented on #699
Hello can you assign me this issue under GSSOC 22

[2022-04-02 06:36] #775 closed

[2022-04-02 06:43] Kajol-Kumari commented on #767
@Gurdeep475 please update on this issue..

[2022-04-05 06:14] Kajol-Kumari opened #783 "[Frontend] Integrate Ask Question Form With Backend"
Deliverables -

- [ ] The submit button of the `Ask Your Question` form should call [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/Q%26A/question/post.js) api
- [ ] A loader should be added on the page while calling the api
- [ ] The form should be reset after successful submission
- [ ] Proper toast message should be shown for success and error respec

[2022-04-05 08:46] Kajol-Kumari opened #784 "[Frontend] Integrate GET Questions in Frontend"
Deliverables-

- [ ] As soon as someone visits on `Q&A` page, there should be the [GET Questions](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/Q%26A/question/getAllQuestion.js) call.
- [ ] The list of questions should appear one below another in the form of listed card having the upvotes/downvote icon, total upvote/downvote count and all the required data [

[2022-04-05 15:09] hazemessam commented on #723
@Kajol-Kumari  Please, assign me this issue.

[2022-04-05 15:33] Kajol-Kumari commented on #723
Please go ahead with this issue

Happy Learning :)

[2022-04-05 16:02] Aman16-ai commented on #776
almost done

[2022-04-06 05:10] #766 closed

[2022-04-06 05:57] vinrusty commented on #784
Can I please work on this issue?

[2022-04-06 07:45] Kajol-Kumari commented on #784
Please go ahead @vinrusty

Please share the ui u have in your mind before implementing so that we don't make unnecessary effort..

[2022-04-06 11:11] Sukriti-m commented on #767
Hi @Kajol-Kumari
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC22.

[2022-04-14 11:02] AdnanMuzavor commented on #660
Hey @Kajol-Kumari ,if this issue is still available then I would like to work on it.

[2022-04-14 11:13] Bhawna147 commented on #679
hey, @Kajol-Kumari I am a GSSOC'22 participant, please assign me to this issue.

[2022-04-14 19:41] hazemessam commented on #543
@Kajol-Kumari Please, can you assign me this issue.

[2022-04-15 15:18] Kajol-Kumari commented on #679
@Bhawna147 please go ahead with this issue.

Happy Learning :)

[2022-04-15 15:22] Kajol-Kumari commented on #467
@shobit1337 @Gurdeep475 can anyone of you please confirm if you would like to work on this issue?

[2022-04-15 15:23] Kajol-Kumari commented on #740
@meet503186 please update on this issue.

[2022-04-15 15:31] Kajol-Kumari opened #789 "[Frontend] Integrate Get Team on Admin Panel"
Deliverables-
1. Under Admin Panel, `About Us` => `Manage Team` It should call the Get Team api and the actual data should be populated
2. Clean the redundant team data from the test folder

Note - This issue is dependent on https://github.com/HITK-TECH-Community/Community-Website/issues/723

[2022-04-15 15:38] Kajol-Kumari opened #790 "[Frontend] Join US Enhancements"
Deliverables-

- [ ] The join Us cards under the admin panel should not have the `URL` button as it doesn't seem to require
- [ ] The `LinkedIn` text should open the linkedIn url in a new Page
- [ ] The delete button should call the delete api present [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/joinUs/deleteJoinUs.js) with proper toast message [Take

[2022-04-15 15:44] Kajol-Kumari commented on #748
@sulogna2001 can you please update on this issue?

[2022-04-15 16:53] rahulthakur19 commented on #790
Can i work on this issue? @Kajol-Kumari

[2022-04-15 18:18] Gurdeep475 commented on #467
@Kajol-Kumari yes I would like to work in this.

[2022-04-15 18:30] Gurdeep475 commented on #693
@Kajol-Kumari can you assign it to me?

[2022-04-16 04:29] Kajol-Kumari commented on #790
Go ahead @rahulthakur19

Happy Learning :)

[2022-04-16 05:23] Gurdeep475 commented on #767
I am getting this error while installing the necessary packages for Node Frontend. Please help me to resolve it.
![image](https://user-images.githubusercontent.com/32095032/163662766-91c381a0-7a35-422e-9c29-a5b33d7d0654.png)

[2022-04-16 08:46] Kajol-Kumari commented on #660
Closing this one as this has already been implemented

[2022-04-16 08:46] #660 closed

[2022-04-16 08:50] AdnanMuzavor commented on #789
I would like to work on this issue.

[2022-04-16 08:51] Kajol-Kumari commented on #789
please go ahead @AdnanMuzavor
Happy Learning :)

[2022-04-21 06:00] MonarchGitHub opened #792 "Adding issue forms for the repo"
I want to add a few issue forms so that it will be convenient for new contributors to open issues. There are already issue templates for this project but they are deprecated now, issue forms instead work way better. I plan to create  **Bug Report**, **Documentation**,  and **Feature Request** forms.

**_The Bug Report issue form will have the following fields_**

- **Description of the bug**
- **H

[2022-04-21 15:50] TG922 commented on #783
is someone working on this issue??please reply

[2022-04-21 21:22] TG922 opened #793 "[Frontend] Integrating the POST Resource with the form"
### Deliverables:

- [ ]  Integrate the https://hitk-tech-community.netlify.app/resources form with backend [POST] api

 Ref - https://github.com/HITK-TECH-Community/Community-Website/blob/main/backend/app/routes/resources/addResource.js

[2022-04-22 04:45] #723 closed

[2022-04-22 04:48] Kajol-Kumari commented on #793
@TG922 this is duplicate of https://github.com/HITK-TECH-Community/Community-Website/issues/759
Please feel free to claim it and raise the pr for the same

[2022-04-22 06:37] hazemessam commented on #543
@Kajol-Kumari Is this issue still active?

[2022-04-22 09:01] TG922 commented on #793
Ok @Kajol-Kumari

[2022-04-22 09:09] mayank-del commented on #693
can i work under this issue under gssoc 22

[2022-04-22 09:12] mayank-del commented on #690
@Kajol-Kumari  can i work under this issue under gssoc 22?

[2022-04-22 09:18] Kajol-Kumari commented on #693
@mayank-del please go ahead with this issue

[2022-04-22 09:21] Kajol-Kumari commented on #690
@sagnik2001 @haider000 are you still willing to work on this issue. If yes, please confirm it, else I will assign it to Mayank

[2022-04-22 09:27] #783 closed

[2022-04-22 10:29] mayank-del commented on #693
thank you,

[2022-04-26 05:44] #793 closed

[2022-04-27 04:32] Ash-KODES commented on #748
Can I work on this?

[2022-04-27 04:52] Kajol-Kumari commented on #748
sure @Ash-KODES , Please go ahead with this issue.

Happy Learning :)

[2022-04-29 04:24] aakankshabhende commented on #724
Any updates? @Ayushmina-20

[2022-04-29 04:25] aakankshabhende commented on #730
Any updates? @prafullapal

[2022-04-29 04:30] aakankshabhende commented on #767
Is your node version the latest? @Gurdeep475

[2022-04-29 04:33] aakankshabhende commented on #792
@MonarchGitHub do you mean a PR template?

[2022-04-29 04:34] aakankshabhende commented on #784
Any updates? @vinrusty

[2022-04-29 04:35] aakankshabhende commented on #790
Any updates? @rahulthakur19

[2022-04-29 04:35] aakankshabhende commented on #789
Any updates? @AdnanMuzavor

[2022-04-29 05:12] MonarchGitHub commented on #792
No, issue templates are similar to PR templates but they are used to create issues. I will attach a screenshot of the issue templates below:-

<img width="632" alt="ace 33-2" src="https://user-images.githubusercontent.com/74449136/165888339-42a0caa8-5bdf-4d95-9aad-5532dfdf0811.png">

[2022-04-29 05:18] rahulthakur19 commented on #790
Working on it.

[2022-04-30 11:11] AdnanMuzavor commented on #789
@Kajol-Kumari sorry for delay, occupied with exams these days.
If you want you can unassign me I may take up some other issue, thank you!!

[2022-05-02 06:55] SachinMittal1766 opened #797 "Improve UI of Contact Us page"
**Is your feature request related to a problem? Please describe.**
Current UI of Contact Us page can be improved.

**Describe the solution you'd like**
I would like to modify it.

**Have you read the [Code of Conduct](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md)?**
Yes

[2022-05-02 16:04] saisrivenkat commented on #759
Hii, can I work on this issue?

[2022-05-03 10:54] sharma-tanishq commented on #740
Hi I am a GSSOC22 contributer can i work on this?

[2022-05-03 12:14] Kajol-Kumari commented on #740
Sure @sharma-tanishq  please go ahead with this issue.

Happy Learning :)

[2022-05-03 14:30] Kajol-Kumari commented on #759
sure @saisrivenkat please go ahead with this issue.
Happy Learning :)

[2022-05-03 15:09] aakankshabhende commented on #797
You can start working on the issue @SachinMittal1766

[2022-05-03 15:10] aakankshabhende commented on #771
@nitishsaini706 is your issue solved?

[2022-05-03 23:42] nitishsaini706 commented on #771
@aakankshabhende no you can work on this issue

[2022-05-04 03:21] aakankshabhende commented on #771
Okay I'll assign this issue to someone else @nitishsaini706

[2022-05-06 13:17] mayank-del commented on #693
Ok sure

[2022-05-07 06:27] Aman16-ai commented on #771
can i work on this issue?

[2022-05-07 06:46] AyushSingh22 commented on #771
Go ahead @Aman16-ai

[2022-05-07 08:24] AyushSingh22 opened #799 "Refactoring <component-name> component"
Refactoring the `Curious to know More about Us?` as per the [proposed style](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

**- We can see all the fonts are varied in each section**
**- The vector and graphics are also unsystematic**
**- The color, graphics, and design are also making this section fuzzier**

![Screenshot (893)](https://user-images.github

[2022-05-07 18:56] vasantisuthar commented on #799
I am a GSSOC'22 contributor and I would like to work on this issue.
Please assign this to me.

[2022-05-08 01:57] mayank-del commented on #693
@Kajol-Kumari  maam , please check it once.

[2022-05-08 06:28] aakankshabhende commented on #799
You can start working on this issue @AyushSingh22

[2022-05-08 11:38] vasantisuthar opened #801 "Refactoring resources component"
Refactoring the resources as per the [resources](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/PROPOSAL.md).

The resources page needs UI enhancement, also the image should not be there in responsive mobile layout as it hides the actually resources form, the page should be elegant and focused on the design that drive good user interaction.

If this needs to be enhance

[2022-05-09 06:59] mayank-del commented on #690
Yes please assign me this under gssoc22

[2022-05-09 07:00] mayank-del commented on #690
@Kajol-Kumari , assign it to to me , i will also try

[2022-05-09 18:28] AyushSingh22 commented on #799
I am a mentor  for this project like you :)

[2022-05-09 18:31] AyushSingh22 commented on #799
**Go ahead @vasantisuthar**
All the best !!

[2022-05-10 15:45] AbirSantra opened #802 "Improvement of UI of 'Email' input field in Footer"
**Describe your Proposal**
I would like to suggest that the placeholder, as well as the text in the 'Email' input field of the Newsletter Signup form in the footer, be left-aligned since it looks better in my opinion.

**Additional context**
Currently, the input field is center-aligned. As shown in the screenshot attached.

![image](https://user-images.githubusercontent.com/78201921/167668740-a1d6

[2022-05-11 05:04] aakankshabhende commented on #801
You can start working on it @vasantisuthar

[2022-05-11 05:05] aakankshabhende commented on #802
Yes you can start working on it @AbirSantra

[2022-05-13 15:35] Aman16-ai commented on #771
Can you please explain this : The Manager broadcast page should show the list of all apis [Please refer all broadcast page for the same]

In 2nd task do i need to show all backend apis in admin's broadcast manager ?

[2022-05-14 03:14] Kajol-Kumari commented on #771
@Aman16-ai No, typo from my end. What I meant is in the admin's broadcast page, we need the whole list of broadcasts just like we have in all broadcast page. As of now, only few list of broadcasts is being shown on the admin panel

[2022-05-14 10:41] #693 closed

[2022-05-16 08:08] srivastavaritik commented on #799
Please assign me this issue if it is not solved yet.

[2022-05-16 08:08] srivastavaritik commented on #790
Please assign me this issue if not solved yet

[2022-05-16 08:21] AyushSingh22 commented on #799
Kindly Update @vasantisuthar
Its 10 days now.

[2022-05-16 08:41] vasantisuthar commented on #799
I'll submit the PR in the next 2 days. Sorry for delay.

[2022-05-18 17:24] navyasharma0203 commented on #771
Can I work on this issue??

[2022-05-18 18:49] AyushSingh22 commented on #771
@Aman16-ai  Kindly Update, whether you are working or not.
Its 12 days Now.

[2022-05-21 12:12] Ranjana550 opened #804 "Add project images in readme"
Can I add project images to the readme.md file?
If yes, please assign this issue to me, I would like to work on this issue.

[2022-05-21 12:18] Ranjana550 opened #805 "Update "curious to know more about us" section"
Heyy,
I would like to update the "curious to know more about us" section according to the theme of the website.
The font styles used here, in this section are not uniform so would like to create new designs for the same.
I am a GSSOC'22 contributor, please assign it to me.

![image](https://user-images.githubusercontent.com/71266173/169651089-ac3a32ba-a597-4a9a-a628-3074404eb583.png)

Thank you in

[2022-05-21 12:30] Gurdeep475 commented on #767
yes

[2022-05-22 07:12] its-ayush-07 commented on #789
Can I work on this under GSSoc22?

[2022-05-22 07:22] its-ayush-07 commented on #767
Can I work on this under GSSoc22?

[2022-05-22 07:26] its-ayush-07 commented on #748
Can I work on this under GSSoc22?

[2022-05-22 07:33] its-ayush-07 commented on #724
Can I work on this under GSSoc22?

[2022-05-22 09:29] AyushSingh22 commented on #748
What is the Update??  @Ash-KODES

[2022-05-22 15:32] AyushSingh22 commented on #799
@vasantisuthar Its your last call.

[2022-05-22 15:35] AyushSingh22 commented on #805
@Ranjana550 This issue is already in process. #799
Thank you for your concern.

[2022-05-22 15:35] #805 closed

[2022-05-22 15:36] AyushSingh22 commented on #797
Kindly Update regarding your progress so far @SachinMittal1766

[2022-05-22 15:39] AyushSingh22 commented on #790
@rahulthakur19  Its more than a month Now !
Let us assign to someone else.

[2022-05-22 17:46] AdnanMuzavor commented on #679
Hey @Kajol-Kumari , I found that this issue is not yet been fixed so I would like to take up this one.

[2022-05-22 18:16] AdnanMuzavor commented on #789
On it @aakankshabhende !!

[2022-05-22 21:27] vasantisuthar commented on #799
I have designed the images, graphics, and fonts of the section and added them to the project also. But I am unable to install the dependencies, it is giving me the error.

[2022-05-23 15:07] vasantisuthar commented on #799
I am getting errors of deprecated dependencies. Unable to install packages

[2022-05-23 15:21] vasantisuthar commented on #799
@AyushSingh22 can you please have a look?

[2022-05-24 02:31] srivastavaritik commented on #790
please assign me this issue

[2022-05-24 02:32] srivastavaritik commented on #790
please assign me this issue

[2022-05-25 14:27] AdnanMuzavor commented on #789
@Kajol-Kumari the data which I am getting from backend using API is of team members and not of team.
There is no specific API for getting teams rather the API gives team members who belong to different team.
Shall I render team members and their details as returned by API?

[2022-05-28 18:41] #771 closed

[2022-08-22 19:47] amreekminocha commented on #797
Hi.. is there anyone working on the issue
If not I will be glad to work upon it.

[2022-08-24 19:01] #792 closed

[2022-10-16 04:42] arinmodi commented on #730
Can i work on this ?

[2022-10-16 14:40] Kajol-Kumari commented on #730
Sure, please go ahead

[2022-10-18 17:11] arinmodi commented on #730
@Kajol-Kumari, i have made the PR for this issue, can you please review that ?

[2022-10-19 16:54] #730 closed

[2022-10-19 18:21] arinmodi commented on #495
@jackfrost13, would like to work

[2022-10-20 18:08] arinmodi commented on #495
@Kajol-Kumari, I have some questions

which fields are allowed to update ?
should I append the imageUrl array into existing imageUrls or just replace it ?
should I append the tags array into existing tags or just replace it ?

[2022-10-21 15:54] arinmodi commented on #495
@Kajol-Kumari, please give update ?

[2022-10-22 05:05] Kajol-Kumari commented on #495
@arinmodi we should replace the existing one with the new one

[2022-10-22 07:42] arinmodi commented on #495
@Kajol-Kumari, I have made the PR #807

[2022-10-25 08:09] #495 closed

[2022-10-25 12:15] arinmodi commented on #477
@Kajol-Kumari, please assign this to me

[2022-10-27 15:14] #477 closed

[2022-10-27 16:21] arinmodi commented on #789
@Kajol-Kumari, can I work on this ?

[2022-10-28 09:07] arinmodi commented on #789
@Kajol-Kumari, https://hitk-community-website-backend.herokuapp.com/teamMember/getTeamMembers, not working

![image](https://user-images.githubusercontent.com/61725413/198549765-01aa0c43-8940-4ef1-b62e-2f2e883b28f3.png)

[2022-10-28 14:53] Kajol-Kumari commented on #789
Can we please check if the baseurl is correctly getting updated after deployment

[2022-10-28 16:57] arinmodi commented on #789
To check that, I need heroku access

[2022-10-28 17:23] arinmodi commented on #789
@Kajol-Kumari,

![image](https://user-images.githubusercontent.com/61725413/198696024-c5331a09-0da2-4c88-9623-b5e3d5be663c.png)

is this what expected, right ? I changed the API url to localhost url and it's getting response

[2022-10-29 13:39] arinmodi commented on #789
@Kajol-Kumari  ?

[2022-10-30 03:24] Kajol-Kumari commented on #789
We need to show all the details except created date & time. Also as far as I remember the Get team api is an authenticated api. Also with the heroku base, i am anticipating CORS issue which we need to fix as we can't deploy with baseurl as localhost

[2022-10-30 05:26] arinmodi commented on #789
Get Team API is not authenticated, i checked that

[2022-10-30 06:28] arinmodi commented on #789
@Kajol-Kumari, I think backend code changes since last 6 months are not published to heroku cause the all routes which are made or updated during last 6 months are not working on heroku base

[2022-10-30 07:33] Kajol-Kumari commented on #789
Hmm.... I am not even able to login (wierd) 👀
<img width="826" alt="Screenshot 2022-10-30 at 1 01 53 PM" src="https://user-images.githubusercontent.com/44888949/198867527-7d1cedcc-f40c-4ca3-9c2a-280628d6edf2.png">

[2022-10-30 08:42] arinmodi commented on #789
@Kajol-Kumari, Currently I am building this feature with localhost url and at the time of PR i will change that url, is it ok ?

[2022-10-30 10:40] arinmodi commented on #802
@Kajol-Kumari, can I work on this ?

[2022-10-31 12:38] #716 closed