[2020-11-28 14:16] Kajol-Kumari opened #1 "[Discussion] Tech Stack for the Community Website"
Tech stack discussion for the official website of the community.

[2020-11-28 14:21] Kajol-Kumari opened #2 "[Open for all] UI Design for Home page of the website"
- Make UI for the home page of the website using any of the UI designing tool like figma

[2020-12-04 06:56] codewithvk commented on #1
Can you please tell me which purpose you need to create a website?

[2020-12-04 08:09] Kajol-Kumari commented on #1
Hey @codewithvk We are creating this site for sharing the resources. So if you look at [this](https://github.com/HITK-TECH-Community/HITK_Tech_Community) repo, we are storing all the resources in the form of broadcast which we send in our private HITK TECH Community channel. so the purpose of creating this site will make those available for everybody.

[2020-12-05 04:56] codewithvk commented on #1
Greate !!

[2020-12-06 12:22] Kajol-Kumari opened #3 "[Frontend] Add basic react structure"
- Add initial structure for frontend using react having basic components

[2020-12-06 12:24] Kajol-Kumari opened #4 "[Open for all] Add Header and Footer"
- Add header and footer as reusable component so that It can just be rendered wherever required.

Dependent of issue #3 [ First This issue needs to be resolved ]

[2020-12-06 12:32] Kajol-Kumari opened #5 "[Backend] Add basic backend code"
- Add basic backend server having main route file, index file and separate folder for controllers and middlewares.

[2020-12-06 12:37] Kajol-Kumari opened #6 "[Open for all] UI Design for Broadcast page of the website"
- Make UI for the broadcast of the website using any of the UI designing tool like figma

[2020-12-06 12:38] codewithvk commented on #3
Can you assign me? I m happy to work on this issue.

[2020-12-06 12:39] Kajol-Kumari opened #7 "[Open for all] UI Design for Contact Us page of the website"
- Make UI for the `contact us` page of the website using any of the UI designing tool like figma

[2020-12-06 12:42] Kajol-Kumari commented on #3
Sure @codewithvk go ahead with this issue. Assigning it to you.
Happy coding :)

[2020-12-06 12:56] codewithvk commented on #4
Can we use any react library? Ex. Material UI, Semantic UI

[2020-12-06 13:01] Kajol-Kumari commented on #4
Hey @codewithvk yes, You can use material UI

[2020-12-06 13:06] codewithvk commented on #4
I want to work on that. can you assign me?

[2020-12-06 13:06] sreechand2002 commented on #4
can to assign this to me

[2020-12-06 13:07] sreechand2002 commented on #7
Assign this to me , i want to work on this

[2020-12-06 13:09] Kajol-Kumari commented on #4
Hey @codewithvk as this issue is dependent on #3. I request you to please finish that one. Also we can't assign more than one issue at once to anybody. So waiting for your PR for the previous one :)

Hey @sreechand2002 you can go ahead with this one one @codewithvk finishes the dependent issue. Meanwhile you can explore on its implementation, I am assigning it to you. Happy Learning :)

[2020-12-06 13:11] codewithvk commented on #4
@Kajol-Kumari I already Made pr for #3. You can check.

[2020-12-06 13:19] Kajol-Kumari commented on #4
Ah, I saw it late. No worries more issue are coming for grab :)

[2020-12-06 13:22] Kajol-Kumari commented on #7
@sreechand2002 would you like to go ahead with this? If yes, I will assign it to you and re-assign the previous one to @codewithvk

[2020-12-06 13:26] sreechand2002 commented on #7
sure, no worries , i can go with this and you can assign the previous one to @codewithvk

[2020-12-06 14:23] Kajol-Kumari opened #9 "[Open for all] UI Design for About Us page of the website"
- Make UI for the about us page of the website using any of the UI designing tool like figma
It should include a brief about who we are and the details of the team working behind the scene

[2020-12-06 14:25] Kajol-Kumari opened #10 "[Open for all] UI Design for FAQs page of the website"
Make UI for the FAQs page of the website using any of the UI designing tool like figma

This page will contain the list of all frequently asked questions along with their answers.

[2020-12-06 14:27] Kajol-Kumari opened #11 "[Open for all] UI Design for Resource Sharing page of the website"
- Make UI for the resource sharing page of the website using any of the UI designing tool like figma

This page will include a brief introduction and a form with the fields same as [this]( https://docs.google.com/forms/d/1NMwEz60vhrvHC94Z05qeh3FI2XcgFzeI_I1HyHp-u90/viewform?usp=sharing_eil&ts=5f9ad1d8&urp=gmail_link&gxids=7628&edit_requested=true ) form.

[2020-12-06 14:55] sreechand2002 commented on #7
@Kajol-Kumari  can you  merge the PR of @codewithvk ASAP so i can proceed with my issue without any road block

[2020-12-06 16:34] headphone-rachit commented on #2
I want to do this using HTML,CSS and JS is that ok

[2020-12-06 16:49] Kajol-Kumari commented on #3
Closed via #8

[2020-12-06 16:49] #3 closed

[2020-12-06 16:50] Kajol-Kumari commented on #7
Hey @sreechand2002 It's more of like a designing(UI) issue. You don't need to code anything instead you need to make the prototype of `contact us` page. We can't directly jump to code until we have a design so we have opened UI issues first to finalize our designs

[2020-12-06 16:56] Kajol-Kumari commented on #2
Hey @headphone-rachit  It's more of like a designing(UI) issue. You don't need to code anything instead you need to make the prototype of home page. We can't directly jump to code until we have a design so we have opened UI issues first to finalize our designs.

[2020-12-06 17:08] sreechand2002 commented on #7
so i have to design a mock up in a graphic designing tools right and upload the jpeg or png file to git ?

[2020-12-06 17:14] Kajol-Kumari commented on #7
Exactly! You can upload the screenshot of that image under the [`assets`](https://github.com/HITK-TECH-Community/Community-Website/tree/main/assets) folder of the repo.

[2020-12-06 17:35] headphone-rachit commented on #2
ok so first I will create a design which we can follow while coding

[2020-12-06 18:26] Kajol-Kumari commented on #2
Yes @headphone-rachit that's right! And you can just add the screenshot of your design in `assets` folder and make the PR for this issue.

[2020-12-06 18:32] headphone-rachit commented on #2
ok

[2020-12-07 06:19] NewCoderBoi commented on #5
Please assign this to me.

[2020-12-07 07:01] Kajol-Kumari commented on #5
@NewCoderBoi looking forward for your PR
Happy Coding :)

[2020-12-07 07:02] #1 closed

[2020-12-07 09:07] NewCoderBoi commented on #5
Created a PR. Please check and recommend changes to be made, if any.

[2020-12-07 10:22] prakarsh7695 commented on #9
Hey @Kajol-Kumari ! I want work on this! Can uassign it tome? Also can you brief a little as to what kind of theme are u looking for the page?

[2020-12-07 10:53] Kajol-Kumari commented on #9
@prakarsh7695 Sure you can go ahead with this. Also as of now we don't have any theme decided , we would just be selecting out the best design and take it for code.

[2020-12-07 11:17] codewithvk commented on #10
Hey @Kajol-Kumari,
I want to work on this issue, can you assign me?

[2020-12-07 12:10] codewithvk commented on #10
![Capture](https://user-images.githubusercontent.com/61119120/101349292-279f8800-38b3-11eb-9807-fc0339e90be1.PNG)
@Kajol-Kumari Can you see this?
I am not a designer so I don't request to assigned.

[2020-12-07 12:18] codewithvk commented on #10
If you like this one then assign me I will add PR.

[2020-12-07 12:19] Kajol-Kumari commented on #10
@codewithvk This looks nice. Feel free to open up a PR with this :)

[2020-12-07 12:38] codewithvk opened #20 "Modify Documentation"
![Capture](https://user-images.githubusercontent.com/61119120/101351515-b4981080-38b6-11eb-9581-f800cd1eec97.PNG)

In the frontend section write path `cd frontend `, instance of `cd community-website`. Modify it!

[2020-12-07 14:59] Aaryan8751 commented on #4
Hi @Kajol-Kumari  I wanna work on this.

[2020-12-07 15:40] Kajol-Kumari commented on #4
Hey @Aaryan8751 you can go ahead with this one. Please make sure to add the test the code and do the following:
1. create a folder with name `header_and_footer`.
2. Make a folder under this with your name and put the header and footer files in there after testing.

This is required as we would be picking up the best style and use it in our website. If you need any further clearance, pleaselet me k

[2020-12-07 15:56] Aaryan8751 commented on #4
@Kajol-Kumari  may I use reactstrap, font awesome?

[2020-12-07 17:46] headphone-rachit commented on #2
![Home Page](https://user-images.githubusercontent.com/65488082/101385687-25a0ed80-38e2-11eb-90f3-7ded12b10246.JPG)

[2020-12-07 17:46] headphone-rachit commented on #2
Is this page fine to go ahead

[2020-12-07 17:47] headphone-rachit commented on #2
I am not able to upload it in the asset as it is demanding access

[2020-12-07 20:28] Aaryan8751 commented on #4
@Kajol-Kumari I have added the header and footer and have also made a pull request.
![screencapture-localhost-3000-home-2020-12-08-01_52_18](https://user-images.githubusercontent.com/60098288/101401711-b8e51d80-38f8-11eb-87fe-a7bab66b437a.png)
Here is the screenshot of the page Please have a look.

[2020-12-08 06:36] #20 closed

[2020-12-08 07:57] Kajol-Kumari commented on #2
Hey @headphone-rachit You first need to fork this repo, clone it on your local, make a branch and then add the file using any editor and then make the PR.

[2020-12-08 09:58] Aaryan8751 commented on #7
@Kajol-Kumari could you assign this work also to me?

[2020-12-08 10:13] headphone-rachit commented on #2
I have created the PR, so if it is fine please give me this project.

[2020-12-08 10:25] Kajol-Kumari commented on #7
Sure @Aaryan8751 Go ahead with this!

[2020-12-08 10:37] Kajol-Kumari commented on #2
Hey @headphone-rachit Thanks a lot for the PR. But can tou please change the design to something like this. This is a rough overview of what we are expecting in the design. Your creativity is much appreciated😊
![IMG_20201208_160245](https://user-images.githubusercontent.com/44888949/101472989-4b280880-396f-11eb-9232-a373bed9a948.jpg)

[2020-12-08 15:34] Aaryan8751 commented on #7
@Kajol-Kumari I have added Contact Us UI in the assets folder and made a pull request
![Contact Us](https://user-images.githubusercontent.com/60098288/101504203-f305fc00-3998-11eb-89b2-c23a1559cd96.png)
Here is the UI design.

[2020-12-09 09:03] Kajol-Kumari opened #26 "[Backend] Login/Signup api only for admin"
- API for allowing users to signup as admin and only after admin approves that person, he/she will be given admin previledges.

There won't be any signup/login for normal users

[2020-12-09 09:17] Kajol-Kumari opened #27 "[Frontend] Admin Login and Signup Page"
There would be a login and signup screen only for admins so in this PR.

We need the Frontend pages for
1. Login
2. Signup

[2020-12-09 09:37] Aaryan8751 commented on #27
@Kajol-Kumari I wanna work on this.

[2020-12-09 09:50] Kajol-Kumari opened #28 "[Open For all] Admin Home page UI"
There would be a separate page for admins only:

1. Home page
2. Settings Tab [ for approving users as admin ]
3. Manage Broadcast page

Any other basic tabs that an admin is expected to have.

[2020-12-09 09:51] Kajol-Kumari commented on #27
Sure @Aaryan8751 you can go ahead with it.

[2020-12-09 10:25] sreechand2002 commented on #28
Is this the admin dashboard with the above mentioned tabs in the sidebar ?

[2020-12-09 10:34] Kajol-Kumari commented on #28
Hey @sreechand2002 Yes, this is the admin dashboard and regarding the tabs, it can be either on the side or on the top nav-bar whichever design will look better, we will pick that up. This issue only demands the UI of the admin dashboard and we will open the issues u=for other pages shortly.

[2020-12-09 11:26] Aaryan8751 commented on #10
@Kajol-Kumari Added FAQ UI Design in the assets folder. Could you now assign this to me?
![FAQ](https://user-images.githubusercontent.com/60098288/101624059-62362b80-3a3f-11eb-90de-c6f19cfcd59d.png)
Here is the screenshot of FAQ UI Design

[2020-12-09 14:01] Sapphire-Skies commented on #11
Ma'am, this is my first time using figma. The colours aren't final because they'll depend on the homepage. Is this prototype satisfactory? https://www.figma.com/file/sh8ubRJgEXtQRbxCiJ3b48/Untitled?node-id=4%3A13

[2020-12-09 15:52] Kajol-Kumari commented on #11
Hey @Sapphire-Skies Good try. I would recommend you to work a bit on giving the finishing tough to the design like making the input box with rounded corner, using better font for the form heading, Keeping the `submit` button in the bottom-most separate line etc. You can go ahead with this issue and make the required changes and open up the PR. Also feel free to reach out on [slack](https://join.sl

[2020-12-09 15:55] Aaryan8751 commented on #27
@Kajol-Kumari I have added the login and signup front-end. The pull request is merged with Issue#10.
![LoginSignup](https://user-images.githubusercontent.com/60098288/101653007-e949ca80-3a64-11eb-85b8-36fce3584ed3.png)
Here is the screenshot of the login and signup front-end.

[2020-12-09 15:58] Aaryan8751 commented on #26
@Kajol-Kumari Could you please provide some information about the login/signup API. Do we need to create a new API or we have to use some other API.

[2020-12-09 17:20] headphone-rachit commented on #2
I have made some changes and made a PR please check it

[2020-12-09 19:25] JLopezz3 commented on #6
Hello, I'd like to help design the broadcast page. What kind of design would you like?

[2020-12-10 06:19] NewCoderBoi commented on #26
Is there an existing api for user login and authentication? @Aaryan8751

[2020-12-10 06:31] Kajol-Kumari commented on #6
Hey @JLopezz3 I am attaching here the rough diagram of the design we are looking for. So basically along with header and footer there will be two sections. First section would be `Recent Broadcasts` that will contains 3-5 most recent broadcasts in form of slider cards and each card will be clickable which on click will display the complete braodcast message. Sceond section would be of `Previous br

[2020-12-10 07:10] Kajol-Kumari commented on #26
Hey @Aaryan8751 WE need to create a new APIs for login and signup by integrating it with JWT. Also this will require the database integration for store the users info for which we would be using mongoDB atlas.

[2020-12-10 07:12] Aaryan8751 commented on #26
@Kajol-Kumari ok I understood. Could you assign me this work?

[2020-12-10 07:25] Kajol-Kumari commented on #26
sure @Aaryan8751 You can go ahead with this issue :)

[2020-12-10 08:19] Kajol-Kumari commented on #5
Closing via [this](https://github.com/HITK-TECH-Community/Community-Website/pull/14) PR

[2020-12-10 08:19] #5 closed

[2020-12-10 08:53] Sapphire-Skies commented on #11
https://github.com/HITK-TECH-Community/Community-Website/pull/32 Thank you for your advice. I'll work on the front-end part when there is further info regarding the theme of the website on slack! Sorry the previous PR was too messy so I deleted it altogether.
![Resource_Sharing_Form](https://user-images.githubusercontent.com/55662582/101748817-0af19300-3af3-11eb-827c-c9a83678a9a1.JPG)

[2020-12-10 13:22] headphone-rachit commented on #2
if I can start building this page??

[2020-12-10 13:59] JLopezz3 commented on #6
Okay I will get started on it. I will update you with the Figma when I'm done. Thank you

[2020-12-10 15:45] Aaryan8751 commented on #26
@Kajol-Kumari the structure of the backend seems a little different may I make a new one using the express-generator.

[2020-12-10 17:50] Kajol-Kumari commented on #2
Hey @headphone-rachit we need few more designs to finalise it before jumping to code.

[2020-12-10 17:51] Kajol-Kumari commented on #26
Surr @Aaryan8751 as  it is hust strating stage you can go ahead with doing the changes :)

[2020-12-10 18:57] headphone-rachit commented on #2
ok

[2020-12-10 19:56] headphone-rachit commented on #2
i have added one more

[2020-12-11 16:42] Kajol-Kumari opened #37 "[ Discussion ] Decide color pallet for the website"
As we are almost ready with the UI. We need to decide the color pallete that will be followed while implementing those designs.

This issue is focused on having the discussion on color pallet and it's finalisation.

Feel free to drop your pallete suggestions in the comments below.

[2020-12-11 19:32] Aaryan8751 commented on #37
These have some good suggestions https://color.adobe.com/explore

[2020-12-13 12:09] reetpriye commented on #37
Why not start with something first, then, later on, change according to everyone's wish.
This one seems fine https://colors.lol/blocky

[2020-12-13 12:12] Kajol-Kumari commented on #37
Yeah let's start with [this]( https://colors.lol/blocky) pallet and later on we can modify it, if needed. Btw it seems good to me. Thanks @Aaryan8751 and @reetpriye for pallet suggestions!

[2020-12-13 12:29] Kajol-Kumari opened #38 "[Frontend] Home page of the Community-Website"
In this issue, we want to revamp the home page having better header, footer and home page content by following [this](https://colors.lol/blocky) color pallet.

Deliverables:

- [ ] Better Header { Just keep `home`, `Contact Us`, `Broadcasts`, `Resource Share`, `About Us`, `FAQ`  in the header section along with `admin?` on the right side of the header }

- [ ] Better Footer { Use better logo for s

[2020-12-13 13:08] Kajol-Kumari opened #39 "[Frontend] FAQ page for community website"
Deliverables:

Make the FAQ page for the community website with design similar to [this](https://files.slack.com/files-pri/T01FW9Q8AHH-F01H30BQMN3/capture.png) following [this](https://colors.lol/blocky) color pallet.

![Capture](https://user-images.githubusercontent.com/44888949/103067594-47d48400-45e1-11eb-8165-dd1b7565303d.PNG)

If you can make it more standard and attaractive, that would be mu

[2020-12-13 13:21] Kajol-Kumari opened #40 "[Frontend] Contact Us Page"
Deliverables:

- [ ] Make the `contact us` page of the community-website following [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/assets/Contact_us/SreeChand/Contact%20us.png) design and [this](https://colors.lol/blocky) color pallet.

If you can make this page preetier and consistent, it would be much appreciated :)

[2020-12-13 14:56] PinRathod commented on #40
Can I work on this?

[2020-12-13 15:15] Aaryan8751 commented on #40
could you assign me this issue?

[2020-12-13 15:17] Aaryan8751 commented on #40
@Kajol-Kumari could you assign me this issue

[2020-12-13 16:01] Kajol-Kumari commented on #40
Hey @PinRathod go ahead with this issue :+1:
@Aaryan8751 please pick up any other issue.

[2020-12-13 16:02] Aaryan8751 commented on #39
@Kajol-Kumari could you please assign me this issue.

[2020-12-13 16:20] jackfrost13 commented on #26
@Aaryan8751 Noted! Will review it asap

[2020-12-14 05:24] sreechand2002 commented on #39
@Kajol-Kumari can i work on this?

[2020-12-14 05:54] reetpriye commented on #38
I want to work on this one. Can you assign it to me?

[2020-12-14 06:15] Kajol-Kumari commented on #38
Hey @reetpriye please go ahead with this issue.

[2020-12-14 07:18] Kajol-Kumari commented on #39
Hey @sreechand2002, please look for some other issue as we follow FCFS. So I am assigning it to @Aaryan8751
looking forward to your PR @Aaryan8751 :)

[2020-12-14 07:20] Kajol-Kumari commented on #27
Closing via [this](https://github.com/HITK-TECH-Community/Community-Website/pull/29) PR

[2020-12-14 07:20] #27 closed

[2020-12-14 16:39] JLopezz3 commented on #6
I have the rough-draft of the Broadcast page on my Figma.
[FIGMA LINK HERE](https://www.figma.com/file/Hdxtv50E5vuzDoGGZMnfhC/BroadcastPage?node-id=0%3A1)
Let me know what you think, or what I should change. Thanks
![1](https://user-images.githubusercontent.com/58873590/102108519-a8e9a400-3df8-11eb-94b9-2ffaf9601223.png)

[2020-12-14 16:47] Kajol-Kumari commented on #6
Hey @JLopezz3 , please add a folder with name `broadcast page` in [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/assets) and `readme.md` file  under this file .There you can add the design link and also please attach the screenshot of the design in this folder and make a PR.

[2020-12-14 16:55] JLopezz3 commented on #6
I think I need to be invited as a collaborator because I do not have push access.

[2020-12-15 10:33] Kajol-Kumari opened #42 "[Document] Add bug and feature template for issues"
Deliverables:

- [ ] Template for bug report issue containing all the required the sections like {Current behaviour, expected behaviour, Related screenshot, Device used etc}

- [ ] Template for feature request issue containing all the required the sections like {Feature description, Related link.screenshot for referrence etc}

[2020-12-15 10:35] Kajol-Kumari opened #43 "[Document] Add PR creation template"
Deliverables:

- [ ] A good enough PR template that contain all the required sections including which issue it closes `closes #issue_num`, Feature/changes introduced through the PR etc.

[2020-12-15 13:01] kenkirito commented on #43
working on it

[2020-12-16 16:42] LNR14 commented on #28
Is this issue completed? Or can I work on this issue?

[2020-12-16 17:43] Kajol-Kumari commented on #28
Hey @LNR14 this issue if open for grab. You can go ahead with this issue. Please confirm once if you want to go ahead with it, so that I can assign it to you.

[2020-12-16 20:08] LNR14 commented on #28
yes I want to go ahead with this issue. I have completed the issue and can push the changes to master if necessary.

- [x] I have completed the admin page
- [x] Created a navbar and this can be accessed using '/admin' in the url
![admin Page](https://user-images.githubusercontent.com/27141814/102400851-138d1200-3fa8-11eb-87f7-dd2c85b8cd0a.PNG)

[2020-12-17 06:42] #38 closed

[2020-12-17 06:46] Kajol-Kumari commented on #28
Hey @LNR14 the issue is of design only(not code) i.e you just need to come up with a UI design which we can use for coding later. You can use tools like figma for the same. Please let me know if you need any further clarification.

[2020-12-17 21:34] LNR14 commented on #28
Are there any issues related to development rather than design? If there is please let me know. thank you

[2020-12-18 07:42] #26 closed

[2020-12-18 07:45] Kajol-Kumari opened #53 "[Frontend] Implement Broadcast page Design"
Deliverables :

- [ ] Implement [this](https://www.figma.com/file/Hdxtv50E5vuzDoGGZMnfhC/BroadcastPage) broadcast design using material UI library
- [ ] use [this](https://colors.lol/blocky) color pallete

[2020-12-18 07:46] Kajol-Kumari commented on #28
Hey @LNR14 maybe you should look at [this](https://github.com/HITK-TECH-Community/Community-Website/issues/53) issue. It's for design implementation i.e development. Let me know if you would like to go ahead with this issue.

[2020-12-18 07:46] Kajol-Kumari commented on #43
Closing via [this](https://github.com/HITK-TECH-Community/Community-Website/pull/44) PR

[2020-12-18 07:46] #43 closed

[2020-12-18 07:48] #4 closed

[2020-12-18 07:57] Kajol-Kumari commented on #40
Hey @PinRathod can you please let us know if you are still working on this issue?

[2020-12-18 12:03] kenkirito commented on #53
working on it

[2020-12-18 12:08] PinRathod commented on #40
Yes,I am working on this issue.

[2020-12-18 14:14] kenkirito opened #54 "Bug report while running frontend"
@Kajol-Kumari
 Windows operating system

install npm install react-scripts@2.1.8

'React' must be in scope when using JSX error due to not using
import React from 'react'
import ReactDOM from 'react-dom'
![HITK Tech Community and 8 more pages - Personal - Microsoft​ Edge 18-12-2020 07_41_45 PM](https://user-images.githubusercontent.com/68530218/102623865-2bf85a80-4169-11eb-8bad-353f6e91db82.png)

[2020-12-19 13:50] LNR14 commented on #53
Can you assign this issue for me?

[2020-12-20 14:54] Kajol-Kumari commented on #53
Hey @kenkirito can you please let us know if you have started working on this issue?

[2020-12-20 14:59] Kajol-Kumari opened #55 "[Frontend] Implement About Us Design"
Deliverables:

- [ ] Keep the header same as current one and make the rest of the page structure including footer as per the deisgn [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/assets/About%20us%20page)
- [ ] Make Sure to use [this](https://colors.lol/blocky) pallet

update:
Everyone, working on this issue, please try to implement the meet the crew section from [this](

[2020-12-20 15:00] Kajol-Kumari commented on #55
@LNR14 would you like to go ahead with this issue?

[2020-12-20 15:04] Kajol-Kumari opened #56 "[Bug] Login Screen not appearing properly"
Issue Description:
-  Click on `admin?` button and see the login screen. It's not appearing properly.

Deliverables:

- [ ] Fix the login screen.

- [ ] Make sure to have a better UI and try to use [this](https://colors.lol/blocky) color pallet whereever required

[2020-12-20 15:13] Kajol-Kumari opened #57 "[Frontend] Resource sharing Page"
Deliverables:

- [ ] Make the resource sharing page having a form with the fields same as [this](https://www.figma.com/file/sh8ubRJgEXtQRbxCiJ3b48/Untitled?node-id=0%3A1)
- [ ] Use [this](https://colors.lol/blocky) color plattet for implementing the design

[2020-12-20 15:14] #37 closed

[2020-12-20 16:25] LNR14 commented on #55
Yeah I would like to go ahead with this issue.

[2020-12-20 18:08] kenkirito commented on #53
yes

[2020-12-20 18:09] kenkirito commented on #56
working on it

[2020-12-21 13:42] LNR14 commented on #55
Hey I am not able to use reactStrap ROW and COL elements in my about us design. Is there anything you could help me with??

[2020-12-21 15:00] Abhishek971999 commented on #55
@LNR14 What issues are you facing while using it?
If you are looking for how to use reactstrap layout, then use the following [link](https://reactstrap.github.io/components/layout/)

[2020-12-21 15:26] LNR14 commented on #55
I did use that and this is the output
![reactstrap](https://user-images.githubusercontent.com/27141814/102792503-39326680-436e-11eb-8874-c846bc8998ff.PNG)

This is what I am getting
I feel like some kind of JS or CSS file is overriding this.

[2020-12-21 17:26] Abhishek971999 commented on #55
You have to import the bootstrap CSS file in the component for reactstrap.
Try doing the following
`import 'bootstrap/dist/css/bootstrap.min.css';
` in the react component
It is mentioned on the home page of [ReactStrap](https://reactstrap.github.io/)

[2020-12-21 17:55] LNR14 commented on #55
Thank you. This has helped me.

[2020-12-22 10:25] #56 closed

[2020-12-23 12:03] Kajol-Kumari commented on #39
Hey @Aaryan8751 can you please tell us, if you are still working on this issue?

[2020-12-23 12:09] Aaryan8751 commented on #39
@Kajol-Kumari Actually I am busy in the preparation of my exams. Sorry I could do this one work. I will resume my contributions to this project from January 5.

[2020-12-23 12:11] Kajol-Kumari commented on #39
Thanks for letting me know this!

[2020-12-23 12:12] Kajol-Kumari commented on #39
@sreechand2002 would you like to go ahead with this issue?

[2020-12-23 13:17] sreechand2002 commented on #39
Sure @Kajol-Kumari

[2020-12-23 16:23] LNR14 commented on #55
Thank you. This has helped me.
I am trying to do this issue sorry for the late response. When I am trying to import reactstrap within about-us is that other UI layout is changing because this is an import. I am going to try without reactstrap.

[2020-12-23 17:31] Kajol-Kumari commented on #39
Hey @sreechand2002 please try to implement [this](https://files.slack.com/files-pri/T01FW9Q8AHH-F01H30BQMN3/capture.png) UI for the FAQ page as the previous given template have been implemented already

[2020-12-24 02:05] sreechand2002 commented on #39
https://github.com/HITK-TECH-Community/Community-Website/issues/10#issuecomment-739879010
should i implement this design

[2020-12-24 05:02] Kajol-Kumari commented on #39
@sreechand2002 You need to apply the design mentioned here and in this issue description.

[2020-12-24 06:42] Kajol-Kumari commented on #39
NO, @sreechand2002 you need to implement this design
![Capture](https://user-images.githubusercontent.com/44888949/103067579-3db28580-45e1-11eb-9deb-36d9624f4419.PNG)

[2020-12-25 07:45] Isha77agarwal commented on #57
Can I work on this?

[2020-12-25 07:48] 07yuvraj commented on #57
May i also work on this along with @Isha77agarwal

[2020-12-25 07:57] 07yuvraj commented on #54
Can you let me know what i have to do so that i could work on this?

[2020-12-25 09:38] Kajol-Kumari commented on #57
Sure @Isha77agarwal and @07yuvraj You both can go ahead with this issue.
Looking forward to your PRs :)

[2020-12-25 10:12] #39 closed

[2020-12-25 12:35] sreechand2002 commented on #40
@Kajol-Kumari can i take over this issue and complete it within couple of minutes  as i see its been pending since a long time

[2020-12-25 13:00] Kajol-Kumari commented on #40
Sure @sreechand2002 you can go ahead with this issue

[2020-12-25 13:10] sreechand2002 commented on #40
@Kajol-Kumari a contact us page is already implemented , should i replace that with this given design?

[2020-12-25 13:31] Kajol-Kumari commented on #40
No, keep the already present page codes, just implement this new UI in the `/contact` path

[2020-12-25 16:02] sreechand2002 commented on #40
ok sure, @Kajol-Kumari  can i go with semantic ui react, as in material ui the code is lengthy and by using semantic ui react  its way easier to implement the component's designs

[2020-12-25 16:12] Kajol-Kumari commented on #40
sure @sreechand2002 go ahead with `seantic ui` if you think it will ease the work :)

[2020-12-26 09:19] mak-ux opened #69 "backend(community user model and routes)"
We must have a community user model and respected routes so that we can fix functionality we are going to provide for a particular user in our community.Isn't It?

[2020-12-26 09:35] SHITIZ-AGGARWAL commented on #42
I would like to work on this issue during SWOC

[2020-12-26 10:45] sravanireddy1102 commented on #57
@Kajol-Kumari can i work on this?

[2020-12-26 11:16] Kajol-Kumari commented on #57
Sure @sravanireddy1102 , you can go ahead with this issue!

[2020-12-26 11:17] Kajol-Kumari commented on #42
Sure @SHITIZ-AGGARWAL you can go ahead with this issue.

[2020-12-26 11:21] Aniket31-coder commented on #2
I would like to contribute to this issue!

[2020-12-26 11:22] Aniket31-coder commented on #11
I would like to contribute to this issue!

[2020-12-26 12:06] SuNiL-Chau commented on #2
Hi @Kajol-Kumari I would like to design the home page is this issue still on?

[2020-12-26 12:25] SuNiL-Chau commented on #28
Hi @Kajol-Kumari can I contribute to this design?

[2020-12-26 13:28] Kajol-Kumari commented on #28
sure @SuNiL-Chau You can go ahead with this issue.

[2020-12-26 13:55] Kajol-Kumari commented on #11
sure @Aniket31-coder Go ahead with this issue.

[2020-12-26 13:55] #10 closed

[2020-12-26 13:56] #7 closed

[2020-12-26 14:25] Amit0412 commented on #40
CAN I WORK ON THIS?

[2020-12-26 14:30] sahebsunny commented on #40
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DSWOC.
Thank you.

[2020-12-26 14:32] Sshivani-12 commented on #9
interested!

[2020-12-26 16:32] Aniket31-coder commented on #11
Hey!
I have tried to make a simple UI for the resource page, please let me know if any change is required!
https://www.figma.com/file/Mi5e2rygIF0mu1K5J01MnV/Untitled?node-id=0%3A1

[2020-12-26 16:51] Kajol-Kumari commented on #40
Hey @sahebsunny @Amit0412 Thanks for your interest but this page has already been implemented and finalised. We will be opening more issue by morning, feel free to pick any from them.

[2020-12-26 16:51] #40 closed

[2020-12-26 16:52] Kajol-Kumari commented on #9
Go ahead @Sshivani-12 :)

[2020-12-26 16:52] Amit0412 commented on #40
OK.THANKYOU MADAM.I WILL WAIT FOR IT.

[2020-12-26 16:57] Kajol-Kumari commented on #11
Hey @Aniket31-coder it's pretty good. Can you please try using [this](https://colors.lol/blocky) color pallet for the UI

[2020-12-26 17:28] Aniket31-coder commented on #11
I have edited the color as per your feedback, please let me know if any changes are required.
https://www.figma.com/file/Mi5e2rygIF0mu1K5J01MnV/Untitled?node-id=0%3A1

[2020-12-26 17:30] Kajol-Kumari commented on #11
Thanks for incorporating the suggested changes. Please open up a PR now having this link under `assets/<your_name>` folder

[2020-12-26 18:42] Aniket31-coder commented on #57
Hey!
Can I work in this issue?

[2020-12-26 18:56] Malvika18 commented on #9
hey can i work on this

[2020-12-26 23:53] Kajol-Kumari commented on #57
Sure @Aniket31-coder !  You can go ahead with this

[2020-12-26 23:54] Kajol-Kumari commented on #9
Yes @Malvika18 Go ahead with this. Looking forward to your proposed design :)

[2020-12-27 04:10] yashsehgal commented on #9
Hey, I am interested in this issue. Can you assign me this?

[2020-12-27 04:19] yashsehgal commented on #2
Hey, I am interested in this issue. Can you assign me this?

[2020-12-27 04:30] yashsehgal commented on #9
Hey, I am interested in this. Shall I start working on this? I am currently working on the design. I can provide you with the mockups if you want?

[2020-12-27 04:49] shrinishant commented on #55
Is this issue still open to be contributed? If so, then I'm interested in coding the page according to the design as mentioned above in pngs. I would html, css, bootstrap and javascript. This is my very first time contributing an open source project. But, I've made some great projects in context of this issue. You can check them through my LinkedIn profile https://www.linkedin.com/in/nishant-shriv

[2020-12-27 07:36] aniketsingh98571 opened #74 "Issue in Readme.md"
For the Frontend part, you have mentioned this step in order to install the project on our machine. I have just added the second point because after navigating using `cd Community-Website` we cannot do directly `npm install` and also changed the file name.

1. Navigate to the community-website folder using cd `Community-Website`.
2. cd `frontend`
3. Run npm install. It will install all the require

[2020-12-27 07:37] aniketsingh98571 commented on #74
@Kajol-Kumari  Please look into it and assign it to me for SWOC.

[2020-12-27 07:57] Kajol-Kumari commented on #55
Hey @shrinishant It's good to know the you want to start your open source journey with our organisation, go ahead with this issue and we look forward to your awesome contributions :)

[2020-12-27 07:59] Kajol-Kumari commented on #2
Hey @Aniket31-coder @SuNiL-Chau @yashsehgal go ahead with this issue. Looking forward to see your awesome designs :)

[2020-12-27 08:00] Kajol-Kumari commented on #9
Go ahead @yashsehgal !

[2020-12-27 08:19] SuNiL-Chau commented on #28
Hey @Kajol-Kumari can you please provide me brand colours?

[2020-12-27 09:00] Kajol-Kumari commented on #28
Hey @SuNiL-Chau you need to follow [this](https://colors.lol/blocky) color pallet

[2020-12-27 09:10] Muskan10Mehta commented on #2
Hey! I am interested in this issue

[2020-12-27 09:34] kanishkaa24 commented on #55
I would like to work on this issue.

[2020-12-27 09:41] Kajol-Kumari commented on #2
@Muskan10Mehta go ahead with this issue. Looking forward to your design :)

[2020-12-27 09:42] Kajol-Kumari commented on #55
Sure @kanishkaa24 go ahead with this issue.

[2020-12-27 09:45] Kajol-Kumari commented on #74
Go ahead with this issue @aniketsingh98571

[2020-12-27 09:48] SuNiL-Chau commented on #28
Hey @Kajol-Kumari kindly have a look into below figma file link and will be waiting for your feedback.
https://www.figma.com/file/KIwDSv3VcoD682JFVdgPuK/test?node-id=0%3A1

[2020-12-27 09:53] Kajol-Kumari commented on #69
Hey @mak-ux thanks for reporting this, we were working on it for a while and now the backend basic structure is ready. Soon we will be opening up other backend related issues, till then I am closing this PR

[2020-12-27 09:53] #69 closed

[2020-12-27 09:57] Kajol-Kumari opened #75 "[Documentation] Add contributor code of conduct to the project"
Make a `code_of_conduct.md` file in the project and add the contributor guidelines in here.

Reference link - https://www.contributor-covenant.org/version/1/3/0/code-of-conduct/

[2020-12-27 10:01] Kajol-Kumari opened #76 "[Documentation] Add contribution guidelines"
Make a `contributing.md` file and add the guidelines for contributing to this project. You can refer [this](https://github.com/Canvasbird/canvasboard/blob/master/contribution.md) for the same ad make the required changes in here.

[2020-12-27 10:04] mak-ux commented on #69
Great thanks for updating otherwise I was working on authentication part.
If user structure is ready than let me work on other part.
Thank you

[2020-12-27 10:08] Kajol-Kumari commented on #69
Hey @mak-ux we won't have any user login/signup instead there would just be admin/login option available and we have already added the required authentication for the same. So I would request you to not start working until we open up the issues for the same.

[2020-12-27 10:09] mak-ux commented on #69
Ok

[2020-12-27 10:12] Kajol-Kumari commented on #28
Hey @SuNiL-Chau Nice start, can you try to put something in the page as well as I can see only navbar as of now. Maybe put icons having title `Broadcasts`, `About Us` , `FAQs` etc you can put dummy data as of now as we are only focusing on design in this issue.

[2020-12-27 10:19] kanishkaa24 commented on #76
Hey!
I would love to work on this.  I prepared contributing guidelines this morning itself.

[2020-12-27 10:20] kanishkaa24 commented on #75
Hey!
I would love to work on this.

[2020-12-27 10:23] Sloth-Panda commented on #75
Hey, would love to do this

[2020-12-27 10:25] Sloth-Panda commented on #74
Hey, Can I also do this for DWOC?

[2020-12-27 10:34] Kajol-Kumari commented on #74
Hey @Sloth-Panda we can't assign this issue to more than one person so please look at other issues

[2020-12-27 11:14] Kajol-Kumari commented on #76
Sure @kanishkaa24 go ahead with this issue.

[2020-12-27 11:16] Kajol-Kumari commented on #75
@Sloth-Panda up ahead with this issue. @kanishkaa24 you already have 2 issues on your end so please fix them first.

Looking forward to your awesome contributions :)

[2020-12-27 11:33] singhsaurav23 commented on #76
hey, Can I work on this issue? @Kajol-Kumari

[2020-12-27 11:39] codewithvk commented on #53
@Kajol-Kumari Can you give me link. Which slider you want to use?

[2020-12-27 12:19] jackfrost13 opened #78 "[Backend] Route for adding admins"

[2020-12-27 12:21] #78 closed

[2020-12-27 12:23] kanishkaa24 commented on #55
Hey
Where can I find the images to be used on the webpage ?

[2020-12-27 12:25] chehak123 commented on #76
hii
i would like to work on this issue

[2020-12-27 12:40] SuNiL-Chau commented on #28
Okay cool will work on it and will update here once done :+1:

[2020-12-27 12:41] jackfrost13 opened #79 "[Backend] Route for adding admins"
### Work to be done:

- Add a route for creating admins.[POST]
- Validation Schema for the request body
- API Testing using Postman demonstrating all possible cases(valid, invalid) with test cases

#### Request Body Structure:

| Parameter | Description                                        |
| --------- | -------------------------------------------------- |
| email     | string,required, email r

[2020-12-27 13:31] Kajol-Kumari commented on #55
Hey @kanishkaa24 put dummy images for now. We will be updating it finally on our end :)

[2020-12-27 13:32] Kajol-Kumari commented on #76
Hey @singhsaurav23 @chehak123 we can't assign this issue to more than one people so please look at some other issue or wait patiently as we will be opening new issues very soon :)

[2020-12-27 13:34] shrinishant commented on #55
Mam, can we discuss about this project on some platform like LinkedIn( I've send you invitation already here), slack or whatsapp. That would be really helpful.

[2020-12-27 13:36] kanishkaa24 commented on #76
Hello
I have made a pull request for the same.

[2020-12-27 13:37] jackfrost13 opened #81 "[Backend] API Testing for admin login"
###Description
API Testing for the admin route using Postman. There should be one collection for login containing multiple requests covering all the major tests for admin login route.

Examples:

- Invalid request body test
- Successful login
- Invalid password

Requests must be accompanied with pre-request scripts,tests accordingly where ever requried

One should be able to run the collection N n

[2020-12-27 13:52] Kajol-Kumari commented on #55
Hey @shrinishant we have our slack channel for discussion purpose whose link is mentioned in the readme. You can join in [our slack community](https://join.slack.com/t/hitkteckcommunity/shared_invite/zt-jgr1sd87-lhiXHO_x63Kt7h8VBxDaFw) and discuss about the issue/enhancements of anything relevant you wish :)

[2020-12-27 13:56] jackfrost13 opened #82 "[Backend] Documentation for initial backend setup"
### Description

Prepare a documentation for the initial backend setup.
Checkout `backend-setup` branch, go through the entire codebase and prepare a well descriptive documentation of it which will be used in the wiki page for the project.

This will help you in getting your basics cleared and learn a lot about backend setup and development(our experiences) and will be a unique experience where yo

[2020-12-27 14:09] hasheemismath commented on #79
I would like to work on this issue, can you assign it to me!
@jackfrost13

[2020-12-27 14:14] Kajol-Kumari opened #85 "[Open for all] Logo for our website"
- The logo that we currently have doesn't fir for our website, so a new logo is required which will look better as icon for our website

[2020-12-27 14:24] jackfrost13 opened #86 "[Backend] Finding bugs in backend setup"
### Task

Check out the [`backend-setup`](https://github.com/HITK-TECH-Community/Community-Website/tree/backend-setup) branch, go through the codebase. Play around the code base. Try to find bugs in the codebase.

### How to report a bug

Once you find a bug, create a new issue and tag the mentors @jackfrost13 @Kajol-Kumari with the following informations.

* Description
* Steps to reproduce the b

[2020-12-27 14:28] Kajol-Kumari commented on #76
Closing via [this](https://github.com/HITK-TECH-Community/Community-Website/pull/84) PR

[2020-12-27 14:28] kanishkaa24 commented on #85
I would love to work on this.

[2020-12-27 14:35] patel-atul commented on #53
Hey @Kajol-Kumari  Can I work on it.

[2020-12-27 14:47] Kajol-Kumari commented on #85
Sure @kanishkaa24 looking forward to your creativity :)

[2020-12-27 14:50] #75 closed

[2020-12-27 14:52] kanishkaa24 commented on #85
What kind of a logo are you looking for?

[2020-12-27 14:56] abhinavmaharana commented on #2
Can i work on it ? I am interested in this issue

[2020-12-27 14:59] Kajol-Kumari commented on #79
sure @hasheemismath. Go ahead with this issue!

[2020-12-27 15:05] Kajol-Kumari commented on #85
@kanishkaa24 if you see our current logo,it's not visible in the navbar clearly. So we are looking for a better logo that can display our motive along with being visible enough in the navbar. Maybe you can try with letters of `HITK` or anything else that you feel relevant

[2020-12-27 15:06] Kajol-Kumari commented on #2
sure @abhinavmaharana go ahead with this issue. Looking forward to your design :)

[2020-12-27 15:07] Kajol-Kumari commented on #53
Hey @codewithvk if you are taking about the slider for this page, use can use the same we have used in our home page and if you can find better library do implement it

[2020-12-27 15:07] Kajol-Kumari commented on #53
Sure @patel-atul go ahead!

[2020-12-27 15:12] Aniket31-coder commented on #85
I would like to work on the logo!

[2020-12-27 15:28] Aniket31-coder commented on #85
Hey!
I have given a try for the logo.

Could you please have a look and tell if any changes are required.
![K](https://user-images.githubusercontent.com/55101835/103174197-27792380-4886-11eb-809f-2a3b0864769c.png)

[2020-12-27 15:31] Kajol-Kumari commented on #85
@Aniket31-coder please remove the background and just keep the alphabets. You can take reference of `KOSS` logo from [here](https://kossiitkgp.org/)

[2020-12-27 15:35] Aniket31-coder commented on #85
Okay, sure would do that.

[2020-12-27 15:37] abhinavmaharana commented on #2
Thank you @Kajol-Kumari  for assigning me. I want to know few things before starting desiging the ui.
The list is as follows:-
1) Basic rough idea about what are the things you want in the website like any video play some , actually full rough idea of the webiste.
2) Is their any color sceme do you have in mind so that i will try to focus on that on the webiste.
3) What is the purpose of this webs

[2020-12-27 15:42] kanishkaa24 commented on #85
[https://www.canva.com/design/DAERh_C0YbE/e_aSWhdRSIzPggVJskadrA/view?utm_content=DAERh_C0YbE&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton](url)

[2020-12-27 15:43] kanishkaa24 commented on #85
![HITK](https://user-images.githubusercontent.com/71253790/103174465-64461a00-4888-11eb-8297-d8ffdc5ccfd5.png)

[2020-12-27 15:50] jackfrost13 opened #92 "[Backend] Route for updating admin profile"
### Work to be done:

- Add a route for updating admin profile.[PUT] `/admin`
- Validation Schema for the request body
- API Testing using Postman demonstrating all possible cases(valid, invalid) with test cases

#### Request Body Structure:

| Parameter | Description                                        |
| --------- | -------------------------------------------------- |
| firstName | string,op

[2020-12-27 15:57] Aniket31-coder commented on #85
Hey!
I have made the changes, could you please let me know if any other changes is needed!
![K (1)](https://user-images.githubusercontent.com/55101835/103174700-509bb300-488a-11eb-94bb-b7946f713f20.png)

[2020-12-27 16:03] Muskan10Mehta commented on #85
I would like to work on this!

[2020-12-27 16:09] jackfrost13 commented on #76
@kanishkaa24 Can you please incorporate Commit message guidelines from [this](https://github.com/BLNDLYBLV/DWOC2020-Node_Builder/wiki/Contribution-Guidelines)

[2020-12-27 16:10] patel-atul commented on #53
@Kajol-Kumari  Unassign me from this task I am not familiar with react I thought it was HTML CSS JS task.
apologies to all

[2020-12-27 16:20] jackfrost13 opened #94 "[Backend] Route for changing password"
### Work to be done:

- Add a route for changing password. `[PUT]` `/admin/password`
- Validation Schema for the request body
- API Testing using Postman demonstrating all possible cases(valid, invalid) with test cases

#### Request Body Structure:

| Parameter   | Description      |
| ----------- | ---------------- |
| `oldPassword` | string, required  |
| `newPassword` | string, required |

_**N

[2020-12-27 16:46] abhinav-huria commented on #2
I would like to work on this.

[2020-12-27 16:47] aniketsingh98571 commented on #74
@Kajol-Kumari  Please refere to #95 for this Issue #74

[2020-12-27 16:48] abhinav-huria commented on #9
I want to work on this.

[2020-12-27 16:50] abhinav-huria commented on #28
I want to work on this.

[2020-12-27 16:50] harikishantk commented on #57
@Kajol-Kumari  I would like to contribute to this, May I?

[2020-12-27 16:53] abhinav-huria commented on #11
I would like to work on this.

[2020-12-27 17:01] kanishkaa24 commented on #76
Sure

[2020-12-27 17:36] kanishkaa24 commented on #9
Hey!
I want to work on this.

[2020-12-27 17:41] kanishkaa24 commented on #85
![ATHAV](https://user-images.githubusercontent.com/71253790/103176560-c1e26280-4898-11eb-9257-db1c6841378e.png)
This is another design.

[2020-12-27 17:42] kanishkaa24 commented on #76
@jackfrost13
I have made the changes.

[2020-12-27 17:57] jackfrost13 commented on #76
Thanks, I will have a look ;)

[2020-12-27 17:59] Jassi10000 opened #97 "Regarding the server"
I have forked the project , but If I make any changes I need to restart the server again and again.
I want to edit the project readme so that everyone doesn't face the same problem. Please assign me to work on this issue .
with  tag DWOC

[2020-12-27 18:45] kenkirito commented on #53
i am working n this task. i am busy due to my exams but I will try to complete it on wensday

[2020-12-27 18:47] jackfrost13 commented on #97
By server do you mean the backend server?
If yes, then we already have that updated in the project level readme
you need to run `npm run dev` while you are inside `backend` folder

[2020-12-27 18:55] Jassi10000 commented on #97
Actually I wanted to add an alternative to run server by mentioning about nodemon

[2020-12-27 19:25] mak-ux commented on #97
@Jassi10000  nodemon is already added to the package.json.You don't need to start the server again and again.Pull the updated code

[2020-12-27 19:26] jackfrost13 commented on #97
`npm run dev` does that only ;)

[2020-12-27 19:27] #97 closed

[2020-12-27 19:45] Swastik1710 commented on #54
There's no such issue existing. It works totally fine. I guess you need to run npm install when inside the frontend folder.

[2020-12-27 20:06] kenkirito commented on #54
yes

[2020-12-27 20:06] #54 closed

[2020-12-27 21:31] kenkirito commented on #85
![296b303a-6d2f-4569-b664-a2cda5d8d698_200x200](https://user-images.githubusercontent.com/68530218/103180132-e8b09100-48b8-11eb-9642-a3664acb217c.png)

[2020-12-28 03:42] harikishantk commented on #55
@Kajol-Kumari can I also contribute in it?

[2020-12-28 03:44] harikishantk commented on #53
@Kajol-Kumari can you assign me up?

[2020-12-28 05:01] vedikaag99 commented on #57
@Kajol-Kumari I'd like to work on this as well.

[2020-12-28 05:15] Abhishek971999 commented on #53
Hey @codewithvk, it is react-owl-carousel. It is already added to the dependencies so you need not install it again. You can see the implementation on the home page for reference. You can find more info at [react-owl-carousel](https://www.npmjs.com/package/react-owl-carousel)

[2020-12-28 05:21] kanishkaa24 commented on #76
Is it fine or do I need to make any other changes?

[2020-12-28 05:42] jackfrost13 commented on #76
Yes, I have requested for a minor change. Please have a lot

[2020-12-28 06:07] himanshu007-creator commented on #85
i will like to work on logo part

[2020-12-28 06:12] himanshu007-creator commented on #2
i am working on it!

[2020-12-28 06:19] himanshu007-creator commented on #85
how is this?
![HITK](https://user-images.githubusercontent.com/65963997/103193500-a90e9700-4902-11eb-8e6d-1fe1d8f87207.gif)

[2020-12-28 06:26] Kajol-Kumari commented on #2
@abhinav-huria you alread have 2 issues on your end so I can't assign this to you @himanshu007-creator go ahead with this issue.

[2020-12-28 06:31] himanshu007-creator commented on #2
thanks @Kajol-Kumari for assigning me, can you give me the issue. Whats the deadline till whichj i should design the UI?

[2020-12-28 07:08] Kajol-Kumari commented on #85
Hey Everyone! I am glad to see the innovations but let's not stick with the word `HITK`, let's stick to the purpose i.e creating a resource sharing community. You all can make a PR by putting these logos in the `assets/log/<your_name>` folder but I would like to see if you can think something out of the box.

[2020-12-28 07:12] himanshu007-creator commented on #85
@Kajol-Kumari  mam i created the log folder, please merge it.

[2020-12-28 07:12] Kajol-Kumari commented on #55
sure @harikishantk go ahead with this isue!

[2020-12-28 07:16] Kajol-Kumari opened #99 "[Frontend] Make better Login Page"
- The login page is distorted and needs to be fixed

![Screenshot from 2020-12-28 12-44-18](https://user-images.githubusercontent.com/44888949/103196623-854f4f00-490a-11eb-95d4-25449fe3b964.png)

[2020-12-28 07:19] Kajol-Kumari opened #100 "[Frontend] The Navbar gets distorted on small screen"
Deliverables-

- [ ] Make the navbar responsive for different screen sizes
- [ ] Fix the menu option hover effect for smaller screens
![Screenshot from 2020-12-28 12-47-05](https://user-images.githubusercontent.com/44888949/103196878-01e22d80-490b-11eb-81d3-e144c93a848d.png)

[2020-12-28 07:19] the-supernova commented on #99
I would like to work on making a better login page(DWOC Participant)

[2020-12-28 07:22] Kajol-Kumari opened #101 "[Frontend] Fix the carousel section of homepage"
Currently the carousel section have very large image height. Fix it to better smaller sized posters content

![Screenshot from 2020-12-28 12-50-42](https://user-images.githubusercontent.com/44888949/103197105-74530d80-490b-11eb-966f-ce7b143f277d.png)

[2020-12-28 07:23] Kajol-Kumari commented on #99
Sure @the-supernova go ahead with this issue. Looking forward to your PR :)

[2020-12-28 07:25] Aniket31-coder commented on #85
Okay, sure @Kajol-Kumari, I will just think something else and let you know.

[2020-12-28 07:34] Kajol-Kumari commented on #85
Please make it `logo` and put your design under that. Sorry for the typo!

[2020-12-28 07:38] shraddha-1402 commented on #101
I would like to work on this for DWOC. Can you please assign this to me?

[2020-12-28 07:40] SuNiL-Chau commented on #28
Hey @Kajol-Kumari  Kindly have a look at the design and provide feedback
https://www.figma.com/file/KIwDSv3VcoD682JFVdgPuK/hitk-tech-design?node-id=0%3A1

[2020-12-28 07:41] shraddha-1402 commented on #99
Can i also work on this ?

[2020-12-28 07:42] atharva-upadhye-01 commented on #100
I would like to work on this.
Please assign this to me.

[2020-12-28 07:47] codewithvk commented on #101
![Capture](https://user-imag@Kajol-Kumari s.githubusercontent.com/61119120/103198680-e842e500-490e-11eb-9cb7-c9ab2070e742.PNG)
@Kajol-Kumari Check it. If you would to like then I will made PR

[2020-12-28 07:52] sakshikhachane commented on #100
@Kajol-Kumari I would like to work on this issue. I have worked on a responsive website design. Please assign this issue to me.

[2020-12-28 07:54] sakshikhachane commented on #92
@jackfrost13 I would like to work on this issue. Can you please assign me this issue?

[2020-12-28 07:58] Kajol-Kumari opened #102 "[Frontend] Improve FAQ page"
Deliverables:

- [ ] Better deisgn to FAQ page
- [ ] Remove all the inline styles from `faqs.js` file and put it in a new file named `faqs.css` and just use the classNames in JS file

[2020-12-28 08:00] Kajol-Kumari commented on #101
@shraddha-1402 you can go ahead with this issue and @codewithvk it's a request that don't start working on any issue until you get assigned and as we are following FCFS so I am assigning this to @shraddha-1402 :)

[2020-12-28 08:02] Kajol-Kumari commented on #100
Hey @atharva-upadhye-01 go ahead with this issue and @sakshikhachane as we are following FCFS so please look at any other opened issue.

[2020-12-28 08:11] sakshikhachane commented on #102
@Kajol-Kumari I would like to work on this issue. Please assign me this issue.

[2020-12-28 08:15] jackfrost13 commented on #92
Sure, go ahead. Happy Coding :)

[2020-12-28 08:29] kanishkaa24 commented on #102
@Kajol-Kumari I would like to work on this.

[2020-12-28 08:50] Kajol-Kumari commented on #28
@SuNiL-Chau it's pretty good 🤩 See if you want to add on something to it and make a PR with tur figma pink under `assets` folder at proper location

[2020-12-28 08:51] Kajol-Kumari commented on #99
Hey @shraddha-1402 sure. You can also work on this!

[2020-12-28 08:54] Kajol-Kumari commented on #102
@sakshikhachane go ahead with this issue :)

@kanishkaa24 we can't assign this issue to more than one at a time so please look for other issues

[2020-12-28 08:54] kanishkaa24 commented on #76
@jackfrost13
I have made the suggested changes.

[2020-12-28 09:25] shraddha-1402 commented on #101
![image](https://user-images.githubusercontent.com/69422250/103204133-a02abf00-491c-11eb-9170-2bd4445c508f.png)

Does this suffice your needs? Require suggestion.

[2020-12-28 09:55] the-supernova commented on #99
I am new to React..I couldn't find how can I make changes to the login button( I tried changing the loginBtn class and State)...could you guide me?

[2020-12-28 10:32] SuNiL-Chau commented on #28
Hey @Kajol-Kumari what you want to add on it?

[2020-12-28 11:49] the-supernova commented on #99
I'm new to React...I couldn't find how to make changes to the login button( I tried tweaking loginBtn class and State)..could you guide me in this?

[2020-12-28 12:21] kanishkaa24 commented on #9
![HITK Tech Community](https://user-images.githubusercontent.com/71253790/103213937-29e68680-4935-11eb-97a2-4ddf629d50a4.png)
![HITK Tech Community (1)](https://user-images.githubusercontent.com/71253790/103213939-2b17b380-4935-11eb-9121-e9a6c609ea2b.png)
@Kajol-Kumari I have come up with these designs.

[2020-12-28 12:26] himanshu007-creator commented on #2
@Kajol-Kumari  mam i have senat a pr . I have added the logo + the home page ui design. Please merge

https://github.com/HITK-TECH-Community/Community-Website/pull/107

[2020-12-28 13:04] jackfrost13 commented on #76
@kanishkaa24 Can you please confirm, in response to which event you have contributed?

[2020-12-28 13:09] kanishkaa24 commented on #76
I'm participating in DWOC and SWOC.

[2020-12-28 13:11] jackfrost13 commented on #76
Thanks for the update!

[2020-12-28 13:12] #76 closed

[2020-12-28 13:39] Kajol-Kumari commented on #101
yes @shraddha-1402! Just make sure it doesn't leave any blank space and the cycle continue from 1st poster, once it reaches the last one

[2020-12-28 13:44] shraddha-1402 commented on #101
yes, it is the same as you are asking

[2020-12-28 13:44] Kajol-Kumari commented on #99
Hey @the-supernova go to [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/frontend/src/components/auth/login) file and in here we are using bootstrap so you need to do change sin here and see if you are getting the desired output

[2020-12-28 13:45] shraddha-1402 commented on #101
should i try to make it responsive for mobile?

[2020-12-28 13:46] Kajol-Kumari commented on #9
@kanishkaa24 Looks preety good to me just make sure to keep the header and footer same as we have now and make a PR with the image/link under [this](https://github.com/HITK-TECH-Community/Community-Website/tree/main/assets/About%20us%20page) folder

[2020-12-28 13:52] Kajol-Kumari commented on #28
Hey @SuNiL-Chau let's keep this design only, just make sure to add the images that you have used for this design in the PR as well.

[2020-12-28 14:26] kanishkaa24 commented on #6
I want to work on this issue. @Kajol-Kumari

[2020-12-28 14:34] himanshu007-creator commented on #85
@Kajol-Kumari  PR for logo https://github.com/HITK-TECH-Community/Community-Website/pull/113

[2020-12-28 14:35] himanshu007-creator commented on #2
@Kajol-Kumari  PR for this issue sent https://github.com/HITK-TECH-Community/Community-Website/pull/114

[2020-12-28 14:48] SuNiL-Chau commented on #28
Okay will add SVG & dummy img of the avatar & SVG of the graph too later on chart.js or d3.js can be used for real data's

[2020-12-28 14:48] Abhishek971999 commented on #101
@shraddha-1402 Yes. Please make sure whatever designs you are making, try to make everything mobile-friendly as well.

[2020-12-28 14:55] the-supernova commented on #99
I'm there itself, trying to tweak the loginBtn class...I'm not able to resize the login button

[2020-12-28 15:11] kanishkaa24 commented on #9
Where can I find the current header and footer ?

[2020-12-28 15:20] shraddha-1402 commented on #101
okay, on it!

[2020-12-28 15:22] shraddha-1402 commented on #99
![image](https://user-images.githubusercontent.com/69422250/103224828-80ac8a00-494e-11eb-9231-1e4abbde50ce.png)

Is this login page okay? or should i make any other changes?

[2020-12-28 15:24] sahebsunny commented on #55
Sir, I have made this issue and I love to work on it.
I would be grateful if you can assign this issue to me.
Thank you.

[2020-12-28 15:42] SuNiL-Chau commented on #28
Hey @Kajol-Kumari have created a PR kindly check :)

[2020-12-28 15:45] sakshikhachane commented on #102
@Kajol-Kumari I am having one query here. In the faqs.js page Accordion is used, but can I use other than Accordion for making the faq page design better?

[2020-12-28 15:49] Kajol-Kumari commented on #6
sure @kanishkaa24 . Go ahead with this issue :)

[2020-12-28 15:50] Kajol-Kumari commented on #9
You can run the project and see it in the website itself .

[2020-12-28 15:52] Kajol-Kumari commented on #99
@the-supernova @the-supernova Try making a complete new login component with the fields same as we have now. ANd you can take a look at `contact` page for the look reference :)

[2020-12-28 15:57] Abhishek971999 commented on #102
@sakshikhachane you can use the same accordion if you wish or if you have another better design in mind then go ahead with that.

[2020-12-28 16:04] SuNiL-Chau commented on #2
Hey @Kajol-Kumari is issue still on? if yes i would like to design this page too

[2020-12-28 16:18] shraddha-1402 commented on #99
@Kajol-Kumari  please give suggestions

[2020-12-28 16:23] atharva-upadhye-01 commented on #100
<img width="40%" src="https://user-images.githubusercontent.com/70993547/103227754-25ca6100-4955-11eb-9b2c-c7abc90c0945.png"><img width="40%" src="https://user-images.githubusercontent.com/70993547/103227790-3e3a7b80-4955-11eb-88d7-9f429ed34fe7.png">
@Kajol-Kumari Does this solve the issue ? Should I send PR ?

[2020-12-28 17:05] Swastik1710 opened #125 "[FRONTEND] Improve Footer Component"
Make the footer component more attractive and lively and also add a Newsletter column to it.

[2020-12-28 17:23] Swastik1710 commented on #125
Hey @Kajol-Kumari , can I work on this issue.

[2020-12-28 17:30] jackfrost13 commented on #94
@mak-ux Please follow contributing guidelines. You are supposed to work on the issue only once you are assigned.
Moreover, your PR doesn't adhere to this issue.
Feel free to ask if you have any queries :)

[2020-12-28 17:37] samir-0711 commented on #94
I want to work on this. Can you assign me this issue?

[2020-12-28 17:41] Kajol-Kumari commented on #100
@atharva-upadhye-01 yes! Go-ahead and make a PR for this

[2020-12-28 17:47] Kajol-Kumari commented on #2
Hey @abhinavmaharana! Sorry i had missed this comment.

1. Out main motive of making the website is to display the broadcast which may contain few posters and links.
2. As of now, we have decided to go ahead with [this](https://colors.lol/blocky) pallet
3. Our motive is to reduce the knowledge gap between students in terms of resources and opportunities

[2020-12-28 17:54] Kajol-Kumari commented on #125
Go ahead @Swastik1710

[2020-12-28 17:58] Swastik1710 commented on #125
Thank you @Kajol-Kumari  for the guidance . I've made the PR regarding this issue and if you have any other suggestions do let me know. Thank You.

[2020-12-28 18:01] kanishkaa24 commented on #6
![Broadcast](https://user-images.githubusercontent.com/71253790/103234069-be1c1200-4964-11eb-9298-779aa3f82e05.png)
@Kajol-Kumari Please review this and let me know the changes.

[2020-12-28 18:05] mak-ux commented on #92
I have already done this, Please check my bench named Kanhaiya.
Update admin profile and forgot password

[2020-12-28 18:06] kanishkaa24 commented on #11
I would like to work on this issue.

[2020-12-28 18:28] mak-ux commented on #94
sorry for that, actually this is my first time working on open source so sorry.I thought we can work directly looking at the issue but now I got It.

[2020-12-28 18:41] mak-ux commented on #94
Sir here I want to add something that in req. body you are asking for the old password and then changing to a new password, In case Admin forgot his password then he will not be able to change or even login so we must have a reset password link so that from there on can try for changing the password.

[2020-12-28 19:32] jackfrost13 commented on #94
No issues, just keep in mind whenever you are making open source contributions, you go through the contribution guidelines and the code of conduct ;)

[2020-12-28 19:37] jackfrost13 commented on #94
Firstly no need for the "Sir" salutation, feel free to refer anyone by their names or tagging them.

Yes as this route is meant only for change password and not for forget password.
I cannot merge your code for this issue, I will reference a new issue and then you can contribute to that. Sounds fair?

Please go through the code structure that is followed. Your code doesn't follow the code style an

[2020-12-29 05:21] Abhishek971999 commented on #99
@shraddha-1402 try to make a new design discarding this one. You can check out the contact page for inspiration and build something similar to that if you like or if you have something even better go ahead with that.

[2020-12-29 05:25] shraddha-1402 commented on #99
okay, working on it now!

[2020-12-29 05:27] Kajol-Kumari commented on #6
Hey @kanishkaa24 it's looking go to me 👍

[2020-12-29 06:40] Schitiz commented on #94
Hey @jackfrost13 I would like to work on this issue.

[2020-12-29 07:09] kenkirito commented on #81
can i work on this issue

[2020-12-29 07:17] #100 closed

[2020-12-29 09:31] shraddha-1402 commented on #101
i've made the carousel responsive.
![image](https://user-images.githubusercontent.com/69422250/103273806-30810680-49e6-11eb-8e55-f62172333edd.png)
![image](https://user-images.githubusercontent.com/69422250/103273854-4d1d3e80-49e6-11eb-9769-7750205526a2.png)
![image](https://user-images.githubusercontent.com/69422250/103273994-9d949c00-49e6-11eb-967a-be4c7f9cb784.png)

[2020-12-29 10:08] Kajol-Kumari commented on #101
@shraddha-1402 Looks good to me :)

[2020-12-29 10:26] shraddha-1402 commented on #101
So should i make a pr?

[2020-12-29 10:32] shraddha-1402 commented on #101
So should i make a pr?

[2020-12-29 10:40] jackfrost13 commented on #81
Sure go ahead! Happy coding

[2020-12-29 10:49] Amit366 commented on #99
Can I work on this issue??

[2020-12-29 11:34] ritamganguli commented on #2
see sine we are targeting mainly the students of tier-2 and tier-3 can we add a job portal of latest of campus job

[2020-12-29 12:00] sakshikhachane commented on #102
![HITK Tech Community - Google Chrome 29-12-2020 17_27_48](https://user-images.githubusercontent.com/53635792/103282315-611f6b00-49fb-11eb-9282-8bc6815130dd.png)
![HITK Tech Community - Google Chrome 29-12-2020 17_27_36](https://user-images.githubusercontent.com/53635792/103282320-654b8880-49fb-11eb-8be6-dce029fa4d97.png)
![HITK Tech Community - Google Chrome 29-12-2020 17_26_49](https://user-imag

[2020-12-29 12:16] Kajol-Kumari commented on #101
Yes @shraddha-1402 go ahead and make the PR

[2020-12-29 12:17] Kajol-Kumari commented on #99
Sure @Amit366 go ahead with this issue

[2020-12-29 12:18] Kajol-Kumari commented on #2
Yes @ritamganguli that's a good point, we would think and would love to integrate this as well :)

[2020-12-29 12:29] Kajol-Kumari commented on #102
Hey @sakshikhachane it's looking pretty good. Just make sure that if you are using the image, remove the texts `FREQUENTLY ASKED QUESTIONS WANT TO ASK SOMETHING FROM US? `

[2020-12-29 14:20] sakshikhachane commented on #102
Yes removed!
Should I make a PR?

[2020-12-29 15:00] Kajol-Kumari commented on #102
yeah sure :)

[2020-12-29 15:13] jackfrost13 commented on #94
Sure, go ahead. Happy Coding.
Make sure you follow the codebase structure.

[2020-12-29 15:28] kenkirito commented on #99
can i work on this issue

[2020-12-29 15:46] vaishnavirshah commented on #99
Hi, can I contribute to this issue as a part of SWOC-21 ?

[2020-12-29 17:37] kanishkaa24 commented on #57
![Resource Sharing ](https://user-images.githubusercontent.com/71253790/103302865-a14a1200-4a2a-11eb-862f-1bfea98cf363.png)
@Kajol-Kumari Please review this.

[2020-12-29 17:39] muthuannamalai12 opened #135 "Create Code of Conduct. md"
Hi,
I found that this project repository is not having a code of conduct file in this repository, kindly assign me this issue and I would like to contribute a well-formatted code of conduct file as you know code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2020-12-29 17:39] muthuannamalai12 commented on #135
I would love to work on this issue as a part of DWOC. Kindly assign me

[2020-12-29 17:40] kanishkaa24 commented on #2
@Kajol-Kumari
I would like to work on this.

[2020-12-30 05:25] shraddha-1402 commented on #101
@Kajol-Kumari i cannot create the pr, the button is disabled
![image](https://user-images.githubusercontent.com/69422250/103331763-6cbb7200-4a8d-11eb-8488-71bed13e193c.png)
what might be wrong here, could you please help me?

[2020-12-30 10:13] Piyush3436 commented on #92
@jackfrost13 Can I take this up?

[2020-12-30 10:16] jackfrost13 commented on #92
Sure go ahead. Happy Coding ;)
Make sure you follow the codebase structure and style

[2020-12-30 10:22] mak-ux commented on #92
@jackfrost13 this is not done, you told me last time that you have already assigned this issue to someone, and now you are assigning to other thoug I have already done it, only I need to convert it into your codebase structure as u told last time.

[2020-12-30 10:26] jackfrost13 commented on #92
You worked on something else I believe 🤨
@Piyush3436 please be on hold for once.
@mak-ux had approached earlier but as per my knowledge it was some different issue. Let me get back to my system and have a check once
@mak-ux can you tag me in your pr if that been the case!

That's why following the guidelines are important else it creates a mess for us

[2020-12-30 10:40] mak-ux commented on #92
i have worked on to issue one was for password and the other was admin profile update. For password you told me not to use email one and for admin profile, you told me you have assigned someone else. Moreover, the structure was not like yours but the route was properly working for the admin profile.

[2020-12-30 10:48] jackfrost13 commented on #92
@mak-ux can you mark on the PR once

[2020-12-30 11:09] SuNiL-Chau commented on #28
Hey, @Kajol-Kumari in case this issue was just limited to the design of admin page then please keep it assign me & close it thank you :)

[2020-12-30 11:14] mak-ux commented on #92
@jackfrost13 I have tagged you in a comment into that PR, just check

[2020-12-30 11:25] jackfrost13 commented on #92
Yeah got it.
Go ahead, make the necessary changes and then open a new PR referencing this issue.
Sorry, @Piyush3436 there was some confusion. Stay tuned I will be opening a few more issues today. You can look at those!

[2020-12-30 11:53] #102 closed

[2020-12-30 12:04] Kajol-Kumari commented on #135
Hey @muthuannamalai12 thanks for taking time to open up this issue. But we already have the code of conduct fille [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md), so closing this issue

[2020-12-30 12:04] #135 closed

[2020-12-30 12:08] Kajol-Kumari commented on #99
Hey @kenkirito asyou are already working on two major issues, I request you to finish them first. @vaishnavirshah you can go ahead with this issue :)

[2020-12-30 12:10] Kajol-Kumari commented on #57
@kanishkaa24 please use any standard image here and the form also don't look much promising. You can checkout `contact-us` page for reference of the form design

[2020-12-30 12:21] muthuannamalai12 commented on #135
Ok Thank you.

[2020-12-30 12:26] Kajol-Kumari opened #138 "[Frontend] Make the Admin's Home Page"
Deliverables:

- [ ] Make separate navbar for admin taking reference of [this](https://www.figma.com/file/KIwDSv3VcoD682JFVdgPuK/hitk-tech-design?node-id=0%3A1) design
- [ ] Make the admin home page, taking reference from [this](https://www.figma.com/file/KIwDSv3VcoD682JFVdgPuK/hitk-tech-design?node-id=0%3A1) design.
- [ ] Make `/admin` route that will direct to the admin's home page

- Use [this]

[2020-12-30 12:59] Sshivani-12 commented on #11
Interested to work!

[2020-12-30 13:02] Sshivani-12 commented on #6
Interested!

[2020-12-30 13:19] Kajol-Kumari commented on #11
Sure @Sshivani-12 ! Go ahead with this issue.

[2020-12-30 14:09] sakshikhachane commented on #138
@Kajol-Kumari I would like to work on this issue. Please assign me.

[2020-12-30 14:29] Kajol-Kumari commented on #138
sure @sakshikhachane Go ahead with this issue

[2020-12-30 16:57] kenkirito commented on #53
![HITK Tech Community and 25 more pages - Personal - Microsoft​ Edge 30-12-2020 05_37_12 PM](https://user-images.githubusercontent.com/68530218/103368692-38c46900-4aee-11eb-8dba-2cdfe3d161d4.png)

[2020-12-30 16:58] kenkirito commented on #53
i am figring out popup

[2020-12-30 18:34] rounaksarda opened #143 "Color of icon is different on different page"
The color of icon in the form of  'Contact us' page is grey

![Screenshot (541)](https://user-images.githubusercontent.com/36100122/103373642-7c719f80-4afb-11eb-9094-39e417c76bc2.png)

The color of icon in the form of 'Resource' page is dark(black)
![Screenshot (542)](https://user-images.githubusercontent.com/36100122/103373703-a5923000-4afb-11eb-85a6-e01cd91f9302.png)

[2020-12-30 18:34] rounaksarda commented on #143
can I change it.

[2020-12-30 19:07] shraddha-1402 commented on #99
![image](https://user-images.githubusercontent.com/69422250/103375392-2a7f4880-4b00-11eb-9af5-33513c41bf1d.png)
Does this login page design look good? should i send pr?

[2020-12-30 19:14] mak-ux commented on #85
https://drive.google.com/file/d/1jlBfnaDQu2SoumTwf31JXW5p3-gbTK8-/view?usp=sharing

please check this one

[2020-12-31 05:11] Kajol-Kumari commented on #99
Yes @shraddha-1402 looks, great go for making the PR

[2020-12-31 05:14] Kajol-Kumari commented on #85
@mak-ux I like the concept of this logo. Looks really nice!

[2020-12-31 05:47] Kajol-Kumari commented on #143
Hey @rounaksarda thanks for taking time to open up this issue but we had kept that color to the icon intentionally. Also I request you to not go ahead to work on an issue untill tou get assigned to it. Please feel free to close this isse and take up another one :)

[2020-12-31 08:29] #143 closed

[2020-12-31 08:29] rounaksarda commented on #143
@Kajol-Kumari  okay!

[2020-12-31 09:21] #125 closed

[2020-12-31 10:08] Sapphire-Skies opened #147 "[Documentation] For issue creation and PR creation."
Adding documentation for issue creation and PR creation in pre-existing file contributing.md (in case new file creation required, please suggest a name). Extension to #75 and #76 issues. Will work on it as soon as assigned.

[2020-12-31 10:48] Kajol-Kumari opened #148 "[ Enhancement] Integrate welcome bot"
Deliverables

- [ ] Add welcome bot config file having proper message that will show up when any user will open up an issue or pull-request for the first time.

For reference, checkout https://github.com/apps/welcome

[2020-12-31 11:44] musavveer commented on #148
Hi @Kajol-Kumari  I would like to work on it.

[2020-12-31 13:12] Kajol-Kumari commented on #148
@musavveer go ahead!

[2020-12-31 16:04] jackfrost13 commented on #147
@Kajol-Kumari Have a look on this.

[2020-12-31 16:15] jackfrost13 opened #152 "[Backend] Email Service"
We need a helper function capable of sending emails. It should accept the necessary fields like recipient list, body, subject etc.
The configurations for email service should be in the `config` folder. We will also need an `emailTemplates.json` file which will contain the templates so that one can select a template and roll out the email without hardcoding the email matter.
For starter make one te

[2020-12-31 16:23] jackfrost13 opened #153 "[Backend] Link shortener service"
We need a link shortener service which accepts a query parameter `link` and shortens it to a code of length 5. One using that link it should redirect to the original link if valid; else throw a proper error.
Use collection `shortLinks` for storage

API testing required for this.
**For API testing briefing refer to #81**

[2020-12-31 16:26] jackfrost13 opened #154 "[Backend] Route for getting admins list"
We need a get route for getting a list of admins.
It will not be an open API
It should have pagination.
Route path is `/admin`

API Testing is required!
Refer to #81 for a brief overview of our API Testing procedure

[2020-12-31 16:29] #74 closed

[2020-12-31 16:31] jackfrost13 commented on #42
@SHITIZ-AGGARWAL Please update your progress on this.

[2020-12-31 16:33] SHITIZ-AGGARWAL commented on #42
I have started the work but I can commit after SWOC begins

[2020-12-31 16:33] jackfrost13 commented on #79
@hasheemismath Can you please update us with your progress on the issue?

[2020-12-31 16:36] SHITIZ-AGGARWAL commented on #42
---
name: Bug report
about: Create a report to help us improve

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-12-31 16:39] jackfrost13 commented on #42
@Kajol-Kumari Go through this once :+1:

[2020-12-31 16:45] SHITIZ-AGGARWAL commented on #42
---
name: Feature request
about: Suggest an idea for this project

---

**Please describe about your feature request problem**
A clear and concise description of what the problem is

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features yo

[2020-12-31 16:53] SHITIZ-AGGARWAL commented on #6
@Kajol-Kumari
I would like to contribute some designs to if possible

[2020-12-31 18:09] mak-ux commented on #152
can you please describe a little-bit for emailTemplates.json?

[2020-12-31 18:25] musavveer commented on #148
Include NWOC label

[2021-01-01 05:38] antaramunshi commented on #138
@Kajol-Kumari i would like to give it a shot as well.Can you assign this to me?

[2021-01-01 07:34] jackfrost13 commented on #152
something like this
[code]
This is just a rough template just for demonstration.

[2021-01-01 11:31] Aniket31-coder commented on #85
Hey!

Could you please have a look at this logo and tell if any changes are required.

![K (2)](https://user-images.githubusercontent.com/55101835/103437907-f36d7c00-4c52-11eb-9f3a-273bd5fd2d56.png)

[2021-01-01 14:57] Kajol-Kumari commented on #138
sure @antaramunshi go ahead with this issue!

[2021-01-01 14:58] Kajol-Kumari commented on #148
This project isn't under NWOC(Njack Winter of Code)

[2021-01-01 14:59] Kajol-Kumari commented on #6
sure @SHITIZ-AGGARWAL Looking forward to your designs :)

[2021-01-01 15:01] Kajol-Kumari commented on #42
@SHITIZ-AGGARWAL Looks nice, will require few minor amendments, feel free to open up a PR as soon as SWOC commence

[2021-01-01 15:13] SHITIZ-AGGARWAL commented on #42
@Kajol-Kumari sure

[2021-01-01 15:16] Bishal05 commented on #138
Hello can i contribute in the issue under swoc @Kajol-Kumari ?

[2021-01-01 16:00] Kajol-Kumari commented on #85
Hey @Aniket31-coder we need very precise meaningful logo without any other background, for reference look at the `KOSS` logo [here](https://kossiitkgp.org/)

[2021-01-01 16:06] Kajol-Kumari commented on #138
sure @Bishal05 Pleasego ahead with this issue.

[2021-01-01 17:05] shraddha-1402 commented on #101
@Kajol-Kumari @Abhishek971999
I forked the recent snapshot of the repo and got the same issue, even without adding my code in it.
![image](https://user-images.githubusercontent.com/69422250/103442908-2aa65200-4c80-11eb-80c5-d858da0eabf4.png)

Whereas in the previous snapshot on which I worked, the button was perfect.
So to check where the issue might be, I compared the dependencies of both the for

[2021-01-01 17:16] musavveer commented on #148
Ok

[2021-01-02 06:50] #148 closed

[2021-01-02 07:08] Kajol-Kumari commented on #101
@shraddha-1402 Do one thing, remove the blue background from the arrow keys and make the arrow keys blue and on hover, make it white.

[2021-01-02 07:16] shraddha-1402 commented on #101
okay! working on it!

[2021-01-02 07:17] Kajol-Kumari opened #161 "[Enhancement] Make the contact us form under card, similar to `login` form"
Deliverables:

- [ ] Make the Contact-us page UI better with the form being displaying over a card similar to the login page.

[2021-01-02 07:40] shraddha-1402 commented on #161
Hey @Kajol-Kumari i would like to work on this issue, please assign me!

[2021-01-02 07:48] Kajol-Kumari commented on #161
sure @shraddha-1402 please go ahead with this issue.

[2021-01-02 07:50] atharva-upadhye-01 commented on #154
I would like to work on this.
Please assign this to me.

[2021-01-02 07:53] Kajol-Kumari commented on #55
Everyone, working on this issue, please try to implmenet the `meet the crew` section from [this](https://www.canva.com/design/DAERm1blcVE/FgNJwq-gUKFeVXiBzXGQ4A/edit) design

[2021-01-02 08:01] Kajol-Kumari opened #162 "[Frontend] Make privacy policy page"
Deliverables:

- [ ] Add route for `privacy policy` text of the footer section.
- [ ] Make a good looking standard `privacy policy` page with dummy data as of now.

Please make sure to show the design here once before opening up the PR.

[2021-01-02 08:03] Kajol-Kumari opened #163 "[Frontend] Make Terms of Use Page"
Deliverables:
- [ ] Add route for `terms of use` text of the footer section. Don't add this in the navbar
- [ ]  Make a good looking standard `terms-of-use` page with dummy data as of now.

Please make sure to show the design here once before opening up the PR.

[2021-01-02 08:05] Kajol-Kumari opened #164 "[Frontend] Make Get Involved page"
Deliverables:

- [ ] Add route for `get Involved` page
- [ ]  Make a good looking standard `Get Involved` page having the ways of getting involved like Opening up an Issue, contributing to codebase etc. You can take reference from [here](https://eval.ai/get-involved) and [here](https://canvasboard.live/contribution)

Please make sure to show the design here once before opening up the PR.

[2021-01-02 08:20] atharva-upadhye-01 commented on #164
I would like to work on this.
Please assign this to me.

[2021-01-02 08:31] Kajol-Kumari commented on #164
sure @atharva-upadhye-01 Go ahead with this issue. Looking forward to your PR :)

[2021-01-02 10:28] jackfrost13 commented on #154
Sure go ahead. Make sure you follow the structure of our codebase.

[2021-01-02 12:16] atharva-upadhye-01 commented on #164
Adding Get Involved item in nav bar looks good in mobile view but gets distorted in landscape view
<img src="https://user-images.githubusercontent.com/70993547/103457071-056a2000-4d22-11eb-9068-c0c176ae471f.png" width="40%">
<img src="https://user-images.githubusercontent.com/70993547/103457067-fdaa7b80-4d21-11eb-9c28-3b3706e5cd7a.png" >
So digging on it too.

[2021-01-02 12:50] pankajkumarbij commented on #162
I would like to work on this.
Please assign this to me.

[2021-01-02 12:50] luckykumarirai commented on #163
I would like to work on this.
Please assign this to me.

[2021-01-02 13:00] atharva-upadhye-01 commented on #154
Thanks, yes I will.

[2021-01-02 13:16] Kajol-Kumari commented on #164
@atharva-upadhye-01 don't add this in navbar, in footer we have a text `Get Involved` under `Other` section, just make that direct to the Get Involve page

[2021-01-02 13:18] Kajol-Kumari commented on #162
Sure @pankajkumarbij go ahead with this issue. Looking forward to your PR :)

[2021-01-02 13:19] Kajol-Kumari commented on #163
sure @luckykumarirai GO ahead with this issue. Looking forward to your PR :)

[2021-01-02 13:25] atharva-upadhye-01 commented on #164
Yes I won't add `Get Involved`. But I just now fixed the CSS of navbar so that it can contain more tabs.
![image](https://user-images.githubusercontent.com/70993547/103458197-ba550a80-4d2b-11eb-87ad-70a568a3231c.png)
Would you like to merge this ?

[2021-01-02 13:59] Kajol-Kumari commented on #164
remove the other tab and just open up the PR with fixes(if any) I will check that on my end once and if i find that relevant, I would surely merge that with proper labels :)

[2021-01-02 14:07] tharunc opened #167 "Create CODE_OF_CONDUCT.md"
Hello there,
    I would like to add CODE_OF_CONDUCT.md to this repo. Kindly assign me this issue as a part of DWOC.

[2021-01-02 14:16] #101 closed

[2021-01-02 14:34] Kajol-Kumari commented on #167
Hey @tharuncthabks for taking time to open up this issue. But we already have `code of conduct` in our project [here](https://github.com/HITK-TECH-Community/Community-Website/blob/main/code_of_conduct.md), so closing this issue

[2021-01-02 14:34] #167 closed

[2021-01-02 16:01] shraddha-1402 commented on #162
Hey @Kajol-Kumari can i also work on this issue?

[2021-01-02 18:39] vedikaag99 commented on #163
@Kajol-Kumari I would like to work on this.

[2021-01-03 04:29] atharva-upadhye-01 commented on #164
How does this design look ?

![image](https://user-images.githubusercontent.com/70993547/103471746-bc5dae80-4da9-11eb-91e2-4263ab5c1923.png)

[2021-01-03 04:55] atharva-upadhye-01 commented on #154
`localhost:3500/admin/admin-list` route is now giving this list on POSTMAN.
I wasn't able to find predefined tests, please guide me.

![image](https://user-images.githubusercontent.com/70993547/103471895-3b53e680-4dac-11eb-899e-b7d0fe2b4e6e.png)
Note: In database some admins didn't insert their names so it returned null. Hence list of emails is being returned as this is inserted by each admin

[2021-01-03 05:03] jackfrost13 commented on #154
Please change the route to `/admin`
The list seems fine, since it's in dev mode it is completely fine that the names are null.
Please add a query parameter `superAdmin` which if is true get only superadmins. If false get only admins. If nothing is provided get all. Something like this.

[2021-01-03 05:28] Piyush3436 commented on #152
@jackfrost13 can I take this up?

[2021-01-03 05:31] jackfrost13 commented on #152
Sure

[2021-01-03 06:35] Kajol-Kumari commented on #164
@atharva-upadhye-01 design looks preety good but instead of using picture in the card, please use few lines describing the heading like under `Report Issue` , you can put `If you came across something that isn't working perfectly, feel free to open up an issue for the same`

[2021-01-03 07:18] Kajol-Kumari opened #171 "[Frontend] Enhancement in Resource sharing page"
Deliverables:

- [ ] Make the `Resource-sharing` page UI better with the form being displaying over a card similar to the `login page`
- [ ] Also mould the form structure a bit by keeping following fields row-wise
 row 1 - Name and Email ID
 row 2 - Phone Number and Resource link
and keep one input-field per row for the rest

[2021-01-03 07:33] Kajol-Kumari opened #172 "[Enhancement] Add preetier as pre-commit-hook"
Deliverables:

- [ ] Add `preetier` code formatter as pre-commit hook to this repo.
- [ ] Test it on your forked repo and paste the screenshot in PR description

Refrence links: https://dev.to/botreetechnologies/setting-up-husky-pre-commit-hook-with-eslint-prettier-and-lint-staged-for-react-and-react-native-d05

[2021-01-03 09:16] shraddha-1402 commented on #171
Hey @Kajol-Kumari i would like to work on this. Can you assign me?

[2021-01-03 09:26] shraddha-1402 commented on #172
Hey @Kajol-Kumari i would like to work on this. Please assign me!

[2021-01-03 10:09] Kajol-Kumari commented on #172
Sure @shraddha-1402 go ahead with this issue

[2021-01-03 10:11] #161 closed

[2021-01-03 11:29] kenkirito commented on #171
assign me

[2021-01-03 14:28] vaishnavirshah commented on #99
@Kajol-Kumari This is the login page I have designed, similar to the contact us page. Since I am not familiar with react, I couldn't do it in the frontend folder and have separately created it. I have used bootstrap for this and have made it responsive using it. If you could guide me how to implement it in the website it will be great!

![LoginPage](https://user-images.githubusercontent.com/617528

[2021-01-03 14:33] vedikaag99 commented on #163
https://user-images.githubusercontent.com/67699840/103481108-9c0c0f00-4dfe-11eb-8def-82db6d47be84.mov

@Kajol-Kumari Please review.

[2021-01-03 15:08] Kajol-Kumari commented on #163
@vedikaag99 looks nice and clean :+1:

[2021-01-03 15:10] Kajol-Kumari commented on #99
@vaishnavirshah looks nice just the form needs a bit of enhancement. For the coding part, I would recommend you to take help from already written code of login form. Pull the latest changes and go through the code once by parallely runing it. you would be able to see which part is doing what and similarly you can implement your design

[2021-01-04 06:26] abdus commented on #153
I want to work on this task. please assign it to me :)

[2021-01-04 06:39] jackfrost13 commented on #153
@abdus Sure go ahead, Happy Coding ;)
Before getting into the code please discuss the architecture once with me

[2021-01-04 06:44] Utkarshn10 commented on #171
@Kajol-Kumari I am a Swoc participant and I would like to work on this issue.

[2021-01-04 06:44] abdus commented on #153
@jackfrost13 sure thing.

[2021-01-04 07:46] Kajol-Kumari commented on #171
Sure @Utkarshn10 go ahead with this issue

[2021-01-04 08:58] Utkarshn10 commented on #171
@Kajol-Kumari I changed the card but I the second task isn't clear. Could you please share a reference image.
![Capture](https://user-images.githubusercontent.com/58587256/103518023-10938c00-4e99-11eb-80a1-db9d61ef84e0.PNG)

[2021-01-04 11:52] shraddha-1402 commented on #162
How does this design look?

![image](https://user-images.githubusercontent.com/69422250/103532468-4cd2e680-4eb1-11eb-9c55-d9522758bc9a.png)

[2021-01-04 12:01] abdus commented on #153
@jackfrost13 here's how I am thinking to implement it:

The URL shortener service would listen for requests in a pathname, for example, `example.com/l/w3erw`. This can be a subdomain as well(say, `links.example.com/w3erw`. Obviously, it will follow microservice architecture.

To generate a unique string for any given URL, we could simply hash the string in, say, `md5` and take the first 5 characte

[2021-01-04 12:18] jackfrost13 commented on #153
Yeah, the approach seems apt enough. I think so generating it before-hand will not be very useful( as it will incur an extra DB call). We can go ahead with hash one or even generating a random 5 character shortcode. Please go ahead with the coding, just make sure it behaves as an independent service( a simple helper function). Happy Coding :)

[2021-01-04 12:39] atharva-upadhye-01 commented on #164
@Kajol-Kumari  How is this ?

![image](https://user-images.githubusercontent.com/70993547/103536090-e1404780-4eb7-11eb-86ef-64f4f3a05126.png)

[2021-01-04 14:41] Kajol-Kumari commented on #164
@atharva-upadhye-01 looks nice and clean, just make the heading consistent with other pages and it will be good to go :(

[2021-01-04 14:43] Kajol-Kumari commented on #162
@shraddha-1402 just make the left side image vertically centre aligned and I feel it would be good to go :)

[2021-01-04 14:56] shraddha-1402 commented on #162
Hey, @Kajol-Kumari does this meet your expectations?
![image](https://user-images.githubusercontent.com/69422250/103547884-f96d9200-4eca-11eb-8ec7-7cf5e2b7459f.png)

[2021-01-04 15:10] shraddha-1402 commented on #172
Hey @Kajol-Kumari do you want all the files to get reformatted when we commit or only the staged files?

[2021-01-04 17:13] Kajol-Kumari commented on #162
@shraddha-1402 I told vertically centre. Btw check whether this or vertically centre looks good and make PR with that :)

[2021-01-04 17:14] Kajol-Kumari commented on #172
Hey @shraddha-1402 just keep it limited to staged files.

[2021-01-04 17:16] shraddha-1402 commented on #162
Oh, i misunderstood! i'll do it vertically centre and send for review!

[2021-01-04 19:37] N00Bmaster2810 commented on #79
@jackfrost13 sir if this issue is open can I work on it?

[2021-01-04 19:41] N00Bmaster2810 commented on #94
Hi @jackfrost13 ,  if this issue is open can I work on it under SWOC?

[2021-01-05 00:13] jackfrost13 commented on #79
@hasheemismath Do you have an update? Else we would be going ahead with other participants

[2021-01-05 00:14] jackfrost13 commented on #94
@Schitiz Please update your progress on the issue ASAP!

[2021-01-05 03:34] Dhriti-Roy commented on #2
I am would like to work on this

[2021-01-05 04:20] amanprateek123 commented on #171
@Kajol-Kumari  If the issue is not solved yet, then please assign this issue to me. I have a good hand on the frontend part.

[2021-01-05 04:37] Utkarshn10 commented on #171
@Kajol-Kumari  This is how the resources page form looks like after the changes. Please confirm so that I can generate pr.
![2](https://user-images.githubusercontent.com/58587256/103606935-ba2c5900-4f3d-11eb-966e-fd11d38c573e.PNG)

[2021-01-05 05:05] Kajol-Kumari commented on #171
Hey @amanprateek123 we can't assign this issue to you as @Utkarshn10 is already working on it. Maybe you can try enhancing the FAQs page and if you come up with  a better Ui, I will surely add proper labels to it and merge it :)

[2021-01-05 05:10] amanprateek123 commented on #171
Thank You @Kajol-Kumari for assigning this issue. I am looking forward to it. Once I setup the project and go through the source code, i will immediate start working on this issue.

[2021-01-05 05:23] kenkirito commented on #152
Can i work on this issue

[2021-01-05 05:24] salil-naik opened #178 "[Frontend] Replace class with className"
Replace the `class` attributes with `className` in terms.js file.

[2021-01-05 05:26] jackfrost13 commented on #152
@kenkirito Someone has been already assigned. I believe you already been assigned an issue which is not yet complete. As per the limitations one can work only on one issue at a time

[2021-01-05 05:34] kenkirito commented on #178
assign me

[2021-01-05 05:37] salil-naik opened #179 "[Frontend] Fix the team card in about page"
- [ ] Fix the LinkedIn icon which is not visible.
- [ ] Remove the `linear-gradient` effect on hover. Just keep `box-shadow`.

![image](https://user-images.githubusercontent.com/20141508/103610410-214e0b80-4f46-11eb-9282-42ea6a5aee97.png)

[2021-01-05 05:44] kenkirito commented on #152
i have completed with the issue i am making a pr

[2021-01-05 06:10] abhay313 commented on #179
Can I work on this issue?

[2021-01-05 06:11] mohit355 commented on #179
Yes, of course, go ahead

[2021-01-05 06:45] Utkarshn10 commented on #171
@Kajol-Kumari Done as suggested!
![3](https://user-images.githubusercontent.com/58587256/103614916-a4c02a80-4f4f-11eb-80b4-85baf58805fc.PNG)

[2021-01-05 06:49] amanprateek123 commented on #171
@Kajol-Kumari  How is this UI of FAQ page? For any change please let me know.
![Screenshot from 2021-01-05 12-17-31](https://user-images.githubusercontent.com/42955585/103615267-4a739980-4f50-11eb-8fb4-936b280ff2aa.png)

[2021-01-05 07:06] Kajol-Kumari opened #180 "[Enhancement] Make Login page better"
Deliverables:

- [ ] Make the `Sign In` button similar to that in `contact-us` page having the same hovering effect and look.
- [ ] After click on input box, currently we see a black border, replace that with the bolder box shadow
- [ ] Make the hide/show icon feature working
- [ ] Make the cursor pointer to the `hide/show` icon

[2021-01-05 07:12] kenkirito commented on #180
assign me

[2021-01-05 07:14] amanprateek123 commented on #171
@Kajol-Kumari  This is the mobile version of the FAQ page.

![faq_mobile](https://user-images.githubusercontent.com/42955585/103617180-cd4a2380-4f53-11eb-91fb-b184d36130d0.jpeg)

[2021-01-05 07:15] urvashi-code1255 commented on #180
@Kajol-Kumari I want to work on this project. Kindly assign this issue to me
Thanks & Regards
Urvashi Anand

[2021-01-05 07:49] Kajol-Kumari commented on #2
@Dhriti-Roy we won't be assigning this issue to anyone so `no more assignment` label is added in here. Please look at  the other issues

[2021-01-05 07:52] Kajol-Kumari commented on #180
Hey @kenkirito as you are already assigned three issue, please make sure to get atleast one of them merged in order to get more issues assigned.
@urvashi-code1255 you can go ahead with this issue.

[2021-01-05 07:54] urvashi-code1255 commented on #180
Thank you for assigning this to me 😄

[2021-01-05 08:12] kenkirito commented on #180
i have completed my issues

[2021-01-05 08:13] kenkirito commented on #180
i have made the pr

[2021-01-05 09:03] Kajol-Kumari commented on #180
You need to make sure to get at least one of them merged. Also you haven't incorporated the requested changes. So please make sure to do that otherwise it's goona pile up which isn't good for both of us

[2021-01-05 09:06] kenkirito commented on #180
ok

[2021-01-05 09:57] shraddha-1402 commented on #162
@Kajol-Kumari please review this design and suggest changes if any, and whichever design looks fine to you i'll make the pr of that.

![image](https://user-images.githubusercontent.com/69422250/103632502-66843480-4f6a-11eb-8975-2f23f1b90a8a.png)

[2021-01-05 11:12] urvashi-code1255 commented on #180
@Kajol-Kumari I did other changes, but can you please tell from where the black border of input box is coming. I am unable to find it. I have spend a lot of time finding it. 😅

[2021-01-05 11:15] #178 closed

[2021-01-05 11:15] Kajol-Kumari commented on #180
just click on any of the input field, you will get it

[2021-01-05 11:16] Kajol-Kumari commented on #162
@shraddha-1402 please make the PR for this design.

[2021-01-05 11:17] urvashi-code1255 commented on #180
No, I get it, but from code i am not getting it

[2021-01-05 11:22] shraddha-1402 commented on #162
okay @Kajol-Kumari, i'll make the pr, but are there any changes i could do to make it better?

[2021-01-05 11:22] vaishnavirshah commented on #99
This is the login page I have designed.

Normal:
![LoginPage](https://user-images.githubusercontent.com/61752840/103640446-0b583f00-4f76-11eb-9250-fb1c5df82b58.jpeg)

Hover over submit:
![LoginPageHover](https://user-images.githubusercontent.com/61752840/103640450-0d220280-4f76-11eb-8870-4846e2382da0.jpeg)

Are there any changes I should make or should I make a PR?

[2021-01-05 11:24] Kajol-Kumari commented on #180
Maybe that's the default style of input field(on -click) try inspecting the element and changing the input tag on-click border color

[2021-01-05 11:26] Kajol-Kumari commented on #162
Hey @shraddha-1402 thanks for asking, I would recommend you to see the `terms` page and follow that for heading and also if you can find some better image than what you have used now, for this page, it would be appreciated :)

[2021-01-05 11:29] shraddha-1402 commented on #162
Sure @Kajol-Kumari i'll look into the `Terms` page. And for the image do you want me to find one which covers the whole width of the page?

[2021-01-05 11:30] Kajol-Kumari commented on #162
@shraddha-1402 not necessarily the whole width, just need to look better than the current one :)

[2021-01-05 11:31] N00Bmaster2810 commented on #179
If this issue is available then can I work on this @mohit355

[2021-01-05 11:31] shraddha-1402 commented on #162
Sure! Can i send you the images on slack channel for review?

[2021-01-05 11:34] Kajol-Kumari commented on #99
Hey @vaishnavirshah this design looks nice, just make the input fields similar to the fields we have in `contact-us` page and also keep the `submit` button similar to the `contact-us` page in order to be consistent. Also I request you to make a folder by your name under `auth` folder and keep all your login code in there in order to avoid the conflict.

[2021-01-05 11:35] Kajol-Kumari opened #187 "[Enhancement] Make the FAQ page better"
Deliverable:
- [ ] Fix the design of FAQ page

[2021-01-05 11:37] Kajol-Kumari commented on #187
@amanprateek123 can you please claim this?

[2021-01-05 11:38] Kajol-Kumari commented on #162
sure @shraddha-1402 !

[2021-01-05 12:03] mohit355 commented on #179
@N00Bmaster2810  this issue is already assigned to another participant. So if he is not able to complete this issue within 7days then I will assign this to you.

[2021-01-05 12:06] amanprateek123 commented on #187
Ok got it! @Kajol-Kumari

[2021-01-05 12:34] vaishnavirshah commented on #99
![image](https://user-images.githubusercontent.com/61752840/103646844-59724000-4f80-11eb-8089-f2b76cd3fe13.png)

Is this fine?

[2021-01-05 12:38] Kajol-Kumari commented on #99
Yes! @vaishnavirshah looks nice and clean. You can make the PR now

[2021-01-05 12:42] vaishnavirshah commented on #99
@Kajol-Kumari  For SWOC if I make PR today will it get counted or should I make it tomorrow?

[2021-01-05 12:43] urvashi-code1255 opened #191 "[Frontend] Hide/Show Icon change"
Deliverable:

- [ ] Change the hide/show icon to open eye when we can see the password and closed eye when input is of password type.

@Kajol-Kumari Please assign this issue to me.

[2021-01-05 12:43] Kajol-Kumari commented on #99
Make it tomorrow, just to be on safe side :)

[2021-01-05 13:51] amanprateek123 commented on #191
@urvashi-code1255  please assign this issue to me

[2021-01-05 13:53] Kajol-Kumari commented on #191
Hey @urvashi-code1255 the third point of [this](https://github.com/HITK-TECH-Community/Community-Website/issues/180) issue covers this. Please feel free to close this issue

[2021-01-05 14:00] urvashi-code1255 commented on #191
Sure :)

[2021-01-05 14:00] #191 closed

[2021-01-05 14:04] amanprateek123 commented on #53
@Kajol-Kumari  if this issue  is not assigned then please assign this to me.

[2021-01-05 15:22] kenkirito commented on #53
![HITK Tech Community and 44 more pages - Personal - Microsoft​ Edge 05-01-2021 08_33_33 PM](https://user-images.githubusercontent.com/68530218/103664139-f1c7ef00-4f97-11eb-9daf-003f4d93fba3.png)

[2021-01-05 15:24] kenkirito commented on #53
![HITK Tech Community and 45 more pages - Personal - Microsoft​ Edge 05-01-2021 08_53_41 PM (1)](https://user-images.githubusercontent.com/68530218/103664325-29cf3200-4f98-11eb-94c9-41b822e69f24.png)

[2021-01-05 15:26] kenkirito commented on #53
hi you have told me in the morning to work on the remaining issues so I start working on it.

[2021-01-05 18:16] shraddha-1402 commented on #162
@Kajol-Kumari do tell if any other changes are required, i'd be happy to implement them!

![image](https://user-images.githubusercontent.com/69422250/103683268-fbf5e780-4faf-11eb-9ca5-7487b99447d1.png)

[2021-01-05 19:04] jackfrost13 commented on #79
@N00Bmaster2810 Go ahead with the issue
@hasheemismath I am removing you due to no response from your end.

[2021-01-05 19:06] N00Bmaster2810 commented on #79
Ok thank you @jackfrost13

[2021-01-05 19:08] jackfrost13 commented on #79
Happy Coding ;)
Just keep a check that you follow our coding practices and code structure ;)
Let me know if you need any inputs from my end!

[2021-01-05 19:10] N00Bmaster2810 commented on #79
Ok sir @jackfrost13

[2021-01-05 19:16] jackfrost13 commented on #94
@Schitiz It been considerably sufficient time for completing the issue. Please update your progress else we will be left with nothing but to assign someone else on this issue

[2021-01-05 19:30] Kajol-Kumari commented on #162
Nice and clean! Looks good to go

[2021-01-05 20:08] kenkirito commented on #53
![HITK Tech Community and 8 more pages - Personal - Microsoft​ Edge 06-01-2021 01_31_53 AM](https://user-images.githubusercontent.com/68530218/103693771-d1138f80-4fbf-11eb-9df4-66b44b8433c5.png)

[2021-01-05 20:08] kenkirito commented on #53
https://user-images.githubusercontent.com/68530218/103693819-e5f02300-4fbf-11eb-84b6-e4b03002f36c.mp4

[2021-01-05 20:10] kenkirito commented on #53
![HITK Tech Community and 9 more pages - Personal - Microsoft​ Edge 06-01-2021 01_39_41 AM (1)](https://user-images.githubusercontent.com/68530218/103693922-16d05800-4fc0-11eb-9921-fa457f2bf303.png)

[2021-01-05 20:11] kenkirito commented on #53
![HITK Tech Community and 44 more pages - Personal - Microsoft​ Edge 05-01-2021 08_47_35 PM](https://user-images.githubusercontent.com/68530218/103694081-5303b880-4fc0-11eb-8c15-5f434bc897b9.png)

[2021-01-05 20:12] kenkirito commented on #53
it is good

[2021-01-05 21:51] #187 closed

[2021-01-05 21:53] #42 closed

[2021-01-06 04:41] yashsehgal commented on #2
Hey There, This is my approach for webpage design. This is just an experimental UI following a retro-classic theme. Hope you'll like it.

![page-design](https://user-images.githubusercontent.com/62352288/103729904-743bc780-5007-11eb-8531-430acb3696e1.png)

[2021-01-06 05:33] yashsehgal commented on #180
Can I work on this issue?

[2021-01-06 05:39] yashsehgal commented on #28
Is this PR closed? Because I have a design idea too.

[2021-01-06 05:59] yashsehgal commented on #6
Hey There, This is my approach for webpage design. This is just an experimental UI following a retro-classic theme. Hope you'll like it.

![broadcasts-page-ui](https://user-images.githubusercontent.com/62352288/103734622-60e22980-5012-11eb-873a-1df8577267a4.png)

[2021-01-06 06:17] yashsehgal commented on #9
Hey There, This is my approach for webpage design. This is just an experimental UI following a retro-classic theme. Hope you'll like it.

![about-us-page](https://user-images.githubusercontent.com/62352288/103735869-fbdc0300-5014-11eb-89cb-fb8cd6b8a15f.png)

[2021-01-06 07:00] Kajol-Kumari commented on #28
Hey @yashsehgal this issue is still open for grab. Feel free to show us your design here :)

[2021-01-06 07:02] Kajol-Kumari commented on #2
Hey @yashsehgal this deisgn is nice and clean! But I request you to mould the design a bit so that we build something on the top of what we already have. Btw this design is good enough to take into consideration so feel free to come up with a PR :)

[2021-01-06 07:03] Kajol-Kumari commented on #6
@yashsehgal the design looks clean, but maybe in place of `learn more` button, put 2-3 dummy lines

[2021-01-06 07:05] Kajol-Kumari commented on #53
Hey @kenkirito functionality seems to work fine. Can you please try to put the broadcasts in the form of heading+content in the carousel card, it will be good to go then :)

[2021-01-06 07:06] Kajol-Kumari commented on #9
@yashsehgal just add one more section in this design `Our Team`. Then this design will be good to go for implementation :)

[2021-01-06 07:11] yashsehgal commented on #28
Sure, I will do this task.

[2021-01-06 07:13] yashsehgal commented on #2
Thanks. Shall I make a new PR or Should I first re-design it and then create one?

[2021-01-06 07:14] yashsehgal commented on #6
Okay, I will do that.

[2021-01-06 07:17] kanishkaa24 commented on #28
@Kajol-Kumari
I want to work on this. Please assign.

[2021-01-06 07:19] kenkirito commented on #53
like u want to add heading in card

[2021-01-06 07:20] kenkirito commented on #53
or you want some content under broadcast page

[2021-01-06 07:26] yashsehgal commented on #9
Sure, I will do that.

[2021-01-06 07:33] Kajol-Kumari commented on #53
@kenkirito the card content is currently like just a paragraph text, I meant to change it to `heading` and below that paragraph text

[2021-01-06 07:34] Kajol-Kumari commented on #28
Hey @kanishkaa24 yes! it's open. You can go ahead with this issue

[2021-01-06 07:35] Kajol-Kumari commented on #2
Try re-designing and then make the PR :)

[2021-01-06 07:37] kenkirito commented on #53
![HITK Tech Community and 6 more pages - Personal - Microsoft​ Edge 06-01-2021 01_06_10 PM (1)](https://user-images.githubusercontent.com/68530218/103741970-0ea80500-5020-11eb-90ba-737dfb048832.png)

[2021-01-06 07:37] yashsehgal commented on #2
Okay

[2021-01-06 07:38] kenkirito commented on #53
@salil-naik has also asked for some changes

[2021-01-06 07:39] kenkirito commented on #53
https://github.com/HITK-TECH-Community/Community-Website/pull/197

[2021-01-06 08:13] vedikaag99 commented on #179
can I work on this?

[2021-01-06 08:18] yashsehgal commented on #9
Okay, I have added the `Our Team` section in the design.

![about-us-page](https://user-images.githubusercontent.com/62352288/103745604-c5f34a80-5025-11eb-98f8-cd4dac5c227c.png)

[2021-01-06 08:33] yashsehgal commented on #6
There you go, Here are the changes that I have made.

![broadcasts-page-ui](https://user-images.githubusercontent.com/62352288/103746816-b2e17a00-5027-11eb-9a28-bac5a1c83176.png)

[2021-01-06 08:38] yashsehgal commented on #2
This is the new one.

![homepage](https://user-images.githubusercontent.com/62352288/103747383-92fe8600-5028-11eb-95bd-c2246b1f34ec.png)

[2021-01-06 09:31] yashsehgal commented on #28
Here is the design I have made, Hope this will help.

![admin-page](https://user-images.githubusercontent.com/62352288/103752636-f5a75000-502f-11eb-8c79-f11c78f60152.png)

[2021-01-06 11:23] vedikaag99 commented on #85
![image](https://user-images.githubusercontent.com/67699840/103763340-ae28c000-503f-11eb-98aa-11e3c9f625c1.png)
@Kajol-Kumari do review

[2021-01-06 11:51] vedikaag99 commented on #85
![image](https://user-images.githubusercontent.com/67699840/103765659-88051f00-5043-11eb-9b37-ca314a8c7809.png)
or something like this maybe?

[2021-01-06 12:01] SHITIZ-AGGARWAL commented on #6
@Kajol-Kumari here are my designs
https://drive.google.com/drive/folders/1o659BFpFpOaMsvOsWjHqf0uA2fh5kbEP?usp=sharing
please tell if I can make a PR
Figma Link: https://www.figma.com/file/gbwpSEiR5FW2G6Zjc0BgE6/Untitled?node-id=0%3A1

[2021-01-06 12:50] Kajol-Kumari commented on #28
Hey @yashsehgal the UI looks nice and clean! Just replace the Viewers with `Admins` along I would like to see if you can comeup with anything for `dashboard` section

[2021-01-06 12:51] Kajol-Kumari commented on #85
This looks great! Just you can try with some other font-style

[2021-01-06 12:53] Kajol-Kumari commented on #6
@yashsehgal @SHITIZ-AGGARWAL the design looks good to me :)

[2021-01-06 14:00] Kajol-Kumari commented on #85
Yes @vedikaag99 looks better :)

[2021-01-06 14:13] yashsehgal commented on #28
Sure

[2021-01-06 14:17] yashsehgal commented on #28
Can you guide me with the `dashboard` section. Like, What features should I add?

[2021-01-06 15:32] himanshu007-creator commented on #138
Please assign me this issue as well

[2021-01-06 15:49] yashsehgal commented on #28
What about this one?

![image](https://user-images.githubusercontent.com/62352288/103788323-b6dfbd00-5064-11eb-8e1f-84bd03092d06.png)

`This is just an edited section of the Admin Page`

[2021-01-06 16:01] atharva-upadhye-01 commented on #164
- [x] Heading font made consistent
- [x] Added hovering effect

![image](https://user-images.githubusercontent.com/70993547/103789221-c3b0e080-5065-11eb-9692-42536ff43d7d.png)

[2021-01-06 16:05] Kajol-Kumari commented on #28
@yashsehgal In the dashboard section ,You can show the admin count, Total broadcasts etc in the form of a card having some icon in it.

[2021-01-06 16:08] yashsehgal commented on #28
Got it. And There's one more thing I want to ask. What is the graph about? Or Shall I remove that graph?

[2021-01-06 16:13] Kajol-Kumari commented on #164
Hey @atharva-upadhye-01 just make the heading size and style similar to other pages like `FAQs` and feel free to open up a PR :)

[2021-01-06 16:14] yashsehgal commented on #6
Shall I make a PR too?

[2021-01-06 16:41] dollyjain51099 commented on #172
Hey, I would like to work on this issue. Please assign it to me!

[2021-01-06 17:14] Kp779 commented on #180
@Kajol-Kumari i would like to resolve this issue.

[2021-01-06 18:25] yashsehgal commented on #9
Shall I make a new PR for this design?

[2021-01-07 05:46] Kajol-Kumari commented on #172
Hey @dollyjain51099 thanka for your interst but we can't assign this issue to more than one person. Please take a look at other issues and feel free to claim if it's up for grab :)

[2021-01-07 05:47] Kajol-Kumari commented on #180
Hey @Kp779 thanks for your interest but we can't asisgn this issue to more than one person. Please feel free to check out other issues

[2021-01-07 05:47] Kajol-Kumari commented on #9
@yashsehgal yes! Go ahead and make the Pr!

[2021-01-07 05:49] yashsehgal commented on #9
Okay

[2021-01-07 06:05] Kp779 commented on #180
@Kajol-Kumari ok sure

[2021-01-07 06:16] yashsehgal commented on #28
Hope this one is to the point.

![admin-page](https://user-images.githubusercontent.com/62352288/103858216-f991ab80-50dd-11eb-86e3-eada14c2b57d.png)

[2021-01-07 06:36] Kajol-Kumari commented on #28
Hey @yashsehgal ! In place of graph, provide the count of admins,broadcasts etc. with icons

[2021-01-07 06:38] #2 closed

[2021-01-07 06:41] #9 closed

[2021-01-07 06:42] yashsehgal commented on #28
Just text data, Gotcha!

[2021-01-07 06:59] #6 closed

[2021-01-07 07:03] #162 closed

[2021-01-07 07:05] #172 closed

[2021-01-07 07:12] yashsehgal commented on #9
Hey, I think you have not added the labels here

[2021-01-07 07:15] Kajol-Kumari commented on #28
^^^ along with icons
![Screenshot from 2021-01-07 12-44-23](https://user-images.githubusercontent.com/44888949/103863061-2b0e7500-50e6-11eb-843b-fc78eb122c2c.png)
see this image for reference, use icon in place of title here and in place of button, show the count

[2021-01-07 07:17] yashsehgal commented on #28
Okay, I am on it.

[2021-01-07 07:46] tejan-singh opened #213 "[Frontend] Update the "Our Motives" sections in the Home Page."
- Content to be loaded in sections can be found here.
https://docs.google.com/document/d/1CJ6KzyLUzI46xIFN59gjiLLnJ8x2CtvIKTFF7FrSch8/edit?usp=drivesdk
-  Replace the dummy data with this content along with relevant icons.
- No need to change the design.

[2021-01-07 08:02] urvashi-code1255 commented on #213
@tejan-singh  I want to work on this issue

[2021-01-07 08:24] yashsehgal commented on #28
What about this one?

![admin-page](https://user-images.githubusercontent.com/62352288/103869097-df60c900-50ef-11eb-9050-b01c709f1905.png)

[2021-01-07 08:40] Kajol-Kumari commented on #28
Instead of single card, we need to have 3 sperate card and also the count needs to be in horizontal centre position

[2021-01-07 08:43] yashsehgal commented on #28
Okay, I do these changes.

[2021-01-07 08:52] yashsehgal commented on #28
I think it's good now :)

![image](https://user-images.githubusercontent.com/62352288/103871894-a6c2ee80-50f3-11eb-8c86-995a7a4eb4d4.png)

[2021-01-07 09:04] #179 closed

[2021-01-07 09:05] sakshi300699 commented on #213
Would want to work on this.

[2021-01-07 09:22] chait04 commented on #213
I would like to work on this issue

[2021-01-07 09:51] tejan-singh commented on #213
@urvashi-code1255 you can work on this issue.

[2021-01-07 09:52] tejan-singh commented on #213
@chait04 we are accepting only assigned issues. Please read contribution guidelines.

[2021-01-07 09:53] tejan-singh commented on #213
This is only available for one person.

[2021-01-07 09:56] urvashi-code1255 commented on #213
@tejan-singh thank you for assigning this issue to me

[2021-01-07 11:22] #154 closed

[2021-01-07 11:41] jackfrost13 commented on #81
@kenkirito What happened? I find that you have closed your PR and removed the repo also. Please update your progress on it.

[2021-01-07 11:44] kenkirito commented on #81
i am working on it

[2021-01-07 11:44] kenkirito commented on #81
i will make a pr soon

[2021-01-07 13:53] Kajol-Kumari commented on #28
Hey @yashsehgal it's good to go now :)

[2021-01-07 14:19] Kajol-Kumari opened #216 "Enhacement in FAQ page"
Deliverables:

- [ ] Make the image and card containing FAQs one below another rather than side by side
- [ ] Give hover effect to the Faq card (#016795)

[2021-01-07 14:27] urvashi-code1255 commented on #213
@tejan-singh how should I add the content you provided? Like this?
![motive](https://user-images.githubusercontent.com/63122133/103903801-35fae280-50b1-11eb-9ef1-88c65832a531.PNG)

[2021-01-07 14:30] urvashi-code1255 commented on #216
@Kajol-Kumari Can I take this issue? Also, please give your review for https://github.com/HITK-TECH-Community/Community-Website/pull/188

Thanks & Regards
Urvashi Anand

[2021-01-07 14:51] Kajol-Kumari commented on #213
Hey @urvashi-code1255 you are supposed to replace the card's content with the content we provided you.

[2021-01-07 14:52] Kajol-Kumari commented on #216
Hey @urvashi-code1255 I request you to please get atleast one of your PRs merged before claiming any further issue

[2021-01-07 14:52] urvashi-code1255 commented on #213
@Kajol-Kumari Okay means I have to do some addition in that content as it's not enough?

[2021-01-07 14:53] urvashi-code1255 commented on #216
Sure @Kajol-Kumari

[2021-01-07 14:54] urvashi-code1255 commented on #213
@Kajol-Kumari Also,please tell if these icons are Okay?

[2021-01-07 15:06] kenkirito commented on #216
can i work on this issue

[2021-01-07 15:07] kenkirito commented on #216
i am done with my task and I had made the pr

[2021-01-07 15:11] kenkirito commented on #216
and please u review my pr

[2021-01-07 15:16] Kajol-Kumari commented on #216
Hey @kenkirito your PRs have conflicts and we can't review/test or merge any PR having conflicts! Also please try to keep the comments short and precise,like here you can have conveyed your word in a single line :)

Also I request you to please get atleast one of your PRs merged as they are getting piled up!

[2021-01-07 15:17] kenkirito commented on #216
my one pr got merged 2 days ago

[2021-01-07 15:18] chait04 commented on #216
can i work on this .. everytime someone gets assinged on the issue i like

[2021-01-07 15:19] kenkirito commented on #216
i have solved the conflicts

[2021-01-07 15:37] Kajol-Kumari commented on #216
Hey @kenkirito you are still assigned 3 issues, please fix them first as we can only assign 2 issues at max to anyone!

[2021-01-07 15:41] chait04 commented on #216
hey @Kajol-Kumari can i work on this issue

[2021-01-07 16:02] kenkirito commented on #216
ok

[2021-01-07 16:39] shraddha-1402 commented on #216
@Kajol-Kumari i would like to work on this issue, please assign me!

[2021-01-07 16:47] himanshu007-creator commented on #213
i would like to work on this issue
please assign me this issue, if things don't work out

[2021-01-07 17:13] Kajol-Kumari commented on #216
Hey @chait04 please go ahead with this issue.

@shraddha-1402 please look for some other issue. We would be opening more very soon :)

[2021-01-07 17:14] tejan-singh commented on #213
@urvashi-code1255 you have to put content in those cards that we provided you in the description of this issue.

[2021-01-07 17:14] #28 closed

[2021-01-07 17:16] Jaspreet099 commented on #85
Can you assign this issue to me? I make a logo more related to the actual theme of the website.

[2021-01-07 18:04] vedikaag99 commented on #213
@tejan-singh Is this issue open to grab?

[2021-01-07 18:07] vedikaag99 commented on #216
@Kajol-Kumari I would like to work on this.

[2021-01-07 18:09] vedikaag99 commented on #164
Is this issue open to grab? @Kajol-Kumari

[2021-01-07 19:16] tejan-singh commented on #213
@vedikaag99 its assigned.

[2021-01-07 19:49] Kajol-Kumari commented on #216
Hey @vedikaag99 we can't assign this to more than one person. Please checkout other issues

[2021-01-07 19:50] Kajol-Kumari commented on #164
Hey @vedikaag99 we can't assign this to more than one person. We will be opening more issues very soon :)

[2021-01-07 19:54] Kajol-Kumari commented on #85
Hey @Jaspreet099 feel free to show us the design. If if would look relevant we will assign it to you :)

[2021-01-08 05:26] chait04 commented on #216
1. First it look like this
![Screenshot (182)](https://user-images.githubusercontent.com/59140343/103977776-f7902100-519f-11eb-9405-271d9cc5442e.png)

2.  which hover effect i have to add ...

[2021-01-08 05:54] Kajol-Kumari commented on #216
Hey @chait04 please increase the width of the main card containing the faq cards and also provide a bit more margin/padding to left and right of the card containing faq-content

[2021-01-08 05:55] chait04 commented on #216
ok

[2021-01-08 06:34] Jaspreet099 commented on #85
![HITKlogo](https://user-images.githubusercontent.com/75212002/103982500-9bca9580-51a9-11eb-948d-0c5855f71ceb.jpg)

[2021-01-08 06:36] Kajol-Kumari commented on #85
Hey @Jaspreet099 you to look at the canvasbird logo [here](https://github.com/Canvasbird) for reference, We are looking for precise and short logo

[2021-01-08 06:42] yashsehgal commented on #213
Can I work on this issue?

[2021-01-08 06:44] yashsehgal commented on #171
Can I work on this issue?

[2021-01-08 06:44] yashsehgal commented on #164
Can I work on this issue?

[2021-01-08 06:47] Kajol-Kumari opened #219 "Enhacement in About Us page"
Deliverables:

- [ ] Make the card containing team details look like [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/assets/About%20us%20page/SHIVANI%20WAKDE/About%20Us%202.png) having a cool hover effect.
- [ ] You can take the `Meet the crew` part from [here](https://www.canva.com/design/DAERm1blcVE/FgNJwq-gUKFeVXiBzXGQ4A/edit)
- [ ] Need better background image for the

[2021-01-08 06:51] vedikaag99 commented on #219
@Kajol-Kumari I can work on this.

[2021-01-08 06:58] Utkarshn10 commented on #219
@Kajol-Kumari I would like to work in this issue. I was just waiting for my PR to get merged.

[2021-01-08 07:00] Kajol-Kumari opened #221 "Enhacement in Contact Us page"
Deliverables:

- [ ] Make background color white
- [ ] better box-shadow or border after clicking on input field.
- [ ] Provide standard hovering effect to the icons used in the input fields
- [ ] Make the pointer to cursor for icons of the input fields

[2021-01-08 07:01] Kajol-Kumari commented on #219
Hey @vedikaag99 you can go ahead with this issue. @Utkarshn10 we follow FCFS so please feel free to pick any other issues :)

[2021-01-08 07:05] vedikaag99 commented on #221
@Kajol-Kumari I would love to work on this.

[2021-01-08 07:08] Kajol-Kumari opened #222 "[ Frontend ] Make admin page UI"
Deliverables:

- [ ] Make admin page using [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/assets/Admin_page_assets/yashsehgal/admin-page.png) UI
- [ ] Try to implement it using [this](https://colors.lol/blocky) color pallet
- [ ] Add an `/admin` route that will direct to the admin's dashboard

[2021-01-08 07:17] #171 closed

[2021-01-08 07:18] Utkarshn10 commented on #222
@Kajol-Kumari In this we have to keep the navbar and footer as the original ones right?

[2021-01-08 07:20] Kajol-Kumari commented on #222
No, we will have different navbar and footer for admin as it will show different options for admin

[2021-01-08 07:22] Utkarshn10 commented on #222
Ok, I would like to work on it and also I am a Swoc participant. It was mentioned in the issue that I earlier worked on but not on the PR.

[2021-01-08 07:24] Kajol-Kumari opened #223 "[Frontend] Make navbar for admin panel"
Deliverables:

- [ ] Make the navbar for admin panel taking reference from [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/assets/Admin_page_assets/yashsehgal/admin-page.png) UI

[2021-01-08 07:25] Kajol-Kumari commented on #222
Thanks for pointing @Utkarshn10 and you can go ahead with this issue :)

[2021-01-08 07:28] Kajol-Kumari commented on #221
Hey @vedikaag99 let's keep the background white, to maintain consistency and keep the form card color same as we have now

[2021-01-08 07:32] Kajol-Kumari opened #224 "Enhacement in Resource sharing Page UI"
Deliverables:

- [ ] Add icon in each input field just like `contact-us` page
- [ ] Make the cursor pointer for icons
- [ ] Add hover effect to the icons
- [ ] On click, the input box background color should be white
- [ ] Beeter border/box-shadow on click to the input field

[2021-01-08 08:18] vedikaag99 commented on #221
ok, Should I also keep the Let's talk button in the centre?

[2021-01-08 08:27] chait04 commented on #223
I would like to work on this issue

[2021-01-08 08:38] kenkirito commented on #224
assign me I have done my all task.please

[2021-01-08 09:11] Swapnil-Gaur commented on #223
@kajol Kumari can I work on it?

[2021-01-08 09:32] vedikaag99 commented on #221
https://user-images.githubusercontent.com/67699840/103998983-7007d980-51c2-11eb-99f5-0bbeb91d5d33.mov

@Kajol-Kumari please review.

[2021-01-08 11:33] carbseater commented on #224
Can I collab on this project. I am a DWOC participant. Thanks

[2021-01-08 12:44] Kajol-Kumari commented on #221
Hey @vedikaag99 it looks good. Just see if you can find any better icon for `pen-icon`

[2021-01-08 12:59] Kajol-Kumari commented on #223
Hey @Swapnil-Gaur we serve FCFS so I request you to please look for any other issue.

[2021-01-08 13:03] #164 closed

[2021-01-08 13:14] #99 closed

[2021-01-08 13:21] urvashi-code1255 commented on #213
Okay☺

[2021-01-08 13:25] Kajol-Kumari opened #226 "Enhancement in login page"
Deliverables:

- [ ] Replace current image on login page with [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/components/auth/loginPage-VaishnaviShah/student-login.png) image
- [ ] Make the background of the page white
- [ ] Make the `Sign In` button same as `submit` button on `contact-us` page
- [ ] Add hover effect to the icons of the input box with proper

[2021-01-08 13:27] Kajol-Kumari commented on #224
@carbseater please go ahead with this issue. @kenkirito waiting for your commit on the PR for the requested changes :)

[2021-01-08 13:41] musavveer opened #227 "Test"

[2021-01-08 13:41] #227 closed

[2021-01-08 13:51] musavveer commented on #226
@Kajol-Kumari I would like to give it a try.

[2021-01-08 14:36] Kajol-Kumari commented on #226
Sure @musavveer go ahead with this issue

[2021-01-08 14:52] urvashi-code1255 commented on #213
![Capture](https://user-images.githubusercontent.com/63122133/104028754-f5b56600-517d-11eb-88a1-8e0b7d2f7b7a.PNG)

@Kajol-Kumari @tejan-singh Is this Okay?

[2021-01-08 16:23] tejan-singh commented on #213
@urvashi-code1255  You can make a PR for this issue.

[2021-01-08 16:36] #216 closed

[2021-01-08 16:39] #180 closed

[2021-01-08 16:51] vedikaag99 commented on #226
@Kajol-Kumari Is this issue open to grab?

[2021-01-08 17:00] Kajol-Kumari commented on #226
No @vedikaag99 I can only assign this issue to one person

[2021-01-08 17:02] Kajol-Kumari opened #229 "[bug] Issue templates are not appearing as expected"
Deliverables:

- [ ] Make the bug and feature templates appear properly.
- [ ] Test it on your forked repo and share the screenshot

[2021-01-08 18:54] carbseater commented on #224
I have completed the starting 4 targets , Could you explain 5th point that what do you mean by Beeter border ? Is it "Better" you trying to say ;If yes then should it be like the contact-us page input box-shadows or different from that @Kajol-Kumari

[2021-01-08 19:24] carbseater commented on #229
Where is the issues template ? I couldn't able to find and how do you expect it to look ? @Kajol-Kumari .
I am a Dwoc participant and interested in this issue.
Thanks

[2021-01-08 20:51] Kajol-Kumari commented on #224
Hey @carbseater sorry for typo, please make the box shadow/border here same sa that used in [this](https://github.com/HITK-TECH-Community/Community-Website/pull/228) PR

[2021-01-08 20:54] Kajol-Kumari commented on #229
Hey @carbseater you will find the issue templates at [here](https://github.com/HITK-TECH-Community/Community-Website/tree/main/.github/ISSUE_TEMPLATE)  It's content is fine. But it was supposed to show up whenever someone clicks on `create new issue` in this repo but isn't showing up. This issue is for the same

[2021-01-09 03:36] carbseater commented on #229
Ok i got it, can i work on this @Kajol-Kumari

[2021-01-09 07:01] chait04 commented on #223
@Swapnil-Gaur u can go for it

[2021-01-09 07:04] Kajol-Kumari commented on #229
Sure @carbseater go ahead with this issue

[2021-01-09 07:05] Kajol-Kumari commented on #223
@Swapnil-Gaur would you like to go ahead with this issue?

[2021-01-09 08:18] salil-naik opened #232 "[Frontend] Enhance the carousel in the homepage."
In the **Curious to know more about us?** section

- [ ] Add padding on top and bottom of the section
- [ ] Fix the carousel navigation buttons. Make sure the chevron icon is vertically centre aligned.
- [ ] Fix the mobile view as the cards look very small when viewed on the mobile device.

[2021-01-09 08:27] salil-naik opened #233 "[Frontend] Fix the hero image in about us."
The image in the hero section of the **about page** stretches in a weird way.

Resize the image to fit its container. Note that the dimension of the image remains the same. Just fit the image by preserving the aspect ratio of the original image with the help of CSS.

[2021-01-09 08:35] #221 closed

[2021-01-09 08:53] Swapnil-Gaur commented on #223
Just one thing I wanna know that can I  use css According to me or there is any particular format is there?

[2021-01-09 08:57] Kajol-Kumari commented on #223
we just use `preetier` for formatting, apart from this we don't have any specific format

[2021-01-09 09:05] #53 closed

[2021-01-09 09:05] abhay313 commented on #233
Please assign this to me

[2021-01-09 09:10] Kajol-Kumari opened #234 "Enhancement in Broadcast page"
Deliverables:

- [ ] Remove the unnecessary `recent broadcast` section present at the end of the page
- [ ] Fix the card size and make the line break in the form of ellipses(...)
- [ ] The ellipses(...) shouldn't be hardcoded
- [ ] The modal should show the text of the particular card on which the user will click

[2021-01-09 09:12] Kajol-Kumari commented on #234
@amanprateek123 please claim this issue so that I can assign this to you

[2021-01-09 09:23] Kajol-Kumari opened #235 "[Bug] Fix the buttons for small screens"
Deliverables:

- [ ] Fix the button for resource sharing form for small screens
- [ ] Fix the button on contact-us page for small screens

![Screenshot from 2021-01-09 14-42-52](https://user-images.githubusercontent.com/44888949/104088095-5d58d780-528a-11eb-9bbf-e053a5441cda.png)

![Screenshot from 2021-01-09 14-43-02](https://user-images.githubusercontent.com/44888949/104088082-41553600-528a-11eb

[2021-01-09 09:45] kenkirito commented on #235
can I work o this issue

[2021-01-09 10:00] mohit355 commented on #235
Go ahead @kenkirito

[2021-01-09 10:00] kenkirito commented on #235
ok

[2021-01-09 10:39] amanprateek123 commented on #234
@Kajol-Kumari  Got it!! Thank you for assigning me

[2021-01-09 11:04] kenkirito commented on #235
done

[2021-01-09 11:27] urvashi-code1255 commented on #232
![Capture](https://user-images.githubusercontent.com/63122133/104090261-7f227200-522a-11eb-9547-44927a67a138.PNG)
In mobile view, Cards are of this size. What to do with them @salil-naik. Looks Good to me

[2021-01-09 11:29] urvashi-code1255 commented on #232
![Capture](https://user-images.githubusercontent.com/63122133/104090306-ba24a580-522a-11eb-94e1-405b21746da0.PNG)
And below this, it will be like one card in one row.

[2021-01-09 11:40] urvashi-code1255 commented on #232
![Capture](https://user-images.githubusercontent.com/63122133/104090504-10deaf00-522c-11eb-97f1-b06cf274065c.PNG)
@salil-naik I think chevron icon is vertically centre aligned in this picture. Otherwise please let me know what type of change do you expect?

[2021-01-09 11:42] salil-naik commented on #232
@urvashi-code1255 which branch are you working on? I don't see any of these changes in the main branch.

[2021-01-09 11:43] urvashi-code1255 commented on #232
Ohh😅 I m.on Our_motives branch made by me

[2021-01-09 11:43] urvashi-code1255 commented on #232
Let me see on main branch

[2021-01-09 11:43] tharunc opened #238 "ADD ISSUE_TEMPLATE"
Hello there,
           I would like to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. Kindly assign me this issue as a part of **DWOC**.
THANK YOU

[2021-01-09 11:47] urvashi-code1255 commented on #232
![Capture](https://user-images.githubusercontent.com/63122133/104090682-45069f80-522d-11eb-8a55-719b71c3b06c.PNG)
Okay Are you talking about this size of card at 500px @salil-naik ?

[2021-01-09 11:48] salil-naik commented on #232
As per the screenshots you shared earlier, it looks like its already fixed in the branch you are working on.

[2021-01-09 11:53] urvashi-code1255 commented on #232
No @salil-naik Its not fixed for around 500px.

[2021-01-09 11:54] urvashi-code1255 commented on #232
Can you assign me this issue @salil-naik ?

[2021-01-09 11:55] salil-naik commented on #232
@urvashi-code1255 In dev tools there is an option to select the mobile sizes. Kindly make sure it works fine for **iPhone 6/7/8** and **iPhone 5/SE**

I have attached an image below.

![image](https://user-images.githubusercontent.com/20141508/104090388-6b175880-529c-11eb-9478-332350cde613.png)

[2021-01-09 11:59] urvashi-code1255 commented on #232
Sure @salil-naik

[2021-01-09 13:29] #229 closed

[2021-01-09 13:31] Kajol-Kumari commented on #238
Hey @tharunc I appreciate your time for reporting this but we already have bug and feature request issue templates. Tho I would be happy if you can enhance them a bit and add other templates as well

[2021-01-09 15:48] Utkarshn10 commented on #222
@Kajol-Kumari This is how the page looks. Please suggest changes.
![Screenshot (13)](https://user-images.githubusercontent.com/58587256/104096023-15ed3e00-52c0-11eb-8a7d-6844aeb757fb.png)
![Screenshot (12)](https://user-images.githubusercontent.com/58587256/104096025-17b70180-52c0-11eb-9429-576d600bad56.png)

[2021-01-09 15:53] abhay313 commented on #233
![Screenshot from 2021-01-09 21-21-35](https://user-images.githubusercontent.com/43968252/104096167-decb5c80-52c0-11eb-918d-e792833bbe2b.png)

Is it fine ?

[2021-01-09 16:34] salil-naik commented on #233
yes.

[2021-01-09 16:51] abhay313 commented on #233
ok and thanks for your reply

[2021-01-09 17:02] Kajol-Kumari commented on #222
Hey @Utkarshn10 Just few changes. Under Dashboard section,, replace the text with following
1. Broadcasts
2. Admins
3. About Us
Keep a dummy count value for each of them and also replace these icon with more relevant ones.

[2021-01-09 18:47] #233 closed

[2021-01-10 04:30] Utkarshn10 commented on #222
@Kajol-Kumari  Changes suggested have been made.

Doubt: I have added  the admin dashboard in the navbar itself. Should I comment the code in app.js before making PR so that it can be used in future.

![Screenshot (14)](https://user-images.githubusercontent.com/58587256/104114432-68fbdb00-532a-11eb-91e4-9dee761be54b.png)

[2021-01-10 04:37] Kajol-Kumari commented on #222
Yeah, just comment it as you have done this just for testing purpose. Also make a draft PR maybe so that I can test and suggest you the required changes

[2021-01-10 04:38] Utkarshn10 commented on #222
By draft PR you mean normal PR, right?

[2021-01-10 08:57] #224 closed

[2021-01-10 09:14] carbseater commented on #223
Is this issue available for working ? @Kajol-Kumari

[2021-01-10 10:44] #213 closed

[2021-01-10 11:09] vedikaag99 commented on #219
![Screen Shot 2021-01-10 at 4 38 55 PM](https://user-images.githubusercontent.com/67699840/104121177-5ac9b100-5362-11eb-9a8e-58fcc6c33af5.png)

[2021-01-10 11:11] vedikaag99 commented on #219
![Screen Shot 2021-01-10 at 4 38 49 PM](https://user-images.githubusercontent.com/67699840/104121188-6ae19080-5362-11eb-9607-d4af01eeec3e.png)
@Kajol-Kumari Couldn't find the exact images as given in the design for `Meet the Crew` part. Is this okay?

[2021-01-10 11:15] Kajol-Kumari commented on #223
Yeah @carbseater it's up for grab

[2021-01-10 11:16] vedikaag99 commented on #219
![Screen Shot 2021-01-10 at 4 45 30 PM](https://user-images.githubusercontent.com/67699840/104121342-5356d780-5363-11eb-84b3-2dd05aa9bcc3.png)

[2021-01-10 11:54] kenkirito commented on #235
![HITK Tech Community and 6 more pages - Personal - Microsoft​ Edge 10-01-2021 04_47_48 PM](https://user-images.githubusercontent.com/68530218/104122020-8a7bb780-5368-11eb-83c1-52ea41e2835f.png)
![HITK Tech Community and 6 more pages - Personal - Microsoft​ Edge 10-01-2021 04_46_50 PM](https://user-images.githubusercontent.com/68530218/104122031-a1220e80-5368-11eb-9851-b34ed8d0cb58.png)

[2021-01-10 11:57] kenkirito commented on #235
## Issue that this pull request solves

#Font size of Button

 Closes: # (235)

## Proposed changes
I have changed the font size of buttons

### Brief description of what is fixed or changed

## Types of changes

_Put an `x` in the boxes that apply_

- [x] Bugfix (non-breaking change which fixes an issue)
- [x] New feature (non-breaking change which adds functionality)
- [x] Breaking change (fix o

[2021-01-10 12:25] carbseater commented on #223
But I guess one person is already working , So should i look upon this issue ? @Kajol-Kumari , If not then assign me.
Dwoc participant

[2021-01-10 12:32] kenkirito commented on #235
please check @mohit355

[2021-01-10 12:44] #79 closed

[2021-01-10 12:45] jackfrost13 commented on #153
@abdus Please update your status!

[2021-01-10 12:46] jackfrost13 commented on #152
@Piyush3436 Please update your status

[2021-01-10 12:49] N00Bmaster2810 commented on #94
Hey @jackfrost13 can I work on this?

[2021-01-10 12:59] N00Bmaster2810 commented on #94
Thanks @jackfrost13

[2021-01-10 16:13] mohit355 commented on #235
@kenkirito  Attach these Snapshots to respective PR

[2021-01-10 16:18] kenkirito commented on #235
i was asked to send pr from a branch, not from main branch

[2021-01-10 16:29] kenkirito commented on #235
@tejan-singh  ask me to Send PR from a branch, not from the main branch. @mohit355  i will also reopen  my request and upload the changes

[2021-01-10 19:27] mohit355 commented on #235
He is Right, Never forgot to create a branch from the main branch before creating a PR.

[2021-01-10 22:22] kenkirito commented on #235
@mohit355  done check

[2021-01-11 08:55] #235 closed

[2021-01-11 09:09] kenkirito commented on #226
can you assign me this issue @Kajol-Kumari

[2021-01-11 10:14] kanishkaa24 commented on #11
![Resource Sharing  (1)](https://user-images.githubusercontent.com/71253790/104168228-bc9e1f80-5423-11eb-9869-7751667cf266.png)
Hey @Kajol-Kumari
I have made a design. Please let me know the changes if any.

[2021-01-11 10:18] kanishkaa24 commented on #222
Hey @Kajol-Kumari
Can I work on this issue ?

[2021-01-11 10:34] Kajol-Kumari commented on #11
Hey @kanishkaa24 we have finalised our design and all the issues having `No more assignment` label can't be assigned to anyone anymore

[2021-01-11 10:35] Kajol-Kumari commented on #222
Hey @kanishkaa24 we can't assign this to more than one person

[2021-01-11 10:36] Kajol-Kumari commented on #226
@kenkirito all the issues with `no more assignment` label can't be assigned to anyone anymore. So i can't assign this to you

[2021-01-11 10:37] Kajol-Kumari commented on #223
@carbseater he hasn't given any confirmation till now so you can go ahead with this issue.

[2021-01-11 11:22] kenkirito commented on #223
assign me @Kajol-Kumari

[2021-01-11 11:44] carbseater commented on #223
Sorry brother I'm working on the nav @kenkirito

[2021-01-11 13:15] Swapnil-Gaur commented on #223
@kajol I am working on the issue.

[2021-01-11 14:05] Kajol-Kumari commented on #223
@Swapnil-Gaur @carbseater i m going to accept the PRs from both of you
@kenkirito please look for some other issue.

[2021-01-11 15:43] Kajol-Kumari opened #247 "Enhancement in Resource sharing page"
Deliverables:

- [ ] Make the top margin small, same as `contact-us` page
- [ ] Change the pencil icon with the same icon being used in `contact-us` page
- [ ] The calender icon should also have the hovering effect and cursor pointer
- [ ] Replace the `level of trust` checkbox with select box having the placeholder of `level of trust`
- [ ] Put the `valid until` text under input box only

[2021-01-11 15:46] urvashi-code1255 commented on #247
@Kajol-Kumari can I take this issue?

[2021-01-11 15:48] Kajol-Kumari commented on #247
sure @urvashi-code1255

[2021-01-11 15:53] Kajol-Kumari opened #248 "Enhancement in `our motive` section"
Deliverables:

- [ ] On hovering, the whole card content should be white
- [ ] Make the icon size a bit smaller

[2021-01-11 16:06] abhay313 commented on #248
Please assign this to me

[2021-01-11 16:17] salil-naik opened #249 "[Frontend] Enhancing the top section of the homepage in mobile view."
In the top section of the homepage, the left-aligned text and title look off below the centre aligned image.

Make the title and text centre aligned in order to attain consistency in design. (_In mobile view only_)
![image](https://user-images.githubusercontent.com/20141508/104208183-8a59e580-5456-11eb-9557-f3661737c884.png)

[2021-01-11 16:35] AbhipsaGuru1012 commented on #249
@salil-naik I would like to work on this issue.

[2021-01-11 17:10] abhay313 commented on #248
![Screenshot from 2021-01-11 22-34-23](https://user-images.githubusercontent.com/43968252/104214338-4d452180-545d-11eb-8b4c-f13811dafb6d.png)

text and icons are already white on hovering what else we have to change on hovering of card?

[2021-01-11 17:13] salil-naik commented on #248
@abhay313 Please pull the changes from the main branch.

[2021-01-11 17:16] kanishkaa24 commented on #11
It was already assigned to me.

[2021-01-11 17:59] Kajol-Kumari commented on #11
Ah, my bad! Can we please have enhancements based on the current form look like changing the check-box with select box. The way input heading is appearing etc.

[2021-01-11 19:45] Sloth-Panda commented on #234
Hey, can I too work on this issue??

[2021-01-11 19:47] Sloth-Panda commented on #138
Would like to work on this issue

[2021-01-11 22:37] kenkirito commented on #81
https://www.getpostman.com/collections/e2c575adbc0b31bba9e5

[2021-01-12 03:59] abhay313 commented on #248
Please check size of icons

**size: 40px**

![Screenshot from 2021-01-12 09-16-38](https://user-images.githubusercontent.com/43968252/104267385-8611e480-54b7-11eb-942d-57dffeb8a2dd.png)

**size: 50px**

![Screenshot from 2021-01-12 09-16-53](https://user-images.githubusercontent.com/43968252/104267425-9fb32c00-54b7-11eb-990e-8c1646e70e6d.png)

**size: 55px**

![Screenshot from 2021-01-12 09-27-33]

[2021-01-12 04:55] himanshu007-creator commented on #138
@Kajol-Kumari  mam do i have to submit individual submission keeping the issue in mind, or all assignees have to work collaboratively and send a single request?

[2021-01-12 05:37] kanishkaa24 commented on #11
Can you please share the current form?

[2021-01-12 05:49] Kajol-Kumari commented on #138
You need to make individual submission for this issue

[2021-01-12 05:50] Kajol-Kumari commented on #248
@abhay313 can we please have a better icon for the third card. Rest looks good to go!

[2021-01-12 06:22] salil-naik commented on #248
@abhay313 40px is fine.

Give padding/margin on either side of the icon.
If you see the first-ever screenshot you pasted in this thread, there is equal padding/margin on left and right of the icon.

[2021-01-12 07:26] #249 closed

[2021-01-12 07:29] abhay313 commented on #248
Please check it once
`size: 40px;`
`margin: 5px 10px 0 5px;`

![Screenshot from 2021-01-12 12-55-34](https://user-images.githubusercontent.com/43968252/104282903-be282000-54d5-11eb-9d97-402c09c4d0d5.png)

[2021-01-12 07:31] abhay313 commented on #248
do we need to change third icon ?

[2021-01-12 07:31] salil-naik commented on #248
Yes.

[2021-01-12 07:32] abhay313 commented on #248
Can you suggest anyone, please ?

[2021-01-12 07:40] abhay313 commented on #248
https://fontawesome.com/icons/book-open?style=solid
https://fontawesome.com/icons/chalkboard-teacher?style=solid
https://fontawesome.com/icons/graduation-cap?style=solid
https://fontawesome.com/icons/book-reader?style=solid

anyone looks better?

[2021-01-12 09:32] Piyush3436 commented on #152
@jackfrost13 I think some confusion has been created. I was working on the issue, but @kenkirito made a PR and I didn't work on it further.

[2021-01-12 09:39] jackfrost13 commented on #152
I never gave a clearance to him or removed you from the assignee. You could have cleared this earlier.

[2021-01-12 09:51] Piyush3436 commented on #152
Sorry about it. Just give me a day or two, I'll make the PR. Really sorry for that.

[2021-01-12 13:43] tanay13 commented on #82
Can i work on this issue??

[2021-01-12 14:11] jackfrost13 commented on #82
Sure, go ahead. Go through the code once and then we can discuss more on it

[2021-01-12 14:13] tanay13 commented on #82
@jackfrost13 Yeah sure !!

[2021-01-12 19:43] kenkirito commented on #232
can i work on this issue @salil-naik

[2021-01-13 08:25] urvashi-code1255 commented on #232
I m working on it. My viva were going on. I will do it now.

[2021-01-13 09:07] urvashi-code1255 commented on #232
![1](https://user-images.githubusercontent.com/63122133/104430172-31b04880-553b-11eb-8e85-4d2ca8cfdcdc.PNG)
![2](https://user-images.githubusercontent.com/63122133/104430263-55738e80-553b-11eb-93ed-43da2465b87c.PNG)
![3](https://user-images.githubusercontent.com/63122133/104430562-b00cea80-553b-11eb-9dd6-0f11b1e6423c.PNG)
![4](https://user-images.githubusercontent.com/63122133/104430572-b56a3500-5

[2021-01-13 10:20] salil-naik commented on #232
@urvashi-code1255 good job so far! 👌 Please make sure there is a padding of at least 20px on either side of the card for smaller view ports.

[2021-01-13 10:21] urvashi-code1255 commented on #232
Sure @salil-naik

[2021-01-13 10:28] urvashi-code1255 commented on #232
![1](https://user-images.githubusercontent.com/63122133/104440008-ac329580-5546-11eb-9721-aaf11743c71a.PNG)
![2](https://user-images.githubusercontent.com/63122133/104440035-b6549400-5546-11eb-87bb-299cdb157459.PNG)
![3](https://user-images.githubusercontent.com/63122133/104440094-c66c7380-5546-11eb-9df6-cedef3722898.PNG)
![4](https://user-images.githubusercontent.com/63122133/104440130-d1bf9f00-5

[2021-01-13 10:34] salil-naik commented on #232
Good. You can make a PR. I'll review your code.

[2021-01-13 11:40] kenkirito commented on #163
is this issue still open

[2021-01-13 11:42] kenkirito commented on #138
can i work on this issue @Kajol-Kumari

[2021-01-13 15:57] Amit366 commented on #232
Is this issue still open??

[2021-01-14 05:44] Kajol-Kumari commented on #163
Hey! All the issues with the label `No more assignment` is not available for grab

[2021-01-14 05:46] Kajol-Kumari commented on #248
Hey @abhay313 let's use [this](https://fontawesome.com/icons/user-graduate?style=solid) icon

[2021-01-14 05:47] Kajol-Kumari commented on #234
Hey! Can't assign this to more than one person. Will be opening up new issues very soon :)

[2021-01-14 06:01] Kajol-Kumari commented on #11
@kanishkaa24 This is the current form
![Screenshot from 2021-01-14 11-31-11](https://user-images.githubusercontent.com/44888949/104551033-112bdf80-565c-11eb-8ed8-95a2c250fe9c.png)

[2021-01-14 06:26] Kajol-Kumari commented on #226
@musavveer can you please provide me the update on this issue?

[2021-01-14 06:32] #248 closed

[2021-01-14 06:39] salil-naik commented on #232
Do you want to work on this issue @kenkirito?

[2021-01-14 06:48] Kajol-Kumari opened #257 "Enhancement in Privacy policy Page"
Deliverables:

- [ ] Populate the `privacy-policy` page with the data written in [here](https://docs.google.com/document/d/1oEMf8bfSkvUN3JCWAsCwtqaWc12Qd-FyC4qQx-cTnko/edit?usp=sharing)
- [ ] Enhance the design of the page in order to have these data fit properly on the page

[2021-01-14 06:50] vedikaag99 commented on #257
@Kajol-Kumari Can I work on this issue?

[2021-01-14 06:53] Kajol-Kumari commented on #257
sure @vedikaag99 !

[2021-01-14 07:36] kenkirito commented on #247
Can i take this issue

[2021-01-14 07:38] kenkirito commented on #232
Yes

[2021-01-14 09:01] Sloth-Panda commented on #257
Would like to work on this @Kajol-Kumari

[2021-01-14 09:04] Sloth-Panda commented on #247
@Kajol-Kumari  Hey I can help with this let me know

[2021-01-14 09:06] Sloth-Panda commented on #226
@Kajol-Kumari  would love to work on this can make a pr soon very soon too let me know

[2021-01-14 15:03] musavveer commented on #226
Sorry for the inconvenience! I'm busy with my exams so please assign it to someone else.😞

[2021-01-14 15:06] Sloth-Panda commented on #226
@Kajol-Kumari  would love to work on this. Please assign it to me

[2021-01-14 15:14] kenkirito commented on #226
assign to me i will complete it by midnight

[2021-01-14 16:34] vedikaag99 commented on #226
@Kajol-Kumari I would like to work on it.

[2021-01-14 17:54] abdus commented on #153
@jackfrost13 hey, sorry for the late response. you may assign this issue to someone else.

[2021-01-14 19:31] Kajol-Kumari commented on #226
Hey @Sloth-Panda please go ahead with this issue and @kenkirito @vedikaag99 we would be opening more issues very soon!

[2021-01-15 13:30] #222 closed

[2021-01-15 14:36] Kajol-Kumari opened #259 "Settings page for Admin"
Deliverables:

- [ ] Add `settings` card on the admin dashboard
- [ ] It should take to a Page having the details of the admin(put dummy data as of now) and a section below that `Invite Admins`
- [ ] `Invite Admins` section should have a form kind of thing having only one field i.e `email` along with a button `Send Invitation`

[2021-01-15 14:40] Kajol-Kumari opened #260 "Enhacement in Footer"
Deliverables:

- [ ] After clicking on input field of the footer, it should have same border as other input fields of the forms on the website
- [ ] Fix the color of gmail icon of the footer to white(same as other icons)

[2021-01-15 14:54] vedikaag99 commented on #260
@Kajol-Kumari can I work on this?

[2021-01-15 15:28] kenkirito commented on #259
can I work on this

[2021-01-15 15:38] kenkirito commented on #232
https://lakshya-gmail-3.tinytake.com/media/f08210?filename=1610725106172_TinyTake_15-01-2021-09-08-17.png&sub_type=thumbnail_preview&type=attachment&width=1199&height=760

[2021-01-15 15:48] AbhipsaGuru1012 commented on #260
@Kajol-Kumari can I work on this issue?

[2021-01-15 15:51] Kajol-Kumari commented on #259
Go ahead @kenkirito

[2021-01-15 15:53] Kajol-Kumari commented on #260
Hey @vedikaag99 as you already have 3 issues assigned so can't assign this to you untill any of your PR gets merged.

@AbhipsaGuru1012 go ahead with this issue.

[2021-01-15 16:31] salil-naik commented on #232
@kenkirito Add padding of 20px on either side and show the buttons as well.

[2021-01-15 16:50] kenkirito commented on #232
ok

[2021-01-16 02:22] abhay313 opened #262 "Add all contributors in Readme file properly"
Currently, all contributors are in a single image

- [ ] separate contributors and user should forward to contributor's profile on click.

[2021-01-16 02:23] abhay313 commented on #262
Can I work on this issue ?

[2021-01-16 05:23] #260 closed

[2021-01-16 15:27] kenkirito commented on #259
@Kajol-Kumari just wanted to ask should I have to add one more card below the sign-in page in the admin for it

[2021-01-16 16:47] tanay13 commented on #82
@jackfrost13 @Kajol-Kumari Please provide me with some backend documentation so that i get an idea how the documentation should be

[2021-01-16 16:49] jackfrost13 commented on #82
Surely, DM me on slack!

[2021-01-17 03:56] #262 closed

[2021-01-17 09:39] Kajol-Kumari commented on #259
Hey @kenkirito on the admin dashboard you would be able to see the `Dashboard`. You can see that dashboard by uncommenting the code of `navbar` component

[2021-01-17 12:32] #257 closed

[2021-01-17 12:34] #219 closed

[2021-01-18 04:09] abhay313 commented on #92
Can I work on this issue?

[2021-01-18 04:20] jackfrost13 commented on #92
go ahead @abhay313

[2021-01-19 02:51] kenkirito commented on #232
https://lakshya-gmail-3.tinytake.com/media/f0e24f?filename=1611024625004_TinyTake_19-01-2021-08-20-17.png&sub_type=thumbnail_preview&type=attachment&width=1199&height=760

[2021-01-19 15:00] #234 closed

[2021-01-19 15:07] Kajol-Kumari commented on #226
@Sloth-Panda can you please provide the update on this issue?

[2021-01-19 15:09] Kajol-Kumari commented on #223
@Swapnil-Gaur @carbseater please provide the update on this PR

[2021-01-19 15:13] Kajol-Kumari opened #271 "Enhacment in Admin Dashboard"
This issue is more of a discussion as we would only be accepting one PR for this after we are done with the discussion in here.

Deliverables:
- Better UI for the Admin dashboard. You can see this by vising the `admin-dashboard` path on dev-setup

**Please make sure to show us the design here so that we can verify if it's acceptable or not**

[2021-01-19 15:16] Sloth-Panda commented on #226
I will be making the pr tomorrow

[2021-01-19 15:44] vedikaag99 commented on #271
@Kajol-Kumari I can give it a try!

[2021-01-19 15:47] Kajol-Kumari commented on #271
we want it's implementation as well but that only after we gave confirmation to go ahead with the design or screenshot that you can share here :)

[2021-01-19 16:40] amanprateek123 commented on #271
Please assign this issue to me

[2021-01-19 17:49] Swapnil-Gaur commented on #223
Need one day please,

[2021-01-20 00:49] kenkirito commented on #232
https://lakshya-gmail-3.tinytake.com/media/f10879?filename=1611103761337_TinyTake_20-01-2021-06-19-07.png&sub_type=thumbnail_preview&type=attachment&width=1199&height=760

[2021-01-20 06:53] Kajol-Kumari commented on #271
Hey @amanprateek123 please feel free to show us the design here and we would be happy to assign you :)

[2021-01-20 07:15] amanprateek123 commented on #271
@Kajol-Kumari  Got it!

[2021-01-20 07:28] kanishkaa24 commented on #11
![Resource Sharing  (2)](https://user-images.githubusercontent.com/71253790/105141443-2a7ed100-5b1f-11eb-9a42-d3fbab5a9aa3.png)
@Kajol-Kumari Please review this

[2021-01-20 07:43] Kajol-Kumari commented on #11
@kanishkaa24 you can make a PR with this!

[2021-01-20 07:46] Sloth-Panda commented on #226
@Kajol-Kumari  you can checkout the pr now

[2021-01-20 07:48] Sloth-Panda commented on #247
@Kajol-Kumari  if not issue is not yet solved can you please assign it to me cause it's been few days

[2021-01-20 07:52] Sloth-Panda commented on #223
@Kajol-Kumari would love to do this please let me know can make Pr in a day

[2021-01-20 10:17] #247 closed

[2021-01-20 10:30] Kajol-Kumari opened #276 "Enhancement in Resource Sharing Page"
Deliverables:

- [ ] Remove the `Phone no.` field from the resource sharing form.
- [ ] Make the calender icon's by-default color same as other icons
- [ ] Make the radio button fill color same as linear gradient color used for border of input field on click.

[2021-01-20 10:37] urvashi-code1255 commented on #276
@Kajol-Kumari Can I work on this issue?

[2021-01-20 10:41] Kajol-Kumari opened #277 "[frontend] Join Us Page"
Deliverables:

- [ ] Add a `join us ` section below `curious to know about us` section on the home page
- [ ] Edit the already present [Join us component](https://github.com/HITK-TECH-Community/Community-Website/tree/main/frontend/src/components/home/join_us) to have a button `Join Us`  which will direct to a page containing a form having the fields same as [this](https://docs.google.com/forms/d/1

[2021-01-20 10:43] Kajol-Kumari commented on #276
sure @urvashi-code1255 go ahead with this issue!

[2021-01-20 11:12] vedikaag99 commented on #277
@Kajol-Kumari can I work on this issue?

[2021-01-20 11:20] kenkirito commented on #232
@salil-naik i have solved the issue should I make the pr

[2021-01-20 11:21] kenkirito commented on #232
https://lakshya-gmail-3.tinytake.com/media/f11787?filename=1611141699420_TinyTake_20-01-2021-04-51-31.png&sub_type=thumbnail_preview&type=attachment&width=1199&height=760

[2021-01-20 12:46] urvashi-code1255 commented on #276
@Kajol-Kumari Could you suggest any way to do this? As I have searched but there is no way I found to achieve this

[2021-01-20 12:55] Kajol-Kumari commented on #276
@urvashi-code1255 please checkout [this](https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons#:~:text=Change%20the%20outer%20rim%20color,drop%20shadow%20inset%20where%20needed. ) For radio button's fill color change and for linear gradient checkout [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/src/components/resource/resources.

[2021-01-20 13:57] Sloth-Panda commented on #277
@Kajol-Kumari would like to work on this

[2021-01-20 14:43] #232 closed

[2021-01-20 14:56] salil-naik opened #279 "Use bootstrap container for carousel in the homepage"
Use bootstrap's container class to contain the carousel. On bigger screens, the content (carousel) should remain in between.
Refer to Our Motive section on the homepage. (image attached below)

![image](https://user-images.githubusercontent.com/20141508/105191722-6afd3f80-5b5d-11eb-8db3-5ef988c46ce5.png)

[2021-01-20 15:15] vedikaag99 commented on #279
@salil-naik hey I can work on this.

[2021-01-20 16:26] nehaparmar99 commented on #277
I'd like to work on it.

[2021-01-20 16:37] vedikaag99 commented on #279
![Screen Shot 2021-01-20 at 10 06 04 PM](https://user-images.githubusercontent.com/67699840/105205865-b7e81280-5b6b-11eb-8da8-7380b0afc4f3.png)
![Screen Shot 2021-01-20 at 10 05 09 PM](https://user-images.githubusercontent.com/67699840/105205871-b9b1d600-5b6b-11eb-9904-4a8a2080511b.png)
done. please check @salil-naik

[2021-01-20 16:42] nehaparmar99 commented on #153
Can I give it a try?

[2021-01-20 16:49] jackfrost13 commented on #153
go ahead

[2021-01-20 18:01] Kajol-Kumari commented on #277
Hey @vedikaag99 @Sloth-Panda @nehaparmar99 I am Sorry but I can only assign it to one of you and that also on the basis of FCFS So here I am assigning it to @Sloth-Panda  as @vedikaag99 is already working on two issues currently(corousel one & Admin dashboard enhacement) We will be opening more issue very soon. Please keep an eye.

Happy learning :)

[2021-01-21 05:46] #11 closed

[2021-01-21 06:39] #226 closed

[2021-01-21 07:00] Kajol-Kumari opened #280 "Shift after hovering on `admin?` button"
Currently if we hover over `admin?` button, we notice a left shift.

Deliverable:
- [ ] Remove that shift issue

GIF of the issue:
![shift-bug](https://user-images.githubusercontent.com/44888949/105314917-91b28900-5be4-11eb-8c51-b867f85edc3b.gif)

[2021-01-21 07:20] amanprateek123 opened #281 "Broadcast page's popup should be scrollable"
**Describe the bug**
In broadcast page, the popup section's content in mobile view should be view in scrolling manner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'broadcast page'
2. Click on 'any broadcast card'
3. See error

**Expected behavior**
The popup content should be scrollable.

**Screenshots**
![Screenshot from 2021-01-21 12-49-23](https://user-images.githubusercontent.c

[2021-01-21 07:26] kenkirito commented on #280
@Kajol-Kumari assign me this issue and also unassigned me from api testing as I am unable to resolve it. I will be making a pr for my remaing task at midnight

[2021-01-21 07:27] kenkirito commented on #259
@Kajol-Kumari I will be making pr at midnight

[2021-01-21 07:34] amanprateek123 commented on #281
@Kajol-Kumari  please assign this issue to me

[2021-01-21 09:53] sanjay270899 commented on #280
@Kajol-Kumari Can I work on this issue?

[2021-01-21 12:14] Kajol-Kumari commented on #280
Hey @sanjay270899 we follow FCFS so can't asisgn this to you. Please keep an eye we would be opening more issues very soon :)

@kenkirito Please go ahead with this issue

[2021-01-21 14:12] #279 closed

[2021-01-21 17:13] vedikaag99 opened #283 "[Frontend] Bugs in the website"
**Describe the bug**
1) `login page` image is not visible.
2) Making the background of the `resource sharing` page white for consistency with other pages.
3) Making the field border effect on the `contact us` page same as that of the `resource sharing` page.

![Screen Shot 2021-01-21 at 10 40 11 PM](https://user-images.githubusercontent.com/67699840/105385762-b4bb5800-5c39-11eb-8d33-f4bc25d17eb2.p

[2021-01-21 21:23] kenkirito commented on #280
https://user-images.githubusercontent.com/68530218/105414098-0b865900-5c5d-11eb-9908-8037efe638a8.mp4

[2021-01-21 21:24] kenkirito commented on #280
@Kajol-Kumari done check

[2021-01-22 12:40] Kajol-Kumari commented on #283
Thanks for reporting these @vedikaag99 please go ahead with this issue :+1:

[2021-01-22 12:46] #281 closed

[2021-01-22 12:51] #280 closed

[2021-01-22 12:56] Kajol-Kumari opened #287 "[Frontend] Enhancement in 404 Page"
Deliverables:

- [ ] Make a better UI for the 404 page.

**Please make sure to show the design here once before making the PR.**

Reference link - [here](https://cdn.mos.cms.futurecdn.net/PuXipAW3AXUzUJ4uYyxPKC-1200-80.jpg)

[2021-01-22 13:07] Kajol-Kumari opened #288 "[Frontend] All Broadcasts Page"
Deliverables:

- [ ] Add a button at the end of the `broadcast` page that should take to a new page containing all the broadcasts
- [ ] Add `all-broadcasts` route
- [ ] The UI of the broadcast page will be similar to `Get Involved` page having list of cards of fixed size and the extra texts shouls end with ellipses (`...`)

P.S- Put dummy data in the card for now

[2021-01-22 13:07] sakshikhachane commented on #287
@Kajol-Kumari I would like to work on this issue.

[2021-01-22 13:15] Kajol-Kumari opened #289 "[Frontend] Enhacement in visited menu"
Deliverables:
- [ ] Reduce the width of the background gradient of visited menu text for small screens

![Screenshot from 2021-01-22 18-43-49](https://user-images.githubusercontent.com/44888949/105495254-f4d61580-5ce1-11eb-8868-a6e1513db789.png)

[2021-01-22 13:20] sakshikhachane commented on #289
@Kajol-Kumari I would like to work on this issue also. I will complete it tomorrow itself. Please assign me this issue.

[2021-01-22 13:26] vedikaag99 commented on #287
@Kajol-Kumari can I also give this a try along with sakshi?

[2021-01-22 13:28] kenkirito commented on #288
assign me

[2021-01-22 13:31] nehaparmar99 commented on #288
Can I work on it?

[2021-01-22 13:31] Kajol-Kumari commented on #289
Go ahead @sakshikhachane :)

[2021-01-22 13:32] Kajol-Kumari commented on #288
@kenkirito @nehaparmar99 go ahead with the issue!
Happy learning :)

[2021-01-22 14:30] kenkirito commented on #259
![111](https://user-images.githubusercontent.com/68530218/105503262-5ef3b800-5cec-11eb-80ad-0ec173a7e56e.png)
![112](https://user-images.githubusercontent.com/68530218/105503276-61eea880-5cec-11eb-8bc4-45321ef9d957.png)

[2021-01-22 14:30] kenkirito commented on #259
i have link thhe first page on setting option

[2021-01-22 14:31] kenkirito commented on #259
@Kajol-Kumari review

[2021-01-22 15:04] sakshikhachane commented on #289
@Kajol-Kumari Is this width fine?
<img width="362" alt="HITk" src="https://user-images.githubusercontent.com/53635792/105507464-3ae6a580-5cf1-11eb-847f-b38345e8e1a0.PNG">

[2021-01-22 16:55] Kajol-Kumari commented on #289
A bit less please, width of background should be similar to the one we see on large screens

[2021-01-22 16:58] Kajol-Kumari commented on #259
Make the heading of this section to `Invite Admins` and there should be a `invite` button after the input field in the form

[2021-01-22 17:00] kenkirito commented on #259
ok sure

[2021-01-22 19:06] vedikaag99 commented on #287
![Screen Shot 2021-01-23 at 12 33 27 AM](https://user-images.githubusercontent.com/67699840/105533948-cfadcb00-5d12-11eb-8dce-101dda1f6b1e.png)
@Kajol-Kumari Please review.

[2021-01-23 03:41] Kajol-Kumari commented on #287
Hey @vedikaag99 this looks nice, just make sure it's appearing correct way for small devices

[2021-01-23 04:28] #283 closed

[2021-01-23 05:15] ishubham21 commented on #271
Can I work on this under SWOC?

[2021-01-23 05:56] vedikaag99 commented on #287
![Screen Shot 2021-01-23 at 11 25 20 AM](https://user-images.githubusercontent.com/67699840/105570219-c00fa000-5d6d-11eb-943c-98c8777eb0a7.png)
done @Kajol-Kumari

[2021-01-23 06:07] Kajol-Kumari commented on #271
Hey @ishubham21 sure. Give it a try and let me know your progress.

[2021-01-23 16:41] sakshikhachane commented on #289
@Kajol-Kumari Is this looking better now?

<img width="220" alt="nav" src="https://user-images.githubusercontent.com/53635792/105608095-f2e68200-5dc7-11eb-91ed-55346a6f3ceb.PNG">

[2021-01-23 17:24] urvashi-code1255 commented on #276
I will send its PR tomorrow....

[2021-01-24 06:11] #287 closed

[2021-01-24 06:46] #289 closed

[2021-01-24 06:50] Kajol-Kumari opened #297 "Enhancement in `Admin?` button"
Deliverable:

- [ ] Make the active link of `admin?` button same as its onhover effect
- [ ] For small screens, a white background appears after click on `admin?` button, fix it same as the previous task

[2021-01-24 07:06] vedikaag99 commented on #297
@Kajol-Kumari Can I take up this issue?

[2021-01-24 07:10] sakshikhachane commented on #297
@Kajol-Kumari I would like to work on this.

[2021-01-24 08:06] AbhipsaGuru1012 commented on #297
@Kajol-Kumari can I work on this issue?

[2021-01-24 09:31] #57 closed

[2021-01-24 09:32] Kajol-Kumari commented on #297
Hey @vedikaag99 go ahead with this issue. @sakshikhachane @AbhipsaGuru1012  we can only assign this issue to one person and that also on the basis of FCFS. I request you guys to keep an eye, we would be opening up new issues very soon.

[2021-01-24 13:44] vedikaag99 commented on #297
@Kajol-Kumari hey I have done the second task but can you please guide me for the first task? I tried styling for `nav-admin-button.active` but it is not working

[2021-01-24 15:28] urvashi-code1255 commented on #276
![Capture](https://user-images.githubusercontent.com/63122133/105635025-de1cf380-5e86-11eb-85ec-07514c27f78f.PNG)

@Kajol-Kumari Is this Okay?

[2021-01-24 18:04] Kajol-Kumari commented on #276
Hey @urvashi-code1255 don't fill the whole radio button, leave a little gap like we have previously. Rest looks good!

[2021-01-24 18:25] Kajol-Kumari commented on #297
Try inspecting(ctrl+shift+I in chrome) the element and figuring out the class that is over-writing the style.

[2021-01-25 11:54] Kajol-Kumari commented on #277
@Sloth-Panda can you please provide an update on this issue?

[2021-01-25 12:13] Sloth-Panda commented on #277
I am on it @Kajol-Kumari  will let you know by tomorrow

[2021-01-25 13:30] salil-naik opened #299 "[Frontend] Use bootstrap container for hero section in the homepage"
Use bootstrap's container class to contain the content in the hero section. On bigger screens, the content should remain in the middle.
Refer to Our Motive section on the homepage. (image attached below)
<br />
![image](https://user-images.githubusercontent.com/20141508/105191722-6afd3f80-5b5d-11eb-8db3-5ef988c46ce5.png)

[2021-01-25 13:32] sakshikhachane commented on #299
@salil-naik I would like to work on this issue.

[2021-01-25 15:53] #259 closed

[2021-01-26 10:08] kenkirito commented on #223
@Kajol-Kumari can I work on this issue

[2021-01-26 16:58] Swastik1710 commented on #299
Hey , can I please work on this issue ?

[2021-01-26 18:21] nehaparmar99 commented on #288
@Kajol-Kumari I've linked my PR, please let me know if any other changes are required.

[2021-01-26 18:55] Swastik1710 commented on #299
Hey @salil-naik  , thanks for assigning this to me.
Can you please elaborate a bit more on this issue.

[2021-01-26 19:12] Swastik1710 commented on #299
Is it this what you're asking for ?

![Hero Section](https://user-images.githubusercontent.com/71871571/105892987-89b97580-6038-11eb-9c55-26b26de64c9e.jpg)

[2021-01-26 20:40] nehaparmar99 commented on #153
Hey!I created an API which generates random numbers using the shortid npm package, it'll take the first 5 digits.And for the url it'll take the hostname+the random id generated.
The hostname will be taken from the url which has to be shortened.
For eg.
https://github.com/HITK-TECH-Community/Community-Website -> github.com/clHK8

[2021-01-26 21:39] Sloth-Panda commented on #277
I am so sorry got busy in few other things have unassigned self

[2021-01-26 21:42] nehaparmar99 commented on #277
Can I work on it then?

[2021-01-27 04:00] vedikaag99 commented on #277
@Kajol-Kumari can I work on it then?

[2021-01-27 04:01] jackfrost13 commented on #153
seems fine. You just need to make the redirection path, `github.com/XXXXX` doesn't mean anything for anyone.

[2021-01-27 04:47] nehaparmar99 commented on #153
I did not get your point on the redirection path.😅 Could you please elaborate?

[2021-01-27 05:40] kenkirito commented on #288
https://user-images.githubusercontent.com/68530218/105947998-31ae5d80-6090-11eb-88c8-07f506396ee5.mp4

[2021-01-27 06:17] salil-naik commented on #299
@Swastik1710 Yes. Just put a `<div>` around it with bootstraps `container` class.

[2021-01-27 07:06] #297 closed

[2021-01-27 07:14] #271 closed

[2021-01-27 07:25] Kajol-Kumari opened #306 "[Bug] Fix the button width of the forms"
Deliverable:

- [ ] Fix `submit`, `sign in` and `let's talk` button's width
- [ ] Make it smaller for the small screens

[2021-01-27 07:30] amanprateek123 commented on #306
please assign the issue to me @Kajol-Kumari

[2021-01-27 07:32] Kajol-Kumari opened #307 "[Frontend] Admin panel Restructure"
Deliverable:

- [ ] Shift the basic structure codes(left panel codes) from `dashboard.js` to `admin.js` and respective css to `admin.css`
- [ ] Make separate route for each options in the menu like `dashboard`, `manage-resources`, `manage-contactUs`, `setting` etc
- [ ] Make separate folder for each of the menu like `dashboard`, `manage_resources`, `manage_faqs` etc
- [ ] Make a different componen

[2021-01-27 07:34] Kajol-Kumari commented on #277
@vedikaag99 please go ahead with this issue.

[2021-01-27 07:35] amanprateek123 commented on #307
@Kajol-Kumari  please assign this issue to me

[2021-01-27 07:35] Kajol-Kumari commented on #306
Go ahead @amanprateek123

[2021-01-27 07:35] nehaparmar99 commented on #307
I'd like to work on it

[2021-01-27 07:37] Kajol-Kumari commented on #307
Hey sorry! Can't assign this to more than one person

[2021-01-27 07:39] Kajol-Kumari opened #308 "[ Enhacement ] Better UI for About Us Page"
Deliverables:

- [ ] Better UI for about Us page.

**Note** - We will be accepting multiple PRs for this but Please make sure to show your design here and only after we give you confirmation, come up with a PR.

[2021-01-27 07:49] kenkirito commented on #308
assign me

[2021-01-27 07:52] amanprateek123 commented on #306
Is this size okay?
![Screenshot from 2021-01-27 13-22-14](https://user-images.githubusercontent.com/42955585/105960057-b86c3600-60a2-11eb-8bf5-801e548aaa5f.png)

[2021-01-28 06:58] Vrushti24 commented on #85
can i work on this issue?

[2021-01-28 08:10] #299 closed

[2021-01-28 08:11] #288 closed

[2021-01-28 09:13] Kajol-Kumari commented on #85
Sure! Give it a try :)

[2021-01-28 09:46] vedikaag99 commented on #277
![Screen Shot 2021-01-28 at 3 14 52 PM](https://user-images.githubusercontent.com/67699840/106119784-972b4880-617b-11eb-99a0-ee969f37b271.png)
![Screen Shot 2021-01-28 at 3 14 35 PM](https://user-images.githubusercontent.com/67699840/106119816-9eeaed00-617b-11eb-951d-3bc12114e2f7.png)
@Kajol-Kumari Is this okay?

[2021-01-28 09:51] Vrushti24 commented on #85
Okay thanks

On Thu, Jan 28, 2021, 2:44 PM kajol <notifications@github.com> wrote:

[2021-01-28 12:35] Kajol-Kumari commented on #277
@vedikaag99 this looks preety good! Just change the text below `join us` `Join us in the mission of reducing the knowledge gap in students`

[2021-01-28 13:07] Kajol-Kumari opened #311 "[Frontend] Scroll to Top Button"
Deliverable:

- [ ] Make a component `scroll_to_top` under `utility` folder that can be imported to all the pages
- [ ] The button should take to the top of the page

[2021-01-28 13:13] Kajol-Kumari opened #312 "[Frontend] View broadcast Feature"
Deliverable:

- [ ] Make the cards under `all_broadcasts` flipable and on the other side of the card, there should be a `view` button that should open up a modal and show the whole broadcast message(similar to what we have in broadcast page)

[2021-01-28 13:16] nehaparmar99 commented on #312
I'd like to work on it

[2021-01-28 13:20] nehaparmar99 commented on #311
I'd like to give it a try!

[2021-01-28 13:26] Kajol-Kumari commented on #312
Go ahead @nehaparmar99

[2021-01-28 13:26] Kajol-Kumari commented on #311
sure @nehaparmar99 !

[2021-01-28 16:54] Vrushti24 commented on #85
hey @Kajol-Kumari I have made a logo in adobe illustrator it is simple one u like it ?
![Untitled-1_ @ 51 06% (CMYK_GPU Preview)  28-01-2021 22_21_34 (2)](https://user-images.githubusercontent.com/71961160/106171425-88628700-61b7-11eb-9771-c2aeb43690f8.png)

[2021-01-28 19:02] kenkirito commented on #311
@Kajol-Kumari can i also work on this issue

[2021-01-29 06:19] Kajol-Kumari commented on #85
Hey @Vrushti24 Can you please try designing a simple logo for `Tech Community` instead of `HITK`

[2021-01-29 06:21] Vrushti24 commented on #85
If u like the background items I can only change name with different color
what say ??

On Fri, Jan 29, 2021, 11:49 AM kajol <notifications@github.com> wrote:

[2021-01-29 06:24] Kajol-Kumari commented on #85
Hey! Instead of just using word can try some symbols that would say it all?

[2021-01-29 06:26] Vrushti24 commented on #85
so without name only like symbols sure I will try that @Kajol-Kumari

[2021-01-29 07:51] Kajol-Kumari opened #313 "[Frontend] Like feature for broadcasts"
Deliverable:

- [ ] Add a like button on broadcast card under `Recent Broadcast` and `Previous Broadcast` section. As we haven't integrated our backend. Store the total number of likes in local storage maybe and show a temp count.
- [ ] It should as soon as one clicks on it

[2021-01-29 08:03] #276 closed

[2021-01-29 08:07] amanprateek123 commented on #307
@Kajol-Kumari  why we have to make different routes for different tabs? I think all can be done in a single route.

[2021-01-29 08:09] Kajol-Kumari opened #314 "[Bug] Hide and Show button doesn't work until we refresh the page"
Steps to reproduce:
1. Click on `admin?` button
2. Type the password
3. Click on `hide/show` icon next to it
It doesn't work
4. Refresh the page
5. Again type the password
6. Click on `hide/show` icon
This time it works

Deliverable:
Fix the `hide/show` toggle button so that it should work no matter if we refresh the page or not

[2021-01-29 08:11] urvashi-code1255 commented on #313
@Kajol-Kumari Can I give it a try?

[2021-01-29 08:17] Kajol-Kumari commented on #313
sure @urvashi-code1255  :)

[2021-01-29 08:17] Kajol-Kumari commented on #311
sure @kenkirito Go ahead with this issue :)

[2021-01-29 08:45] kenkirito commented on #314
Assign me

[2021-01-29 08:58] sakshikhachane commented on #314
@Kajol-Kumari I would like to work on this issue.

[2021-01-29 09:01] AbhipsaGuru1012 commented on #314
@Kajol-Kumari can I work on this issue?

[2021-01-29 21:33] ashuvssut commented on #308
Hello mam, I wish to work on improving the team section.
![image](https://user-images.githubusercontent.com/60546840/106329283-0796a000-6236-11eb-98e7-820e0ac6a4d8.png)
I saw the code in about_us.js and found that every thing(content in the cards) is hardcoded.
Do you have any plans to generate all this cards by some json from the backend?

----------------

in https://swoc.tech/project.html there

[2021-01-30 04:30] Kajol-Kumari commented on #308
Hey @ashuvssut yes, we will be populating the cards using the json data coming from backend. We don't want any slider effects for the teams section. Just good looking card with standard hover effect would work

[2021-01-30 04:58] ashuvssut commented on #308
okay! no fancy swiper sliders.

Please tell me how you want the team section cards to be...
- no fixed number of columns, cards adjust themselves automatically (upto 5 coulmns), or
- 4 columns, or
- 3 columns

[2021-01-30 08:24] Kajol-Kumari commented on #308
Yeah works We just want two card of `Founder` and `Co-founder` look a bit different from the rest

[2021-01-30 10:37] ashuvssut commented on #308
okay i get it.
first row cards will be populated only and only if the key values in json are `Founder` / `Co-founder` otherwise,
others(key value :`member`) will get filled in 2nd row which will be a flexbox with ` flex-wrap: wrap;`. Thus, both rows will look completely different.

I will start working on it.
will submit PR within 4days.

**One more question**: should I push my test JSON file also

[2021-01-30 12:46] LeeRenJie commented on #85
Would love to try and contribute to this

[2021-01-30 13:45] Kajol-Kumari commented on #85
Sure @LeeRenJie

[2021-01-30 13:54] LeeRenJie commented on #85
I have gone for a minimalist design what do you think? Will there be a website name? Because I can't grasp a concept based on "community website" so I went for HITK. Would definitely try another design based on the feedback. Thank You!

![HITK](https://user-images.githubusercontent.com/67599130/106358186-70b90900-6345-11eb-858b-42f4811aa1de.png)

https://user-images.githubusercontent.com/67599130/

[2021-01-30 14:10] jackfrost13 commented on #153
nothing much. Just that in

https://github.com/HITK-TECH-Community/Community-Website -> github.com/clHK8
And for redirection: http://localhost:3500/clHK8
Please let me know if it needs to be done in any other way

We have nothing to do with `github.com/clHK8`

[2021-01-30 16:44] nehaparmar99 commented on #153
Okay so should I make it something like hitk.tech/clHK8 ?

[2021-01-30 16:46] jackfrost13 commented on #153
Just the `domainName/code` should work. For now it will be `localhost:3500/code`

[2021-01-30 16:49] nehaparmar99 commented on #153
Oh okay, will make the pr by tomorrow then

[2021-01-30 16:57] jackfrost13 commented on #153
Please try to do it soon, it is difficult to review PR's during weekdays

[2021-01-30 18:38] Kajol-Kumari commented on #308
Hey! You can make a folder named as `test_directory` and put the data in a file there only.

[2021-01-30 18:43] Kajol-Kumari commented on #85
Hey @LeeRenJie This is a good try. Let me give you a gist of our moto so that you can come up with a better idea for the design.

We are a group of college students trying to fill the knowledge gap by sharing the opportunities and resources related to tech via this website. As of now we have given it the name `HITK Tech Community` as HITK is our college name. But you can ignore the words and just

[2021-01-30 19:32] ashuvssut commented on #308
okay! thx

[2021-01-31 00:08] LeeRenJie commented on #85
Alright, I'll give it another go! Thank you for the clarification.

[2021-01-31 05:14] amanprateek123 commented on #307
@Kajol-Kumari  please update me on this :)

[2021-01-31 07:01] nehaparmar99 commented on #153
Yes sure, the code was done, I have to do API testing, and since im doing it for the first time, its taking time😅

[2021-01-31 07:24] Kajol-Kumari commented on #307
Sorry I missed it. As we will be rendering different components under each tab so it would make it more organised to keep it that way.

[2021-01-31 07:43] #311 closed

[2021-01-31 09:16] Kajol-Kumari commented on #314
@kenkirito please go ahead with this issue.

[2021-01-31 09:19] Kajol-Kumari opened #319 "Enhacement in Footer Icons"
Deliverable:

- [ ] Please make the border around the icons curved around the corners as it's looking like a glitch this way.

![Screenshot from 2021-01-31 14-43-47](https://user-images.githubusercontent.com/44888949/106379642-575e9e00-63d3-11eb-95d6-e99937a4ca51.png)

[2021-01-31 09:24] Kajol-Kumari opened #320 "[ Frontend ] Make the UI for filter options"
Deliverables:

- [ ] On `All Broadcasts` page(after clicking on `broadcasts` button), add the UI for these three options:
      1. Filter by Year(This should show the list of years)[You can keep it as select box]
      2. Filter by Month(This should show the list of months)[You can keep it as select box]
      3. Filter by name(This should have a search box)
Keep this options just below the headin

[2021-01-31 09:57] ashuvssut commented on #319
@Kajol-Kumari  please assign me this issue

[2021-01-31 09:59] ashuvssut commented on #320
hello @Kajol-Kumari please assign me this issue

[2021-01-31 10:38] jackfrost13 opened #321 "Admin backend doc"

[2021-01-31 10:40] tanay13 commented on #321
working on this

[2021-01-31 10:48] Kajol-Kumari commented on #319
Go ahead @ashuvssut
Happy learning :)

[2021-01-31 10:48] Kajol-Kumari commented on #320
Go ahead @ashuvssut  :)

[2021-01-31 12:11] LeeRenJie commented on #85
![Logo](https://user-images.githubusercontent.com/67599130/106383355-5d1ea880-6400-11eb-8d29-917399de8e2a.png)

@Kajol-Kumari how about this? I went for a human-like vector logo to show that it is like a community that is connected

[2021-01-31 13:26] Kajol-Kumari commented on #85
This looks pretty good. Feel free to open up the PR for this :)

[2021-01-31 13:31] LeeRenJie commented on #85
The quality of the logo is quite blur tho. Will it be ok?

[2021-01-31 14:38] Kajol-Kumari commented on #85
Can I get it's svg format as well then? As we won't be able to use it if it appears blur

[2021-01-31 15:29] LeeRenJie commented on #85
I edited from stock images so I couldn't get that format. Maybe I'll try coding it out in SVG or try other alternatives to solve the blurriness.

[2021-01-31 17:30] LeeRenJie commented on #85
This should be better in quality. @Kajol-Kumari
![logo](https://user-images.githubusercontent.com/67599130/106392469-f19f0000-642c-11eb-8ef8-17a6c202b095.png)

[2021-01-31 18:22] Vrushti24 commented on #85
![16121172883534646999915753825819](https://user-images.githubusercontent.com/71961160/106393863-5a7f7b80-641f-11eb-87b1-f0d306b8fade.jpg)
@Kajol-Kumari I have tried one

[2021-02-01 08:10] ashuvssut commented on #319
@Kajol-Kumari I have tried three different approaches to this.

I am showing you the best one I came up with
![Desktop Recording 3](https://user-images.githubusercontent.com/60546840/106430299-75062480-6420-11eb-9aa9-bb822045fa32.gif)

I am unable to create curved edges on the span. I checkout out many stackoverflow and CSS Tricks for some ideas..but sadly none were helpful to create a perfect 90d

[2021-02-01 09:09] Kajol-Kumari commented on #319
If that's the case It would be better if you can implement the second one from the GIF you shown

[2021-02-01 09:22] ashuvssut commented on #319
mam both are same only. the difference is: there is an extra darkblue `div` element on top of the second one

I will be submitting my PR today! 😁😁😁
So happy that you accepted that one.

[2021-02-01 09:33] Kajol-Kumari commented on #85
Hmm, maybe just try with different color combination. Idea looks pretty good. Fee free to open up the PR for this

[2021-02-01 09:37] Vrushti24 commented on #85
Okay I will change the colour and I will make a PR thank u

On Mon, Feb 1, 2021, 3:03 PM kajol <notifications@github.com> wrote:

[2021-02-01 09:56] Vrushti24 commented on #85
PR #325 done please check that out

[2021-02-01 11:37] Kajol-Kumari commented on #85
Yeah this looks better. Feel free to open up the PR @LeeRenJie

[2021-02-01 11:46] LeeRenJie commented on #85
Yep. Done that at PR #326 @Kajol-Kumari  Thank you.

[2021-02-01 11:49] #306 closed

[2021-02-01 11:55] #277 closed

[2021-02-01 11:58] Kajol-Kumari opened #327 "[Bug] Buttons on clicks shows black border"
Deliverable:

- [ ] The buttons on click, should just take us to the desired location and shouldn't have any border showing up

GIF of the Bug:
![button-bug](https://user-images.githubusercontent.com/44888949/106455938-e2fb2c00-64b2-11eb-802a-50c13271b1df.gif)

[2021-02-01 12:00] Kajol-Kumari opened #328 "Enhancement in Join us form"
Deliverable:

- [ ] The `join us` form's radio button should have the same fill color as we have in resource form

[2021-02-01 12:03] nehaparmar99 commented on #327
I'd like to do this

[2021-02-01 12:04] AbhipsaGuru1012 commented on #328
@Kajol-Kumari  can I work on this issue?

[2021-02-01 12:04] #85 closed

[2021-02-01 12:05] Kajol-Kumari commented on #328
Sure! Go ahead with this issue
Happy Learning :)

[2021-02-01 12:05] AbhipsaGuru1012 commented on #327
@Kajol-Kumari can I work on this issue?

[2021-02-01 12:07] Kajol-Kumari commented on #327
Hey @nehaparmar99 I can see that you are already assigned two issues so I request you to get atleast one of the PR merged before claiming a new issue.

@AbhipsaGuru1012 You can go ahead with this issue

Happy Learning :)

[2021-02-01 12:17] nehaparmar99 commented on #327
I've linked the PR to one of them yesterday only.The other I'll do by tomorrow

[2021-02-01 12:35] Kajol-Kumari commented on #327
Thanks for the update but we are sorry, we can't assign more than 2 issues at a time to a single person

[2021-02-01 13:12] LeeRenJie opened #330 "CONTRIBUTING.md image not loading"
**Describe the bug**
The image in the CONTRIBUTING.md file is not loading. Fixing this will help beginners to be clearer on how to contribute step by step

**To Reproduce**
Steps to reproduce the behavior:
1. Go to CONTRIBUTING.md
1. Scroll down to the steps' images
1. See error

**Expected behavior**
Image showing step by step of how to start to contribute to this project

**Screenshots**
<img wi

[2021-02-01 13:13] LeeRenJie commented on #330
Can I be assigned to work on this? From DWOC

[2021-02-01 13:45] Kajol-Kumari commented on #330
Hey @LeeRenJie thank you reporting this issue and please go ahead and fix it.
Happy learning :)

[2021-02-01 13:47] LeeRenJie commented on #330
Alright, thanks! I will create a folder inside the assets folder to hold all relevant images is that ok?

[2021-02-01 13:50] #319 closed

[2021-02-01 13:55] LeeRenJie commented on #330
Do you recommend the example images to be in Light or dark mode of github?

[2021-02-01 13:57] Kajol-Kumari commented on #330
yeah that's totally fine

[2021-02-01 13:58] Kajol-Kumari commented on #330
i would recommend it to be of dark mode as developers rarely opt light mode where-ever they have an option :)

[2021-02-01 14:16] LeeRenJie commented on #330
@Kajol-Kumari what should I name the folder? will "img" be fine?

[2021-02-01 17:40] jatinjain001 commented on #308
I would like to work on this , If it is available please assign it to me

[2021-02-01 18:00] ashuvssut commented on #308
@Kajol-Kumari please assign me.

I have been working on this 😓

[2021-02-01 18:23] Kajol-Kumari commented on #308
Hey @ashuvssut and @jatinjain001 feel free to share the new UI design that you come with here. We will be accepting multiple PRs for this issue :)

[2021-02-01 18:25] ashuvssut commented on #308
Ah relief 🙃

[2021-02-02 04:37] Vrushti24 commented on #313
Hey @Kajol-Kumari  can I work on this ??

[2021-02-02 06:55] Kajol-Kumari commented on #313
Hey @Vrushti24 you can go ahead with this issue
Happy Learning :)

[2021-02-02 06:56] Vrushti24 commented on #313
Thank you!

On Tue, Feb 2, 2021, 12:25 PM kajol <notifications@github.com> wrote:

[2021-02-02 09:14] kenkirito commented on #312
can i work on this issue

[2021-02-02 11:49] Kajol-Kumari commented on #312
Hey! We can't assign this issue to more than one person

[2021-02-02 11:52] urvashi-code1255 commented on #313
Hey @Vrushti24 You go for this issue. As I am busy with my exams. So, will get back to work after it.

[2021-02-02 12:15] Vrushti24 commented on #313
Sure, no problem.

On Tue, Feb 2, 2021, 5:22 PM Urvashi Anand <notifications@github.com> wrote:

[2021-02-02 17:11] Utkarshn10 opened #336 "Sign In Button should be aligned properly"
Deliverable:
Sign in button should be properly aligned in center and space should be given at its bottom.

**Screenshots**
Currently its not properly aligned as shown in screenshot.

![Screenshot (34)](https://user-images.githubusercontent.com/58587256/106636040-8594d700-65a7-11eb-9806-8f58c49523c3.png)

[2021-02-02 17:12] Utkarshn10 commented on #336
@Kajol-Kumari Can I work on this issue?

[2021-02-02 17:25] #328 closed

[2021-02-02 19:31] abhay313 commented on #336
Can I work on this issue ?

[2021-02-03 06:39] Kajol-Kumari commented on #336
Hey @Utkarshn10 can you please check if you have the latest pull as the buttons seems to appear correctly on my end.

[2021-02-03 06:41] #330 closed

[2021-02-03 06:47] #327 closed

[2021-02-03 06:52] #307 closed

[2021-02-03 07:03] Kajol-Kumari opened #337 "Enhancement in Join Us form"
Deliverable:

- [ ] Rename the `Interested Domain` to `Interested Domains`
- [ ] Make checkbox instead of dropdown for `Interested Domains` section
- [ ] The title and checkbox should be one below other just like we have `Level of trust` in resource form(see below image for refrence)
- [ ] In the `Year of study` section, make buttons displayed below the title as shown below.
- [ ] Reduce the heigh

[2021-02-03 07:07] vedikaag99 commented on #337
@Kajol-Kumari can I work on this?

[2021-02-03 07:08] Kajol-Kumari opened #338 "Fix Error message for Newsletter signup"
Deliverable:

- [ ] Show proper error message for the `Sign Up for our Newsletter` input box currently it shows something like below.
- [ ] The error message should appear below the input box and should be short and precise.
![Screenshot from 2021-02-03 12-35-20](https://user-images.githubusercontent.com/44888949/106710799-8fa4ed00-661c-11eb-87e1-7a3b2cc398b8.png)

p.s IN order to see this message

[2021-02-03 07:09] Kajol-Kumari commented on #337
sure @vedikaag99 Go ahead with this issue :)

[2021-02-03 07:12] Kajol-Kumari opened #339 "Enhancement in Footer Icons"
Deliverable:

- [ ] Currently, footer icons seems very large w.r.t other contents present in the footer. Make it a bit smaller so that it looks consistent with the size of other contents in the footer

[2021-02-03 07:12] AbhipsaGuru1012 commented on #338
@Kajol-Kumari I would like to work on this. Please assign this to me

[2021-02-03 07:13] Utkarshn10 commented on #336
Hey @Kajol-Kumari, sorry I was on my previous branch when I ran the project. The issue is already resolved. @abhay313 thanks for volunteering , you can look for other issues since this issue was already resolved. I am closing this issue.

[2021-02-03 07:13] #336 closed

[2021-02-03 07:13] AbhipsaGuru1012 commented on #339
@Kajol-Kumari can I work on this?

[2021-02-03 07:14] LeeRenJie commented on #339
@Kajol-Kumari can I be assigned for this?

[2021-02-03 07:17] Kajol-Kumari opened #340 "Cards on Admin Dashboard should take to respective pages"
Deliverable:

- [ ] Currently, the cards displayed on admin dashboard doesn't take us anywhere. It should take us to the respective tabs of the menu.
- [ ] Change the cards by default color with `#016795` and on hover it's color should be `#1B2431` on the dashboard.

[2021-02-03 07:19] Kajol-Kumari commented on #339
@AbhipsaGuru1012 please go ahead with this issue and @LeeRenJie I am sorry but we need to follow FCFS so I request you to look for other opened issues.
Happy Learning :)

[2021-02-03 07:19] LeeRenJie commented on #339
Alright, no problem!

[2021-02-03 07:20] Kajol-Kumari commented on #338
Go ahead @AbhipsaGuru1012
Happy Learning :)

[2021-02-03 07:25] amanprateek123 commented on #340
assign this issue to me @Kajol-Kumari

[2021-02-03 07:26] Kajol-Kumari opened #341 "Enhancement in FAQ Section"
Deliverable:

- [ ] Currently when we expand a new question, the previous question remain's opened. It should close the previously opened question ideally.
- [ ] As we expand the question, the footer shifts downwards, ideally it shouldn't make any shift in the footer

Bug GIF:
![faq](https://user-images.githubusercontent.com/44888949/106712536-1a86e700-661f-11eb-9e5d-e30642d674a1.gif)

[2021-02-03 07:26] Kajol-Kumari commented on #340
sure @amanprateek123
Go ahead with this issue :)

[2021-02-03 07:28] LeeRenJie commented on #341
Can I try this?

[2021-02-03 07:30] Kajol-Kumari commented on #312
Hey @nehaparmar99 can you please provide an update on this issue?

[2021-02-03 07:31] Kajol-Kumari commented on #341
sure @LeeRenJie
Go ahead with this issue :)

[2021-02-03 07:34] nehaparmar99 commented on #312
I'll make the pr by tonight.
Have been a bit busy w my exams

[2021-02-03 07:35] amanprateek123 commented on #341
assign this issue to me @Kajol-Kumari

[2021-02-03 07:41] sakshikhachane commented on #341
@Kajol-KumariI would like to work on this issue.

[2021-02-03 07:43] Kajol-Kumari opened #342 "Add Community-logo for required places"
Delivearble:

- [ ] Replace the favicon icon that currently appears in the page title with [this](https://github.com/HITK-TECH-Community/Community-Website/blob/main/frontend/public/community-logo.png) logo
- [ ] Adjust the size and add proper hovering effect to the navbar's logo

[2021-02-03 07:44] Kajol-Kumari commented on #341
Hey @amanprateek123 please go ahead with this issue. @sakshikhachane please look for other issue as we need to follow FCFS.
Happy Learning :)

[2021-02-03 07:47] vedikaag99 commented on #342
@Kajol-Kumari can I work on this?

[2021-02-03 07:58] Kajol-Kumari commented on #342
sure @vedikaag99
Go ahead :)

[2021-02-03 11:23] AbhipsaGuru1012 commented on #339
![icons](https://user-images.githubusercontent.com/58511560/106740262-2b942000-6640-11eb-9094-970d209746e9.PNG)

@Kajol-Kumari please let me know if the size of icons is okay?

[2021-02-03 11:46] palak199 opened #343 "admin button in the navbar"
**Is your feature request related to a problem? Please describe.**
The top navbar looks so attractive but the admin button(highlighted in screenshot) has a question mark which isn't required.
![image](https://user-images.githubusercontent.com/43077980/106742535-297f9080-6643-11eb-95b0-3e291de24a7c.png)

**Describe the solution you'd like**
This button text can be replaced with word login I suppose

[2021-02-03 12:19] Kajol-Kumari commented on #339
Hey! Keep the icon size a bit large and reduce that yellow border gap and size

[2021-02-03 13:02] AbhipsaGuru1012 commented on #339
Okay sure, I will make the changes

[2021-02-03 14:01] ashuvssut opened #344 "Remove inherited undesired stylings by using css modules"
**Describe the bug**
I was having difficulties styling my material-ui components. Its all because of the css that apply to all components js/jsx files.

Developers have to override other styles to make thier styles to get applied. searching for those styles is really tiresome.

As you know a single material ui component has lots of span elements when rendered. these span elements inherit other und

[2021-02-03 14:05] ashuvssut commented on #344
this is the list of those css files. So, you can assign people easily now.
**! exclude app.css and index.css**
![image](https://user-images.githubusercontent.com/60546840/106757890-bdbb0a80-65e5-11eb-86aa-0ddf89f7eeb6.png)

 you can assign me any 5

[2021-02-03 14:12] kenkirito commented on #313
can i work on this issue

[2021-02-03 16:58] Kathuria commented on #344
@ashuvssut : Alternative to this approach can be adding new class wrapper on each component to control styles,
say Contact us page - So component top style can start from **community-about-us** {community-<Component_Name>}. And this way we can wrap styles hierarchy. If there are any common styles then should be separated out and that will definitely applied on all tags - just like in your case of

[2021-02-03 17:20] Kajol-Kumari commented on #339
Hey @AbhipsaGuru1012 this looks nice. Please make a PR so that I can test if that's looking fine or not :)

[2021-02-03 18:10] nehaparmar99 commented on #312
Back card upon hover,Back card without hover
![Screenshot (302)](https://user-images.githubusercontent.com/48972593/106789968-efc97c80-6678-11eb-856f-26c5fa94fde0.png)
View button on hover
![Screenshot (304)](https://user-images.githubusercontent.com/48972593/106790043-07086a00-6679-11eb-9308-489074be7b0e.png)
Is it fine?
Also the modal's similar to the one on the broadcasts page, should I style t

[2021-02-03 18:20] kenkirito commented on #312
@Kajol-Kumari I have made a flip card in my previous pr and you also merged it into main. If you want you can also use it

[2021-02-03 18:58] ashuvssut commented on #223
@Kajol-Kumari  THE UI example link is giving a 404 Page not found

[2021-02-04 06:55] Kajol-Kumari commented on #344
Thanks for opening up the issue. We would preferable go with css-modules but we may require wrapper class as well from few components, where we can't explicitly define the classnames using `css-module`. Closing this issue for now and I will open up a new one having list of all the css files so that I can assign it to multiple people

[2021-02-04 06:55] #344 closed

[2021-02-04 07:18] Kajol-Kumari opened #349 "Conevert css files to css module"
Deliverable:
Currently the css defines is global and so gets applied to the classes wherever defined. So we are shifting to `css-modules` for tackling this issue.

Below is the list of css files, feel free to claim any of the below sections. Make sure to make the changes in corresponding `js` file.

- [x] section 1: - @amanprateek123
1. [admin.css](https://github.com/HITK-TECH-Community/Community-

[2021-02-04 07:22] Kajol-Kumari commented on #223
Hey! This issue has been resolved now so closing this.

[2021-02-04 07:22] #223 closed

[2021-02-04 07:25] sakshikhachane commented on #349
@Kajol-Kumari I would like to work on this issue.

[2021-02-04 07:27] vedikaag99 commented on #349
@Kajol-Kumari hey can I work on section 5?

[2021-02-04 07:29] #340 closed

[2021-02-04 07:43] ashuvssut commented on #349
@Kajol-Kumari  I want to do section2

[2021-02-04 07:54] nehaparmar99 commented on #349
I'd like to do section 3

[2021-02-04 07:57] #339 closed

[2021-02-04 07:59] Kajol-Kumari commented on #349
@ashuvssut sure. Please make sure to open up two separate PRs for each sections

[2021-02-04 08:00] Kajol-Kumari commented on #349
please open up 2 PRs for each of them

[2021-02-04 08:02] Kajol-Kumari commented on #312
Yes @kenkirito we are using that only. Thanks for suggesting :)

[2021-02-04 08:03] Kajol-Kumari commented on #343
Hey @palak199 thanks for the issue but this is the required behaviour as you now. Btw if you can come up with a better active-link effect, I would be happy to accept your PR :)

[2021-02-04 08:06] sakshikhachane commented on #349
@Kajol-Kumari 2 sections are allowed so please assign me section 8 also.

[2021-02-04 16:23] #312 closed

[2021-02-04 16:32] #342 closed

[2021-02-04 16:35] #341 closed

[2021-02-05 05:48] Kajol-Kumari opened #353 "[Frontend] Edit Modal for All Broadcasts page"
Deliverable:

- [ ] Modify the `all_broadcasts` cards to contain two icons i.e edit(pencil icon) and delete (trash icon) which should only be visible when rendered in the admin's broadcast page. (you can use a flag `is_admin` which would be false by default)
- [ ] Define the modal for editing the broadcasts i.e after clicking on edit icon, admin should see a tool box/editor using which he can edit

[2021-02-05 05:51] amanprateek123 commented on #353
@Kajol-Kumari  please assign this issue to me

[2021-02-05 05:55] Kajol-Kumari opened #354 "[Frontend] Broadcast Page for Admin"
Deliverable:

- [ ] The broadcasts page should contain two cards 1. Add a new broadcast  2. Manage Broadcasts
- [ ] Create anew broadcast should open up a text-editor where the admin can write a new broadcast.

P.S - As we haven't integrated the backend yet, we only want it's frontend to work fine.

[2021-02-05 05:55] Kajol-Kumari commented on #353
Go ahead @amanprateek123
Happy Learning :)

[2021-02-05 06:01] amanprateek123 commented on #354
@Kajol-Kumari  assign this issue to me as I already working on Admin pannel

[2021-02-05 06:03] Kajol-Kumari opened #355 "Enhancement in Setting Tab of Admin"
Deliverable:

- [ ] The setting page should contain following cards
1. My Profile
2. Invite Admin
3. Manage Admins

- [ ] `My Profile` should take the admin to his/her profile page
- [ ] `Invite Admin` should take the admin to a new page containing the invite form(This needs to be created)
- [ ] `Manage Admins` should take the admin to a new page containing the list of admins